<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi?>
  <Fragment>
    <DirectoryRef Id="OPCLOCATION">
      <Component Id="OPC.AutorunComponent" Guid="93586371-C799-4364-B86F-1F49715C6B20">
        <RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Action="none">
          <RegistryValue KeyPath="yes" Name="FiresecOPCServer" Type="string" Value="[OPCLOCATION]FiresecOPCServer.exe" />
        </RegistryKey>
      </Component>

      <Component Id="OPC.Files" Guid="941EAA5D-FEE7-441E-9297-B2AFFF694F52">
        <File Id="OPC.FiresecOPCServer.exe" Name="FiresecOPCServer.exe" Source="$(var.OPC.TargetDir)" KeyPath="yes" />
        <File Id="OPC.FiresecOPCServer.exe.config" Name="FiresecOPCServer.exe.config" Source="$(var.OPC.TargetDir)" />
        <File Id="OPC.FiresecOPCServer.exe.manifest" Name="FiresecOPCServer.exe.manifest" Source="$(var.OPC.TargetDir)" />
        <File Id="OPC.gbda_clr.dll" Name="gbda_clr.dll" Source="$(var.OPC.TargetDir)" />
        <File Id="OPC.gbda3w.dll" Name="gbda3w.dll" Source="$(var.OPC.TargetDir)" />
        <File Id="OPC.Common.dll" Name="Common.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.Controls.dll" Name="Controls.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.FiresecAPI.dll" Name="FiresecAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.FiresecClient.dll" Name="FiresecClient.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.Firesec.dll" Name="Firesec.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.Infrastructure.Common.Windows.dll" Name="Infrastructure.Common.Windows.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.Infrustructure.Plans.dll" Name="Infrustructure.Plans.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.FSAgentAPI.dll" Name="FSAgentAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.FSAgentClient.dll" Name="FSAgentClient.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.NLog.dll" Name="NLog.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.Ionic.Zip.dll" Name="Ionic.Zip.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Common.TargetDir)" />
        <File Id="OPC.WPFToolkit.Extended.dll" Name="WPFToolkit.Extended.dll" Source="$(var.Common.TargetDir)" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>