<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Icon Id="OPCIcon" SourceFile="Data\OPC.ico"/>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="OPC.DesktopShortcut" Guid="*">
        <Shortcut Id="OPC.DesktopShortcut" Name="$(var.OPCName)" Target="[OPCLOCATION]$(var.OPC.TargetFileName)"
            WorkingDirectory="OPCLOCATION" Description="$(var.OPCName)" Icon="OPCIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.OPCName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_DESKTOP</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="OPC.ProgramsMenuShortcut" Guid="*">
        <Shortcut Id="OPC.ProgramsMenuShortcut" Name="$(var.OPCName)" Target="[OPCLOCATION]$(var.OPC.TargetFileName)"
            WorkingDirectory="OPCLOCATION" Description="$(var.OPCName)" Icon="OPCIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.OPCName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_PROGRAMMENU</Condition>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>