<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!--<remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />-->
      <remove invariant="Npgsql" />
      <add name="Npgsql - .Net Data Provider for PostgreSQL" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />  <!--Version=2.1.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"--> 
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <connectionStrings>
    <add name="SKDDriver.Properties.Settings.ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=master;Integrated Security=True;Language='English'" providerName="System.Data.SqlClient" />
    <add name="SKDDriver.Properties.Settings.SKDConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=SKD;Integrated Security=True;Language='English'" providerName="System.Data.SqlClient" />
    <add name="PassJournal_1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PassJournal_1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PassJournal_1Entities1" connectionString="metadata=res://*/PassJournalModel.csdl|res://*/PassJournalModel.ssdl|res://*/PassJournalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PassJournal_1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChinookContext" connectionString="Server=localhost;Database=chinook;User Id=postgres;Password=P4ssw0rd;" providerName="Npgsql" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <variable name="appTitle" value="Firesec Service" />
    <targets>
      <target name="file" xsi:type="File" layout="[${longdate}] ${threadid} ${level}: ${message} ${onexception:(${stacktrace})${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}}" fileName="${specialfolder:folder=CommonApplicationData}/Firesec2/Logs/Server/${shortdate}.log" archiveFileName="${specialfolder:folder=CommonApplicationData}/Firesec2/Logs/Server/${shortdate}.{##}.log" archiveAboveSize="1048576" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="100" createDirs="True" keepFileOpen="True" concurrentWrites="False" />
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${threadid} ${message}" />
      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}" />
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Trace" writeTo="file" />-->
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="eventLog" />
    </rules>
  </nlog>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
    
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlFactory, Npgsql.EntityFramework" />-->
      <!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFrameworkLegacy" />-->
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
  </entityFramework>
</configuration>

<!--<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework,
 Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework"></provider>
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>-->

<!--<configuration>
  --><!--configSections has to be FIRST element!--><!--
  <configSections>
    --><!--for EF6.0.x --><!--
    --><!--you don't need this. your nuget will setup automatically--><!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      --><!--for EF4.x and EF6.0.x --><!--
      --><!--you may need this. if you don't modify machine.config--><!--
      <remove invariant="Npgsql" />
      <add name="Npgsql - .Net Data Provider for PostgreSQL" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.1.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    --><!--for EF4.x and EF6.0.x --><!--
    <add name="BloggingEntities" connectionString="metadata=Blogging.csdl|Blogging.ssdl|Blogging.msl;provider=Npgsql;provider connection string=&quot;Port=5432;Encoding=UTF-8;Server=127.0.0.1;Database=ef_db_first_sample;UserId=npgsql_tests;Password=npgsql_tests;Preload Reader=true;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      --><!--for EF6.0.x --><!--
      --><!--you need this. add it manually--><!--
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFrameworkLegacy, Version=2.1.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </providers>
  </entityFramework>
</configuration>

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      --><!--for EF4.x and EF6.0.x --><!--
      --><!--you may need this. if you don't modify machine.config--><!--
      <remove invariant="Npgsql" />
      <add name="Npgsql - .Net Data Provider for PostgreSQL" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.1.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    --><!--for EF4.x and EF6.0.x --><!--
    <add name="BloggingEntities" connectionString="metadata=Blogging.csdl|Blogging.ssdl|Blogging.msl;provider=Npgsql;provider connection string=&quot;Port=5432;Encoding=UTF-8;Server=127.0.0.1;Database=ef_db_first_sample;UserId=npgsql_tests;Password=npgsql_tests;Preload Reader=true;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>-->