<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible"
		  content="ie=edge">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon"
		  href="~/favicon.ico">
	<title>Cover Template for Bootstrap</title>

	<environment names="Development">
		<link href="~/lib/tether/dist/css/tether.min.css" rel="stylesheet" />
		<link href="~/lib/tether/dist/css/tether-theme-basic.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link href="~/css/cover.css" rel="stylesheet" />
	</environment>
	<environment names="Staging,Production">
		<link href="~/lib/tether/dist/css/tether.min.css"
			  rel="stylesheet" />
		<link href="~/lib/tether/dist/css/tether-theme-basic.min.css"
			  rel="stylesheet" />
		<link rel="stylesheet"
			  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
			  integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
			  crossorigin="anonymous" />
		<link href="~/css/cover.css"
			  rel="stylesheet" />
	</environment>
</head>
<body>
	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Cover</h3>
						<nav class="nav nav-masthead">
							<a class="nav-link active"
							   href="#">Home</a>
							<a class="nav-link"
							   href="#">Features</a>
							<a class="nav-link"
							   href="#">Contact</a>
						</nav>
					</div>
				</div>
				@RenderBody()
			</div>
		</div>
	</div>
	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/tether/dist/js/tether.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/assets/ie10-viewport-bug-workaround.js"></script>
		<script src="~/lib/signalr/jquery.signalr.min.js"></script>
		<script src="signalr/hubs"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery">

		</script>
		<script src="~/lib/tether/dist/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
				integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
				crossorigin="anonymous"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

		</script>
		<script src="~/lib/assets/ie10-viewport-bug-workaround.js"></script>
		<script src="~/lib/signalr/jquery.signalr.min.js"></script>
		<script src="signalr/hubs"></script>
	</environment>

	@RenderSection("scripts", required: false)
	@RenderSection("systemjsconfig", required: false)
	@RenderSection("inlinescripts", required: false)
</body>
</html>