<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
		  name="viewport">
	<meta content="ie=edge"
		  http-equiv="x-ua-compatible">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta content=""
		  name="description">
	<meta content=""
		  name="author">
	<link href="~/favicon.ico"
		  rel="icon">
	<title>Оперативная задача Глобал</title>
	<link href="~/lib/tether/dist/css/tether.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css"
		  rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
	@RenderBody()
	@RenderSection("scripts", required: false)
	@RenderSection("systemjsconfig", required: false)
</body>
</html>