<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
		  name="viewport">
	<meta content="ie=edge"
		  http-equiv="x-ua-compatible">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta content=""
		  name="description">
	<meta content=""
		  name="author">
	<link href="~/favicon.ico"
		  rel="icon">
	<title>Оперативная задача Глобал</title>

	<link href="~/lib/bootstrap/dist/css/bootstrap.css"
		  rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	@RenderBody();
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/tether/dist/js/tether.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/staticlibs/ie10-viewport-bug-workaround.js"></script>
	<script src="~/lib/signalr/jquery.signalr.min.js"></script>
	<script src="signalr/hubs"></script>

	@RenderSection("scripts", required: false)
	@RenderSection("systemjsconfig", required: false)
	@RenderSection("signalr", required: false)
</body>
</html>