
@{
    ViewBag.Title = "DepartmentDetails";
    Layout = null;
}

<form name="departmentDetailsForm" class="form-horizontal" role="form" novalidate>
    <div class="modal-header">
        <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <uib-tabset>
            <uib-tab heading="Основные">
                    <div class="form-group" ng-class="{'has-error': (departmentDetailsForm.$submitted || departmentDetailsForm.name.$touched) && departmentDetailsForm.name.$invalid}">
                        <label class="control-label col-sm-4" for="departmentDetailsName">Название</label>
                        <div class="col-sm-8">
                            <input id="departmentDetailsName" name="name" class="form-control" ng-model="department.Name" required ng-maxlength="50" unique-element="departments">
                            <div ng-show="departmentDetailsForm.$submitted || departmentDetailsForm.name.$touched">
                                <div class="help-block" ng-show="departmentDetailsForm.name.$error.required">Введите название подразделения</div>
                                <div class="help-block" ng-show="departmentDetailsForm.name.$error.maxlength">Значение поля 'Название' не может быть длиннее 50 символов</div>
                                <div class="help-block" ng-show="departmentDetailsForm.name.$error.unique">Название подразделения совпадает с введенным ранее</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (departmentDetailsForm.$submitted || departmentDetailsForm.description.$touched) && departmentDetailsForm.description.$invalid}">
                        <label class="control-label col-sm-4" for="departmentDetailsDescription">Примечание</label>
                        <div class="col-sm-8">
                            <input id="departmentDetailsDescription" name="description" class="form-control" ng-model="department.Description" ng-maxlength="50">
                            <div ng-show="departmentDetailsForm.$submitted || departmentDetailsForm.description.$touched">
                                <div class="help-block" ng-show="departmentDetailsForm.description.$error.maxlength">Значение поля 'Примечание' не может быть длиннее 50 символов</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!isNew">
                        <label class="control-label col-sm-4" for="departmentDetailsChief">Руководитель</label>
                        <div class="col-sm-8">
                            <a id="departmentDetailsChief" href="" ng-click="selectChief()">
                                <span ng-show="model.SelectedChief">{{model.SelectedChief.Name}}</span>
                                <span ng-show="!model.SelectedChief">Нажмите для выбора</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="departmentDetailsDepartment">Родительское подразделение</label>
                        <div class="col-sm-8">
                            <a id="departmentDetailsDepartment" href="" ng-click="selectDepartment()">
                                <span ng-show="model.SelectedDepartment">{{model.SelectedDepartment.Name}}</span>
                                <span ng-show="!model.SelectedDepartment">Нажмите для выбора</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (departmentDetailsForm.$submitted || departmentDetailsForm.phone.$touched) && departmentDetailsForm.phone.$invalid}">
                        <label class="control-label col-sm-4" for="departmentDetailsPhone">Телефон</label>
                        <div class="col-sm-8">
                            <input id="departmentDetailsPhone" name="phone" class="form-control" ng-model="department.Phone" ng-maxlength="50">
                            <div ng-show="departmentDetailsForm.$submitted || departmentDetailsForm.phone.$touched">
                                <div class="help-block" ng-show="departmentDetailsForm.phone.$error.maxlength">Значение поля 'Телефон' не может быть длиннее 50 символов</div>
                            </div>
                        </div>
                    </div>
            </uib-tab>
            <uib-tab heading="Логотип">
                <photo-selection ng-model="model.photoData"></photo-selection>
            </uib-tab>
        </uib-tabset>
    </div>
    <div mobile-hover-fix class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right" ng-click="departmentDetailsForm.$valid && save()">OK</button>
    </div>
</form>