
@{
    ViewBag.Title = "DepartmentDetails";
    Layout = null;
}

<div class="modal-header">
    <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab heading="Основные">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="departmentDetailsName">Название</label>
                    <div class="col-sm-8">
                        <input id="departmentDetailsName" class="form-control" ng-model="department.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="departmentDetailsDescription">Примечание</label>
                    <div class="col-sm-8">
                        <input id="departmentDetailsDescription" class="form-control" ng-model="department.Description">
                    </div>
                </div>
                <div class="form-group" ng-show="!isNew">
                    <label class="control-label col-sm-4" for="departmentDetailsChief">Руководитель</label>
                    <div class="col-sm-8">
                        <a id="departmentDetailsChief" href="" ng-click="selectChief()">
                            <span ng-show="model.selectedChief">{{selectedChief.Name}}</span>
                            <span ng-show="!model.selectedChief">Нажмите для выбора</span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="departmentDetailsDepartment">Родительское подразделение</label>
                    <div class="col-sm-8">
                        <a id="departmentDetailsDepartment" href="" ng-click="selectDepartment()">
                            <span ng-show="model.selectedDepartment">{{selectedDepartment.Name}}</span>
                            <span ng-show="!model.selectedDepartment">Нажмите для выбора</span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="departmentDetailsPhone">Телефон</label>
                    <div class="col-sm-8">
                        <input id="departmentDetailsPhone" class="form-control" ng-model="department.Phone">
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab heading="Логотип">
            <photo-selection ng-model="model.photoData"></photo-selection>
        </uib-tab>
    </uib-tabset>
</div>
<div mobile-hover-fix class="modal-footer">
    <button class="btn btn-primary pull-right" ng-click="save()">OK</button>
</div>