
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div>
    <table id="jqGridDepartments"></table>
</div>

<div data-bind="visible: HR.Departments.IsShowEmployeeList">
    @Html.Action("DepartmentEmployeeList")
</div>
@Html.Action("DepartmentDetails")
