<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <!--<DirectoryRef Id="INSTALLLOCATION">
      <Component Id="OPC.Remove" Guid="E6C6FDDD-8B8F-4A39-A9FA-CAEF83DC1F00">
        <CreateFolder Directory="INSTALLLOCATION" />
        <RemoveFile Id="OPC.RemoveFiles" On="uninstall" Name="*.*" Directory="OPCLOCATION" />
        <RemoveFolder Id="OPC.RemoveFolder" On="uninstall" Directory="OPCLOCATION" />
        <RemoveFile Id="OPC.LogsFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="OPC.LogsFolder" />
        <RemoveFolder Id="OPC.LogsFolder.RemoveFolder" On="uninstall" Directory="OPC.LogsFolder" />
      </Component>
    </DirectoryRef>-->
	</Fragment>
</Wix>