<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <CustomAction Id="ConvertJournalCA" BinaryKey="FiresecCustomActions.dll" DllEntry="JournalDataConvert"
                  Execute="immediate" />
    <CustomAction Id="CheckSqlServerCA" BinaryKey="FiresecCustomActions.dll" DllEntry="SQLServerCheking"
                  Execute="immediate" />
	</Fragment>
</Wix>