<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<CustomAction Id="StartOPCServerOnExit"		Directory="GKOPCLOCATION"	ExeCommand="[GKOPCLOCATION]GKOPCServer.exe"	Execute="immediate"	Impersonate="yes"	Return="asyncNoWait" />
		<CustomAction Id="CloseApplications"		BinaryKey="RubezhCADll"		DllEntry="CloseApplications"				Execute="immediate"	Impersonate="yes"	Return="check" />
		<CustomAction Id="CheckPostgresInstalled"	BinaryKey="RubezhCADll"		DllEntry="CheckPostgresInstalled"			Execute="immediate"	Impersonate="yes"	Return="check" />
		<!--
		<CustomAction Id="InstallPostgres64" BinaryKey="PostgreSQL64.exe" ExeCommand="-mode unattended -superaccount asd -superpassword 1" Execute='commit' Return='asyncNoWait' Impersonate='no' />
		<CustomAction Id="InstallPostgres" BinaryKey="PostgreSQL.exe" ExeCommand="-mode unattended -superaccount asd -superpassword 1" Execute='commit' Return='asyncNoWait' Impersonate='no' />
		-->
	</Fragment>
</Wix>