<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopFolder" Guid="BC330E1A-4A65-4369-93D7-1D772036F1A5">
				<RemoveFolder Id="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="ProgramMenuDir" Guid="3E70B244-6A2B-405C-8C15-59AED0F58DB3">
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>