<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
	<services>
		<service name="LicenseService.LicenseService" behaviorConfiguration="MyServiceBehavior">
			<endpoint address=""
					  binding="basicHttpBinding"
					  contract="LicenseService.ILicenseService" />
			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>
	</services>
	<behaviors>
		<serviceBehaviors>
			<behavior name="MyServiceBehavior">
				<serviceMetadata httpGetEnabled="true" />
				<serviceDebug includeExceptionDetailInFaults="true"/>
			</behavior>
		</serviceBehaviors>
		<!--<serviceBehaviors>
			<behavior name="MyServiceBehavior">
				<serviceMetadata httpsGetEnabled="true" httpsGetUrl="" />
				<serviceDebug includeExceptionDetailInFaults="false"/>
			</behavior>
		</serviceBehaviors>-->
	</behaviors>
	</system.serviceModel>
</configuration>