<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables_FiresecService.wxi?>
	<Fragment>
		<Feature Id="FiresecServiceFeature" Title="$(var.FiresecServiceName)" Description="Полная установка" Level="1" Display="expand"
						 ConfigurableDirectory="FIRESECSERVICELOCATION" AllowAdvertise="yes" Absent="allow" InstallDefault="local">
			<ComponentRef Id="MainExe" />
			<!--<ComponentRef Id="FiresecServiceExe"/>-->
			<ComponentRef Id="FiresecServiceConfig" />
			<ComponentRef Id="CommonComponent" />
			<ComponentRef Id="FiresecComponent" />
			<ComponentRef Id="FiresecAPIComponent" />
			<ComponentRef Id="TrayComponent"/>
			<ComponentRef Id="PlansConfiguration"/>
			<ComponentRef Id="SecurityConfiguration"/>
			<ComponentRef Id="DeviceLibrary"/>
			<ComponentRef Id="DeviceConfiguration"/>
			<ComponentRef Id="FiresecServiceProgramsMenuShortcut" />
			<ComponentRef Id="FiresecServiceProgramsMenuShortcutUninstall" />
			<ComponentRef Id="FiresecServiceDesktopShortcut" />
			<ComponentGroupRef Id="ConfigurationGroup"/>
			<!--<ComponentRef Id="Autorun"/>-->
		</Feature>
	</Fragment>
</Wix>