<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables_FiresecService.wxi?>
	<Fragment>
		<DirectoryRef Id="FIRESECSERVICELOCATION">
			<Component Id="MainExe" Guid="6A4260FA-49C4-499A-A6B9-508006C2BB3F">
				<File Id="FiresecServiceExe" Name="$(var.FiresecService.TargetFileName)"
							Source="$(var.FiresecService.TargetPath)" DiskId="1" KeyPath="yes">
				</File>
			</Component>

			<Component Id="FiresecServiceConfig" Guid="7B35878D-19EB-4552-BF09-E3D658D34957">
				<File Id="ServiceConfig" Name="FiresecService.exe.config" Source="$(var.FiresecService.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="CommonComponent" Guid="5B64430A-2E29-4C73-9C40-4823A9DB5709">
				<File Id="CommonDll" Name="$(var.Common.TargetFileName)" Source="$(var.Common.TargetPath)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="ControlsComponent" Guid="0BF89DF2-D693-44C1-9496-F23DC2F40E24">
				<File Id="ControlsDll" Name="$(var.Controls.TargetFileName)" Source="$(var.Controls.TargetPath)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="FiresecComponent" Guid="41974E04-F90D-4B43-9334-527425544AE8">
				<File Id="FiresecDll" Name="$(var.Firesec.TargetFileName)" Source="$(var.Firesec.TargetPath)"
							DiskId="1" KeyPath="yes" />
				<File Id="InteropFSTypes" Name="Interop.FS_Types.dll" Source="$(var.Firesec.TargetDir)"
							DiskId="1"/>
				<File Id="InteropMscoree" Name="Interop.mscoree.dll" Source="$(var.Firesec.TargetDir)"
							DiskId="1"/>
			</Component>

			<Component Id="FiresecAPIComponent" Guid="248BD6FE-8F57-42DF-BAE3-9EFCD5A1CC5A">
				<File Id="FiresecAPIDll" Name="$(var.FiresecAPI.TargetFileName)" Source="$(var.FiresecAPI.TargetPath)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="TrayComponent" Guid="DC1F2F70-E55F-497F-B48E-78BBEB1F6F3D">
				<File Id="TrayDll" Name="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.FiresecService.TargetDir)"
							DiskId="1" KeyPath="yes">
				</File>
			</Component>

			<Component Id="Autorun" Guid="A35143F0-4713-4061-BA6F-E94C6FBE458C">
				<RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Action="none">
					<RegistryValue KeyPath="yes" Name="FiresecService" Type="string" Value="[FIRESECSERVICELOCATION]$(var.FiresecService.TargetFileName) /Start /Hide" />
				</RegistryKey>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="FiresecServiceConfigFolder">
			<Component Id="PlansConfiguration" Guid="7389E335-B577-4D09-9E36-25A6FA75BDD7">
				<File Id="PlansConfiguration" Name="PlansConfiguration.xml" Source="$(var.FiresecService.TargetDir)\Configuration\"
							DiskId="1" KeyPath="yes">
				</File>
			</Component>
			<Component Id="SecurityConfiguration" Guid="024037C2-F2FD-4A06-A14B-A23B5179E6DE">
				<File Id="SecurityConfiguration" Name="SecurityConfiguration.xml" Source="$(var.FiresecService.TargetDir)\Configuration\"
							DiskId="1" KeyPath="yes">
				</File>
			</Component>
			<Component Id="DeviceLibrary" Guid="DF7CB00D-27E6-49CA-9CCE-B7B822C14B4A">
				<File Id="DeviceLibrary" Name="DeviceLibrary.xml" Source="$(var.FiresecService.TargetDir)\Configuration\"
							DiskId="1" KeyPath="yes">
				</File>
			</Component>
			<Component Id="DeviceConfiguration" Guid="188AAA95-581A-4352-B11E-38C0CDE13C16">
				<File Id="DeviceConfiguration" Name="DeviceConfiguration.xml" Source="$(var.FiresecService.TargetDir)\Configuration\"
							DiskId="1" KeyPath="yes">
				</File>
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>