<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<Feature Id="OPC.Features" Title="OPC Сервер" Description="Программа установит компопненты необходимые для работы приложения OPC Сервер"
						 Display="hidden" ConfigurableDirectory="GKOPCLOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
      <Condition Level="0">INSTALL_OPC</Condition>
      <ComponentRef Id="OPC.Files" />
      <ComponentRef Id="OPC.AutorunComponent" />
      <ComponentRef Id="OPC.ProgramsMenuShortcut" />
      <ComponentRef Id="OPC.DesktopShortcut" />
    </Feature>
	</Fragment>
</Wix>