<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi?>
  <Fragment>
    <Component Id="OPC.Files" Directory="OPCLOCATION" Guid="941EAA5D-FEE7-441E-9297-B2AFFF694F52">
      <File Id="OPC.FiresecOPCServer.exe" Name="FiresecOPCServer.exe" Source="$(var.OPC.TargetDir)" KeyPath="yes" />
      <File Id="OPC.FiresecOPCServer.exe.config" Name="FiresecOPCServer.exe.config" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Common.dll" Name="Common.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Controls.dll" Name="Controls.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.FiresecAPI.dll" Name="FiresecAPI.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.FiresecClient.dll" Name="FiresecClient.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.gbda_clr.dll" Name="gbda_clr.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.gbda3w.dll" Name="gbda3w.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Infrastructure.Common.dll" Name="Infrastructure.Common.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Microsoft.Practices.Prism.dll" Name="Microsoft.Practices.Prism.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.NLog.dll" Name="NLog.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Firesec.dll" Name="Firesec.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Interop.FS_Types.dll" Name="Interop.FS_Types.dll" Source="$(var.OPC.TargetDir)" />
      <File Id="OPC.Interop.mscoree.dll" Name="Interop.mscoree.dll" Source="$(var.OPC.TargetDir)" />
    </Component>
  </Fragment>
</Wix>