<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="OPC.DesktopShortcut" Guid="EB43B325-F9BE-48f5-A6F6-ABF6F079C069">
				<Shortcut Id="OPC.DesktopShortcut" Name="$(var.OPCName)" Target="[GKOPCLOCATION]$(var.OPC.TargetFileName)"
					WorkingDirectory="GKOPCLOCATION" Description="$(var.OPCName)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.OPCName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_DESKTOP</Condition>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="OPC.ProgramsMenuShortcut" Guid="707792C5-94F4-4367-9944-1A4DE61D0364">
				<Shortcut Id="OPC.ProgramsMenuShortcut" Name="$(var.OPCName)" Target="[GKOPCLOCATION]$(var.OPC.TargetFileName)"
					WorkingDirectory="GKOPCLOCATION" Description="$(var.OPCName)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.OPCName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_PROGRAMMENU</Condition>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>