BuildScripts/bin
buildlog.xml
/scktsrvr.lnk
/3rdParty/VLC/Vlc.DotNet.Src/Vlc.DotNet.Core/bin
/3rdParty/VLC/Vlc.DotNet.Src/Vlc.DotNet.Core/obj
/3rdParty/VLC/Vlc.DotNet.Src/Vlc.DotNet.Core.Interops/bin
/3rdParty/VLC/Vlc.DotNet.Src/Vlc.DotNet.Core.Interops/obj
/3rdParty/VLC/Vlc.DotNet.Src/Vlc.DotNet.Forms/bin
/3rdParty/VLC/Vlc.DotNet.Src/Vlc.DotNet.Forms/obj
/build.bat
/FiresecService.lnk
/Solution - FireAdministrator.lnk
/Solution - FireMonitor.lnk
/Solution - FiresecService.lnk
/Projects/FireAdministrator/Modules/LibraryModule/m1trered.tmp_proj
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Debug/CodeReason.Reports.Charts.Visifire.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Debug/CodeReason.Reports.Charts.Visifire.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Debug/CodeReason.Reports.Charts.Visifire.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Debug/ResolveAssemblyReference.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Release/CodeReason.Reports.Charts.Visifire.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Release/CodeReason.Reports.Charts.Visifire.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Release/CodeReason.Reports.Charts.Visifire.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/obj/Release/ResolveAssemblyReference.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Debug/CodeReason.Reports.Charts.Visifire.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Debug/CodeReason.Reports.Charts.Visifire.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Debug/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Debug/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Debug/WPFVisifire.Charts.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Release/CodeReason.Reports.Charts.Visifire.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Release/CodeReason.Reports.Charts.Visifire.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports.Charts.Visifire/bin/Release/WPFVisifire.Charts.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/bin/Debug/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/bin/Debug/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Debug/CodeReason.Reports.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Debug/CodeReason.Reports.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Debug/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Debug/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/CodeReason.Reports.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/CodeReason.Reports.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/ResGen.read.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/ResGen.write.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/bin/Release/BarcodeReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/bin/Release/BarcodeReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/bin/Release/Templates/BarcodeReport.xaml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Debug/ResolveAssemblyReference.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/App.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/BarcodeReport.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/BarcodeReport.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/BarcodeReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/BarcodeReport.g.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/BarcodeReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/BarcodeReport_Content.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/BarcodeReport_MarkupCompile.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/ResGen.read.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/ResGen.write.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/WindowMain.baml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/BarcodeReport/obj/Release/WindowMain.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/ChartReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/ChartReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/CodeReason.Reports.Charts.Visifire.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/CodeReason.Reports.Charts.Visifire.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/Templates/ChartReport.xaml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/bin/Release/WPFVisifire.Charts.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Debug/ResolveAssemblyReference.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/App.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ChartReport.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ChartReport.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ChartReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ChartReport.g.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ChartReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ChartReport_Content.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ChartReport_MarkupCompile.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ResGen.read.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ResGen.write.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/ResolveAssemblyReference.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/WindowMain.baml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ChartReport/obj/Release/WindowMain.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/bin/Release/ComplexReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/bin/Release/ComplexReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/bin/Release/Templates/ComplexReport.xaml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/bin/Release/Templates/dpd.jpg
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/App.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ComplexReport.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ComplexReport.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ComplexReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ComplexReport.g.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ComplexReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ComplexReport_Content.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ComplexReport_MarkupCompile.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ResGen.read.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/ResGen.write.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/WindowMain.baml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ComplexReport/obj/Release/WindowMain.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/bin/Release/DynamicReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/bin/Release/DynamicReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/bin/Release/Templates/DynamicReport.xaml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/App.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DynamicReport.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DynamicReport.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DynamicReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DynamicReport.g.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DynamicReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DynamicReport_Content.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/DynamicReport_MarkupCompile.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/ResGen.read.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/ResGen.write.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/WindowMain.baml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/DynamicReport/obj/Release/WindowMain.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/bin/Release/ImageReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/bin/Release/ImageReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/bin/Release/Templates/ImageReport.xaml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/bin/Release/Templates/dpd.jpg
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/App.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ImageReport.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ImageReport.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ImageReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ImageReport.g.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ImageReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ImageReport_Content.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ImageReport_MarkupCompile.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ResGen.read.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/ResGen.write.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/WindowMain.baml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/ImageReport/obj/Release/WindowMain.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/bin/Release/CodeReason.Reports.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/bin/Release/CodeReason.Reports.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/bin/Release/SimpleReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/bin/Release/SimpleReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/bin/Release/Templates/SimpleReport.xaml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/App.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/ResGen.read.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/ResGen.write.1.tlog
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/SimpleReport.Properties.Resources.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/SimpleReport.VS2008.csproj.FileListAbsolute.txt
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/SimpleReport.exe
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/SimpleReport.g.resources
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/SimpleReport.pdb
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/SimpleReport_Content.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/SimpleReport_MarkupCompile.cache
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/WindowMain.baml
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj/Release/WindowMain.g.cs
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/obj
/3rdParty/codereason_reports_v0.5_alpha/Source/CodeReason.Reports/bin
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/obj
/3rdParty/codereason_reports_v0.5_alpha/Source/Samples/SimpleReport/bin