BuildScripts/bin/GK
BuildScripts/bin/Integration
BuildScripts/buildlog_BuildRelease.xml
BuildScripts/buildlog_Copy3dPartyDlls.xml
BuildScripts/buildlog_CopySDK.xml
buildlog.xml
Documents/Manual/Ñîñòîÿíèÿ.docx

/Solution - FireAdministrator.lnk
/Solution - FireMonitor.lnk
/Solution - FiresecService.lnk
/Tasks.lnk
/build.bat
/scktsrvr.lnk
/startup.bat
/FireAdministrator.lnk
/FireMonitor.Layout.lnk
/FireMonitor.lnk
/*.lnk
/Projects/GenerateKeyApplication/packages
/Projects/GenerateKeyApplication/*.msi
/Projects/GenerateKeyApplication/.nuget
bin/
obj/
packages
