<!-- Configure SystemJS -->
@section systemjsconfig{
	<script>
	System.config({
		packages: {
			app: {
				format: 'register',
				defaultExtension: 'js'
			}
		}
	});
	System.import('app/main')
		.then(null, console.error.bind(console));
	</script>
}
<div class="inner cover">
	<h1 class="cover-heading">Cover your page.</h1>
	<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
	<p class="lead">
		<a href="#"
		   class="btn btn-lg btn-secondary">Learn more</a>
	</p>
	<h2 id="testMessage"></h2>
</div>
<my-app>Loading...</my-app>
<div class="mastfoot">
	<div class="inner">
		@section inlinescripts{
			<script type="text/javascript">
				$(function () {
					// This optional function html-encodes messages for display in the page.
					var htmlEncode = function (value) {
						var encodedValue = $('<div />').text(value).html();
						return encodedValue;
					}
					// Declare a proxy to reference the hub.
					var test = $.connection.testHub;
					// Create a function that the hub can call to broadcast messages.
					test.client.broadcastMessage =
						function (message) {
							$('#testMessage').empty();
							$('#testMessage').append('<strong>' + htmlEncode(message) + '</strong>');
						};
					// Start the connection.
					$.connection.hub.start()
						.done(function () {
							test.server.startTestBroadcast();
						});
				});
			</script>
		}
		<p>Copyright (c) 2016 by Sergey Durnov</p>
	</div>
</div>
@section scripts {
	<environment names="Development">
		<script src="~/lib/angular2/es6-shim.js"></script>
		<script src="~/lib/angular2/system-polyfills.js"></script>
		<script src="~/lib/angular2/shims_for_ie.js"></script>
		<script src="~/lib/angular2/angular2-polyfills.js"></script>
		<script src="~/lib/angular2/system.src.js"></script>
		<script src="~/lib/angular2/rx.js"></script>
		<script src="~/lib/angular2/angular2.dev.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"
				asp-fallback-src="~/lib/angular2/es6-shim.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.26/system-polyfills.js"
				asp-fallback-src="~/lib/angular2/system-polyfills.min.js">
		</script>
		<script src="https://npmcdn.com/angular2@2.0.0-beta.14/es6/prod/src/testing/shims_for_IE.js"
				asp-fallback-src="~/lib/angular2/shims_for_ie.js">
		</script>
		<script src="https://code.angularjs.org/2.0.0-beta.14/angular2-polyfills.min.js"
				asp-fallback-src="~/lib/angular2/angular2-polyfills.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.26/system.js"
				asp-fallback-src="~/lib/angular2/system.js">
		</script>
		<script src="https://code.angularjs.org/2.0.0-beta.14/Rx.js"
				asp-fallback-src="~/lib/angular2/rx.min.js">
		</script>
		<script src="https://code.angularjs.org/2.0.0-beta.14/angular2.min.js"
				asp-fallback-src="~/lib/angular2/angular2.min.js">
		</script>
	</environment>
}
