@{
    Layout = null;
}

<div modal-draggable modaless>
    <div class="modal-header">
        <a class="close" href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
        <h3 class="modal-title">{{fireZone.Name}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div ng-style="{'background-color': fireZone.StateColor}" style="width: 50px; height: 50px; border-width: 2px; margin: 5px; float: left"></div>
            <div style="float: left;">
                <img style="margin: 2px; vertical-align: middle" ng-src="/Content/Image/Icon/GKStateIcons/{{fireZone.StateIcon}}.png" />
                {{fireZone.StateMessage}}
            </div>
            <div style="clear: left">
            </div>
            <uib-tabset>
                <uib-tab heading="Управление">
                    <div style="background: #698ebe; padding: 5px">
                        <div style="background: #fff; text-align: center; height: 300px">
                            <div class=" btn btn-primary" style="height: 45px; width: 195px; margin: 4px;" ng-click="SetIgnore()" ng-disabled="!fireZone.CanSetIgnore">Отключить</div>
                            <div class=" btn btn-primary" style="height: 45px; width: 195px; margin: 4px" ng-click="ResetIgnore()" ng-disabled="!fireZone.CanResetIgnore">Снять отключение</div>
                            <div class=" btn btn-primary" style="height: 45px; width: 195px; margin: 4px" ng-click="ResetFire()" ng-disabled="!fireZone.CanResetFire">Сбросить</div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Свойства">
                    <div style="background: #698ebe; padding: 5px">
                        <div style="background: #fff; height: 300px">
                            <div>
                                <img style="margin: 2px; vertical-align: middle" height="16" width="16" ng-src="/Content/Image/{{fireZone.ImageSource}}" />
                                <a href="#" ng-click="Show()">{{fireZone.Name}}</a>
                            </div>
                            <div>
                                <span style="font-weight: bold; width: 110px; color: black">Номер в ГК:</span>
                                <span style="margin: 2px; font-weight: bold; color: black">{{fireZone.GKDescriptorNo}}</span>
                            </div>
                            <div>
                                <img style="margin: 2px; vertical-align: middle" height="16" width="16" src="~/Content/Image/Icon/GK/BJournal.png" />
                                <a href="#" ng-click="ShowJournal()" style="margin: 2px; font-weight: bold">Показать связанные события</a>
                            </div>
                            <div>
                                <span style="font-weight: bold; width: 110px; color: black">Количество датчиков для перевода в Пожар 1: </span>
                                <span style="font-weight: bold; width: 110px; color: black">{{fireZone.Fire1Count}}</span>
                            </div>
                            <div>
                                <span style="font-weight: bold; width: 110px; color: black">Количество датчиков для перевода в Пожар 2: </span>
                                <span style="font-weight: bold; width: 110px; color: black">{{fireZone.Fire2Count}}</span>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
