@{
	Layout = null;
}

<div ng-controller="fireZonesCtrl">
	<div ui-grid="gridOptions" style="width: 100%; height: auto;" ui-grid-selection ui-grid-resize-columns></div>
</div>
<br />
<div ng-controller="devicesCtrl">
	<devices-grid on-click="deviceClick" on-select="deviceSelect" is-full=false></devices-grid>
</div>
