@{
	Layout = null;
}
<div ng-controller="fireZonesCtrl">
	<div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-cellnav style="{{gridStyle}}"></div>
</div>
<div ng-controller="fireZonesDevicesCtrl">
	<div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-cellnav style="{{gridStyle}}"></div>
</div>
