@{
	Layout = null;
}
<div ng-controller="fireZonesCtrl">
	<div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-cellnav ui-grid-save-state ui-grid-auto-size-column style="{{gridStyle}}"></div>
</div>
<br/>
<div ng-controller="fireZonesDevicesCtrl">
	<div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-cellnav ui-grid-save-state style="{{gridStyle}}"></div>
</div>
