<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IIntegrationVideoStreaming" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IIntegrationVideoStreaming1" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp:/192.168.11.4:8000/IntegrationVideoStreaming"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIntegrationVideoStreaming"
                contract="RVIStreamingServiceReference.IIntegrationVideoStreaming"
                name="NetTcpBinding_IIntegrationVideoStreaming" />
            <endpoint address="net.tcp://localhost:8001/IntegrationVideoStreaming"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIntegrationVideoStreaming1"
                contract="RVIStreamingServiceReference.IIntegrationVideoStreaming"
                name="NetTcpBinding_IIntegrationVideoStreaming1" />
        </client>
    </system.serviceModel>
</configuration>