<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegration">
                    <security>
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IIntegrationVideoStreaming">
                    <security>
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IIntegrationVideoStreaming" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp:/192.168.11.4:8000/IntegrationVideoStreaming"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIntegrationVideoStreaming"
                contract="RVIStreamingServiceReference.IIntegrationVideoStreaming"
                name="NetTcpBinding_IIntegrationVideoStreaming" />
            <endpoint address="http://192.168.11.4:8000/Integration" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IIntegration" contract="RVIServiceReference.IIntegration"
                name="BasicHttpBinding_IIntegration" />
            <endpoint address="http://192.168.11.4:8000/IntegrationVideoStreaming"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationVideoStreaming"
                contract="RVIStreamingServiceReference.IIntegrationVideoStreaming"
                name="BasicHttpBinding_IIntegrationVideoStreaming" />
        </client>
    </system.serviceModel>
</configuration>