.archive {
	.ui-widget-content {
		position: inherit;
	}

	.ui-th-column {
		background-color: red !important;
	}
}

.paging_info {
	background: @light-blue;
	border-radius: 5px;
	color: white;
	display: inline-block;
	padding: 5px 12px;
	line-height: 1.42857143;
	font-size: 14px;
	border: 1px solid black;
	vertical-align: middle;
	margin-right: 8px;
}

.archive_param {
	background-color: blue;
	font-size: 10px;
	float: left;
	color: blue;

	div {
		float: left;
		color: #FFF;
		height: 30px;
		width: 10px;
	}

	height: 30px;
	width: 100%;
}

.filter {
	background-image: url("Image/Icon/Archive/filter.png");
}

.archiveFilterDate {
	padding: 25px;
	div {
		p {
		}
		table{
		}
		div{
		}
	}

	.date{
		margin-left: 20px;
	}
}