.tab-menu {
	margin: 0 0 10px 0;
}

.modal-footer {
	padding: 0 15px 15px 15px;
	background: #266199;
	border: 0;
}

.vertical-align {
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
	display: flex;
	align-items: center;
	justify-content: center;
}

.treeImage {
	vertical-align: middle;
	margin-right: 3px;
	width: 16px;
	height: 16px;
}
.labelImage{
	background-position: 5px center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 25px;
    display: inline-block;
    color: black;
}
