.device-params {
	color: white;
	.blueGradientBackground;
	min-height: 100px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 7px;

	div.block span {
		display: inline-block;
		min-width: 100px;
	}

	img.device-image {
		margin-right: 5px;
	}

	select, input {
		color: black;
	}
}
