@{
    ViewBag.Title = "HrFilter";
    Layout = null;
}

<div id="filter-box" class="save-cancel-popup" data-bind="with: HR.Filter">
    <div class="title-bar">
        <span>Фильтр</span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: Cancel" /></a>
    </div>
    <div>
        <form id="Filter" data-bind="submit: Save">
            <ul class="tab">
                <li class="active"><a href="" data-bind="click: function(data,event) { FilterPageClick(data, event, 'Organisations'); }"><span>Организации</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { FilterPageClick(data, event, 'Departments'); }"><span>Подразделения</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { FilterPageClick(data, event, 'Positions'); }, visible: IsShowPositions"><span>Должности</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { FilterPageClick(data, event, 'Employees'); }"><span data-bind="text: HRViewModel.EmployeesHeader"></span></a></li>
            </ul>

            <div data-bind="visible:filterPages.Organisations">
                @Html.Action("OrganisationsFilter")
            </div>
            <div data-bind="visible:filterPages.Departments">
                @Html.Action("DepartmentsFilter")
            </div>
            <div data-bind="visible:filterPages.Positions">
                @Html.Action("PositionsFilter")
            </div>
            <div data-bind="visible:filterPages.Employees">
                @Html.Action("EmployeesFilter")
            </div>

            <div style="clear: both"></div>
            <div class="data-input">
                <label style="word-wrap: normal"><span><input type="checkbox" name="IsWithDeleted" id="IsWithDeleted" data-bind="checked: IsWithDeleted" value="" /><label for="IsWithDeleted">Отображать архивные данные</label></span></label>
            </div>
            <div style="clear: both"></div>
            <button class="submit ok-cancel-button" type="submit">OK</button>
        </form>
    </div>
</div>
