<?xml version="1.0" encoding="windows-1251"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="419cc434-fb04-417b-8794-e66f2c1e3d0b" Name="A.C.Tech Key Generator" Language="1033" Codepage="Windows-1252" Version="1.0.0.0" UpgradeCode="419cc434-fb04-417b-8794-e66f1c1e3d0a" Manufacturer="davydovKP">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="A.C.Tech_Key_Generator.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="ProgramFilesFolder.A.C.Tech_Key_Generator" Name="A.C.Tech Key Generator">
          <Directory Id="INSTALLDIR" Name="A.C.Tech Key Generator">

            <Component Id="Component.licence.dll" Guid="419cc434-fb04-417b-8794-e66f968a63d3">
              <File Id="licence.dll" Source="bin\Release\licence.dll" />
            </Component>

            <Component Id="Component.GenerateKeyApplication.exe" Guid="419cc434-fb04-417b-8794-e66f083293dd">
              <File Id="GenerateKeyApplication.exe" Source="bin\Release\GenerateKeyApplication.exe">
                <Shortcut Id="Shortcut.GenerateKeyApplication.exe.GenerateKeyApplication" WorkingDirectory="INSTALLDIR" Directory="INSTALLDIR" Name="GenerateKeyApplication.lnk" />
                <Shortcut Id="Shortcut.GenerateKeyApplication.exe.GenerateKeyApplication.1" WorkingDirectory="DesktopFolder" Directory="DesktopFolder" Name="GenerateKeyApplication.lnk" Icon="IconFile1_key.ico" IconIndex="0" />
              </File>

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Component Id="Component.System.Windows.Controls.Input.Toolkit.dll" Guid="419cc434-fb04-417b-8794-e66f5137ee2e">
              <File Id="System.Windows.Controls.Input.Toolkit.dll" Source="bin\Release\System.Windows.Controls.Input.Toolkit.dll" />
            </Component>

            <Component Id="Component.System.Windows.Controls.Layout.Toolkit.dll" Guid="419cc434-fb04-417b-8794-e66f6a2097eb">
              <File Id="System.Windows.Controls.Layout.Toolkit.dll" Source="bin\Release\System.Windows.Controls.Layout.Toolkit.dll" />
            </Component>

            <Component Id="Component.WPFToolkit.dll" Guid="419cc434-fb04-417b-8794-e66fd978e2fb">
              <File Id="WPFToolkit.dll" Source="bin\Release\WPFToolkit.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.dll" Guid="419cc434-fb04-417b-8794-e66f07e4241c">
              <File Id="Xceed.Wpf.AvalonDock.dll" Source="bin\Release\Xceed.Wpf.AvalonDock.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.Aero.dll" Guid="419cc434-fb04-417b-8794-e66f08c1be9a">
              <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Source="bin\Release\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.Metro.dll" Guid="419cc434-fb04-417b-8794-e66fb0e85b52">
              <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Source="bin\Release\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Guid="419cc434-fb04-417b-8794-e66f4ea1a953">
              <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Source="bin\Release\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.DataGrid.dll" Guid="419cc434-fb04-417b-8794-e66f2f9cfd7a">
              <File Id="Xceed.Wpf.DataGrid.dll" Source="bin\Release\Xceed.Wpf.DataGrid.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.Toolkit.dll" Guid="419cc434-fb04-417b-8794-e66fcadb1f3c">
              <File Id="Xceed.Wpf.Toolkit.dll" Source="bin\Release\Xceed.Wpf.Toolkit.dll" />
            </Component>

            <Component Id="Uninstall_A.C.Tech_Key_Generator" Guid="419cc434-fb04-417b-8794-e66f501b9cbe">
              <Shortcut Id="INSTALLDIR.Uninstall_A.C.Tech_Key_Generator" WorkingDirectory="System64Folder" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Name="Uninstall A.C.Tech Key Generator.lnk" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="ProgramMenuFolder.A.C.Tech_Key_Generator" Name="A.C.Tech Key Generator">
          <Directory Id="ProgramMenuFolder.A.C.Tech_Key_Generator.A.C.Tech_Key_Generator" Name="A.C.Tech Key Generator">

            <Component Id="Samples" Guid="419cc434-fb04-417b-8794-e66f39931a6f">
              <Shortcut Id="A.C.Tech_Key_Generator.Samples" WorkingDirectory="ProgramFilesFolder.A.C.Tech_Key_Generator.A.C.Tech_Key_Generator.Samples" Target="[ProgramFilesFolder.A.C.Tech_Key_Generator.A.C.Tech_Key_Generator.Samples]" Name="Samples.lnk" />

              <RemoveFolder Id="ProgramMenuFolder.A.C.Tech_Key_Generator.A.C.Tech_Key_Generator" On="uninstall" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Component Id="Uninstall_A.C.Tech_Key_Generator.1" Guid="419cc434-fb04-417b-8794-e66fbc80f329">
              <Shortcut Id="A.C.Tech_Key_Generator.Uninstall_A.C.Tech_Key_Generator.1" WorkingDirectory="System64Folder" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Name="Uninstall A.C.Tech Key Generator.lnk" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

          </Directory>

          <Component Id="ProgramMenuFolder.A.C.Tech_Key_Generator" Guid="419cc434-fb04-417b-8794-e66f8c0f1aa6">
            <RemoveFolder Id="ProgramMenuFolder.A.C.Tech_Key_Generator" On="uninstall" />

            <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
              <RegistryValue Value="0" Type="string" KeyPath="yes" />
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>

      <Directory Id="TARGETDIR.INSTALLDIR" Name="INSTALLDIR">

        <Component Id="INSTALLDIR.EmptyDirectory" Guid="419cc434-fb04-417b-8794-e66fb76358cb">
          <RemoveFolder Id="TARGETDIR.INSTALLDIR" On="both" />
        </Component>

      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder">

        <Component Id="DesktopFolder.EmptyDirectory" Guid="419cc434-fb04-417b-8794-e66ffa051574">
          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.licence.dll" />
      <ComponentRef Id="Component.GenerateKeyApplication.exe" />
      <ComponentRef Id="Component.System.Windows.Controls.Input.Toolkit.dll" />
      <ComponentRef Id="Component.System.Windows.Controls.Layout.Toolkit.dll" />
      <ComponentRef Id="Component.WPFToolkit.dll" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.dll" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      <ComponentRef Id="Component.Xceed.Wpf.DataGrid.dll" />
      <ComponentRef Id="Component.Xceed.Wpf.Toolkit.dll" />
      <ComponentRef Id="Uninstall_A.C.Tech_Key_Generator" />
      <ComponentRef Id="Samples" />
      <ComponentRef Id="Uninstall_A.C.Tech_Key_Generator.1" />
      <ComponentRef Id="INSTALLDIR.EmptyDirectory" />
      <ComponentRef Id="DesktopFolder.EmptyDirectory" />
      <ComponentRef Id="ProgramMenuFolder.A.C.Tech_Key_Generator" />
    </Feature>

    <Icon Id="IconFile1_key.ico" SourceFile="Icons\key.ico" />

  </Product>
</Wix>

