
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Оперативная задача Глобал</title>
    
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="Content/Site.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="Content/main.less" /> 
</head>

<body>

    <div class="wrapper">

        <header class="header">
            <div class="left">
                <div id="clockbox" class="time">@DateTime.Now.ToString("u")</div>
                <div class="icons">
                    <div class="icon mute" data-bind="css:{'off': isSound}, click: SoundClick"></div>
                    <div class="icon connect on"></div>
                    <div class="icon change-user on"></div>
                    <div class="icon activation on"></div>
                    <div class="icon plan on"></div>
                </div>
            </div>
            <div class="right">
                <div class="icon extinguisher"></div>
                <div class="icon shield"></div>
                <div class="icon fire"></div>
                <div class="icon mani-fire"></div>
            </div>    
        </header><!-- .header-->

        <div class="middle">

            <div class="container">
                <main class="content">
                    @RenderBody()
                </main><!-- .content -->
            </div><!-- .container-->

            <aside class="left-sidebar">
                <ul class="menu">
                    <li class="group-control" >
                        <a href="#" data-bind="click: MenuClick"><span>Групповой контроллер</span></a>
                        <ul>
                            <li class="state" data-bind="css:{'active': StatePageOpened}"><a href="" data-bind="click: function(data,event) { PageClick(data, event, 'State'); } "><span>Состоянияр</span></a></li>
                            <li class="device"><a href="" data-bind="click: function(data,event) { PageClick(data, event, 'Device'); } "><span>Устройствар</span></a></li>
                            <li class="params"><a href=""><span>Параметры</span></a></li>
                        </ul>
                    </li>
                    <li class="event-log"><a href="" data-bind="click: MenuClick"><span>Журнал событий</span></a></li>
                    <li class="archive"><a href="" data-bind="click: MenuClick"><span>Архив</span></a></li>
                    <li class="reports"><a href="" data-bind="click: MenuClick"><span>Отчёты</span></a></li>
                    <li class="diagnostics has-sub"><a href="" data-bind="click: MenuClick"><span>Диагностика</span></a>
                        <ul>
                            <li class="diagnostics"><a href=""><span>Диагностика</span></a></li>
                            <li class="queue"><a href=""><span>Очередь операций</span></a></li>
                        </ul>
                    </li>
                    <li class="SKD has-sub last"><a data-bind="click: MenuClick"><span>СКД</span></a>
                        <ul>
                            <li class="file"><a href=""><span>Картотека</span></a></li>
                            <li class="work-time"><a href=""><span>Учет рабочего времени</span></a></li>
                        </ul>
                    </li>
                </ul>
            </aside><!-- .left-sidebar -->

        </div><!-- .middle-->

    </div><!-- .wrapper -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <script src="Scripts/knockout-3.3.0.js"></script>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/Main.js"></script>
    <script src="Scripts/Clock.js"></script>
</body>
</html>