
@{
    Layout = null;
}

<div>
    <table id="jqGridEmployeesFilter"></table>
    <div data-bind="with: EmployeesFilter">
        <div class="data-input">
            <label><span><input id="IsSearch" type="checkbox" data-bind="checked: IsSearch" value="" /><label for="IsSearch">Поиск</label></span></label>
        </div>
        <div style="clear: both"></div>
        <div class="data-input">
            <label for="LastName"><span>Фамилия</span><input type="text" name="LastName" id="LastName" data-bind="value: LastName, enable: IsSearch" value="" /></label>
            <label for="FirstName"><span>Имя</span><input type="text" name="FirstName" id="FirstName" data-bind="value: FirstName, enable: IsSearch" value="" /></label>
            <label for="SecondName"><span>Отчество</span><input type="text" name="SecondName" id="SecondName" data-bind="value: SecondName, enable: IsSearch" value="" /></label>
        </div>
    </div>
</div>
