
@{
    Layout = null;
}

    <div id="PhotoSelection">
        <div>
            <img ng-src="{{model.photoData}}" />
        </div>
        <div class="HrToolbar" id="PhotoSelectionToolbar">
            <div class="icon delete" ng-click="removeClick(photoData)"></div>
            <div class="icon load" ng-click="openClick(photoData)"></div>
            <input type="file" id="OpenPhoto" file-change="loadPhoto()" ng-hide="true" />
        </div>
    </div>
