
@{
    Layout = null;
}

    <div id="PhotoSelection">
        <div>
            <img ng-src="{{model.photoData}}" />
        </div>
        <div class="HrToolbar" id="PhotoSelectionToolbar">
            <div class="icon close" title="Очитстить фото" ng-click="removeClick(photoData)"></div>
            <div class="icon load" title="Загрузить фото из файла" ng-click="openClick(photoData)"></div>
            <input type="file" id="OpenPhoto" accept="image/*" file-change="loadPhoto()" ng-hide="true" />
        </div>
    </div>
