@{
    ViewBag.Title = "EmployeeDetails";
    Layout = null;
}


<div id="employee-details-box" class="save-cancel-popup" data-bind="with: HR.Employees.EmployeeDetails">
    <div class="title-bar">
        <span>Оперативная задача Глобал</span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: EmployeeDetailsClose" /></a>
    </div>
    <div>
        <form id="Employee" data-bind="submit: SaveEmployee">
            <ul class="tab">
                <li class="active"><a href="" data-bind="click: function(data,event) { EmployeeDetailsPageClick(data, event, 'General'); }"><span>Основные</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { EmployeeDetailsPageClick(data, event, 'Document'); }"><span>Документ</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { EmployeeDetailsPageClick(data, event, 'Photo'); }"><span>Фото</span></a></li>
            </ul>

            <div class="data-input" data-bind="visible:employeeDetailsPages.General">
                <label for="LastName"><span>Фамилия</span><input type="text" name="LastName" id="LastName" data-bind="value: LastName" value="" /></label>
                <label for="FirstName"><span>Имя</span><input type="text" name="FirstName" id="FirstName" data-bind="value: FirstName" value="" /></label>
                <label for="SecondName"><span>Отчество</span><input type="text" name="SecondName" data-bind="value: SecondName" value="" /></label>
                <label for="Position"><span>Должность</span><a id="Position" href=""><span data-bind="click: SelectPosition">Нажмите для выбора должности</span></a></label>
                <label for="Department"><span>Подразделение</span><a id="Department" href=""><span data-bind="click: SelectDepartment">Нажмите для выбора подразделения</span></a></label>
                <label for="Escort"><span>Сопровождающий</span><a id="Escort" href=""><span data-bind="click: SelectEscort">Нажмите для выбора сопровождающего</span></a></label>
                <label for="Description"><span>Примечание</span><input type="text" name="Description" data-bind="value: Description" value="" /></label>
                <label for="Schedule"><span>График работы</span><a id="Schedule" href=""><span data-bind="click: SelectSchedule">Нажмите для выбора графика работы</span></a></label>
                <label for="CredentialsStartDate"><span>Учётные данные действуют с</span><input type="text" id="CredentialsStartDate" name="CredentialsStartDate" data-bind="datepicker: CredentialsStartDate, datepickerOptions: { dateFormat: 'dd.mm.yy' }" value="" /></label>
                <label for="TabelNo"><span>Табельный номер</span><input type="text" name="TabelNo" data-bind="value: TabelNo" value="" /></label>
                <label for="Phone"><span>Телефон</span><input type="text" name="Phone" data-bind="value: Phone" value="" /></label>
@*
                <label><span>Руководитель организации</span><input type="checkbox" name="IsOrganisationChief" data-bind="value: IsOrganisationChief" value=""></label><br>
                <label><span>Руководитель отдела кадров</span><input type="checkbox" name="IsOrganisationHRChief" data-bind="value: IsOrganisationHRChief" value="" /></label><br>
*@
            </div>
            <div class="data-input" data-bind="visible:employeeDetailsPages.Document">
                <label for="DocumentNumber"><span>Номер</span><input type="text" name="DocumentNumber" data-bind="value: DocumentNumber" value="" /></label>
                <label for="BirthPlace"><span>Место рождения</span><input type="text" name="BirthPlace" data-bind="value: BirthPlace" value="" /></label>
                <label for="BirthDate"><span>Дата рождения</span><input type="text" id="BirthDate" name="BirthDate" data-bind="datepicker: BirthDate, datepickerOptions: { dateFormat: 'dd.mm.yy' }" value="" /></label>
                <label for="GivenBy"><span>Кем выдан</span><input type="text" name="GivenBy" data-bind="value: DocumentGivenBy" value="" /></label>
                <label for="GivenDate"><span>Дата выдачи</span><input type="text" id="GivenDate" name="GivenDate" data-bind="datepicker: DocumentGivenDate, datepickerOptions: { dateFormat: 'dd.mm.yy' }" value="" /></label>
                <label for="ValidTo"><span>Документ действителен до</span><input type="text" id="ValidTo" name="ValidTo" data-bind="datepicker: DocumentValidTo, datepickerOptions: { dateFormat: 'dd.mm.yy' }" value="" /></label>
                <label for="Citizenship"><span>Гражданство</span><input type="text" name="Citizenship" data-bind="value: Citizenship" value="" /></label>
                <label for="Gender">
                    <span>Пол</span>
                    <select name="Gender" data-bind="value: Gender">
                        <option value="Male">Мужской</option>
                        <option value="Female">Женский</option>
                    </select>
                </label>
                <label for="DocumentType">
                    <span>Тип документа</span>
                    <select name="DocumentType" data-bind="value: DocumentType">
                        <option value="Passport">Паспорт РФ</option>
                        <option value="ForeignPassport">Паспорт иного государства</option>
                    </select>
                </label>
            </div>
            <div class="data-input" data-bind="visible:employeeDetailsPages.Photo">
            </div>
            <button class="submit ok-cancel-button" type="button" data-bind="click: SaveEmployee">OK</button>
            <label data-bind="text: SaveError"></label>
        </form>
    </div>
</div>
