
@{
    ViewBag.Title = "EmployeeCardDetails";
    Layout = null;
}

<div class="modal-header">
    <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
    <h3 class="modal-title">{{title}}</h3>
</div>

<div class="modal-body">
    <uib-tabset>
        <uib-tab heading="Основные">
            <form class="form-horizontal" role="form">
                <div class="form-group" ng-show="canChangeCardType">
                    <label class="control-label col-sm-5" for="GKCardType">Тип пропуска</label>
                    <div class="col-sm-7">
                        <select id="GKCardType" class="form-control" ng-model="card.Card.GKCardType" convert-to-number>
                            <option value=0>Сотрудник</option>
                            <option value=1>Оператор</option>
                            <option value=2>Администратор</option>
                            <option value=3>Инсталлятор</option>
                            <option value=4>Изготовитель</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5" for="endDate">Конец действия</label>
                    <div class="col-sm-7">
                        <p class="input-group">
                            <input type="text" id="endDate" class="form-control" uib-datepicker-popup="dd.MM.yyyy" is-open="popupEndDate.opened" ng-model="card.Card.EndDate">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="popupEndDate.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5" for="GKLevel">Уровень доступа</label>
                    <div class="col-sm-7">
                        <input type="number" id="GKLevel" class="form-control" ng-model="card.Card.GKLevel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5" for="GKSchedule">График доступа</label>
                    <div class="col-sm-7">
                        <select id="GKSchedule" class="form-control" ng-model="card.SelectedSchedule" ng-options="schedule.No + ' ' + schedule.Name for schedule in card.Schedules track by schedule.No">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5" for="employeeCardDetailsNumber">Номер</label>
                    <div class="col-sm-7">
                        <input type="number" id="employeeCardDetailsNumber" class="form-control" ng-model="card.Card.Number" ng-disabled="!isNew || card.UseStopList">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5"><input type="checkbox" ng-model="card.UseStopList" ng-disabled="!isNew">Из списка деактивированных</label>
                    <div class="col-sm-7">
                        <select class="form-control" ng-model="card.SelectedStopListCard" ng-options="stopListCard.Number for stopListCard in card.StopListCards" ng-disabled="!isNew || !card.UseStopList"></select>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab ng-show="canSelectGKControllers()" heading="Контроллеры">
            <form class="form-horizontal" role="form">
                <ul class="SelectableList">
                    <li ng-repeat="controller in card.AvailableGKControllers">
                        <div>
                            <label>
                                <input type="checkbox" ng-model="controller.IsChecked" value="">
                                <span>{{controller.PresentationName}}</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </form>
        </uib-tab>
        <uib-tab heading="Точки доступа">
            <form class="form-horizontal" role="form">
                <ul id="EmployeeCardDetailsDoors" class="SelectableList">
                    <li ng-repeat="door in card.Doors" ng-class="{selected: door === card.SelectedDoor}">
                        <div ng-click="card.SelectedDoor = door">
                            <img src="~/Content/Image/Icon/Hr/Door.png" />
                            <input type="checkbox" ng-model="door.IsChecked" value="">
                            <span>{{door.PresentationName}}</span>
                        </div>
                    </li>
                </ul>
                <div id="EmployeeCardDetailsDoor" ng-show="card.SelectedDoor">
                    <label for="EnterSchedule">
                        <span>Временной критерий для входа</span><br/>
                        <select name="EnterSchedule" class="form-control" ng-model="card.SelectedDoor.SelectedEnterSchedule" ng-options="schedule.Name for schedule in card.SelectedDoor.EnterSchedules track by schedule.ScheduleNo" ng-disabled="!card.SelectedDoor.IsChecked"></select>
                    </label>
                    <br/>
                    <label for="ExitSchedule" ng-show="card.SelectedDoor.HasExit">
                        <span>Временной критерий для выхода</span><br/>
                        <select name="ExitSchedule" class="form-control" ng-model="card.SelectedDoor.SelectedExitSchedule" ng-options="schedule.Name for schedule in card.SelectedDoor.ExitSchedules track by schedule.ScheduleNo" ng-disabled="!card.SelectedDoor.IsChecked"></select>
                    </label>
                </div>
            </form>
        </uib-tab>
        <uib-tab heading="Шаблон доступа">
            <form class="form-horizontal" role="form">
                <ul id="EmployeeCardDetailsTemplates" class="SelectableList">
                    <li ng-repeat="template in card.AvailableAccessTemplates track by template.UID" ng-class="{selected: template.UID === card.SelectedAccessTemplate.UID}">
                        <div ng-click="card.SelectedAccessTemplate = template">
                            <label>
                                <img src="~/Content/Image/Icon/Hr/zone.png" />
                                <span>{{template.Name}}</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </form>
        </uib-tab>
    </uib-tabset>
</div>
<div mobile-hover-fix class="modal-footer">
    <button class="btn btn-primary pull-right" ng-click="save()">OK</button>
</div>

@*<div id="employee-card-details-box" class="save-cancel-popup" data-bind="with: HR.Employees.EmployeeCardDetails">
    <div class="title-bar">
        <span data-bind="text: Title"></span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: EmployeeCardDetailsClose" /></a>
    </div>
    <div>
        <form id="EmployeeCard" data-bind="submit: SaveEmployeeCard">
            <div class="data-input" data-bind="visible:employeeCardDetailsPages.General">
                <label for="GKCardType" data-bind="visible: CanChangeCardType">
                    <span>Тип пропуска</span>
                    <select name="GKCardType" data-bind="value: SelectedGCCardType">
                        <option value=0>Сотрудник</option>
                        <option value=1>Оператор</option>
                        <option value=2>Администратор</option>
                        <option value=3>Инсталлятор</option>
                        <option value=4>Изготовитель</option>
                    </select>
                </label>
                <label for="EndDate"><span>Конец действия</span><input type="text" id="EndDate" name="EndDate" data-bind="datepicker: Card.EndDate, datepickerOptions: { dateFormat: 'dd.mm.yy' }" value="" /></label>
                <label for="GKLevel"><span>Уровень доступа</span><input type="number" name="GKLevel" data-bind="value: Card.GKLevel" value="" /></label>
                <label for="GKSchedule">
                    <span>График доступа</span>
                    <select name="GKSchedule" data-bind="options: Schedules, optionsText: function(item) {return item.No() + ' ' + item.Name();}, value: SelectedSchedule, optionsCaption: ''"></select>
                </label>
                <label for="Number"><span>Номер</span><input type="number" name="Number" data-bind="value: Card.Number, enable: IsNewCard() && !UseStopList()" value="" /></label>
                <label for="StopListCard">
                    <span><input type="checkbox" id="UseStopList" data-bind="checked: UseStopList, enable: IsNewCard" value=""><label for="UseStopList">Из списка деактивированных</label></span>
                    <select name="StopListCard" data-bind="options: StopListCards, optionsText: 'Number', value: SelectedStopListCard, enable: IsNewCard() && UseStopList()"></select>
                </label>
                <label for="ChangeReader">
                    <span><input type="checkbox" id="UseReader" data-bind="checked: UseReader, enable: IsNewCard" value=""><label for="UseReader">От контрольного считывателя</label></span>
                    <a id="ChangeReader" href=""><span data-bind="click: ChangeReaderClick, enable: IsNewCard">Нажмите для выбора считывателя</span></a>
                </label>
                <label for="ShowUSBCardReader">
                    <span></span>
                    <input class="ok-cancel-button" type="button" name="ShowUSBCardReader" data-bind="click: ShowUSBCardReaderClick, enable: IsNewCard" value="От USB-считывателя" />
                </label>
            </div>
            <div data-bind="visible:employeeCardDetailsPages.GKControllers">
                <ul class="SelectableList" data-bind="foreach: AvailableGKControllers">
                    <li>
                        <div>
                            <label>
                                <input type="checkbox" data-bind="checked: IsChecked" value="">
                                <span data-bind="text: PresentationName"></span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div data-bind="visible:employeeCardDetailsPages.AccessDoors">
                <ul id="EmployeeCardDetailsDoors" class="SelectableList" data-bind="foreach: Doors">
                    <li>
                        <div data-bind="click: function(data,event) { $parent.DoorClick(data, event, $data); return true; }">
                            <img src="~/Content/Image/Icon/Hr/Door.png" />
                            <input type="checkbox" data-bind="checked: IsChecked" value="">
                            <span data-bind="text: PresentationName"></span>
                        </div>
                    </li>
                </ul>
                <div id="EmployeeCardDetailsDoor" data-bind="visible:SelectedDoor()">
                    <label for="EnterSchedule">
                        <span>Временной критерий для входа</span><br />
                        <select name="EnterSchedule" data-bind="options: SelectedDoor() ? SelectedDoor().EnterSchedules : null, optionsText: 'Name', value: SelectedDoor() ? SelectedDoor().SelectedEnterSchedule : null, enable: SelectedDoor() ? SelectedDoor().IsChecked : false"></select>
                    </label>
                    <br />
                    <label for="ExitSchedule" data-bind="visible: SelectedDoor() ? SelectedDoor().HasExit : false">
                        <span>Временной критерий для выхода</span><br />
                        <select name="ExitSchedule" data-bind="options: SelectedDoor() ? SelectedDoor().ExitSchedules : null, optionsText: 'Name', value: SelectedDoor() ? SelectedDoor().SelectedExitSchedule : null, enable: SelectedDoor() ? SelectedDoor().IsChecked : false"></select>
                    </label>
                </div>
            </div>
            <div data-bind="visible:employeeCardDetailsPages.AccessTemplates">
                <ul id="EmployeeCardDetailsTemplates" class="SelectableList" data-bind="foreach: AvailableAccessTemplates">
                    <li>
                        <div data-bind="click: function(data,event) { $parent.AvailableAccessTemplateClick(data, event, $data);}">
                            <label>
                                <img src="~/Content/Image/Icon/Hr/zone.png" />
                                <span data-bind="text: Name"></span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="submit ok-cancel-button" type="button" data-bind="click: SaveEmployeeCard">OK</button>
        </form>
    </div>
</div>*@
