
@{
    ViewBag.Title = "EmployeeCardDetails";
    Layout = null;
}

<div id="employee-card-details-box" class="save-cancel-popup" data-bind="with: HR.Employees.EmployeeCardDetails">
    <div class="title-bar">
        <span data-bind="text: Title"></span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: EmployeeCardDetailsClose" /></a>
    </div>
    <div>
        <form id="EmployeeCard" data-bind="submit: SaveEmployeeCard">
            <ul class="tab">
                <li class="active"><a href="" data-bind="click: function(data,event) { EmployeeCardDetailsPageClick(data, event, 'General'); }"><span>Основные</span></a></li>
                <li data-bind="visible: CanSelectGKControllers"><a href="" data-bind="click: function(data,event) { EmployeeCardDetailsPageClick(data, event, 'GKControllers'); }"><span>Контроллеры</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { EmployeeCardDetailsPageClick(data, event, 'AccessDoors'); }"><span>Точки доступа</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { EmployeeCardDetailsPageClick(data, event, 'AccessTemplates'); }"><span>Шаблон доступа</span></a></li>
            </ul>

            <div class="data-input" data-bind="visible:employeeCardDetailsPages.General">
                <label for="GKCardType" data-bind="visible: CanChangeCardType">
                    <span>Тип пропуска</span>
                    <select name="GKCardType" data-bind="value: SelectedGKCardType">
                        <option value="Employee">Сотрудник</option>
                        <option value="Operator">Оператор</option>
                        <option value="Administrator">Администратор</option>
                        <option value="Installator">Инсталлятор</option>
                        <option value="Manufactor">Изготовитель</option>
                    </select>
                </label>
                <label for="EndDate"><span>Конец действия</span><input type="text" id="EndDate" name="EndDate" data-bind="datepicker: Card.EndDate, datepickerOptions: { dateFormat: 'dd.mm.yy' }" value="" /></label>
                <label for="GKLevel"><span>Уровень доступа</span><input type="number" name="GKLevel" data-bind="value: Card.GKLevel" value="" /></label>
                <label for="GKSchedule">
                    <span>График доступа</span>
                    <select name="GKSchedule" data-bind="options: GKSchedules, optionsText: function(item) {return item.No() + ' ' + item.Name();}, value: SelectedGKSchedule, optionsCaption: ''"></select>
                </label>
                <label for="Number"><span>Номер</span><input type="number" name="Number" data-bind="value: Card.Number, enable: IsNewCard() && !UseStopList()" value="" /></label>
                <label for="StopListCard">
                    <span><input type="checkbox" id="UseStopList" data-bind="checked: UseStopList, enable: IsNewCard" value=""><label for="UseStopList">Из списка деактивированных</label></span>
                    <select name="StopListCard" data-bind="options: StopListCards, optionsText: 'Number', value: SelectedStopListCard, enable: IsNewCard() && UseStopList()"></select>
                </label>
                <label for="ChangeReader">
                    <span><input type="checkbox" id="UseReader" data-bind="checked: UseReader, enable: IsNewCard" value=""><label for="UseReader">От контрольного считывателя</label></span>
                    <a id="ChangeReader" href=""><span data-bind="click: ChangeReaderClick, enable: IsNewCard">Нажмите для выбора считывателя</span></a>
                </label>
                <label for="ShowUSBCardReader">
                    <span></span>
                    <input class="ok-cancel-button" type="button" name="ShowUSBCardReader" data-bind="click: ShowUSBCardReaderClick, enable: IsNewCard" value="От USB-считывателя" />
                </label>
            </div>
            <div class="data-input" data-bind="visible:employeeCardDetailsPages.GKControllers">
                <ul data-bind="foreach: AvailableGKControllers">
                    <li>
                        <label><input type="checkbox" data-bind="checked: IsChecked" value=""><span data-bind="text: PresentationName"></span></label>
                    </li>
                </ul>
            </div>
            <div data-bind="visible:employeeCardDetailsPages.AccessDoors">
                <ul data-bind="foreach: Doors">
                    <li>
                        <label>
                            <img src="~/Content/Image/Icon/Hr/Door.png" />
                            <input type="checkbox" data-bind="checked: IsChecked" value="">
                            <span data-bind="text: PresentationName"></span>
                        </label>
                    </li>
                </ul>
                <div class="data-input">
                    
                </div>
            </div>
            <div class="data-input" data-bind="visible:employeeCardDetailsPages.AccessTemplates">
            </div>
            <button class="submit ok-cancel-button" type="button" data-bind="click: SaveEmployeeCard">OK</button>
        </form>
    </div>
</div>
