@{
    ViewBag.Title = "Employees";
    Layout = null;
}

<div ng-controller="employeesCtrl">
    <div ui-grid="gridOptions" style="{{gridStyle}}" ui-grid-tree-view ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-auto-size-column></div>
</div>

<div ng-show="!selectedEmployee.IsOrganisation && selectedEmployee" ng-controller="employeeCardsCtrl">
    <div class="HrCardsPanel">
        <ul>
            <li ng-class="{active: selectedCard === null}">
                <img style="vertical-align: middle; padding-right: 3px" src="~/Content/Image/Icon/Hr/Employee.png" />
                <a href="" ng-click="cardClick(null)">
                    <span>Сотрудник</span>
                </a>
            </li>
            <li ng-repeat="card in employeeCards.Cards" ng-class="{active: selectedCard === card}">
                <img style="vertical-align: middle; padding-right: 3px" src="~/Content/Image/Icon/Hr/Card.png" />
                <a href="" ng-click="cardClick(card)">
                    <span>Пропуск {{card.Number}}</span>
                </a>
            </li>
        </ul>
    </div><!-- .left-sidebar -->
    <div class="HrCardDoorsPanel">
        <div class="HrCardDoorsProperties" ng-show="selectedCard === null">
            <div style="width: 50%; float: left">
                <div><span>Фамилия</span><label>{{selectedEmployee.Model.LastName}}</label>
                </div>
                <div><span>Имя</span><label>{{selectedEmployee.Model.FirstName}}</label>
                </div>
                <div><span>Отчество</span><label>{{selectedEmployee.Model.SecondName}}</label>
                </div>
                <div><span>Телефон</span><label>{{selectedEmployee.Model.Phone}}</label>
                </div>
                <div ng-show="isGuest"><span>Примечание</span><label>{{selectedEmployee.Model.Description}}</label>
                </div>
                <div ng-show="!isGuest"><span>Должность</span><label>{{selectedEmployee.Model.PositionName}}</label>
                </div>
                <div><span>Подразделение</span><label>{{selectedEmployee.Model.DepartmentName}}</label>
                </div>
                <div><span>Организация</span><label>{{selectedEmployee.Model.OrganisationName}}</label>
                </div>
                <div ng-show="selectedEmployee.IsDeleted"><span>Дата удаления</span><label>{{selectedEmployee.Model.RemovalDate}}</label>
                </div>
            </div>
            <div style="width: 50%; float: left">
                <img ng-src="{{photoData.photo}}"/>
            </div>
            <div style="clear: left"/> 
        </div>
        <div style="clear: left" />
        <div ng-show="selectedCard !== null">
            <div ui-grid="gridOptionsDoors" style="{{gridStyleDoors}}" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-auto-size-column></div>
        </div>
    </div>
</div>