
@{
    Layout = null;
}

<div id="schedule-selection-box" class="save-cancel-popup" data-bind="with: HR.Employees.ScheduleSelection">
    <div class="title-bar">
        <span>Выбор графика работы</span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: Close" /></a>
    </div>
    <div>
        <form id="ScheduleSelectionForm" data-bind="submit: Save">
            <ul id="ScheduleSelectionList" class="SelectableList" data-bind="foreach: Schedules">
                <li>
                    <div data-bind="click: function(data,event) { $parent.ScheduleClick(data, event, $data); return true; }">
                        <label>
                            <span data-bind="text: Name"></span>
                        </label>
                    </div>
                </li>
            </ul>
            <div class="data-input">
                <label for="ScheduleStartDate"><span>Начало действия графика</span><input type="text" id="ScheduleStartDate" name="ScheduleStartDate" data-bind="datepicker: ScheduleStartDate, datepickerOptions: { dateFormat: 'dd.mm.yy' }" value="" /></label>
            </div>
            <button class="submit ok-cancel-button" type="submit">OK</button>
        </form>
    </div>
</div>
