
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div>
    <table id="jqGridPositions"></table>
</div>

<div data-bind="visible: HR.Positions.IsShowEmployeeList">
    @Html.Action("PositionEmployeeList")
</div>
@Html.Action("PositionDetails")
