
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div ng-controller="positionsCtrl">
    <div ui-grid="gridOptions" style="{{gridStyle}}" ui-grid-tree-view ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-auto-size-column></div>
</div>

<div ng-controller="positionEmployeeListCtrl" ng-show="isShowEmployeeList()">
    @Html.Action("PositionEmployeeList")
</div>

