
@{
    Layout = null;
}

<script type="text/html" id="PositionDetailsTemplate">
    <div id="position-details-box" class="save-cancel-popup">
        <div class="title-bar">
            <span data-bind="text: Title"></span>
            <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: PositionDetailsClose"/></a>
        </div>
        <div>
            <form id="Position" data-bind="submit: SavePosition">
                <ul class="tab">
                    <li class="active"><a href="" data-bind="click: function(data,event) { PositionDetailsPageClick(data, event, 'General'); }"><span>Основные</span></a></li>
                    <li><a href="" data-bind="click: function(data,event) { PositionDetailsPageClick(data, event, 'Photo'); }"><span>Логотип</span></a></li>
                </ul>
                <div class="data-input" data-bind="visible:positionDetailsPages.General, with: Position">
                    <label for="Name"><span>Название</span><input type="text" name="Name" id="Name" data-bind="value: Name" value=""/></label>
                    <label for="Description"><span>Примечание</span><input type="text" name="Description" id="Description" data-bind="value: Description" value=""/></label>
                </div>
                <div data-bind="visible:positionDetailsPages.Photo">
                    <div data-bind="template: { name: 'PhotoSelectionTemplate', data: {PhotoData: PhotoData} }"></div>
                </div>

                <button class="submit ok-cancel-button" type="submit">OK</button>
            </form>
        </div>
    </div>
</script>

<div data-bind="template: { name: 'PositionDetailsTemplate', data: HR.Positions.PositionDetails}"></div>
