
@{
    Layout = null;
}

<div class="modal-header">
    <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab heading="Основные">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="positionDetailsName">Название</label>
                    <div class="col-sm-8">
                        <input id="positionDetailsName" class="form-control" ng-model="position.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="positionDetailsDescription">Примечание</label>
                    <div class="col-sm-8">
                        <input id="positionDetailsDescription" class="form-control" ng-model="position.Description">
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab heading="Логотип">
            <photo-selection ng-model="model.photoData"></photo-selection>
        </uib-tab>
    </uib-tabset>
</div>
<div mobile-hover-fix class="modal-footer">
    <button class="btn btn-primary pull-right" ng-click="save()">OK</button>
</div>