
@{
    Layout = null;
}

<div>
    <div ui-grid="gridOptions" style="{{gridStyle}}" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-save-state ui-grid-auto-size-column></div>
</div>

<div class="HrToolbar">
    <div class="icon add" title="Добавить сотрудника" ng-disabled="!canAdd()" ng-click="canAdd() && add()"></div>
    <div class="icon delete" title="Удалить сотрудника" ng-disabled="!canRemove()" ng-click="canRemove() && remove()"></div>
    <div class="icon edit" title="Редактировать сотрудника" ng-click="canEdit() && edit()" ng-disabled="!canEdit()"></div>
</div>