<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?include Variables_FireAdministrator.wxi?>
	
	<Fragment>
		<Feature Id="Features_FireAdministrator" Title="$(var.FireAdministratorName)" Description="Полная установка" Level="1" Display="expand"
						 ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="yes" Absent="allow" InstallDefault="local">
			<ComponentRef Id="FAExeComponent" />
      <ComponentRef Id="FADevicesModuleComponent" />
			<ComponentRef Id="FAProgramsMenuShortcut" />
			<ComponentRef Id="FADesktopShortcut" />
			<ComponentRef Id="FASvg2xamlFiles" />
			<ComponentRef Id="FAXaml2svgFiles" />
      <ComponentRef Id="FAGKModuleComponent" />
      <ComponentRef Id="FASkudModuleComponent"/>
      <ComponentRef Id="OPCModuleComponent" />
      <ComponentRef Id="FAVideoModuleComponent"/>
		</Feature>
	</Fragment>
</Wix>