<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables_FireAdministrator.wxi?>
  <Fragment>
    
    <Icon Id="FireAdministratorIcon" SourceFile="Data\Administrator.ico"/>
    <util:CloseApplication Id="FACloseAction" CloseMessage="no" Target="$(var.FireAdministrator.TargetFileName)" RebootPrompt="no" />
    
    <DirectoryRef Id="FIREADMINISTRATORLOCATION">
      <Component Id="FAExeComponent" Guid="1225CC6B-DCB0-4AEE-B6DB-A67FAEADDF15">
        <File Id="FAExe" Name="$(var.FireAdministrator.TargetFileName)"
              Source="$(var.FireAdministrator.TargetPath)" DiskId="1" KeyPath="yes">
        </File>
      </Component>
      <Component Id="FAConfigComponent" Guid="9D204DAF-3C42-4D69-98E6-D190E29C9E7A">
        <File Id="FAConfig" Name="FireAdministrator.exe.config" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAPrismDllComponent" Guid="52F0C30C-9BB4-4013-A2B9-2835F2706B3E">
        <File Id="FAPrismDll" Name="Microsoft.Practices.Prism.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAPrismUnityExtensionsComponent" Guid="29CF2942-A8E0-47B0-B10E-6B4E47B0F668">
        <File Id="FAPrismUnityExtensionsDll" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAUnityComponent" Guid="C97976F8-57B4-46CA-91D4-F02C74F980B3">
        <File Id="FAUnityDll" Name="Microsoft.Practices.Unity.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAServiceLocationComponent" Guid="EEDAF197-C871-4392-9F3F-93F3063404A4">
        <File Id="FAServiceLocationDll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAWPFToolkitExtendedComponent" Guid="449EFC14-1C9F-417C-A2F1-421D461A88B4">
        <File Id="FAWPFToolkitExtendedDll" Name="WPFToolkit.Extended.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component> 
      <Component Id="FAU2UConsult" Guid="BC091003-4331-4041-B511-06F704563D5B">
        <File Id="U2UConsult_RichHtmlTextBlock" Name="U2UConsult.RichHtmlTextBlock.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FACommonComponent" Guid="AFF7178D-58C7-46A3-A17F-32109A43C8A6">
        <File Id="FACommonDll" Name="Common.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAControlsComponent" Guid="97FE1DD5-5E42-4747-9E3C-1D0953FAA269">
        <File Id="FAControlsDll" Name="Controls.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FADeviceControlsComponent" Guid="0B461D22-CE8D-4193-9D46-ADFD87316CB7">
        <File Id="FADeviceControlsDll" Name="DeviceControls.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAFiresecAPIComponent" Guid="E752E9C7-BED1-4C5E-9A31-2CF3F8920C1A">
        <File Id="FAFiresecAPIDll" Name="FiresecAPI.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAFiresecClientComponent" Guid="9B747F2E-3F70-4D63-9F36-FEF9048C1F0E">
        <File Id="FAFiresecClientDll" Name="FiresecClient.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FADevicesModuleComponent" Guid="DF052C6C-199B-4F6E-A797-717476572B64">
        <File Id="FADevicesModuleDll" Name="DevicesModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAInfrastructure.CommonComponent" Guid="CA2962A5-1C84-45BC-A55A-2133F9B27B97">
        <File Id="FAInfrastructure.CommonDll" Name="Infrastructure.Common.dll"
              Source="$(var.FireAdministrator.TargetDir)" DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAInfrastructure.ClientComponent" Guid="CA2962A5-1C84-45BC-A55A-2133F9B27B98">
        <File Id="FAInfrastructure.CommonClientDll" Name="Infrastructure.Client.dll"
              Source="$(var.FireAdministrator.TargetDir)" DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAInfrastructureComponent" Guid="23E7ED53-249B-4FDA-B721-5AA4C81B6DAA">
        <File Id="FAInfrastructureDll" Name="Infrastructure.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAInstructionsModuleComponent" Guid="B81E1C15-AD4A-4EC0-B6B5-EC6742851429">
        <File Id="FAInstructionsModuleDll" Name="InstructionsModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FALibraryModuleComponent" Guid="8A74CAEF-54B5-4FB8-8D0E-89C1253F3AC4">
        <File Id="FALibraryModuleDll" Name="LibraryModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAPlansModuleComponent" Guid="A124BA7E-3A23-4F2D-9765-738E1C7FEFAC">
        <File Id="FAPlansModuleDll" Name="PlansModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FASecurityModuleComponent" Guid="AD1E339D-02F6-4363-B89A-67F63A937F43">
        <File Id="FASecurityModuleDll" Name="SecurityModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FASettingsModuleComponent" Guid="AB58F1E0-2971-45E8-9BC5-E02E492B1C57">
        <File Id="FASettingsModuleDll" Name="SettingsModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FASoundsModuleComponent" Guid="2AE3EE35-C1D3-458C-A15B-022B9522B1EB">
        <File Id="FASoundsModuleDll" Name="SoundsModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAFiltersModuleComponent" Guid="5A1BD411-5548-4C3F-99C7-EC3A785CBFC0">
        <File Id="FAFiltersModuleDll" Name="FiltersModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="OPCModuleComponent" Guid="3ECB565D-802D-4A37-83B2-C05AE8774677">
        <File Id="OPCModuleDll" Name="OPCModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <!--<Component Id="FAGroupControllerModuleComponent" Guid="68DE1B95-D3B3-47AD-855B-E11A2BB1D349">
        <File Id="FAGroupControllerModuleDll" Name="GKModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAVideoModuleComponent" Guid="FBA8AC05-19F8-4FD6-826E-AD656C84B801">
        <File Id="FAVideoModuleDll" Name="VideoModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAVlcCoreComponent" Guid="BBB6B974-2CDA-4026-9592-5371C606C258">
        <File Id="FAVlcCoreDll" Name="Vlc.DotNet.Core.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAVlcFormsComponent" Guid="93AE30C7-93DB-49CD-9F11-F229F24549C9">
        <File Id="FAVlcFormsDll" Name="Vlc.DotNet.Forms.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FAVlcInteropsComponent" Guid="43518E85-7C68-4EBD-887E-3D53C1C381B1">
        <File Id="FAVlcInteropsDll" Name="Vlc.DotNet.Core.Interops.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FANLogComponent" Guid="77C3A59F-464F-4052-9A62-7DDB917DBDD6">
        <File Id="FANLogDll" Name="NLog.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <!--<Component Id="FASkudModuleComponent" Guid="05A9A5F1-AB12-4685-A070-F165F1F0B82A">
        <File Id="FASkudModuleDll" Name="SkudModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>-->

      <Component Id="FAManualComponent" Guid="4A21BBFD-9D0D-4AC7-A89F-80759B5FFFC5">
        <File Id="FAManualPDF" Name="Manual.pdf" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FIREADMINISTRATORLOCATION">
      <Component Id="FAVideoModuleComponent" Guid="FBA8AC05-19F8-4FD6-826E-AD656C84B801">
        <File Id="FAVideoModuleDll" Name="VideoModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
        <Condition>VIDEO_MODULE</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FIREADMINISTRATORLOCATION">
      <Component Id="FAGKModuleComponent" Guid="68DE1B95-D3B3-47AD-855B-E11A2BB1D349">
        <File Id="FAGroupControllerModuleDll" Name="GKModule.dll" Source="$(var.FireAdministrator.TargetDir)"
              DiskId="1" KeyPath="yes" />
        <Condition>GK_MODULE</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FireAdmXslFilesFolder">
      <Component Id="XslFiles1" Guid="7D3DEE7F-2E4B-4C4E-8B31-952A85D54538">
        <File Id="svg2xaml.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\svg2xaml.xsl" />
      </Component>
      <Component Id="XslFiles2" Guid="BEDAE21B-CAB3-4CA3-AA3A-2AC39A1ACB0F">
        <File Id="xaml2svg.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg.xsl" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FireAdmXaml2svgFolder">
      <Component Id="XslFiles3" Guid="68C0D8EB-DF2E-4753-BAAF-D1446900FBA6">
        <File Id="animation.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\animation.xsl" />
      </Component>
      <Component Id="XslFiles4" Guid="2BAAB522-3881-4178-94C0-906EBECA9590">
        <File Id="brushes.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\brushes.xsl" />
      </Component>
      <Component Id="XslFiles5" Guid="56732E4B-F6CF-42ED-8F4C-6185B45C5D4E">
        <File Id="canvas.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\canvas.xsl" />
      </Component>
      <Component Id="XslFiles6" Guid="7DAEA7C2-647E-4465-B336-073309C4E37C">
        <File Id="geometry.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\geometry.xsl" />
      </Component>
      <Component Id="XslFiles7" Guid="57C953B7-B2AC-435B-957C-19806DE0503F">
        <File Id="properties.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\properties.xsl" />
      </Component>
      <Component Id="XslFiles8" Guid="1F2E3591-3EBF-44FF-AFED-284880027925">
        <File Id="propertiesMODIF.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\properties-MODIF.xsl" />
      </Component>
      <Component Id="XslFiles9" Guid="C78D8FCA-D78D-4D70-A53E-5DE806A44642">
        <File Id="shapes.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\shapes.xsl" />
      </Component>
      <Component Id="XslFiles10" Guid="33D5811A-AEE1-4FA2-AF4C-87E9FCF50E0E">
        <File Id="transform.xsl" Source="$(var.FireAdministrator.TargetDir)Configuration\XslFiles\xaml2svg\transform.xsl" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>