<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
    <ComponentGroup Id="ServerComponents" Directory="SERVERLOCATION">
			<ComponentRef Id="Server.Files" />
      <ComponentRef Id="Server.DB.Common" />
      <ComponentRef Id="Server.DB" />
      <ComponentRef Id="Server.SecurityConfiguration.xml" />
      <ComponentRef Id="Server.DeviceLibraryConfiguration.xml" />
      <ComponentRef Id="Server.XDeviceLibraryConfiguration.xml" />
      <ComponentRef Id="Server.DriversConfiguration.xml" />
      <ComponentRef Id="Server.Sounds" />
      <ComponentRef Id="Server.SKUD_MODULE" />
			<ComponentRef Id="Server.ProgramsMenuShortcut" />
			<ComponentRef Id="Server.DesktopShortcut" />
			<ComponentRef Id="Server.AutorunComponent" />

      <!--<ComponentRef Id="FiresecNTServiceComponent" />
      <ComponentRef Id="RemoveNTServiceComponent" />-->
    </ComponentGroup>
	</Fragment>
</Wix>