<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<Feature Id="Server.Features" Title="Сервер" Description="Программа установит компоненты для работы службы сервера, в том числе приложение 'Монитор сервера' для настройки и управления службой" Level="1" Display="expand"
					ConfigurableDirectory="SERVERLOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
			<ComponentRef Id="Server.Files" />
			<ComponentRef Id="Server.StrazhService"/>
			<ComponentRef Id="Server.DB.Common" />
			<ComponentRef Id="Server.ChinaSKD" />
			<ComponentRef Id="Server.Config.fscp" />
			<!--<ComponentRef Id="AppData.ServerLocation.Config" />-->
			<ComponentRef Id="Server.AppData.EmptyLocation" />
			<ComponentRef Id="Server.ProgramsMenuShortcut" />
			<ComponentRef Id="AppData.ServerLocation.Sounds" />
			<ComponentRef Id="AppData.Manual_Admin.pdf" />
			<ComponentRef Id="AppData.Manual_User.pdf" />
			<ComponentRef Id="AppData.FiresecLocation.Permissions" />
			<ComponentRef Id="Server.VIDEO_MODULE_DLL" />
			<!-- Включаем файл AppServerSettings.xml в состав инсталлятора -->
			<ComponentRef Id="AppData.AppServerSettings.xml" />
		</Feature>
	</Fragment>
</Wix>