
@{
    Layout = null;
}

<div>
    <table id="jqGridPositionEmployeeList"></table>
</div>

<div class="HrToolbar" data-bind="with: HR.Positions.PositionEmployeeList">
    <div class="icon add" title="Добавить сотрудника" data-bind="click: CanAdd() ? function(data,event) { Add(data, event); } : null, css: {disabled: !CanAdd()}"></div>
    <div class="icon delete" title="Удалить сотрудника" data-bind="click: CanRemove() ? function(data,event) { Remove(data, event); } : null, css: {disabled: !CanRemove()}"></div>
    <div class="icon edit" title="Редактировать сотрудника" data-bind="click: CanEdit() ? function(data,event) { Edit(data, event); } : null, css: {disabled: !CanEdit()}"></div>
</div>
