<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<Feature Id="Administrator.Features" Title="Администратор" Description="Установка приложения Администратор" Level="1" Display="hidden"
				 ConfigurableDirectory="ADMINISTRATORLOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
			<ComponentRef Id="Administrator.Files" />
			<ComponentRef Id="Administrator.svg2xaml" />
			<ComponentRef Id="Administrator.xaml2svg" />
			<ComponentRef Id="Administrator.ProgramsMenuShortcut" />
			<ComponentRef Id="Administrator.DesktopShortcut" />
			<ComponentRef Id="Administrator.Files.dll" />
		</Feature>
	</Fragment>
</Wix>