<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="Administrator.DesktopShortcut" Guid="FE686634-FADD-430e-9967-18C7D8AC1C81">
				<Shortcut Id="Administrator.DesktopShortcut" Name="$(var.AdministratorName)" Target="[ADMINISTRATORLOCATION]$(var.Administrator.TargetFileName)"
						  WorkingDirectory="ADMINISTRATORLOCATION" Description="$(var.AdministratorDescription)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.AdministratorName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_DESKTOP</Condition>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="Administrator.ProgramsMenuShortcut" Guid="F2EEC003-B453-4ad1-95C3-037F49968DE4">
				<Shortcut Id="Administrator.ProgramsMenuShortcut" Name="$(var.AdministratorName)" Target="[ADMINISTRATORLOCATION]$(var.Administrator.TargetFileName)"
						  WorkingDirectory="ADMINISTRATORLOCATION" Description="$(var.AdministratorDescription)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.AdministratorName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_PROGRAMMENU</Condition>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>