<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables_FiresecService.wxi?>
	<Fragment>
		<Feature Id="Features_FiresecService" Title="$(var.FiresecServiceName)" Description="Полная установка" Level="1" Display="expand"
						 ConfigurableDirectory="FIRESECSERVICELOCATION" AllowAdvertise="yes" Absent="allow" InstallDefault="local">
			<ComponentRef Id="MainExe" />
      <ComponentRef Id="FSSKUDComponent" />
      <ComponentRef Id="OPC_Libs_Component" />
			<ComponentRef Id="FiresecServiceProgramsMenuShortcut" />
			<ComponentRef Id="FiresecServiceDesktopShortcut" />
			<ComponentRef Id="FSAutorunComponent" />
      
      <ComponentRef Id="SecurityConfiguration" />
      <ComponentRef Id="DriversConfiguration" />
      <ComponentRef Id="PlansConfiguration" />
      <ComponentRef Id="DeviceConfiguration" />
      <ComponentRef Id="SystemConfiguration" />
      <ComponentRef Id="DeviceLibrary" />
      <ComponentRef Id="FS_Sounds" />

      <!--<ComponentRef Id="FiresecNTServiceComponent" />
      <ComponentRef Id="RemoveNTServiceComponent" />-->
		</Feature>
	</Fragment>
</Wix>