<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables_FiresecService.wxi?>
  <Fragment>
    <Icon Id="FiresecServiceIcon" SourceFile="Data\Server.ico"/>
    <util:CloseApplication Id="FSCloseAction" CloseMessage="yes" Target="$(var.FiresecService.TargetFileName)" RebootPrompt="no" />

    <DirectoryRef Id="FIRESECSERVICELOCATION">
      <Component Id="MainExe" Guid="6A4260FA-49C4-499A-A6B9-508006C2BB3F">
        <File Id="FiresecServiceExe" Name="$(var.FiresecService.TargetFileName)"
              Source="$(var.FiresecService.TargetPath)" DiskId="1" KeyPath="yes">
        </File>
      </Component>

      <Component Id="FiresecServiceConfig" Guid="7B35878D-19EB-4552-BF09-E3D658D34957">
        <File Id="ServiceConfig" Name="FiresecService.exe.config" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="CommonComponent" Guid="5B64430A-2E29-4C73-9C40-4823A9DB5709">
        <File Id="CommonDll" Name="Common.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="ControlsComponent" Guid="0BF89DF2-D693-44C1-9496-F23DC2F40E24">
        <File Id="ControlsDll" Name="Controls.Dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="InfrastructureCommonComponent" Guid="6613AC03-F043-4D1B-8CC8-97EF2954B820">
        <File Id="InfrastructureCommonDll" Name="Infrastructure.Common.Dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FiresecComponent" Guid="41974E04-F90D-4B43-9334-527425544AE8">
        <File Id="FiresecDll" Name="Firesec.Dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
        <File Id="InteropFSTypes" Name="Interop.FS_Types.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1"/>
        <File Id="InteropMscoree" Name="Interop.mscoree.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1"/>
      </Component>

      <Component Id="FiresecAPIComponent" Guid="248BD6FE-8F57-42DF-BAE3-9EFCD5A1CC5A">
        <File Id="FiresecAPIDll" Name="FiresecAPI.Dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="TrayComponent" Guid="DC1F2F70-E55F-497F-B48E-78BBEB1F6F3D">
        <File Id="TrayDll" Name="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes">
        </File>
      </Component>

      <Component Id="FSVlcCoreComponent" Guid="12B7A395-377C-4E53-A4E2-4F8C489F167B">
        <File Id="FSVlcCoreDll" Name="Vlc.DotNet.Core.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FSVlcFormsComponent" Guid="5802377C-0409-4396-A23F-4F67D88E1431">
        <File Id="FSVlcFormsDll" Name="Vlc.DotNet.Forms.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FSVlcDotNetCoreInteropsComponent" Guid="A7042B94-3407-47A2-B557-9D1E9BDBA7A9">
        <File Id="FSVlcDotNetCoreInteropsDll" Name="Vlc.DotNet.Core.Interops.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FSSqlceca35Component" Guid="F3B89EC9-C3D4-4EE9-A3F3-D3554AB3E58E">
        <File Id="FSSqlceca35Dll" Name="sqlceca35.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FSsqlcecompact35Component" Guid="DDCBFC7A-476E-482A-AF4C-BDCF8C8F608B">
        <File Id="FSsqlcecompact35Dll" Name="sqlcecompact35.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FSsqlceer35ENComponent" Guid="0FBE58F0-8452-4E81-B813-A23B59283BED">
        <File Id="FSsqlceer35ENDll" Name="sqlceer35EN.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FSsqlceme35Component" Guid="374DC288-9514-4716-AB06-305D82319902">
        <File Id="FSsqlceme35Dll" Name="sqlceme35.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FSsqlceoledb35Component" Guid="3BF9A184-C1FF-4C54-AA62-58733B9FF1A0">
        <File Id="FSsqlceoledb35Dll" Name="sqlceoledb35.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FSsqlceqp35Component" Guid="804D79C7-F3EA-4D2D-A6A3-E8201BBB16F0">
        <File Id="FSsqlceqp35Dll" Name="sqlceqp35.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FSsqlcese35Component" Guid="D0F9A8B6-9DD6-4886-ACBD-34DF2801301E">
        <File Id="FSsqlcese35Dll" Name="sqlcese35.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FSNLogComponent" Guid="80F88C62-81BB-4635-A7B3-801A92048A0E">
        <File Id="FSNLogDll" Name="NLog.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FSFiresecSDFComponent" Guid="496BE66A-EF29-4076-83BD-CEC3EA2C67A9">
        <File Id="FSFiresecSDF" Name="Firesec.sdf" Source="..\..\..\..\..\Deploy\SqlCE\"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FSSKUDComponent" Guid="EEDB8EE4-BDD6-4C9F-A97C-24BBBC2E9867">
        <File Id="FS.SKUD.dll" Name="FiresecService.SKUD.dll" Source="$(var.FiresecService.TargetDir)"
              DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="Autorun" Guid="A35143F0-4713-4061-BA6F-E94C6FBE458C">
        <RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Action="none">
          <RegistryValue KeyPath="yes" Name="FiresecService" Type="string" Value="[FIRESECSERVICELOCATION]$(var.FiresecService.TargetFileName)" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FiresecServiceConfigFolder">
      <Component Id="SecurityConfiguration" Guid="024037C2-F2FD-4A06-A14B-A23B5179E6DE">
        <File Id="SecurityConfiguration" Name="SecurityConfiguration.xml" Source="$(var.FiresecService.TargetDir)Configuration\"
              DiskId="1" KeyPath="yes">
        </File>
      </Component>
      <Component Id="DeviceLibrary" Guid="DF7CB00D-27E6-49CA-9CCE-B7B822C14B4A">
        <File Id="DeviceLibrary" Name="DeviceLibrary.xml" Source="$(var.FiresecService.TargetDir)Configuration\"
              DiskId="1" KeyPath="yes">
        </File>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>