<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables_FiresecService.wxi?>
	<Fragment>
		<Property Id="FiresecServiceInstallDirId" Value="$(var.FiresecServiceLocationId)" />
		<Property Id="FiresecServiceName" Value="$(var.FiresecService.TargetFileName)" />
		<Property Id="OLDFIRESECFILESDIR" Value="..\..\FiresecBin" />
		<Property Id="IsFiresecServiceRunning"  />
		<Property Id="OLDFIRESECINSTALLDIR">
			<RegistrySearch Id="RegistrySearchShellValue" Type="directory" Root="HKLM" Key="Software\rubezh\FS_Server" Name="Path" />
		</Property>
	</Fragment>
</Wix>