<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportSystem.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11.1;Data Source=WS-SRT01-1370\SQLEXPRESS;Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=SKD" />
    </connectionStrings>
</configuration>