<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Firesec 2" Version="1.0.0.0" Manufacturer='ООО Группа компаний "Рубеж"' UpgradeCode="A6E1029E-EECC-4870-85BC-DF14E97305DC"
       Compressed="no">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication 
        LicenseFile="license.txt"
        LogoFile="bag32.png"
        />
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="MyPackage"/>
    </Chain>

  </Bundle>
  <Fragment>
    <PackageGroup Id="MyPackage">
      <ExePackage SourceFile="..\..\..\..\..\..\3rdParty\VLC\vlc-1.1.3-win32.exe"
                  InstallCommand="/S"/>
      <ExePackage SourceFile="..\..\..\..\..\..\3rdParty\Firesec\Installer\rubezh_firesec_4_6.exe"
                  InstallCommand="/SILENT"
                  />
    </PackageGroup>
  </Fragment>
</Wix>