@{
    ViewBag.Title = "MPTs";
    Layout = null;
}
<div>
<div ng-controller="mptsCtrl">
    <div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-selection style="{{gridStyle}}"></div>
    <div class="report_item_info">
        <div>
            <label>Условие для включения: </label>
            <label ng-bind="selectedRow.onClausesGroup" }></label>
        </div>
        <div>
            <label>Условие для выключения: </label>
            <label ng-bind="selectedRow.offClausesGroup"></label>
        </div>
        <div>
            <label>Условие приостанова пуска: </label>
            <label ng-bind="selectedRow.stopClausesGroup"></label>
        </div>
    </div>
</div>
        <div ng-controller="devicesMPTCtrl">
            <div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-selection style="{{gridStyle}}"></div>
        </div>
</div>