@{
    ViewBag.Title = "MPTs";
    Layout = null;
}
<div ng-controller="mptsCtrl">
    <div style="width:34%; float:left; margin-right:1%">
        <div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-selection ui-grid-save-state ui-grid-resize-columns ui-grid-auto-size-column style="{{gridStyle}}"></div>
    </div>
    <div ng-controller="devicesMPTCtrl" style="width:65%; float: left">
        <div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-selection ui-grid-save-state style="{{gridStyle}}"></div>
    </div>
    <div style="clear: both">
    </div>
    <div>
        <div class="deviceWindow">
            <div class="deviceProperties">
                <div>
                    <span>Условие для включения: </span>
                    <span ng-bind="selectedRow.onClausesGroup" }></span>
                </div>
                <div>
                    <span>Условие для выключения: </span>
                    <span ng-bind="selectedRow.offClausesGroup"></span>
                </div>
                <div>
                    <span>Условие приостанова пуска: </span>
                    <span ng-bind="selectedRow.stopClausesGroup"></span>
                </div>
            </div>
        </div>
    </div>
</div>