@{
    ViewBag.Title = "MPTs";
    Layout = null;
}
<div>
<div ng-controller="mptsCtrl">
    <div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-selection  style=" width: 50%; height: auto;" />
</div>
</div>
<br />
<div>
    <div ng-controller="DevicesMPTCtrl">
        <div ui-grid="uiGrid" style="width: 50%; height: auto;" ></div>
    </div>
</div>