<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables.wxi?>
	<Fragment>
		<DirectoryRef Id="RESURSLOCATION">
			<Component Id="Resurs.Files" Guid="{BD030DB1-2F4D-48CA-875E-1ED05355F52E}">
				<File Id="Resurs.Resurs.exe.config"										Name="Resurs.exe.config"									Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Resurs.exe"											Name="Resurs.exe"											Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.CodeReason.Reports.dll"								Name="CodeReason.Reports.dll"								Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Common.dll"											Name="Common.dll"											Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Controls.dll"											Name="Controls.dll"											Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.DAL.dll"												Name="DAL.dll"												Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.EntityFramework.dll"									Name="EntityFramework.dll"									Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.EntityFramework.MappingAPI.dll"						Name="EntityFramework.MappingAPI.dll"						Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.EntityFramework.SqlServer.dll"							Name="EntityFramework.SqlServer.dll"						Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.RubezhAPI.dll"											Name="RubezhAPI.dll"										Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.RubezhLicense.dll"										Name="RubezhLicense.dll"									Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Infrastructure.Common.dll"								Name="Infrastructure.Common.dll"							Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Infrastructure.Plans.dll"								Name="Infrastructure.Plans.dll"								Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Interop.mscoree.dll"									Name="Interop.mscoree.dll"									Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.itextsharp.dll"										Name="itextsharp.dll"										Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Microsoft.Practices.Prism.dll"							Name="Microsoft.Practices.Prism.dll"						Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Microsoft.Practices.ServiceLocation.dll"				Name="Microsoft.Practices.ServiceLocation.dll"				Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Microsoft.SqlServer.ConnectionInfo.dll"				Name="Microsoft.SqlServer.ConnectionInfo.dll"				Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Microsoft.SqlServer.Management.Sdk.Sfc.dll"			Name="Microsoft.SqlServer.Management.Sdk.Sfc.dll"			Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Microsoft.SqlServer.Smo.dll"							Name="Microsoft.SqlServer.Smo.dll"							Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Microsoft.SqlServer.SqlEnum.dll"						Name="Microsoft.SqlServer.SqlEnum.dll"						Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Mono.Security.dll"										Name="Mono.Security.dll"									Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.NLog.dll"												Name="NLog.dll"												Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Npgsql.dll"											Name="Npgsql.dll"											Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Npgsql.EntityFramework.dll"							Name="Npgsql.EntityFramework.dll"							Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.ResursAPI.dll"											Name="ResursAPI.dll"										Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.System.Windows.Controls.Input.Toolkit.dll"				Name="System.Windows.Controls.Input.Toolkit.dll"			Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.WPFToolkit.dll"										Name="WPFToolkit.dll"										Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.WPFToolkit.Extended.dll"								Name="WPFToolkit.Extended.dll"								Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Xceed.Wpf.AvalonDock.dll"								Name="Xceed.Wpf.AvalonDock.dll"								Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Xceed.Wpf.Toolkit.dll"									Name="Xceed.Wpf.Toolkit.dll"								Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.Resurs.exe.manifest"									Name="Resurs.exe.manifest"									Source="$(var.Resurs.TargetDir)" />
				<File Id="Resurs.DevExpress.Charts.v15.1.Core.dll"						Name="DevExpress.Charts.v15.1.Core.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Data.v15.1.dll"								Name="DevExpress.Data.v15.1.dll"							Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.DataAccess.v15.1.dll"						Name="DevExpress.DataAccess.v15.1.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Mvvm.v15.1.dll"								Name="DevExpress.Mvvm.v15.1.dll"							Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Office.v15.1.Core.dll"						Name="DevExpress.Office.v15.1.Core.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.PivotGrid.v15.1.Core.dll"					Name="DevExpress.PivotGrid.v15.1.Core.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Printing.v15.1.Core.dll"					Name="DevExpress.Printing.v15.1.Core.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.RichEdit.v15.1.Core.dll"					Name="DevExpress.RichEdit.v15.1.Core.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Sparkline.v15.1.Core.dll"					Name="DevExpress.Sparkline.v15.1.Core.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Utils.v15.1.dll"							Name="DevExpress.Utils.v15.1.dll"							Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Utils.v15.1.UI.dll"							Name="DevExpress.Utils.v15.1.UI.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Xpf.Core.v15.1.dll"							Name="DevExpress.Xpf.Core.v15.1.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Xpf.Docking.v15.1.dll"						Name="DevExpress.Xpf.Docking.v15.1.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Xpf.DocumentViewer.v15.1.Core.dll"			Name="DevExpress.Xpf.DocumentViewer.v15.1.Core.dll"			Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Xpf.Printing.v15.1.dll"						Name="DevExpress.Xpf.Printing.v15.1.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Xpf.ReportDesigner.v15.1.dll"				Name="DevExpress.Xpf.ReportDesigner.v15.1.dll"				Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Xpf.Ribbon.v15.1.dll"						Name="DevExpress.Xpf.Ribbon.v15.1.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.Xpf.WpfReportDesigner.v15.1.dll"			Name="DevExpress.Xpf.WpfReportDesigner.v15.1.dll"			Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraCharts.v15.1.dll"						Name="DevExpress.XtraCharts.v15.1.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraEditors.v15.1.dll"						Name="DevExpress.XtraEditors.v15.1.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraGauges.v15.1.Core.dll"					Name="DevExpress.XtraGauges.v15.1.Core.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraPivotGrid.v15.1.dll"					Name="DevExpress.XtraPivotGrid.v15.1.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraPrinting.v15.1.dll"						Name="DevExpress.XtraPrinting.v15.1.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraReports.v15.1.dll"						Name="DevExpress.XtraReports.v15.1.dll"						Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraReports.v15.1.Extensions.dll"			Name="DevExpress.XtraReports.v15.1.Extensions.dll"			Source="$(var.Resurs.DevExpress.TargetDir)" />
				<File Id="Resurs.DevExpress.XtraRichEdit.v15.1.dll"						Name="DevExpress.XtraRichEdit.v15.1.dll"					Source="$(var.Resurs.DevExpress.TargetDir)" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Resurs.DIR.DLL.de">
			<Component Id="Resurs.DLL.de" Guid="{5AB0BDF2-EDEF-4D20-81BD-49226BDB617D}">
				<File Id="Npgsql.resources.dll.de" Name="Npgsql.resources.dll" Source="$(var.Resurs.TargetDir)de\Npgsql.resources.dll" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Resurs.DIR.DLL.es">
			<Component Id="Resurs.DLL.es" Guid="{2B0FD44F-A754-4502-AB72-D96962244234}">
				<File Id="Npgsql.resources.dll.es" Name="Npgsql.resources.dll" Source="$(var.Resurs.TargetDir)es\Npgsql.resources.dll" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Resurs.DIR.DLL.fi">
			<Component Id="Resurs.DLL.fi" Guid="{DD6B0731-9150-41AC-871B-781FDF9B54FF}">
				<File Id="Npgsql.resources.dll.fi" Name="Npgsql.resources.dll" Source="$(var.Resurs.TargetDir)fi\Npgsql.resources.dll" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Resurs.DIR.DLL.fr">
			<Component Id="Resurs.DLL.fr" Guid="{A52018AB-5FD7-4844-A2CE-D8C355BBABBE}">
				<File Id="Npgsql.resources.dll.fr" Name="Npgsql.resources.dll" Source="$(var.Resurs.TargetDir)fr\Npgsql.resources.dll" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Resurs.DIR.DLL.ja">
			<Component Id="Resurs.DLL.ja" Guid="{63C9CE0D-123E-499C-9C45-30CCE373118F}">
				<File Id="Npgsql.resources.dll.ja" Name="Npgsql.resources.dll" Source="$(var.Resurs.TargetDir)ja\Npgsql.resources.dll" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Resurs.DIR.DLL.zhCN">
			<Component Id="Resurs.DLL.zhCN" Guid="{3AC0A2CC-5A80-44FB-A960-54C580252133}">
				<File Id="Npgsql.resources.dll.zhCN" Name="Npgsql.resources.dll" Source="$(var.Resurs.TargetDir)zh-CN\Npgsql.resources.dll" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Resurs.DIR.DLL.ru">
			<Component Id="Resurs.DLL.ru" Guid="{44B37CDE-CB06-4C76-BD19-A29C0029A755}">
				<File Id="Resurs.DevExpress.DataAccess.v15.1.resources.dll"					Name="DevExpress.DataAccess.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Office.v15.1.Core.resources.dll"				Name="DevExpress.Office.v15.1.Core.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.PivotGrid.v15.1.Core.resources.dll"				Name="DevExpress.PivotGrid.v15.1.Core.resources.dll"			Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Printing.v15.1.Core.resources.dll"				Name="DevExpress.Printing.v15.1.Core.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.RichEdit.v15.1.Core.resources.dll"				Name="DevExpress.RichEdit.v15.1.Core.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Sparkline.v15.1.Core.resources.dll"				Name="DevExpress.Sparkline.v15.1.Core.resources.dll"			Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Utils.v15.1.resources.dll"						Name="DevExpress.Utils.v15.1.resources.dll"						Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Utils.v15.1.UI.resources.dll"					Name="DevExpress.Utils.v15.1.UI.resources.dll"					Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Xpf.Core.v15.1.resources.dll"					Name="DevExpress.Xpf.Core.v15.1.resources.dll"					Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Xpf.Docking.v15.1.resources.dll"				Name="DevExpress.Xpf.Docking.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Xpf.DocumentViewer.v15.1.Core.resources.dll"	Name="DevExpress.Xpf.DocumentViewer.v15.1.Core.resources.dll"	Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Xpf.Printing.v15.1.resources.dll"				Name="DevExpress.Xpf.Printing.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Xpf.ReportDesigner.v15.1.resources.dll"			Name="DevExpress.Xpf.ReportDesigner.v15.1.resources.dll"		Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.Xpf.Ribbon.v15.1.resources.dll"					Name="DevExpress.Xpf.Ribbon.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraCharts.v15.1.resources.dll"					Name="DevExpress.XtraCharts.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraEditors.v15.1.resources.dll"				Name="DevExpress.XtraEditors.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraGauges.v15.1.Core.resources.dll"			Name="DevExpress.XtraGauges.v15.1.Core.resources.dll"			Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraPivotGrid.v15.1.resources.dll"				Name="DevExpress.XtraPivotGrid.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraPrinting.v15.1.resources.dll"				Name="DevExpress.XtraPrinting.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraReports.v15.1.resources.dll"				Name="DevExpress.XtraReports.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraReports.v15.1.Extensions.resources.dll"		Name="DevExpress.XtraReports.v15.1.Extensions.resources.dll"	Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
				<File Id="Resurs.DevExpress.XtraRichEdit.v15.1.resources.dll"				Name="DevExpress.XtraRichEdit.v15.1.resources.dll"				Source="$(var.Resurs.DevExpress.TargetDir)ru\" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>