<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Icon Id="Resurs.Icon" SourceFile="Data\Resurs.ico"/>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="Resurs.DesktopShortcut" Guid="{1A9B7833-ACE0-4991-B1FD-198780A0FAED}">
        <Shortcut Id="Resurs.DesktopShortcut" Name="$(var.ResursName)" Target="[RESURSLOCATION]Resurs.exe"
						WorkingDirectory="RESURSLOCATION" Description="$(var.ResursDescription)" Icon="Resurs.Icon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.ResursName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_DESKTOP</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="Resurs.ProgramsMenuShortcut" Guid="{9429541A-EC6C-4B30-9DC7-BC0C60F7D39E}">
        <Shortcut Id="Resurs.ProgramsMenuShortcut" Name="$(var.ResursName)" Target="[RESURSLOCATION]Resurs.exe"
				    WorkingDirectory="RESURSLOCATION" Description="$(var.ResursDescription)" Icon="Resurs.Icon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.ResursName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_PROGRAMMENU</Condition>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>