<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <!--<DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Administrator.Remove" Guid="4B74C764-092A-4BD3-A51F-15FC8471EE63">
        <CreateFolder Directory="INSTALLLOCATION" />
        <RemoveFile Id="Administrator.SoundsFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Administrator.SoundsFolder" />
        <RemoveFolder Id="Administrator.SoundsFolder.RemoveFolder" On="uninstall" Directory="Administrator.SoundsFolder" />
        <RemoveFile Id="Administrator.Xaml2svgFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Administrator.Xaml2svgFolder" />
        <RemoveFolder Id="Administrator.Xaml2svgFolder.RemoveFolder" On="uninstall" Directory="Administrator.Xaml2svgFolder" />
        <RemoveFile Id="Administrator.XslFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Administrator.XslFolder" />
        <RemoveFolder Id="Administrator.XslFolder.RemoveFolder" On="uninstall" Directory="Administrator.XslFolder" />
        <RemoveFolder Id="Administrator.ConfigFolder.RemoveFolder" On="uninstall" Directory="Administrator.ConfigFolder" />
        <RemoveFile Id="Administrator.LogsFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Administrator.LogsFolder" />
        <RemoveFolder Id="Administrator.LogsFolder.RemoveFolder" On="uninstall" Directory="Administrator.LogsFolder" />
        <RemoveFile Id="Administrator.RemoveFiles" On="uninstall" Name="*.*" Directory="ADMINISTRATORLOCATION" />
        <RemoveFolder Id="Administrator.RemoveFolder" On="uninstall" Directory="ADMINISTRATORLOCATION" />
      </Component>
    </DirectoryRef>-->
	</Fragment>
</Wix>