USE master
GO
IF EXISTS(SELECT name FROM sys.databases WHERE name = 'SKD')
BEGIN
SET NOEXEC ON
END
GO
CREATE DATABASE SKD
GO
USE SKD

SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

SET ANSI_PADDING ON

-- ============================================================================
-- Пользовательские типы данных
-- ============================================================================
CREATE TYPE SqlTime FROM DATETIME

CREATE TYPE SqlDate FROM DATETIME
GO
CREATE RULE TimeOnlyRule AS
datediff(dd, 0, @DateTime) = 0
GO
CREATE RULE DateOnlyRule AS
dateAdd(dd, datediff(dd,0,@DateTime), 0) = @DateTime
GO
EXEC sp_bindrule 'TimeOnlyRule', 'SqlTime'
EXEC sp_bindrule 'DateOnlyRule', 'SqlDate'
GO

-- ============================================================================
-- Хранимые процедуры
-- ============================================================================
CREATE PROCEDURE [dbo].[DropColumnDefaultConstraint]
(
	@tableName VARCHAR(MAX),
	@columnName VARCHAR(MAX)
)
AS
BEGIN
DECLARE @ConstraintName nvarchar(200)
SELECT @ConstraintName = Name 
FROM SYS.DEFAULT_CONSTRAINTS
WHERE PARENT_OBJECT_ID = OBJECT_ID(@tableName) 
AND PARENT_COLUMN_ID = (
    SELECT column_id FROM sys.columns
    WHERE NAME = @columnName AND object_id = OBJECT_ID(@tableName))
IF @ConstraintName IS NOT NULL
    EXEC('ALTER TABLE '+@tableName+' DROP CONSTRAINT ' + @ConstraintName)
END
GO

-- ============================================================================
-- Таблицы
-- ============================================================================
CREATE TABLE [dbo].[Attachment](
	[UID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Photo](
[UID] [uniqueidentifier] NOT NULL,
[Data] [varbinary](MAX) NULL,
CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

CREATE TABLE [dbo].[AdditionalColumnType](
[UID] [uniqueidentifier] NOT NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[Name] [nvarchar](50) NULL,
[Description] [nvarchar](max) NULL,
[DataType] [int] NULL,
[PersonType] [int],
[OrganisationUID] [uniqueidentifier] NULL,
[IsInGrid] [bit] NOT NULL,
CONSTRAINT [PK_AdditionalColumnType] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

CREATE TABLE [dbo].[AdditionalColumn](
[UID] [uniqueidentifier] NOT NULL,
[EmployeeUID] [uniqueidentifier] NULL,
[AdditionalColumnTypeUID] [uniqueidentifier] NULL,
[TextData] [text] NULL,
[PhotoUID] [uniqueidentifier] NULL,
CONSTRAINT [PK_AdditionalColumn] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

CREATE TABLE [dbo].[ScheduleDay](
[UID] [uniqueidentifier] NOT NULL,
[DayIntervalUID] [uniqueidentifier] NULL,
[ScheduleSchemeUID] [uniqueidentifier] NOT NULL,
[Number] [int] NOT NULL,
CONSTRAINT [PK_ScheduleDay] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Department](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NULL,
[Description] [nvarchar](max) NULL,
[PhotoUID] [uniqueidentifier] NULL,
[ParentDepartmentUID] [uniqueidentifier] NULL,
[ContactEmployeeUID] [uniqueidentifier] NULL,
[AttendantUID] [uniqueidentifier] NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL ,
[OrganisationUID] [uniqueidentifier] NULL,
[ChiefUID] [uniqueidentifier] NOT NULL CONSTRAINT "Department_Chief_Default_Name" DEFAULT '00000000-0000-0000-0000-000000000000',
Phone nvarchar(50) NULL,
ExternalKey nvarchar(40) NOT NULL DEFAULT '-1'
CONSTRAINT [PK_Department_1] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Employee](
[UID] [uniqueidentifier] NOT NULL,
FirstName [nvarchar](50) NULL,
SecondName [nvarchar](50) NULL,
LastName [nvarchar](50) NULL,
PhotoUID [uniqueidentifier] NULL,
PositionUID [uniqueidentifier] NULL,
DepartmentUID [uniqueidentifier] NULL,
ScheduleUID [uniqueidentifier] NULL,
ScheduleStartDate [datetime] NOT NULL,
[Type] [int] NULL,
TabelNo [nvarchar](40) NULL,
CredentialsStartDate [datetime] NOT NULL,
EscortUID [uniqueidentifier] NULL,
IsDeleted [bit] NOT NULL,
RemovalDate [datetime] NOT NULL,
OrganisationUID [uniqueidentifier] NULL,
DocumentNumber [nvarchar](50),
BirthDate [datetime] NULL,
BirthPlace [nvarchar](MAX),
DocumentGivenDate [datetime] NULL,
DocumentGivenBy [nvarchar](MAX),
DocumentValidTo [datetime] NULL,
Gender [int] NULL,
DocumentDepartmentCode nvarchar(50),
Citizenship [nvarchar](MAX),
DocumentType [int] NULL,
Phone [nvarchar](50) NULL,
[Description] [nvarchar](max) NULL,
LastEmployeeDayUpdate datetime NOT NULL CONSTRAINT "Schedule_LastEmployeeDayUpdate_Default" DEFAULT '1900-01-01 00:00:00.000',
ExternalKey nvarchar(40) NOT NULL DEFAULT '-1'
CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Holiday](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NOT NULL,
[Type] [int] NOT NULL,
[Date] [datetime] NOT NULL,
[TransferDate] [datetime] NULL,
[Reduction] [int] NOT NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
CONSTRAINT [PK_Holiday] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].DayIntervalPart(
[BeginTime] [int] NOT NULL,
[EndTime] [int] NOT NULL,
[UID] [uniqueidentifier] NOT NULL,
[DayIntervalUID] [uniqueidentifier] NOT NULL,
CONSTRAINT [PK_DayIntervalPart] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[DayInterval](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NOT NULL,
[Description] [nvarchar](max) NULL,
[SlideTime] [int] NOT NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
CONSTRAINT [PK_DayInterval] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Position](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NULL,
[Description] [nvarchar](max) NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
[PhotoUID] [uniqueidentifier] NULL,
ExternalKey nvarchar(40) NOT NULL DEFAULT -1
CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Schedule](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NOT NULL,
[ScheduleSchemeUID] [uniqueidentifier] NULL,
[IsIgnoreHoliday] [bit] NOT NULL CONSTRAINT "Schedule_IsIgnoreHoliday_Default" DEFAULT 0,
[IsOnlyFirstEnter] [bit] NOT NULL CONSTRAINT "Schedule_IsOnlyFirstEnter_Default" DEFAULT 0,
[AllowedLate] [int] NOT NULL CONSTRAINT "Schedule_AllowedLate_Default" DEFAULT 0,
[AllowedEarlyLeave] [int] NOT NULL CONSTRAINT "Schedule_AllowedEarlyLeave_Default" DEFAULT 0,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
[AllowedAbsentLowThan] [int] NOT NULL,
[NotAllowOvertimeLowerThan] [int] NOT NULL,
[IsEnabledAllowLate] [bit] NOT NULL,
[IsEnabledAllowEarlyLeave] [bit] NOT NULL,
[IsAllowAbsent] [bit] NOT NULL,
[IsEnabledOvertime] [bit] NOT NULL,
CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[ScheduleScheme](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NOT NULL,
[Type] [int] NOT NULL,
[Description] [nvarchar](max) NULL,
[DaysCount] [int] NOT NULL CONSTRAINT "ScheduleScheme_DaysCount_Default" DEFAULT 0,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
CONSTRAINT [PK_ScheduleScheme] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Card](
[UID] [uniqueidentifier] NOT NULL,
[Number] [int] NOT NULL,
[EmployeeUID] [uniqueidentifier] NULL,
[AccessTemplateUID] [uniqueidentifier] NULL,
[CardType] [int] NULL,
[StartDate] [datetime] NOT NULL,
[EndDate] [datetime] NOT NULL,
[IsInStopList] [bit] NOT NULL,
[StopReason] [text] NULL,
PassCardTemplateUID [uniqueidentifier] NULL,
[Password] [nvarchar](50) NULL,
DeactivationControllerUID [uniqueidentifier] NULL,
[UserTime] [int] NOT NULL,
[IsHandicappedCard] [bit] NOT NULL,
ExternalKey nvarchar(40) NOT NULL DEFAULT '-1',
CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[PendingCard](
[UID] [uniqueidentifier] NOT NULL,
[CardUID] [uniqueidentifier] NOT NULL,
[ControllerUID] [uniqueidentifier] NOT NULL,
[Action] [int] NOT NULL,
CONSTRAINT [PK_PendingCard] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[CardDoor](
[UID] [uniqueidentifier] NOT NULL,
[DoorUID] [uniqueidentifier] NOT NULL,
[CardUID] [uniqueidentifier] NULL,
[AccessTemplateUID] [uniqueidentifier] NULL,
[EnterScheduleNo] [int] NOT NULL,
CONSTRAINT [PK_CardDoor] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[AccessTemplate](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NULL,
[Description] [nvarchar](max) NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
CONSTRAINT [PK_AccessTemplate] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[ScheduleZone](
[UID] [uniqueidentifier] NOT NULL,
[ZoneUID] [uniqueidentifier] NOT NULL CONSTRAINT "ScheduleZone_ZoneUID_Default" DEFAULT '00000000-0000-0000-0000-000000000000',
[DoorUID] [uniqueidentifier] NOT NULL CONSTRAINT "ScheduleZone_DoorUID_Default" DEFAULT '00000000-0000-0000-0000-000000000000',
[ScheduleUID] [uniqueidentifier] NOT NULL,
CONSTRAINT [PK_ScheduleZone] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[TimeTrackDocument](
[UID] [uniqueidentifier] NOT NULL,
[EmployeeUID] [uniqueidentifier] NOT NULL,
[StartDateTime] [datetime] NOT NULL,
[EndDateTime] [datetime] NOT NULL,
[DocumentCode] [int] NOT NULL,
[Comment] [nvarchar](100) NULL,
[FileName] [nvarchar](100) NULL,
[DocumentDateTime] [datetime] NOT NULL,
[DocumentNumber] [int] NOT NULL,
[IsOutside] [bit] NOT NULL,
CONSTRAINT [PK_TimeTrackDocument] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[Organisation](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NULL,
[Description] [nvarchar](max) NULL,
[PhotoUID] [uniqueidentifier] NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[ChiefUID] [uniqueidentifier] NOT NULL CONSTRAINT "Organisation_ChiefUID_Default" DEFAULT '00000000-0000-0000-0000-000000000000',
[HRChiefUID] [uniqueidentifier] NOT NULL CONSTRAINT "Organisation_HRChiefUID_Default" DEFAULT '00000000-0000-0000-0000-000000000000',
Phone nvarchar(50) NULL,
ExternalKey nvarchar(40) NOT NULL DEFAULT '-1'
CONSTRAINT [PK_Organisation] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[OrganisationUser](
[UID] [uniqueidentifier] NOT NULL,
[UserUID] [uniqueidentifier] NOT NULL,
[OrganisationUID] [uniqueidentifier] NOT NULL,
CONSTRAINT [PK_OrganisationUser] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[OrganisationDoor](
[UID] [uniqueidentifier] NOT NULL,
[DoorUID] [uniqueidentifier] NOT NULL,
[OrganisationUID] [uniqueidentifier] NOT NULL,
CONSTRAINT [PK_OrganisationDoor] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE NightSettings(
[UID] [uniqueidentifier] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
[NightStartTime] [bigint] NOT NULL,
[NightEndTime] [bigint] NOT NULL,
[IsNightSettingsEnabled] [bit] NOT NULL,
CONSTRAINT [PK_NightSettings] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[TimeTrackDocumentType](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](max) NOT NULL,
[ShortName] [nvarchar](10) NOT NULL,
[DocumentCode] [int] NOT NULL,
[DocumentType] [int] NOT NULL,
[OrganisationUID] [uniqueidentifier] NOT NULL,
[IsSystem] [bit] NOT NULL
CONSTRAINT [PK_TimeTrackDocumentType] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

CREATE TABLE [dbo].[PassCardTemplate](
[UID] [uniqueidentifier] NOT NULL,
[Name] [nvarchar](50) NULL,
[Description] [nvarchar](max) NULL,
[IsDeleted] [bit] NOT NULL,
[RemovalDate] [datetime] NOT NULL,
[OrganisationUID] [uniqueidentifier] NULL,
[Data] [varbinary](max) NULL,
CONSTRAINT [PK_PassCardTemplate] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[TimeTrackException](
[UID] [uniqueidentifier] NOT NULL,
[EmployeeUID] [uniqueidentifier] NOT NULL,
[StartDateTime] [datetime] NOT NULL,
[EndDateTime] [datetime] NOT NULL,
[DocumentType] [int] NOT NULL,
[Comment] [nvarchar](100) NULL,
CONSTRAINT [PK_TimeTrackException] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[JournalMetadata](
[UID] [uniqueidentifier] NOT NULL,
[No] [int] NOT NULL,
[StartDateTime] [datetime] NOT NULL,
[EndDateTime] [datetime] NOT NULL,
CONSTRAINT [PK_JournalMetadata] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[PassJournalMetadata](
[UID] [uniqueidentifier] NOT NULL,
[No] [int] NOT NULL,
[StartDateTime] [datetime] NOT NULL,
[EndDateTime] [datetime] NOT NULL,
CONSTRAINT [PK_PassJournalMetadata] PRIMARY KEY CLUSTERED
(
[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE Patches (Id nvarchar(100) not null)
CREATE INDEX DayIntervalPartUIDIndex ON [dbo].[DayIntervalPart]([UID])
CREATE INDEX DayIntervalUIDIndex ON DayInterval([UID])
CREATE INDEX ScheduleDayUIDIndex ON [ScheduleDay]([UID])
CREATE INDEX ScheduleSchemeUIDIndex ON ScheduleScheme([UID])
CREATE INDEX ScheduleUIDIndex ON Schedule([UID])
CREATE INDEX AdditionalColumnUIDIndex ON AdditionalColumn([UID])
CREATE INDEX AdditionalColumnTypeUIDIndex ON AdditionalColumnType([UID])
CREATE INDEX PositionUIDIndex ON Position([UID])
CREATE INDEX EmployeeUIDIndex ON Employee([UID])
CREATE INDEX DepartmentUIDIndex ON Department([UID])
CREATE INDEX HolidayUIDIndex ON Holiday([UID])
CREATE INDEX CardUIDIndex ON Card([UID])
CREATE INDEX CardDoorUIDIndex ON CardDoor([UID])
CREATE INDEX ScheduleZoneUIDIndex ON ScheduleZone([UID])
CREATE INDEX OrganisationUIDIndex ON Organisation([UID])
CREATE INDEX PhotoUIDIndex ON Photo([UID])
CREATE INDEX NightSettingsUIDIndex ON NightSettings([UID])
CREATE INDEX TimeTrackDocumentTypeUIDIndex ON TimeTrackDocumentType([UID])
CREATE INDEX PassCardTemplateUIDIndex ON PassCardTemplate([UID])
CREATE INDEX AccessTemplateUIDIndex ON AccessTemplate([UID])
CREATE INDEX AdditionalColumnTypeOrgUIDIndex ON AdditionalColumnType([OrganisationUID])
CREATE INDEX DepartmentOrgUIDIndex ON Department([OrganisationUID])
CREATE INDEX EmployeeOrgUIDIndex ON Employee([OrganisationUID])
CREATE INDEX HolidayOrgUIDIndex ON Holiday([OrganisationUID])
CREATE INDEX DayIntervalOrgUIDIndex ON DayInterval([OrganisationUID])
CREATE INDEX PositionOrgUIDIndex ON Position([OrganisationUID])
CREATE INDEX ScheduleOrgUIDIndex ON Schedule([OrganisationUID])
CREATE INDEX ScheduleSchemeOrgUIDIndex ON ScheduleScheme([OrganisationUID])
CREATE INDEX CardOrgUIDIndex ON Card([EmployeeUID])
CREATE INDEX AccessTemplateOrgUIDIndex ON AccessTemplate([OrganisationUID])
CREATE INDEX PassCardTemplateOrgUIDIndex ON PassCardTemplate([OrganisationUID])
CREATE INDEX EmployeeDeptUIDIndex ON Employee([DepartmentUID])
CREATE INDEX EmployeePosUIDIndex ON Employee([PositionUID])

ALTER TABLE [dbo].[AdditionalColumn] WITH NOCHECK ADD CONSTRAINT [FK_AdditionalColumn_Employee] FOREIGN KEY([EmployeeUID])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[AdditionalColumn] NOCHECK CONSTRAINT [FK_AdditionalColumn_Employee]

ALTER TABLE [dbo].[AdditionalColumn] WITH NOCHECK ADD CONSTRAINT [FK_AdditionalColumn_AdditionalColumnType] FOREIGN KEY([AdditionalColumnTypeUID])
REFERENCES [dbo].[AdditionalColumnType] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[AdditionalColumn] NOCHECK CONSTRAINT [FK_AdditionalColumn_AdditionalColumnType]

ALTER TABLE [dbo].[ScheduleDay] WITH NOCHECK ADD CONSTRAINT [FK_ScheduleDay_DayInterval] FOREIGN KEY([DayIntervalUid])
REFERENCES [dbo].[DayInterval] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[ScheduleDay] NOCHECK CONSTRAINT [FK_ScheduleDay_DayInterval]

ALTER TABLE [dbo].[ScheduleDay] WITH NOCHECK ADD CONSTRAINT [FK_ScheduleDay_ScheduleScheme] FOREIGN KEY([ScheduleSchemeUid])
REFERENCES [dbo].[ScheduleScheme] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[ScheduleDay] NOCHECK CONSTRAINT [FK_ScheduleDay_ScheduleScheme]

ALTER TABLE [dbo].[Department] WITH NOCHECK ADD CONSTRAINT [FK_Department_Department1] FOREIGN KEY([ParentDepartmentUid])
REFERENCES [dbo].[Department] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Department] NOCHECK CONSTRAINT [FK_Department_Department1]

ALTER TABLE [dbo].[Employee] WITH NOCHECK ADD CONSTRAINT [FK_Employee_Department1] FOREIGN KEY([DepartmentUid])
REFERENCES [dbo].[Department] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Employee] NOCHECK CONSTRAINT [FK_Employee_Department1]

ALTER TABLE [dbo].[Department] WITH NOCHECK ADD CONSTRAINT [FK_Department_Photo] FOREIGN KEY([PhotoUID])
REFERENCES [dbo].[Photo] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Department] NOCHECK CONSTRAINT [FK_Department_Photo]

ALTER TABLE [dbo].[Employee] WITH NOCHECK ADD CONSTRAINT [FK_Employee_Position] FOREIGN KEY([PositionUid])
REFERENCES [dbo].[Position] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Employee] NOCHECK CONSTRAINT [FK_Employee_Position]

ALTER TABLE [dbo].[Employee] WITH NOCHECK ADD CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([EscortUID])
REFERENCES [dbo].Employee([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Employee] NOCHECK CONSTRAINT [FK_Employee_Employee]

ALTER TABLE [dbo].[Employee] WITH NOCHECK ADD CONSTRAINT [FK_Employee_Schedule] FOREIGN KEY([ScheduleUid])
REFERENCES [dbo].[Schedule] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Employee] NOCHECK CONSTRAINT [FK_Employee_Schedule]

ALTER TABLE [dbo].[Employee] WITH NOCHECK ADD CONSTRAINT [FK_Employee_Photo] FOREIGN KEY([PhotoUID])
REFERENCES [dbo].[Photo] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Employee] NOCHECK CONSTRAINT [FK_Employee_Photo]

ALTER TABLE [dbo].[Position] WITH NOCHECK ADD CONSTRAINT [FK_Position_Photo] FOREIGN KEY([PhotoUID])
REFERENCES [dbo].[Photo] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Position] NOCHECK CONSTRAINT [FK_Position_Photo]

ALTER TABLE [dbo].[DayIntervalPart] WITH NOCHECK ADD CONSTRAINT [FK_DayIntervalPart_DayInterval1] FOREIGN KEY([DayIntervalUid])
REFERENCES [dbo].[DayInterval] ([Uid])
ON UPDATE CASCADE
ON DELETE CASCADE
NOT FOR REPLICATION
ALTER TABLE [dbo].[DayIntervalPart] NOCHECK CONSTRAINT [FK_DayIntervalPart_DayInterval1]

ALTER TABLE [dbo].[ScheduleZone] WITH NOCHECK ADD CONSTRAINT [FK_ScheduleZone_Schedule] FOREIGN KEY([ScheduleUid])
REFERENCES [dbo].[Schedule] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[ScheduleZone] NOCHECK CONSTRAINT [FK_ScheduleZone_Schedule]

ALTER TABLE [dbo].[Schedule] WITH NOCHECK ADD CONSTRAINT [FK_Schedule_ScheduleScheme] FOREIGN KEY([ScheduleSchemeUid])
REFERENCES [dbo].[ScheduleScheme] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Schedule] NOCHECK CONSTRAINT [FK_Schedule_ScheduleScheme]

ALTER TABLE [dbo].[Department] WITH NOCHECK ADD CONSTRAINT [FK_Department_Employee1] FOREIGN KEY([ContactEmployeeUid])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Department] NOCHECK CONSTRAINT [FK_Department_Employee1]

ALTER TABLE [dbo].[Department] WITH NOCHECK ADD CONSTRAINT [FK_Department_Employee2] FOREIGN KEY([AttendantUid])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Department] NOCHECK CONSTRAINT [FK_Department_Employee2]

ALTER TABLE [dbo].[Card] WITH NOCHECK ADD CONSTRAINT [FK_Card_Employee] FOREIGN KEY([EmployeeUid])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Card] NOCHECK CONSTRAINT [FK_Card_Employee]

ALTER TABLE [dbo].[PendingCard] WITH NOCHECK ADD  CONSTRAINT [FK_PendingCard_Card] FOREIGN KEY([CardUid])
REFERENCES [dbo].[Card] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[PendingCard] NOCHECK CONSTRAINT [FK_PendingCard_Card]

ALTER TABLE [dbo].[Card] WITH NOCHECK ADD CONSTRAINT [FK_Card_AccessTemplate] FOREIGN KEY([AccessTemplateUid])
REFERENCES [dbo].[AccessTemplate] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Card] NOCHECK CONSTRAINT [FK_Card_AccessTemplate]

ALTER TABLE [dbo].[CardDoor] WITH NOCHECK ADD CONSTRAINT [FK_CardDoor_Card] FOREIGN KEY([CardUid])
REFERENCES [dbo].[Card] ([Uid])
ON DELETE CASCADE
NOT FOR REPLICATION

ALTER TABLE [dbo].[CardDoor] WITH NOCHECK ADD CONSTRAINT [FK_CardDoor_AccessTemplate] FOREIGN KEY([AccessTemplateUid])
REFERENCES [dbo].[AccessTemplate] ([Uid])
ON DELETE CASCADE
NOT FOR REPLICATION
ALTER TABLE [dbo].[CardDoor] NOCHECK CONSTRAINT [FK_CardDoor_AccessTemplate]

ALTER TABLE [dbo].[AdditionalColumnType] WITH NOCHECK ADD CONSTRAINT [FK_AdditionalColumnType_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION

ALTER TABLE [dbo].[Department] WITH NOCHECK ADD CONSTRAINT [FK_Department_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Department] NOCHECK CONSTRAINT [FK_Department_Organisation]

ALTER TABLE [dbo].[Schedule] WITH NOCHECK ADD CONSTRAINT [FK_Schedule_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Schedule] NOCHECK CONSTRAINT [FK_Schedule_Organisation]

ALTER TABLE [dbo].[Organisation] WITH NOCHECK ADD  CONSTRAINT [FK_Organisation_Photo] FOREIGN KEY([PhotoUID])
REFERENCES [dbo].[Photo] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Organisation] NOCHECK CONSTRAINT [FK_Organisation_Photo]

ALTER TABLE [dbo].[ScheduleScheme] WITH NOCHECK ADD CONSTRAINT [FK_ScheduleScheme_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[ScheduleScheme] NOCHECK CONSTRAINT [FK_ScheduleScheme_Organisation]

ALTER TABLE [dbo].[Position] WITH NOCHECK ADD CONSTRAINT [FK_Position_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Position] NOCHECK CONSTRAINT [FK_Position_Organisation]

ALTER TABLE [dbo].[DayInterval] WITH NOCHECK ADD CONSTRAINT [FK_DayInterval_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[DayInterval] NOCHECK CONSTRAINT [FK_DayInterval_Organisation]

ALTER TABLE [dbo].[Holiday] WITH NOCHECK ADD CONSTRAINT [FK_Holiday_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Holiday] NOCHECK CONSTRAINT [FK_Holiday_Organisation]

ALTER TABLE [dbo].[Employee] WITH NOCHECK ADD CONSTRAINT [FK_Employee_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[Employee] NOCHECK CONSTRAINT [FK_Employee_Organisation]

ALTER TABLE [dbo].[AccessTemplate] WITH NOCHECK ADD CONSTRAINT [FK_AccessTemplate_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[AccessTemplate] NOCHECK CONSTRAINT [FK_AccessTemplate_Organisation]

ALTER TABLE [dbo].[OrganisationDoor] WITH NOCHECK ADD CONSTRAINT [FK_OrganisationDoor_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[OrganisationDoor] NOCHECK CONSTRAINT [FK_OrganisationDoor_Organisation]

ALTER TABLE [dbo].[OrganisationUser] WITH NOCHECK ADD CONSTRAINT [FK_OrganisationUser_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[OrganisationUser] NOCHECK CONSTRAINT [FK_OrganisationUser_Organisation]

ALTER TABLE [dbo].[AdditionalColumn] WITH NOCHECK ADD  CONSTRAINT [FK_AdditionalColumn_Photo] FOREIGN KEY([PhotoUID])
REFERENCES [dbo].[Photo] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[AdditionalColumn] NOCHECK CONSTRAINT [FK_AdditionalColumn_Photo]

ALTER TABLE [dbo].[TimeTrackException] WITH NOCHECK ADD  CONSTRAINT [FK_TimeTrackException_Employee] FOREIGN KEY([EmployeeUID])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION

ALTER TABLE [dbo].NightSettings WITH NOCHECK ADD CONSTRAINT [FK_NightSettings_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].NightSettings NOCHECK CONSTRAINT [FK_NightSettings_Organisation]

ALTER TABLE [dbo].[TimeTrackDocumentType] WITH NOCHECK ADD CONSTRAINT [FK_TimeTrackDocumentType_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[TimeTrackDocumentType] NOCHECK CONSTRAINT [FK_TimeTrackDocumentType_Organisation]

ALTER TABLE [dbo].[PassCardTemplate] WITH NOCHECK ADD CONSTRAINT [FK_PassCardTemplate_Organisation] FOREIGN KEY([OrganisationUid])
REFERENCES [dbo].[Organisation] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].[PassCardTemplate] NOCHECK CONSTRAINT [FK_PassCardTemplate_Organisation]

ALTER TABLE [dbo].Department WITH NOCHECK ADD CONSTRAINT [FK_Department_Employee] FOREIGN KEY([ChiefUID])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].Department NOCHECK CONSTRAINT [FK_Department_Employee]

ALTER TABLE [dbo].Organisation WITH NOCHECK ADD CONSTRAINT [FK_Organisation_Employee3] FOREIGN KEY([HRChiefUID])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].Organisation NOCHECK CONSTRAINT [FK_Organisation_Employee3]

ALTER TABLE [dbo].Organisation WITH NOCHECK ADD CONSTRAINT [FK_Organisation_Employee] FOREIGN KEY([ChiefUID])
REFERENCES [dbo].[Employee] ([Uid])
NOT FOR REPLICATION
ALTER TABLE [dbo].Organisation NOCHECK CONSTRAINT [FK_Organisation_Employee]

INSERT INTO Patches (Id) VALUES
('OrganisationUser')
INSERT INTO Patches (Id) VALUES
('AlterPatches')
INSERT INTO Patches (Id) VALUES
('Doors')

DECLARE @OrgUid uniqueidentifier;
SET @OrgUid = NEWID();
INSERT INTO Organisation ([Uid],[Name],IsDeleted,RemovalDate) VALUES (@OrgUid,'Организация',0,'01/01/1900')
INSERT INTO TimeTrackDocumentType VALUES(NEWID(), 'Продолжительность работы в дневное время', 'Я', 1, 1, @OrgUid, 1)
INSERT INTO TimeTrackDocumentType VALUES(NEWID(), 'Продолжительность работы в ночное время', 'Н', 2, 1, @OrgUid, 1)
INSERT INTO TimeTrackDocumentType VALUES(NEWID(), 'Продолжительность работы в выходные и нерабочие праздничные дни', 'РВ', 3, 0, @OrgUid, 1)


DECLARE @Uid uniqueidentifier;
SET @Uid = NEWID();
INSERT INTO OrganisationUser ([Uid],[UserUID],[OrganisationUID]) VALUES (@Uid,'10e591fb-e017-442d-b176-f05756d984bb',@OrgUid)

SET NOEXEC OFF