<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GKImitator.Properties.Settings.SKUDConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SKUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GKImitator.Properties.Settings.SKDImiratorConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=SKDImirator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>