<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<system.net>
		<defaultProxy useDefaultCredentials="true" />
		<settings>
			<servicePointManager expect100Continue="false" />
		</settings>
	</system.net>
	<nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
		<variable name="appTitle" value="StrazhService Monitor" />
		<targets>
			<target name="file" xsi:type="File" layout="[${longdate}] ${threadid} ${level}: ${message} ${onexception:(${stacktrace})${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}}" fileName="${specialfolder:folder=CommonApplicationData}/Strazh/Logs/ServerMonitor/${shortdate}.log" archiveFileName="${specialfolder:folder=CommonApplicationData}/Strazh/Logs/ServerMonitor/${shortdate}.{##}.log" archiveAboveSize="1048576" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="100" createDirs="True" keepFileOpen="False" concurrentWrites="True" />
			<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${threadid} ${message}" />
			<target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}" />
		</targets>
		<rules>
			<!--<logger name="*" minlevel="Trace" writeTo="file" />-->
			<logger name="*" minlevel="Info" writeTo="file" />
			<logger name="*" minlevel="Error" writeTo="eventLog" />
		</rules>
	</nlog>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
	</startup>
</configuration>