<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="ManagementConsole.Features" Title="Приложения управления" Description="Установка приложений для управления и настройки системы" Level="1" Display="hidden"
						 ConfigurableDirectory="MANAGEMENTCONSOLELOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
      <ComponentRef Id="ManagementConsole.Files" />
      <!--<ComponentRef Id="ManagementConsole.ProgramsMenuShortcut" />-->
    </Feature>
  </Fragment>
</Wix>