<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <DirectoryRef Id="MANAGEMENTCONSOLELOCATION">
      <Component Id="ManagementConsole.Files" Guid="CB85AFC6-23E7-44A5-997B-27CDB4C8DEAC">
        <File Id="ManagementConsole.ManagementConsole.exe" Name="$(var.ManagementConsole.TargetFileName)" Source="$(var.ManagementConsole.TargetPath)" KeyPath="yes" />
        <File Id="ManagementConsole.ManagementConsole.exe.config" Name="ManagementConsole.exe.config" Source="$(var.ManagementConsole.TargetDir)" />
        <File Id="ManagementConsole.Common.dll" Name="Common.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.Controls.dll" Name="Controls.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.Infrastructure.Common.Windows.dll" Name="Infrastructure.Common.Windows.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.Infrustructure.Plans.dll" Name="Infrustructure.Plans.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.FiresecAPI.dll" Name="FiresecAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.Microsoft.Practices.Prism.dll" Name="Microsoft.Practices.Prism.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.Ionic.Zip.dll" Name="Ionic.Zip.dll" Source="$(var.Common.TargetDir)" />
        <File Id="ManagementConsole.NLog.dll" Name="NLog.dll" Source="$(var.Common.TargetDir)" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>