<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Binary Id="FiresecDBSql" SourceFile="Data\FiresecDataBaseStructureSql.sql" />
		<Binary Id="InstChoiceLogo.bmp" SourceFile="Data\InstallChoiceLogo.bmp" />
		<Binary Id="DestFolder.ico" SourceFile="Data\DestinationFolder.ico" />
		<Binary Id="Up.ico" SourceFile="Data\Up.ico" />
		<Binary Id="NewFolder.ico" SourceFile="Data\NewFolder.ico" />
		<Binary Id="InstFolderErr.ico" SourceFile="Data\InstallFolderError.ico" />
		<Binary Id="InstallFull.ico" SourceFile="Data\InstallFull.ico" />
		<Binary Id="InstallClient.ico" SourceFile="Data\InstallClient.ico" />
		<Binary Id="SetupProgress.ico" SourceFile="Data\SetupProgress.ico" />
    <Binary Id="TitleRect.bmp" SourceFile="Data\bannrbmp.bmp" />
    <Binary Id="haspdinst.exe" SourceFile="..\..\..\..\..\..\3rdParty\HASPDriver\haspdinst.exe"/>
    <Binary Id="ReportViewer.exe" SourceFile="..\..\..\..\..\..\3rdParty\ReportViewer\ReportViewer.exe"/>
		<Binary Id="FiresecCADll" SourceFile="$(var.CustomAction.TargetDir)$(var.CustomAction.TargetName).CA.dll" />
	</Fragment>
</Wix>