<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	<Fragment>
		<Icon Id="Fscp.Icon" src="Data\Administrator.ico"/>
		<Component Id="FscpAssociation" Directory="INSTALLLOCATION" Guid="772EEA00-3955-43A6-947E-350C4857AF1E">

			<RegistryKey Root="HKCR" Key=".fscp" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
				<RegistryValue Value="fscp.Document" Type="string" KeyPath="yes" />
				<RegistryValue Name="Content Type" Value="application/fscp" Type="string" />
				<RegistryKey Key="ShellNew" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
					<RegistryValue Name="NullFile" Value="" Type="string" />
					<RegistryValue Name="Data" Value="Firecec-2 configuration file" Type="string"/>
				</RegistryKey>
			</RegistryKey>

			<RegistryKey Root="HKCR" Key="fscp.Document" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
				<RegistryValue Value="Firecec-2 configuration file" Type="string" />

				<RegistryKey Key="DefaultIcon" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
					<RegistryValue Value="[ADMINISTRATORLOCATION]StrazhAdmin.exe, 1" Type="string" />
				</RegistryKey>

				<RegistryKey Key="Shell" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
					<RegistryKey Key="openfiresecconfiguration" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
						<RegistryValue Value="Открыть файл конфигурации" Type="string" />
						<RegistryKey Key="command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
							<RegistryValue Value="&quot;[ADMINISTRATORLOCATION]StrazhAdmin.exe&quot; &quot;%1&quot;" Type="string" />
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>

			</RegistryKey>
			<!--<sql:SqlDatabase Id="SKDDatabase" Database="SKD" Server=".\SQLEXPRESS" CreateOnInstall="yes" DropOnUninstall="yes">
				<sql:SqlScript Id="SKDCreateScript" ExecuteOnInstall="yes" BinaryKey="SKDCreateScript" />
        <sql:SqlScript Id="SKDUpdateScript" ExecuteOnInstall="yes" BinaryKey="SKDUpdateScript" />
			</sql:SqlDatabase>-->
		</Component>
	</Fragment>
</Wix>