<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<CustomAction Id="CloseApplications" BinaryKey="FiresecCADll" DllEntry="CloseApplications" Execute="immediate" Impersonate="yes" Return="check" />
		<CustomAction Id="ReadAppServerSettings" BinaryKey="FiresecCADll" DllEntry="ReadAppServerSettings" Execute="immediate" Impersonate="yes" Return="check" />
		<CustomAction Id="CheckSqlConnection" BinaryKey="FiresecCADll" DllEntry="CheckSqlConnection" Execute="immediate" Impersonate="yes" Return="check" />
		<CustomAction Id="WriteAppServerSettings" BinaryKey="FiresecCADll" DllEntry="WriteAppServerSettings" Execute="immediate" Impersonate="yes" Return="ignore" />
	</Fragment>
</Wix>