<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables_Firesec.wxi?>
  <Fragment>
    <Feature Id="FiresecFeature" Title="$(var.ProductName)" Description="Полная установка" Level="1" Display="expand"
             ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
      <!--<MergeRef Id="HASPMSM" />-->
      <Feature Id="FiresecService" Level="1" ConfigurableDirectory="FIRESECSERVICELOCATION" AllowAdvertise="no" Absent="allow" Display="expand" InstallDefault="local" >
        <Condition Level="0">INSTALLLEVEL=2</Condition>
        <FeatureRef Id="FiresecServiceFeature" />
        <ComponentRef Id="ClearOnUninstallFiresecService"/>
      </Feature>
      <Feature Id="FiresecClient" Level="1" ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no" Absent="allow" Display="expand" InstallDefault="local">
        <FeatureRef Id="FAFeatureBasic" />
        <FeatureRef Id="FMFeatureBasic" />
        <ComponentRef Id="DeleteGKXMLSetting" />
        <ComponentRef Id="ChangeXMLSettings"/>
        <!--<Feature Id="VideoModule" Level="1">
          <Condition Level="0">INSTALLLEVEL=4</Condition>
          <FeatureRef Id="FAFeatureVideo" />
          <ComponentRef Id="DeleteVideoXMLSetting" />
        </Feature>
        <Feature Id="GKModule" Level="1">
          <Condition Level="0">INSTALLLEVEL=5</Condition> 
          <FeatureRef Id="FAFeatureGK" />
          <FeatureRef Id="FMFeatureGK" />
          <ComponentRef Id="DeleteGKXMLSetting" />
        </Feature>-->
        <ComponentRef Id="ClearOnUninstallFireAdministrator"/>
        <ComponentRef Id="ClearOnUninstallFireMonitor"/>
      </Feature>
      <ComponentRef Id="DesktopFolder"/>
      <ComponentRef Id="ProgramMenuDir"/>
      <ComponentRef Id="FiresecProgramsMenuShortcutUninstall"/>
    </Feature>
  </Fragment>
</Wix>