<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Feature Id="FiresecFeature" Title="$(var.ProductName)" Description="Полная установка" Level="1" Display="expand" ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
      <Feature Id="FiresecService" Level="1" ConfigurableDirectory="SERVERLOCATION" AllowAdvertise="no" Absent="allow" Display="expand" InstallDefault="local">
        <Condition Level="0">INSTALLLEVEL=2</Condition>
        <FeatureRef Id="Firesec.Features" />
        <FeatureRef Id="Server.Features" />
        <ComponentRef Id="RegistryFiresec2Key" />
        <ComponentRef Id="Server.Remove" />
        <ComponentRef Id="Firesec.Remove" />
      </Feature>
      <Feature Id="FiresecClient" Level="1" ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no" Absent="allow" Display="expand" InstallDefault="local">
        <FeatureRef Id="Administrator.Features" />
        <FeatureRef Id="Monitor.Features" />
        <ComponentRef Id="DevicesModule_AppConfig" />
        <ComponentRef Id="GKModule_AppConfig" />
        <ComponentRef Id="OPCModule_AppConfig" />
        <ComponentRef Id="SkudModule_AppConfig" />
        <ComponentRef Id="VideoModule_AppConfig" />
        <ComponentRef Id="Administrator.Remove" />
        <ComponentRef Id="Monitor.Remove" />
      </Feature>
      <ComponentRef Id="LogScript" />
      <ComponentRef Id="DesktopFolder" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentRef Id="FiresecProgramsMenuShortcutUninstall" />
      <ComponentRef Id="Logs.Remove" />
    </Feature>
  </Fragment>
</Wix>