<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	<Fragment>
		<DirectoryRef Id="FIRESECSERVICELOCATION">
			<Component Id="ChangeConnectionsSettings" Guid="218643AE-C10B-46B7-B363-22DD8DDC89BF">
				<CreateFolder Directory="FIRESECSERVICELOCATION" />
				<util:XmlFile Id="XmlConnectionSettings" File="[FIRESECSERVICELOCATION]FiresecService.exe.config" Action="setValue" 
											ElementPath="//configuration/connectionStrings/add[\[]@name='FiresecService.Properties.Settings.FiresecConnectionString'[\]]/@connectionString"
											Value="Data Source=localhost\[SQLINSTANCE];Initial Catalog=Firesec;Integrated Security=True" />
				<util:XmlFile Id="XmlFASettings" File="[FIREADMINISTRATORLOCATION]FireAdministrator.exe.config" Action="setValue"
											ElementPath="//configuration/appSettings/add[\[]@key='ShowGC'[\]]/@value"
											Value="false" />
			</Component>
			<Component Id="SqlComponent" Guid="DDCF3702-A22E-4F89-8D27-CC0F113B4F68">
				<CreateFolder Directory="FIRESECSERVICELOCATION" />
				<sql:SqlDatabase Id="FiresecSqlDatabase" Database="Firesec" CreateOnInstall="yes"
												 Server="(local)\[SQLINSTANCE]" DropOnUninstall="no"  ContinueOnError="yes">
					<sql:SqlScript Id="DatabaseStructureScript" BinaryKey="FiresecDBSql" ExecuteOnInstall="yes" ContinueOnError="yes"/>
				</sql:SqlDatabase>
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="FiresecProgramsMenuShortcutUninstall" Guid="CC6AE248-D8F1-4801-8720-0D7AF2177780">
				<Shortcut Id="FAUninstallProduct" Name="Удалить Firesec" Target="[System64Folder]msiexec.exe"
									Arguments="/x [ProductCode]" Description="Удаляет Firesec 2 с данного компьютера" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer"
											 Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>