<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	<Fragment>
		<DirectoryRef Id="FIRESECSERVICELOCATION">
			<Component Id="ChangeConnectionsSettings" Guid="218643AE-C10B-46B7-B363-22DD8DDC89BF">
				<CreateFolder Directory="FIRESECSERVICELOCATION" />
				<util:XmlFile Id="XmlConnectionSettings" File="[FIRESECSERVICELOCATION]FiresecService.exe.config" Action="setValue" 
											ElementPath="//configuration/connectionStrings/add[\[]@name='FiresecService.Properties.Settings.PersonsConnectionString'[\]]/@connectionString"
											Value="Data Source=localhost\[SQLINSTANCE];Initial Catalog=Persons;Integrated Security=True" />
				<util:XmlFile Id="XmlConnectionSettings2" File="[FIRESECSERVICELOCATION]FiresecService.exe.config" Action="setValue"
				ElementPath="//configuration/connectionStrings/add[\[]@name='FiresecService.Properties.Settings.FiresecConnectionString'[\]]/@connectionString"
				Value="Data Source=localhost\[SQLINSTANCE];Initial Catalog=Firesec;Integrated Security=True" />
			</Component>

			<Component Id="FiresecWindowsService" Guid="B105CAB0-BBEB-4EE5-B2F8-9DAF3B1973F8">
				<File Id="FiresecWindowsServiceExe" Name="$(var.FiresecWindowsService.TargetFileName)"
							Source="$(var.FiresecWindowsService.TargetDir)" KeyPath="yes" DiskId="1"/>
				<ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Description="Что-то делает"
												Name="FiresecServer" DisplayName="Сервер КБПА" Start="auto" Account="LocalSystem"
												ErrorControl="ignore" Interactive="yes" Arguments="[FiresecServiceName] /Start /Hide">
					<util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart"
															RestartServiceDelayInSeconds="100"/>
				</ServiceInstall>
				<ServiceControl Id="StartService" Start="install" Stop="uninstall" Remove="uninstall" Name="FiresecServer" Wait="yes"/>
			</Component>
			
			<Component Id="SqlComponent" Guid="DDCF3702-A22E-4F89-8D27-CC0F113B4F68">
				<CreateFolder Directory="FIRESECSERVICELOCATION" />
				<sql:SqlDatabase Id="FiresecSqlDatabase" Database="Firesec" CreateOnInstall="yes" 
												 Server="(local)\[SQLINSTANCE]" DropOnUninstall="yes" ContinueOnError="yes">
					<sql:SqlScript Id="DatabaseStructureScript" BinaryKey="FiresecDataBaseStructureSql" ExecuteOnInstall="yes" ContinueOnError="yes"/>
				</sql:SqlDatabase>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>