<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	<Fragment>
		<DirectoryRef Id="FIREADMINISTRATORLOCATION">
      <Component Id="DeleteGKXMLSetting" Guid="FD7F5684-1249-4AE8-9ABD-71349815595C">
        <CreateFolder Directory="FIREADMINISTRATORLOCATION" />
        <util:XmlConfig Id="XmlFASettings" File="[FIREADMINISTRATORLOCATION]FireAdministrator.exe.config" Action="delete" Node="element"
                        ElementPath="//configuration/modules" On="install"
                        VerifyPath="//configuration/modules/module[\[]@assemblyFile='GKModule.dll'[\]]"
											/>
        <Condition>NOT GK_MODULE</Condition>
      </Component>
      
			<Component Id="ChangeXMLSettings" Guid="218643AE-C10B-46B7-B363-22DD8DDC89BF">
				<CreateFolder Directory="FIREADMINISTRATORLOCATION" />
        <util:XmlConfig Id="XmlFASettings2" File="[FIREADMINISTRATORLOCATION]FireAdministrator.exe.config" Action="delete" Node="element"
                        ElementPath="//configuration/modules" On="install"
                        VerifyPath="//configuration/modules/module[\[]@assemblyFile='SkudModule.dll'[\]]"
											/>
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="FiresecProgramsMenuShortcutUninstall" Guid="CC6AE248-D8F1-4801-8720-0D7AF2177780">
				<Shortcut Id="FAUninstallProduct" Name="Удалить Firesec-2" Target="[System64Folder]msiexec.exe"
									Arguments="/x [ProductCode]" Description="Удаляет Firesec-2 с данного компьютера" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer"
											 Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>

<!--<Component Id="SqlComponent" Guid="DDCF3702-A22E-4F89-8D27-CC0F113B4F68">
				<CreateFolder Directory="FIRESECSERVICELOCATION" />
				<sql:SqlDatabase Id="FiresecSqlDatabase" Database="Firesec" CreateOnInstall="yes"
												 Server="(local)\[SQLINSTANCE]" DropOnUninstall="no"  ContinueOnError="yes">
					<sql:SqlScript Id="DatabaseStructureScript" BinaryKey="FiresecDBSql" ExecuteOnInstall="yes" ContinueOnError="yes"/>
				</sql:SqlDatabase>
			</Component>-->