<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
  <?include Variables_Firesec.wxi?>
  
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Codepage="$(var.Codepage)">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="Firesec.cab" EmbedCab="yes" />

    <Binary Id="FiresecDataBaseStructureSql" SourceFile="Data\FiresecDataBaseStructureSql.sql" />
    <Binary Id="FiresecBanner" SourceFile="Data\FiresecBanner.bmp" />
    <Binary Id="InstallChoiceLogo.bmp" SourceFile="Data\InstallChoiceLogo.bmp" />
    <Binary Id="DestinationFolder.ico" SourceFile="Data\DestinationFolder.ico" />
    <Binary Id="Up.ico" SourceFile="Data\Up.ico" />
    <Binary Id="NewFolder.ico" SourceFile="Data\NewFolder.ico" />
    <Binary Id="InstallFolderError.ico" SourceFile="Data\InstallFolderError.ico" />
    <Binary Id="InstallFull.ico" SourceFile="Data\InstallFull.ico" />
    <Binary Id="InstallClient.ico" SourceFile="Data\InstallClient.ico" />
    <!--<Binary Id="CustomActions.dll" SourceFile="$(var.CustomActions.TargetDir)$(var.CustomActions.TargetName).CA.dll" />-->

    <WixVariable Id="WixUIBannerBmp" Value="Data\FiresecBanner.bmp" />

    <Icon Id="FiresecIcon" SourceFile="Data\Firesec.ico"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="Rubezh">
          <Directory Id="FIRESECSERVICELOCATION" Name="$(var.FiresecServiceName)">
            <Directory Id="FiresecServiceConfigFolder" Name="$(var.ConfigurationFolder)">
              <Directory Id="FiresecServiceIconsFolder" Name="$(var.IconsFolder)" />
              <Directory Id="FiresecServiceSoundsFolder" Name="$(var.SoundsFolder)" />
              <Directory Id="FiresecServiceReportTemplatesFolder" Name="$(var.ReportTemplatesFolder)" />
            </Directory>
          </Directory>
          <Directory Id="FIREADMINISTRATORLOCATION" Name="$(var.FireAdministratorName)">
            <Directory Id="FireAdmConfigFolder" Name="$(var.ConfigurationFolder)">
              <Directory Id="FireAdmIconsFolder" Name="$(var.IconsFolder)" />
              <Directory Id="FireAdmSoundsFolder" Name="$(var.SoundsFolder)" />
              <Directory Id="FireAdmReportTemplatesFolder" Name="$(var.ReportTemplatesFolder)" />
            </Directory>
          </Directory>
          <Directory Id="FIREMONITORLOCATION" Name="$(var.FireMonitorName)">
            <Directory Id="ClientSettingsFolder" Name="ClientSettings" />
            <Directory Id="FireMonConfigFolder" Name="$(var.ConfigurationFolder)">
              <Directory Id="FireMonIconsFolder" Name="$(var.IconsFolder)" />
              <Directory Id="FireMonSoundsFolder" Name="$(var.SoundsFolder)" />
              <Directory Id="FireMonReportTemplatesFolder" Name="$(var.ReportTemplatesFolder)" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <!--Пуск\Программы\FiresecService-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)" />
      </Directory>
      <!--Рабочий стол-->
      <Directory Id="DesktopFolder" />
    </Directory>

    <FeatureRef Id="FiresecFeature" />

    <Property Id="SHORTCUT_PROGRAMMENU">1</Property>
    <Property Id="SHORTCUT_DESKTOP">1</Property>
    <Property Id="CHECKSQLSERVER" Value="0"></Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="_BrowseProperty" Value="INSTALLLOCATION" />
    <Property Id="INSTALLLEVEL" Value="1" />
    
    <InstallExecuteSequence>
      <Custom Action="StartAppOnExit" After="InstallFinalize">SETUPCHOICE="Full"</Custom>
    </InstallExecuteSequence>

    <UI Id="MyWixUI_Wizard">
      <UIRef Id="WixUI_Wizard" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

  </Product>
  
</Wix>
