<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
  <?include Variables_Firesec.wxi?>

  <Product Id="*" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Codepage="$(var.Codepage)">

    <Package InstallerVersion="200" Compressed="yes" Manufacturer="$(var.Manufacturer)"  />

    <Media Id="1" Cabinet="Firesec.cab" EmbedCab="yes" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="yes" Maximum="6.0.0.0" IncludeMaximum="no"
                      Language="1049" Property="OLD_VERSION_FOUND"/>
    </Upgrade>

    <Property Id="REGOLDFS">
      <RegistrySearch Id="RegistryOldFiresecValue" Type="directory" Root="HKLM" Key="Software\rubezh\FS_Server" Name="Path"/>
    </Property>
    <Property Id="REGFS2SERVER">
      <RegistrySearch Id="RegistryFiresec2Value" Type="raw" Root="HKLM" Key="Software\rubezh\Firesec-2" Name="StateServer"/>
    </Property>
    <Property Id="REGFS2STATE">
      <RegistrySearch Id="RegistryFiresec2ClientValue" Type="raw" Root="HKLM" Key="Software\rubezh\Firesec-2" Name="StateFiresec-2"/>
    </Property>
    <Property Id="_BrowseProperty" Value="INSTALLLOCATION" />
    <Property Id="SHORTCUT_PROGRAMMENU" Value="1"/>
    <Property Id="SHORTCUT_DESKTOP" Value="1"/>
    <Property Id="GENERAL_MODULE" Value="1" />
    <Property Id="GK_MODULE" />
    <Property Id="OPC_MODULE" />
    <Property Id="SKUD_MODULE" />
    <Property Id="VIDEO_MODULE" />
    <Property Id="CHECKSQLSERVER" Value="0" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="INSTALLLEVEL" Value="1" />
    <Property Id="FIRESECSERVICENAME" Value="$(var.FiresecServiceName)" />
    <Property Id="FIREMONITORNAME" Value="$(var.FireMonitorName)" />
    <Property Id="FIREADMINISTRATORNAME" Value="$(var.FireAdministratorName)" />
    <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
    <Property Id="WixUI_Mode" Value="Mondo" />
    <Property Id="AgreeToLicense" Value="No" />
    <Property Id="SETUPCHOICE" Value="Full"/>
    <Property Id="IS_SQLSERVER_USERNAME" Value="sa" />
    <Property Id="IS_SQLSERVER_AUTHENTICATION" Value="0" />
    <Property Id="SQLINSTANCE" Value="SQLEXPRESS" />
    <Property Id="INSTALLMODE" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SystemFolder"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="OLDFIRESECSERVICELOCATION" Name="Firesec">
          <Directory Id="INTL" Name="intl" />
        </Directory>
        <Directory Id="INSTALLLOCATION" Name="Rubezh">
          <Directory Id="FIRESECSERVICELOCATION" Name="$(var.FiresecServiceName)">
            <Directory Id="FiresecServiceLogsFolder" Name="Logs" />
            <Directory Id="FiresecServiceConfigFolder" Name="$(var.ConfigurationFolder)">
              <Directory Id="FiresecServiceIconsFolder" Name="$(var.IconsFolder)" />
              <Directory Id="FiresecServiceSoundsFolder" Name="$(var.SoundsFolder)" />
            </Directory>
          </Directory>
          <Directory Id="FIREADMINISTRATORLOCATION" Name="$(var.FireAdministratorName)">
            <Directory Id="FireAdmLogsFolder" Name="Logs" />
            <Directory Id="FireAdmConfigFolder" Name="$(var.ConfigurationFolder)">
              <Directory Id="FireAdmIconsFolder" Name="$(var.IconsFolder)" />
              <Directory Id="FireAdmSoundsFolder" Name="$(var.SoundsFolder)" />
              <Directory Id="FireAdmXslFilesFolder" Name="$(var.XslFilesFolder)">
                <Directory Id="FireAdmXaml2svgFolder" Name="$(var.xaml2svgFolder)" />
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="FIREMONITORLOCATION" Name="$(var.FireMonitorName)">
            <Directory Id="ShellFolder" Name="Shell" />
            <Directory Id="FireMonLogsFolder" Name="Logs" />
            <Directory Id="ClientSettingsFolder" Name="ClientSettings" />
            <Directory Id="FireMonConfigFolder" Name="$(var.ConfigurationFolder)">
              <Directory Id="FireMonIconsFolder" Name="$(var.IconsFolder)" />
              <Directory Id="FireMonSoundsFolder" Name="$(var.SoundsFolder)" />
              <Directory Id="FireMonReportTemplatesFolder" Name="$(var.ReportTemplatesFolder)" />
            </Directory>
          </Directory>
          <Directory Id="LOGS" Name="Logs" />
        </Directory>
      </Directory>
      <!--Пуск\Программы\FiresecService-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)" />
      </Directory>
      <!--Рабочий стол-->
      <Directory Id="DesktopFolder" />

    </Directory>

    <FeatureRef Id="FiresecFeature" />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize" />
      <Custom Action="CloseApplications" Before="InstallInitialize" >1</Custom>
      <Custom Action="RegisterServer" After="InstallFinalize" >NOT REGFS2SERVER AND NOT REGOLDFS AND INSTALLMODE AND SETUPCHOICE = "Full"</Custom>
      <Custom Action="RegisterSockProxy" After="RegisterServer">NOT REGFS2SERVER AND NOT REGOLDFS AND INSTALLMODE</Custom>
      <Custom Action="RegisterFs_types" After="RegisterSockProxy">NOT REGFS2SERVER AND NOT REGOLDFS AND INSTALLMODE</Custom>
      <Custom Action="RunSocketServerServiceNet" After="RegisterFs_types">1</Custom>
      <Custom Action="InstallHaspDriver" After="RunSocketServerServiceNet">NOT REGFS2SERVER AND NOT REGOLDFS AND INSTALLMODE AND SETUPCHOICE = "Full"</Custom>
      <Custom Action="RunFiresecServiceNet" After="InstallHaspDriver">1</Custom>

      <Custom Action="StopFiresecServiceNet" After="CloseApplications">1</Custom>
      <Custom Action="StopSocketServerServiceNet" After="StopFiresecServiceNet">1</Custom>
      <Custom Action="UnregisterSockProxy" After="StopSocketServerServiceNet">REGFS2SERVER AND NOT REGOLDFS AND REGFS2STATE = "Full" AND NOT INSTALLMODE</Custom>
      <Custom Action="UnregisterFs_types" After="UnregisterSockProxy">REGFS2SERVER AND NOT REGOLDFS AND REGFS2STATE = "Full" AND NOT INSTALLMODE</Custom>
      <Custom Action="UnRegisterServer" After="UnregisterFs_types">REGFS2SERVER AND NOT REGOLDFS AND REGFS2STATE = "Full" AND NOT INSTALLMODE</Custom>
      <!--<Custom Action="UnRegisterServer" After="UnregisterFs_types">REGFS2SERVER AND NOT REGOLDFS AND REGFS2STATE = "Full" AND (NOT WixUI_InstallMode)</Custom>-->

      <!--<Custom Action="StartAppOnExit" After="InstallFinalize">SETUPCHOICE="Full" AND (NOT Installed)</Custom>-->
      <!--<Custom Action="InstallSocketServer" After="RegisterFs_types">NOT Installed</Custom>-->
      <!--<Custom Action="InstallHaspDriver" After="InstallFinalize" >NOT Installed</Custom>-->
      <!--<Custom Action="UnInstallSocketServer" After="InstallInitialize">Installed</Custom>-->
    </InstallExecuteSequence>

    <UI Id="MyWixUI_Wizard">
      <UIRef Id="WixUI_Wizard" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
  </Product>
</Wix>
