<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
  <?include Variables_FiresecService.wxi?>
  
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Codepage="$(var.Codepage)">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="FiresecService.cab" EmbedCab="yes" />

    <Binary Id="FiresecDataBaseStructureSql" SourceFile="Data\FiresecDataBaseStructureSql.sql" />
    <Binary Id="FiresecBanner" SourceFile="Data\FiresecBanner.bmp" />
    <Binary Id="InstallChoiceLogo.bmp" SourceFile="Data\InstallChoiceLogo.bmp" />
    <Binary Id="DestinationFolder.ico" SourceFile="Data\DestinationFolder.ico" />
    <Binary Id="Up.ico" SourceFile="Data\Up.ico" />
    <Binary Id="NewFolder.ico" SourceFile="Data\NewFolder.ico" />
    <Binary Id="InstallFolderError.ico" SourceFile="Data\InstallFolderError.ico" />
    <Binary Id="InstallFull.ico" SourceFile="Data\InstallFull.ico" />
    <Binary Id="InstallClient.ico" SourceFile="Data\InstallClient.ico" />
    <!--<Binary Id="CustomActions.dll" SourceFile="$(var.CustomActions.TargetDir)$(var.CustomActions.TargetName).CA.dll" />-->

    <WixVariable Id="WixUIBannerBmp" Value="Data\FiresecBanner.bmp" />

    <Icon Id="FiresecIcon" SourceFile="Data\Firesec.ico"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyNameFolder" Name="Rubezh">
          <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
            <Directory Id="ConfigurationFolder" Name="Configuration">
              <Directory Id="Icons" Name="Icons" />
              <Directory Id="Sounds" Name="Sounds" />
              <Directory Id="ReportTemplates" Name="ReportTemplates" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <!--Пуск\Программы\FiresecService-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)" />
      </Directory>
      <!--Рабочий стол-->
      <Directory Id="DesktopFolder" />
    </Directory>

    <FeatureRef Id="Full" />

    <Property Id="SHORTCUT_PROGRAMMENU">1</Property>
    <Property Id="SHORTCUT_DESKTOP">1</Property>
    <Property Id="CHECKSQLSERVER" Value="0"></Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="_BrowseProperty" Value="INSTALLLOCATION" />
    
    <InstallExecuteSequence>
      <Custom Action="StartAppOnExit" After="InstallFinalize"/>
    </InstallExecuteSequence>

    <UI Id="MyWixUI_Wizard">
      <UIRef Id="WixUI_Wizard" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

  </Product>
  
</Wix>
