<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<?include Variables.wxi?>

	<Product Id="*" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Codepage="$(var.Codepage)">
		<Package InstallerVersion="200" Compressed="yes" Manufacturer="$(var.Manufacturer)" Description="Установка $(var.ProductName)" SummaryCodepage="$(var.Codepage)" />
		<Media Id="1" Cabinet="Firesec.cab" EmbedCab="yes" />

		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="0.00.0000" IncludeMinimum="yes"
			  Maximum="$(var.ProductVersion)" IncludeMaximum="yes" OnlyDetect="no"
			  MigrateFeatures="yes" IgnoreRemoveFailure="yes" Language="1049"
			  Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>

		<PropertyRef Id="NETFRAMEWORK40FULL" />
		<Condition Message="Не удалось обнаружить Microsoft .NET Framework 4.0. Установите Microsoft .NET Framework 4.0 и запустите установку заново">
			NETFRAMEWORK40FULL
		</Condition>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.licenseRtf)" />
		<Property Id="SHORTCUT_PROGRAMMENU" Value="1" />
		<Property Id="SHORTCUT_DESKTOP" Value="1" />
		<Property Id="CHECKSQLSERVER" Value="0" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
		<Property Id="INSTALLLEVEL" Value="1" />
		<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
		<Property Id="WixUI_Mode" Value="Mondo" />

		<!-- Значения по умолчанию для свойств соединения с СУБД MS SQL Server -->
		<Property Id="SQLSERVER_ADDRESS" Value="$(var.SQLServerAddressDefault)" />
		<Property Id="SQLSERVER_PORT" Value="$(var.SQLServerPortDefault)" />
		<Property Id="SQLSERVER_INSTANCENAME" Value="$(var.SQLServerInstanceNameDefault)" />
		<Property Id="SQLSERVER_AUTHENTICATIONMODE" Value="$(var.SQLServerAuthenticationModeDefault)" />
		<Property Id="SQLSERVER_LOGIN" Value="$(var.SQLServerLoginDefault)" />
		<Property Id="SQLSERVER_PASSWORD" Value="$(var.SQLServerPasswordDefault)" />

		<Property Id="INSTALLMODE" />
		<Property Id="ALLUSERS" Value="1" Secure="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="SystemFolder"/>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="$(var.ProductInstallFolder)">
					<Directory Id="SERVERLOCATION" Name="$(var.ServerName)">
					</Directory>
					<Directory Id="ADMINISTRATORLOCATION" Name="$(var.AdministratorName)">
						<Directory Id="Administrator.ConfigFolder" Name="$(var.ConfigurationFolder)">
							<Directory Id="Administrator.SoundsFolder" Name="$(var.SoundsFolder)" />
							<Directory Id="Administrator.XslFolder" Name="$(var.XslFilesFolder)">
								<Directory Id="Administrator.Xaml2svgFolder" Name="$(var.xaml2svgFolder)" />
							</Directory>
						</Directory>
						<Directory Id="Administrator.dll" Name="dll" />
					</Directory>
					<Directory Id="MONITORLOCATION" Name="$(var.MonitorName)">
						<Directory Id="Monitor.ShellFolder" Name="Shell" />
						<Directory Id="Monitor.ClientSettingsFolder" Name="ClientSettings" />
						<Directory Id="Monitor.ru" Name="ru" />
						<Directory Id="Monitor.dll" Name="dll" />
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuDir" Name="$(var.ProductName)">
					<Directory Id="ProgramMenuDir.AdditionalFolder" Name="Дополнительно">
						<Component Id="ProgramMenuDir.Additional" Guid="833328C2-2B97-4110-903D-E4D27417492C">
							<RemoveFolder Id='ProgramMenuDir.AdditionalFolder' On='uninstall' />
							<RemoveFolder Id='RemoveProgramMenuDir' Directory='ProgramMenuDir' On='uninstall' />
							<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" />
			<Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
				<Directory Id="AppData.FiresecLocation" Name="Strazh">
					<Directory Id="AppData.ServerLocation" Name="Server">
						<Directory Id="AppData.ServerLocation.Config" Name="Config">
							<Directory Id="AppData.ServerLocation.Content" Name="Content" />
						</Directory>
					</Directory>
					<Directory Id="AppData.EmptyLocation" Name="Empty" />
				</Directory>
			</Directory>
		</Directory>

		<FeatureRef Id="StrazhFeature" />

		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize" />
			<InstallExecute After="RemoveExistingProducts" />
		</InstallExecuteSequence>

		<UI Id="MyWixUI_Wizard">
			<UIRef Id="WixUI_Wizard" />
			<UIRef Id="WixUI_ErrorProgressText" />
		</UI>
	</Product>
</Wix>