<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Variables.wxi?>

  <Product Id="*" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Codepage="$(var.Codepage)">
    <Package InstallerVersion="200" Compressed="yes" Manufacturer="$(var.Manufacturer)" Description="Установка $(var.ProductName)" SummaryCodepage="$(var.Codepage)" />
    <Media Id="1" Cabinet="Firesec.cab" EmbedCab="yes" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="0.00.0000" IncludeMinimum="yes"
        Maximum="$(var.ProductVersion)" IncludeMaximum="yes" OnlyDetect="no"
        MigrateFeatures="yes" IgnoreRemoveFailure="yes" Language="1049"
        Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="Не удалось обнаружить Microsoft .NET Framework 4.0. Установите Microsoft .NET Framework 4.0 и запустите установку заново">
      NETFRAMEWORK40FULL
    </Condition>

    <Property Id="_BrowseProperty" Value="INSTALLLOCATION" />
    <Property Id="SHORTCUT_PROGRAMMENU" Value="1" />
    <Property Id="SHORTCUT_DESKTOP" Value="1" />
    <Property Id="CHECKSQLSERVER" Value="0" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="INSTALLLEVEL" Value="1" />
    <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
    <Property Id="WixUI_Mode" Value="Mondo" />
    <Property Id="AgreeToLicense" Value="No" />
    <Property Id="SETUPCHOICE" Value="Full" />
    <Property Id="IS_SQLSERVER_USERNAME" Value="sa" />
    <Property Id="IS_SQLSERVER_AUTHENTICATION" Value="0" />
    <Property Id="SQLINSTANCE" Value="SQLEXPRESS" />
    <Property Id="INSTALLMODE" />
    <Property Id="ALLUSERS" Value="1" Secure="yes" />
    
    <Property Id="INSTALL_FIRESEC2" Secure="yes" />
    <Property Id="INSTALL_HASP" Value="0" Secure="yes" />
    <Property Id="INSTALL_OPC" Value="0" Secure="yes" />
    <Property Id="INSTALL_SDK" Value="0" Secure="yes" />
    <Property Id="INSTALL_GK" Value="0" Secure="yes" />
    <Property Id="INSTALL_SKD" Value="1" Secure="yes" />
    <Property Id="INSTALL_VIDEO" Value="0" Secure="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SystemFolder"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="FIRESECLOCATION" Name="Firesec">
          <Directory Id="INTL" Name="intl" />
          <Directory Id="FIRESECLOCATION.Cache" Name="Cache" />
        </Directory>
        <Directory Id="INSTALLLOCATION" Name="Rubezh">
          <Directory Id="SERVERLOCATION" Name="$(var.ServerName)">
            <Directory Id="Server.Dll" Name="Dll">
              <Directory Id="Server.Dll.Dahua" Name="Dahua" />
              <Directory Id="Server.Dll.Hik" Name="Hik" />
              <Directory Id="Server.Dll.Sunell" Name="Sunell" />
            </Directory>
          </Directory>
          <Directory Id="ADMINISTRATORLOCATION" Name="$(var.AdministratorName)">
            <Directory Id="Administrator.ConfigFolder" Name="$(var.ConfigurationFolder)">
              <Directory Id="Administrator.SoundsFolder" Name="$(var.SoundsFolder)" />
              <Directory Id="Administrator.XslFolder" Name="$(var.XslFilesFolder)">
                <Directory Id="Administrator.Xaml2svgFolder" Name="$(var.xaml2svgFolder)" />
              </Directory>
            </Directory>
            <Directory Id="Administrator.Dll" Name="Dll">
              <Directory Id="Administrator.Dll.Dahua" Name="Dahua" />
              <Directory Id="Administrator.Dll.Hik" Name="Hik" />
              <Directory Id="Administrator.Dll.Sunell" Name="Sunell" />
            </Directory>
          </Directory>
          <Directory Id="MONITORLOCATION" Name="$(var.MonitorName)">
            <Directory Id="Monitor.ShellFolder" Name="Shell" />
            <Directory Id="Monitor.ClientSettingsFolder" Name="ClientSettings" />
            <Directory Id="Monitor.Dll" Name="Dll">
              <Directory Id="Monitor.Dll.Dahua" Name="Dahua" />
              <Directory Id="Monitor.Dll.Hik" Name="Hik" />
              <Directory Id="Monitor.Dll.Sunell" Name="Sunell" />
            </Directory>
          </Directory>
          <Directory Id="MANAGEMENTCONSOLELOCATION" Name="$(var.ManagementConsoleName)" />
          <Directory Id="UTILSLOCATION" Name="Утилиты" />
          <Directory Id="GKOPCLOCATION" Name="GKOPC" />
          <Directory Id="FirmwhareUpdateLOCATION" Name="Актуальные прошивки ГК" />

          <Directory Id="SDKLOCATION" Name="SDK">
            <Directory Id="SDKLOCATION_GKSDK" Name="GKSDK">
              <Directory Id="SDKLOCATION_Infrastructure" Name="Infrastructure" />
              <Directory Id="SDKLOCATION_Properties" Name="Properties" />
            </Directory>
            <Directory Id="SDKLOCATION_Assemblies" Name="Assemblies" />
          </Directory>
          
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)">
          <Directory Id="ProgramMenuDir.AdditionalFolder" Name="Дополнительно">
            <Component Id="ProgramMenuDir.Additional" Guid="0C15958E-D695-4F12-B440-B19279EF218B">
              <RemoveFolder Id='ProgramMenuDir.AdditionalFolder' On='uninstall' />
              <RemoveFolder Id='RemoveProgramMenuDir' Directory='ProgramMenuDir' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
        <Directory Id="AppData.FiresecLocation" Name="Firesec2">
          <Directory Id="AppData.ServerLocation" Name="Server" />
          <Directory Id="AppData.EmptyLocation" Name="Empty" />
        </Directory>
      </Directory>
    </Directory>

    <FeatureRef Id="FiresecFeature" />

    <InstallExecuteSequence>
      <Custom Action="CloseApplications" Sequence="1" />
      <RemoveExistingProducts After="InstallInitialize" />
      <InstallExecute After="RemoveExistingProducts" />
      <Custom Action="InstallHaspDriver" After="InstallFinalize">INSTALLMODE AND <![CDATA[&Firesec.HASP=3]]></Custom>
      <Custom Action="StartOPCServerOnExit" After="InstallHaspDriver">INSTALLMODE</Custom>
    </InstallExecuteSequence>

    <UI Id="MyWixUI_Wizard">
      <UIRef Id="WixUI_Wizard" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

  </Product>
</Wix>