<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopFolder" Guid="5E21B113-87C1-46E2-8683-41385FF84194">
				<RemoveFolder Id="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="ProgramMenuDir" Guid="451D5694-84E8-468F-B26C-C49744FBC136">
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="INSTALLLOCATION">
			<Component Id="ClearOnUninstallFireMonitor" Guid="E430EF93-8DD6-4602-B2B6-27A81142AD81">
				<CreateFolder Directory="INSTALLLOCATION" />
				<RemoveFile Id="RemoveMonitorIcons" On="uninstall" Name="*.*" Directory="FireMonIconsFolder" />
				<RemoveFolder Id="RemoveMonitorIconsLocation" On="uninstall" Directory="FireMonIconsFolder"/>
				<RemoveFile Id="RemoveMonitorSounds" On="uninstall" Name="*.*" Directory="FireMonSoundsFolder" />
				<RemoveFolder Id="RemoveMonitorSoundsLocation" On="uninstall" Directory="FireMonSoundsFolder"/>
				<RemoveFile Id="RemoveMonitorReportTemplates" On="uninstall" Name="*.*" Directory="FireMonReportTemplatesFolder" />
				<RemoveFolder Id="RemoveMonitorReportTemplatesLocation" On="uninstall" Directory="FireMonReportTemplatesFolder"/>
				<RemoveFolder Id="RemoveFireMonitorConfigLocation" On="uninstall" Directory="FireMonConfigFolder"/>
				<RemoveFile Id="RemoveMonitorClSettings" On="uninstall" Name="*.*" Directory="ClientSettingsFolder"/>
				<RemoveFolder Id="RemoveFireMonitorClSettingsLocation" On="uninstall" Directory="ClientSettingsFolder"/>
				<RemoveFile Id="RemoveFireMonLogs" On="uninstall" Name="*.*" Directory="FireMonLogsFolder"/>
				<RemoveFolder Id="RemoveFireMonLogsFolderLocation" On="uninstall" Directory="FireMonLogsFolder"/>
				<RemoveFolder Id="RemoveFireMonitorLocation" On="uninstall" Directory="FIREMONITORLOCATION"/>
			</Component>

			<Component Id="ClearOnUninstallFireAdministrator" Guid="05F988F3-055D-4C20-92A5-DBB3C5983C89">
				<CreateFolder Directory="INSTALLLOCATION" />
				<RemoveFile Id="RemoveAdmIcons" On="uninstall" Name="*.*" Directory="FireAdmIconsFolder" />
				<RemoveFolder Id="RemoveAdmIconsLocation" On="uninstall" Directory="FireAdmIconsFolder" />
				<RemoveFile Id="RemoveAdmSounds" On="uninstall" Name="*.*" Directory="FireAdmSoundsFolder" />
				<RemoveFolder Id="RemoveAdmSoundsLocation" On="uninstall" Directory="FireAdmSoundsFolder" />
				<RemoveFile Id="RemoveAdmXaml2svg" On="uninstall" Name="*.*" Directory="FireAdmXaml2svgFolder" />
				<RemoveFolder Id="RemoveAdmXaml2svgLocation" On="uninstall" Directory="FireAdmXaml2svgFolder"/>
				<RemoveFile Id="RemoveAdmXslFiles" On="uninstall" Name="*.*" Directory="FireAdmXslFilesFolder" />
				<RemoveFolder Id="RemoveAdmXslFilesLocation" On="uninstall" Directory="FireAdmXslFilesFolder" />
				<RemoveFolder Id="RemoveFireAdmConfigLocation" On="uninstall" Directory="FireAdmConfigFolder" />
				<RemoveFile Id="RemoveFireAdmLogs" On="uninstall" Name="*.*" Directory="FireAdmLogsFolder"/>
				<RemoveFolder Id="RemoveFireAdmLogsFolderLocation" On="uninstall" Directory="FireAdmLogsFolder"/>
				<RemoveFolder Id="RemoveFireAdmLocation" On="uninstall" Directory="FIREADMINISTRATORLOCATION" />
			</Component>

			<Component Id="ClearOnUninstallFiresecService" Guid="491AB89B-FE4A-4E99-A8D4-C486E13F2663">
				<CreateFolder Directory="INSTALLLOCATION" />
				<RemoveFile Id="RemoveFSIcons" On="uninstall" Name="*.*" Directory="FiresecServiceIconsFolder" />
				<RemoveFolder Id="RemoveFSIconsLocation" On="uninstall" Directory="FiresecServiceIconsFolder"/>
				<RemoveFile Id="RemoveFSSounds" On="uninstall" Name="*.*" Directory="FiresecServiceSoundsFolder" />
				<RemoveFolder Id="RemoveFSSoundsLocation" On="uninstall" Directory="FiresecServiceSoundsFolder"/>
				<RemoveFile Id="RemoveFSConfigurations" On="uninstall" Name="*.*" Directory="FiresecServiceConfigFolder" />
				<RemoveFolder Id="RemoveFSConfigLocation" On="uninstall" Directory="FiresecServiceConfigFolder" />
				<RemoveFile Id="RemoveFiresecServiceLogs" On="uninstall" Name="*.*" Directory="FiresecServiceLogsFolder"/>
				<RemoveFolder Id="RemoveFiresecServiceLogsFolderLocation" On="uninstall" Directory="FiresecServiceLogsFolder"/>
				<RemoveFolder Id="FiresecServiceRemove" On="uninstall" Directory="FIRESECSERVICELOCATION"/>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>