<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopFolder" Guid="*">
				<RemoveFolder Id="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="ProgramMenuDir" Guid="3E70B244-6A2B-405C-8C15-59AED0F58DB3">
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="INSTALLLOCATION">
			<Component Id="ClearOnUninstallFireMonitor" Guid="56ECF00B-C73E-4E93-BF09-CF295D691DCE">
				<CreateFolder Directory="INSTALLLOCATION" />
				<RemoveFile Id="RemoveMonitorIcons" On="uninstall" Name="*.*" Directory="FireMonIconsFolder" />
				<RemoveFolder Id="RemoveMonitorIconsLocation" On="uninstall" Directory="FireMonIconsFolder"/>
				<RemoveFile Id="RemoveMonitorSounds" On="uninstall" Name="*.*" Directory="FireMonSoundsFolder" />
				<RemoveFolder Id="RemoveMonitorSoundsLocation" On="uninstall" Directory="FireMonSoundsFolder"/>
				<RemoveFile Id="RemoveMonitorReportTemplates" On="uninstall" Name="*.*" Directory="FireMonReportTemplatesFolder" />
				<RemoveFolder Id="RemoveMonitorReportTemplatesLocation" On="uninstall" Directory="FireMonReportTemplatesFolder"/>
				<RemoveFolder Id="RemoveFireMonitorConfigLocation" On="uninstall" Directory="FireMonConfigFolder"/>
				<RemoveFile Id="RemoveMonitorClSettings" On="uninstall" Name="*.*" Directory="ClientSettingsFolder"/>
				<RemoveFolder Id="RemoveFireMonitorClSettingsLocation" On="uninstall" Directory="ClientSettingsFolder"/>
				<RemoveFile Id="RemoveFireMonLogs" On="uninstall" Name="*.*" Directory="FireMonLogsFolder"/>
				<RemoveFolder Id="RemoveFireMonLogsFolderLocation" On="uninstall" Directory="FireMonLogsFolder"/>
        <RemoveFile Id="RemoveFireMonShell" On="uninstall" Name="*.*" Directory="ShellFolder"/>
        <RemoveFolder Id="RemoveFireMonShellFolderLocation" On="uninstall" Directory="ShellFolder"/>
        <RemoveFile Id="RemoveFileMonitor" On="uninstall" Name="*.*" Directory="FIREMONITORLOCATION"/>
				<RemoveFolder Id="RemoveFireMonitorLocation" On="uninstall" Directory="FIREMONITORLOCATION"/>
			</Component>

			<Component Id="ClearOnUninstallFireAdministrator" Guid="4B74C764-092A-4BD3-A51F-15FC8471EE63">
				<CreateFolder Directory="INSTALLLOCATION" />
				<RemoveFile Id="RemoveAdmIcons" On="uninstall" Name="*.*" Directory="FireAdmIconsFolder" />
				<RemoveFolder Id="RemoveAdmIconsLocation" On="uninstall" Directory="FireAdmIconsFolder" />
				<RemoveFile Id="RemoveAdmSounds" On="uninstall" Name="*.*" Directory="FireAdmSoundsFolder" />
				<RemoveFolder Id="RemoveAdmSoundsLocation" On="uninstall" Directory="FireAdmSoundsFolder" />
				<RemoveFile Id="RemoveAdmXaml2svg" On="uninstall" Name="*.*" Directory="FireAdmXaml2svgFolder" />
				<RemoveFolder Id="RemoveAdmXaml2svgLocation" On="uninstall" Directory="FireAdmXaml2svgFolder"/>
				<RemoveFile Id="RemoveAdmXslFiles" On="uninstall" Name="*.*" Directory="FireAdmXslFilesFolder" />
				<RemoveFolder Id="RemoveAdmXslFilesLocation" On="uninstall" Directory="FireAdmXslFilesFolder" />
				<RemoveFolder Id="RemoveFireAdmConfigLocation" On="uninstall" Directory="FireAdmConfigFolder" />
				<RemoveFile Id="RemoveFireAdmLogs" On="uninstall" Name="*.*" Directory="FireAdmLogsFolder"/>
				<RemoveFolder Id="RemoveFireAdmLogsFolderLocation" On="uninstall" Directory="FireAdmLogsFolder"/>
        <RemoveFile Id="RemoveFireAdm" On="uninstall" Name="*.*" Directory="FIREADMINISTRATORLOCATION" />
				<RemoveFolder Id="RemoveFireAdmLocation" On="uninstall" Directory="FIREADMINISTRATORLOCATION" />
			</Component>

			<Component Id="ClearOnUninstallFiresecService" Guid="EE4A45FE-3EA9-4A33-B259-8B9E6741B859">
				<CreateFolder Directory="INSTALLLOCATION" />
				<RemoveFile Id="RemoveFSIcons" On="uninstall" Name="*.*" Directory="FiresecServiceIconsFolder" />
				<RemoveFolder Id="RemoveFSIconsLocation" On="uninstall" Directory="FiresecServiceIconsFolder"/>
				<RemoveFile Id="RemoveFSSounds" On="uninstall" Name="*.*" Directory="FiresecServiceSoundsFolder" />
				<RemoveFolder Id="RemoveFSSoundsLocation" On="uninstall" Directory="FiresecServiceSoundsFolder"/>
				<!--<RemoveFile Id="RemoveFSConfigurations" On="uninstall" Name="*.*" Directory="FiresecServiceConfigFolder" />
				<RemoveFolder Id="RemoveFSConfigLocation" On="uninstall" Directory="FiresecServiceConfigFolder" />-->
				<RemoveFile Id="RemoveFiresecServiceLogs" On="uninstall" Name="*.*" Directory="FiresecServiceLogsFolder"/>
				<RemoveFolder Id="RemoveFiresecServiceLogsFolderLocation" On="uninstall" Directory="FiresecServiceLogsFolder"/>
        <RemoveFile Id="RemoveFiresecService" On="uninstall" Name="*.*" Directory="FIRESECSERVICELOCATION" />
				<RemoveFolder Id="FiresecServiceRemove" On="uninstall" Directory="FIRESECSERVICELOCATION"/>
			</Component>

      <Component Id="ClearOnUninstallLogs" Guid="FBCDB3DF-5B6D-4236-A11D-76518EE75109">
        <CreateFolder Directory="INSTALLLOCATION" />
        <RemoveFile Id="RemoveLogs" On="uninstall" Name="*.*" Directory="LOGS" />
        <RemoveFolder Id="RemoveLogsFolder" On="uninstall" Directory="LOGS"/>
      </Component>
		</DirectoryRef>
	</Fragment>
</Wix>