<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopFolder" Guid="5E21B113-87C1-46E2-8683-41385FF84194">
				<RemoveFolder Id="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="ProgramMenuDir" Guid="451D5694-84E8-468F-B26C-C49744FBC136">
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Sofware\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>