@{
    Layout = null;
}

<div>
    <div ng-controller="fireZonesCtrl">
        <div ui-grid="gridOptions" style="width: 100%; height: 0%;" ui-grid-selection ui-grid-resize-columns></div>
    </div>
</div>
<br/>
<div>
    <div ng-controller="fireZonesDevicesCtrl">
        <div ui-grid="gridOptions" style="width: 100%; height: 0%;" ui-grid-tree-view id="devices"></div>
    </div>
</div>
