@{
	Layout = null;
}

<div ng-controller="guardZonesCtrl">
	<div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-selection style="{{gridStyle}}"></div>
</div>
<div ng-controller="guardZoneDevicesCtrl">
	<div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-selection style="{{gridStyle}}"></div>
</div>
