
@{
    ViewBag.Title = "AlarmGroups";
    Layout = null;
}

<div ng-controller="alarmGroupsCtrl">
    <div alarm-btn="reset" style="float: left"></div>
    <div class="icon mpt"></div>
    <div class="icon shield"></div>
    <div class="icon fire2"></div>
    <div class="icon fire"></div>
    <div class="icon attention"></div>
    <div class="icon failure"></div>
    <div class="icon off"></div>
    <div class="icon auto"></div>
    <div class="icon service"></div>
    <div class="icon onOff"></div>
</div>