
@{
    ViewBag.Title = "AlarmGroups";
    Layout = null;
}

<div ng-controller="alarmGroupsCtrl">
    <div alarm-btn="reset" alarm-icon="ResetAlarmText" glow-color="#FF0000" style="float: left; margin-right: 10px"></div>
    <div alarm-btn="{{group.AlarmType}}" alarm-icon="{{group.AlarmTypeName}}" glow-color="{{group.GlowColor}}" style="float: left; margin-right: 10px" ng-repeat="group in model.AlarmGroups"></div>
</div>