
@{
    ViewBag.Title = "AlarmGroups";
    Layout = null;
}

<div ng-show="isAuth()" ng-controller="alarmGroupsCtrl">
    <div alarm-btn="reset"
         alarm-icon="ResetAlarmText"
         glow-color="#FFFFFF"
         ng-disabled="!model.CanReset"
         count="{{model.Count}}"
         ng-click="resetClick()"
         uib-tooltip-html="resetTooltip"
         tooltip-placement="bottom"
         style="float: left; margin-right: 10px">
    </div>
    <div alarm-btn="{{group.AlarmType}}"
         alarm-icon="{{group.AlarmTypeName}}"
         glow-color="{{group.GlowColor}}"
         ng-disabled="!group.HasAlarms"
         count="{{group.Count}}"
         ng-click="ShowClick(group)"
         uib-tooltip-html="group.tooltip"
         tooltip-placement="bottom"
         style="float: left; margin-right: 10px"
         ng-repeat="group in model.AlarmGroups">
    </div>
</div>