<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IIntegration">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IIntegrationVideoStreaming" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.11.4:8000/Integration" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IIntegration" contract="RviIntegrationServiceReference.IIntegration"
                name="NetTcpBinding_IIntegration" />
            <endpoint address="net.tcp://192.168.11.4:8000/IntegrationVideoStreaming"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIntegrationVideoStreaming"
                contract="RviIntegrationVideoStreamingServiceReference.IIntegrationVideoStreaming"
                name="NetTcpBinding_IIntegrationVideoStreaming" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
