<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="SDK.Features" Title="SDK" Description="Программа установит компопненты SDK необходимые для интеграции"
						 Display="expand" ConfigurableDirectory="SDKLOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
      <Condition Level="2">INSTALL_SDK</Condition>
      <ComponentRef Id="SDK.Files" />
      <ComponentRef Id="SDK.Files.Integration" />
      <ComponentRef Id="SDK.Files.Properties" />
      <ComponentRef Id="SDK.Files.Assemblies" />
    </Feature>
  </Fragment>
</Wix>