<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?include Variables_FireAdministrator.wxi?>
  
	<Fragment>
    <Feature Id="Complete" Title="$(var.ProductName)" Description="Полная установка" Level="1" Display="expand"
             ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="yes" Absent="allow" InstallDefault="local">
      <ComponentRef Id="MainExe" />
      <ComponentRef Id="FireAdministratorConfig" />
      <ComponentRef Id="CommonComponent" />
      <ComponentRef Id="ControlsComponent" />
      <ComponentRef Id="DeviceControlsComponent" />
      <ComponentRef Id="DialogBoxComponent" />
      <ComponentRef Id="FiresecAPIComponent" />
      <ComponentRef Id="FiresecClientComponent" />
      <ComponentRef Id="DevicesModuleComponent" />
      <ComponentRef Id="Infrastructure.CommonComponent" />
      <ComponentRef Id="InfrastructureComponent" />
      <ComponentRef Id="UnityComponent" />
      <ComponentRef Id="PrismDllComponent"/>
      <ComponentRef Id="PrismUnityExtensionsComponent"/>
      <ComponentRef Id="WPFToolkitExtendedComponent"/>
      <!--<ComponentRef Id="CustomWindowComponent"/>-->
      <ComponentRef Id="ServiceLocationComponent"/>
      <ComponentRef Id="InstructionsModuleComponent" />
      <ComponentRef Id="LibraryModuleComponent" />
      <ComponentRef Id="PlansModuleComponent" />
      <ComponentRef Id="SecurityModuleComponent" />
      <ComponentRef Id="SettingsModuleComponent" />
      <ComponentRef Id="SoundsModuleComponent" />
      <ComponentRef Id="FiltersModuleComponent" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentRef Id="ProgramsMenuShortcut" />
      <ComponentRef Id="ProgramsMenuShortcutUninstall" />
      <ComponentRef Id="DesktopFolder" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
	</Fragment>
</Wix>