@{
    Layout = null;
}


<div class="modal-header">
    <a class="close" href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
    <h3 class="modal-title">{{door.Name}}</h3>
</div>
<div class="modal-body">
    <div>
        <div>
            <div ng-style="{'background-color': door.StateColor}" style="width: 50px; height: 50px; border-width: 2px; margin: 5px; float: left"></div>
            <div style="float: left; width: 300px">
                <ul>
                    <li ng-repeat="stateClass in door.StateClasses">
                        <img style="margin: 2px; vertical-align:middle" ng-src="/Content/Image/Icon/GKStateIcons/{{stateClass.IconData}}.png" />
                        {{stateClass.Name}}
                    <li>
                </ul>
            </div>
            <div style="float: left">
                <div ng-show="door.HasOnDelay">
                    <span>Задержка на включение</span> <br />
                    <span>{{door.OnDelay}}</span><span> сек</span>
                </div>
                <div ng-show="door.HasHoldDelay">
                    <span>Время тушения</span> <br />
                    <span>{{door.HoldDelay}}</span><span> сек</span>
                </div>
            </div>
            <div style="clear: left">
            </div>
        </div>
        <uib-tabset>
            <uib-tab heading="Основные">
                <div style="background: #fff; color: #000; height: 248px">
                    <div>
                        <img style="margin: 2px; vertical-align:middle" height="16" width="16" src="~/Content/Image/Images/Door.png" />
                        <a href="#" ng-click="Show()">{{door.Name}}</a>
                    </div>
                    <div>
                        <span style="font-weight: bold; width: 110px">Номер в ГК:</span>
                        <span style="margin: 2px; font-weight: bold">{{door.GKDescriptorNo}}</span>
                    </div>
                    <div>
                        <img style="margin: 2px; vertical-align: middle" height="16" width="16" src="~/Content/Image/Icon/GK/BJournal.png" />
                        <a href="#" ng-click="ShowJournal()" style="margin: 2px; font-weight: bold">Показать связанные события</a>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Управление" ng-show="door.CanControl">
                <div style="background: #fff">
                    <div style="float: left; width: 100%">
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="SetRegimeNorm()">Установить режим Норма</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="SetRegimeOpen()">Установить режим Всегда Открыто</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="SetRegimeClose()">Установить режим Всегда Закрыто</div>
                    </div>
                    <div style="clear: left">
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Расширенное управление" ng-show="door.FullCanControl">
                <div>
                    <img style="margin: 2px; vertical-align:middle" ng-src="/Content/Image/Icon/GKStateIcons/{{door.ControlRegimeIcon}}.png" />
                    <span style="font-weight: bold; font-size: large; margin: 5px">Режим</span>
                    <span style="font-weight: bold; font-size: large; margin: 5px">{{door.ControlRegimeName}}</span>
                </div>
                <div style="background: #fff">
                    <div style="float: left; width: 50%">
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="SetAutomaticState()" ng-disabled="!door.CanSetAutomaticState">Автоматика</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="SetManualState()" ng-disabled="!door.CanSetManualState">Ручное</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="SetIgnoreState()" ng-disabled="!door.CanSetIgnoreState">Отключение</div>
                    </div>
                    <div style="float: left; width: 50%; background: #fff">
                        <div class="btn btn-primary" style="height:  50px; display: block; margin: 5px" ng-click="TurnOn()" ng-disabled="!door.IsControlRegime">Пуск</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="TurnOnNow()" ng-disabled="!door.IsControlRegime">Пуск немедленно</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="TurnOff()" ng-disabled="!door.IsControlRegime">Стоп</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="ForbidStart()" ng-disabled="!door.IsControlRegime">Останов пуска</div>
                    </div>
                    <div style="clear: left">
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>