
@{
    Layout = null;
}

<div>
    <div ng-controller="doorsCtrl">
        <div ui-grid="uiGrid" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns style=" width: 100%; height: auto;"></div>
    </div>
</div>>
