<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
	<Fragment>
    <DirectoryRef Id="MONITORLOCATION">
      <Component Id="MultiClient.Files" Guid="94D2CC25-2C75-41ED-82F0-320FEA338F31">
        <File Id="MultiClient.FireMonitor.Multiclient.exe" Name="FireMonitor.Multiclient.exe" Source="$(var.MultiClientMonitor.TargetDir)" />
        <File Id="MultiClient.FireMonitor.Multiclient.exe.manifest" Name="FireMonitor.Multiclient.exe.manifest" Source="$(var.MultiClientMonitor.TargetDir)" />
        <File Id="MultiClient.FireMonitor.Multiclient.exe.config" Name="FireMonitor.Multiclient.exe.config" Source="$(var.MultiClientMonitor.TargetDir)" />
        <File Id="MultiClient.MultiClientAdministrator.exe" Name="MultiClientAdministrator.exe" Source="$(var.MultiClientAdministrator.TargetDir)" />
        <File Id="MultiClient.MultiClientAdministrator.exe.manifest" Name="MultiClientAdministrator.exe.manifest" Source="$(var.MultiClientAdministrator.TargetDir)" />
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>