<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Icon Id="MultiClientMonitorIcon" SourceFile="Data\Monitor.ico"/>
    <Icon Id="MultiClientAdministratorIcon" SourceFile="Data\Administrator.ico"/>
    
    <DirectoryRef Id="DesktopFolder">
      <Component Id="MultiClientMonitor.DesktopShortcut" Guid="*">
        <Shortcut Id="MultiClientMonitor.DesktopShortcut" Name="$(var.MultiClientMonitorName)" Target="[MONITORLOCATION]$(var.MultiClientMonitor.TargetFileName)"
            WorkingDirectory="MONITORLOCATION" Description="$(var.MultiClientMonitorName)" Icon="MultiClientMonitorIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MultiClientMonitorName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_DESKTOP</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="MultiClientMonitor.ProgramsMenuShortcut" Guid="*">
        <Shortcut Id="MultiClientMonitor.ProgramsMenuShortcut" Name="$(var.MultiClientMonitorName)" Target="[MONITORLOCATION]$(var.MultiClientMonitor.TargetFileName)"
            WorkingDirectory="MONITORLOCATION" Description="$(var.MultiClientMonitorName)" Icon="MultiClientMonitorIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MultiClientMonitorName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_PROGRAMMENU</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="MultiClientAdministrator.DesktopShortcut" Guid="*">
        <Shortcut Id="MultiClientAdministrator.DesktopShortcut" Name="$(var.MultiClientAdministratorName)" Target="[MONITORLOCATION]$(var.MultiClientAdministrator.TargetFileName)"
            WorkingDirectory="MONITORLOCATION" Description="$(var.MultiClientAdministratorName)" Icon="MultiClientAdministratorIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MultiClientAdministratorName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_DESKTOP</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="MultiClientAdministrator.ProgramsMenuShortcut" Guid="*">
        <Shortcut Id="MultiClientAdministrator.ProgramsMenuShortcut" Name="$(var.MultiClientAdministratorName)" Target="[MONITORLOCATION]$(var.MultiClientAdministrator.TargetFileName)"
            WorkingDirectory="MONITORLOCATION" Description="$(var.MultiClientAdministratorName)" Icon="MultiClientAdministratorIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MultiClientAdministratorName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_PROGRAMMENU</Condition>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>