
@{
	Layout = null;
}

<div ng-controller="devicesCtrl">

	<devices-grid on-click="deviceClick" on-select="deviceSelect" is-full=true></devices-grid>

	<div class="device-params" ng-show="selectedDevice">
		<div class="device-title block">
			{{ selectedDevice.Name }}
		</div>
		<div>{{selectedDevice.State}}</div>
	</div>
</div>

