@model GkWeb.ViewModels.SignInViewModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
		  name="viewport">
	<meta content="ie=edge"
		  http-equiv="x-ua-compatible">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta content=""
		  name="description">
	<meta content=""
		  name="author">
	<link href="~/favicon.ico"
		  rel="icon">
	<title>Оперативная задача Глобал - Вход</title>

	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css"
		  rel="stylesheet" />
	<link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<form asp-controller="Logon" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-signin">
			<h2 class="form-signin-heading">Вход</h2>
			<label asp-for="User" class="sr-only"></label>
			<input asp-for="User" class="form-control" required autofocus placeholder="Логин" />
			<label asp-for="Password" class="sr-only"></label>
			<input asp-for="Password" class="form-control" placeholder="Пароль" required />
			<button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
		</form>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
	<script src="~/lib/tether/dist/js/tether.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/staticlibs/ie10-viewport-bug-workaround.js"></script>
</body>
</html>