<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="DestinationFolderDialog" X="50" Y="50" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)" NoMinimize="yes" TrackDiskSpace="yes">
				<Control Id="TitleRect"		Type="Bitmap"		X="0"	Y="0"	Width="374"	Height="44"	TabSkip="no" Text="TitleRect.bmp" />
				<Control Id="DlgTitle"		Type="Text"			X="18"	Y="10"	Width="292"	Height="15"	Text="{&amp;MSSansBold8}Выбор папки установки" TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle2"		Type="Text"			X="30"	Y="22"	Width="244"	Height="15"	Text="В какую папку вы хотите установить $(var.ProductName)?" TabSkip="yes" Transparent="yes" />
				<Control Id="DlgDesc"		Type="Text"			X="30"	Y="54"	Width="327"	Height="20"	Text="Нажмите &quot;Далее&quot;, чтобы продолжить. Если вы хотите выбрать другую папку, нажмите &quot;Обзор&quot;." TabSkip="yes" Transparent="yes" />
				<Control Id="DestFolder"	Type="Icon"			X="30"	Y="95"	Width="24"	Height="25"	Text="DestFolder.ico" TabSkip="yes" Disabled="yes" IconSize="32" FixedSize="yes" />
				<Control Id="Location"		Type="Text"			X="64"	Y="105"	Width="300"	Height="26"	Property="_BrowseProperty" Text="[INSTALLLOCATION]" TabSkip="yes" Transparent="yes" />
				<Control Id="Copyright"		Type="Text"			X="30"	Y="200"	Width="340"	Height="25"	Text="{&amp;NormalText}Требуется 300 Mb свободного дискового пространства" TabSkip="yes" Transparent="yes" />
				<Control Id="BannerLine"	Type="Line"			X="0"	Y="44"	Width="370"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1"		Type="Text"			X="16"	Y="229"	Width="50"	Height="13"	Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
				<Control Id="Branding2"		Type="Text"			X="15"	Y="228"	Width="50"	Height="13"	Text="{&amp;NormalText}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine"		Type="Line"			X="48"	Y="234"	Width="326"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Next"			Type="PushButton"	X="230"	Y="243"	Width="66"	Height="17"	Text="$(var.btnNext)" TabSkip="no" Default="yes" />
				<Control Id="Cancel"		Type="PushButton"	X="301"	Y="243"	Width="66"	Height="17"	Text="$(var.btnCancel)" TabSkip="no" Cancel="yes" />
				<Control Id="Back"			Type="PushButton"	X="164"	Y="243"	Width="66"	Height="17"	Text="$(var.btnBack)" TabSkip="no" />
				<Control Id="ChangeFolder"	Type="PushButton"	X="281"	Y="105"	Width="66"	Height="17"	Text="Обзор..." TabSkip="no" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>