<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="InstallChangeFolderDialog" X="50" Y="50" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)" NoMinimize="yes">
				<Control Id="TitleRect"		Type="Bitmap"			X="0"	Y="0"	Width="374"	Height="44"	TabSkip="no" Text="TitleRect.bmp" />
				<Control Id="Tail"			Type="PathEdit"			X="21"	Y="207"	Width="332"	Height="17"	Property="_BrowseProperty" TabSkip="no" Sunken="yes" Indirect="yes" />
				<Control Id="OK"			Type="PushButton"		X="230"	Y="243"	Width="66"	Height="17"	Text="&amp;OK" TabSkip="no" Default="yes" />
				<Control Id="Cancel"		Type="PushButton"		X="301"	Y="243"	Width="66"	Height="17"	Text="$(var.btnCancel)" TabSkip="no" Cancel="yes" />
				<Control Id="ComboText"		Type="Text"				X="21"	Y="50"	Width="99"	Height="14"	Text="Об&amp;зор:" TabSkip="no" />
				<Control Id="Combo"			Type="DirectoryCombo"	X="21"	Y="64"	Width="277"	Height="80"	Property="_BrowseProperty" TabSkip="no" Indirect="yes" Removable="yes" Fixed="yes" Remote="yes" CDROM="yes" RAMDisk="yes" Floppy="yes" />
				<Control Id="Up"			Type="PushButton"		X="310"	Y="63"	Width="19"	Height="19"	Text="Up.ico" ToolTip="На один уровень вверх" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes" />
				<Control Id="NewFolder"		Type="PushButton"		X="335"	Y="63"	Width="19"	Height="19"	Text="NewFolder.ico" ToolTip="Создать новую папку" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes" />
				<Control Id="List"			Type="DirectoryList"	X="21"	Y="90"	Width="332"	Height="97"	Property="_BrowseProperty" TabSkip="no" Sunken="yes" Indirect="yes" />
				<Control Id="TailText"		Type="Text"				X="21"	Y="193"	Width="99"	Height="13"	Text="&amp;Папка:" TabSkip="no" />
				<Control Id="DlgDesc"		Type="Text"				X="21"	Y="23"	Width="292"	Height="25"	Text="Выбор папки назначения." TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle"		Type="Text"				X="10"	Y="6"	Width="292"	Height="25"	Text="{&amp;MSSansBold8}Изменить текущую папку назначения" TabSkip="yes" Transparent="yes" />
				<Control Id="BannerLine"	Type="Line"				X="0"	Y="44"	Width="370"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1"		Type="Text"				X="16"	Y="229"	Width="50"	Height="13"	Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
				<Control Id="Branding2"		Type="Text"				X="15"	Y="228"	Width="50"	Height="13"	Text="{&amp;NormalText}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine"		Type="Line"				X="48"	Y="234"	Width="326"	Height="0"	TabSkip="yes" Disabled="yes" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>