<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="ShortcutsDialog" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)">
				<Control Id="TitleRect"				Type="Bitmap"		X="0"	Y="0"		Width="374"	Height="44"	TabSkip="no" Text="TitleRect.bmp" />
				<Control Id="DlgTitle"				Type="Text"			X="18"	Y="10"		Width="292"	Height="15"	Text="{&amp;MSSansBold8}Установка ярлыков." TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle2"				Type="Text"			X="30"	Y="22"		Width="244"	Height="15"	Text="Какие ярлыки должны быть установлены?" TabSkip="yes" Transparent="yes" />
				<Control Id="ShortcutDesktop"		Type="CheckBox"		X="26"	Y="58"		Width="295"	Height="18"	Text="Создать ярлык на рабочем столе" Property="SHORTCUT_DESKTOP" CheckBoxValue="1" />
				<Control Id="ShortcutProgramMenu"	Type="CheckBox"		X="26"	Y="79"		Width="295"	Height="18"	Text="Создать ярлык в меню Пуск" Property="SHORTCUT_PROGRAMMENU" CheckBoxValue="1" />
				<Control Id="BannerLine"			Type="Line"			X="0"	Y="44"		Width="370"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1"				Type="Text"			X="16"	Y="229"		Width="50"	Height="13"	Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
				<Control Id="Branding2"				Type="Text"			X="15"	Y="228"		Width="50"	Height="13"	Text="{&amp;NormalText}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine"				Type="Line"			X="48"	Y="234"		Width="326"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Next"					Type="PushButton"	X="230"	Y="243"		Width="66"	Height="17"	Text="$(var.btnNext)" TabSkip="no" Default="yes" />
				<Control Id="Cancel"				Type="PushButton"	X="301"	Y="243"		Width="66"	Height="17"	Text="$(var.btnCancel)" TabSkip="no" Cancel="yes" />
				<Control Id="Back"					Type="PushButton"	X="164"	Y="243"		Width="66"	Height="17"	Text="$(var.btnBack)" TabSkip="no" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>