<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ../Variables.wxi?>
    <?include UI_Variables.wxi?>
    <Fragment>
        <UI>
            <Dialog Id="SQLLoginDialog" X="50" Y="50" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)" NoMinimize="yes">
                <Control Id="DlgTitle" Type="Text" X="18" Y="10" Width="292" Height="15" Text="{&amp;MSSansBold8}Параметры соединения с SQL Server 2005" TabSkip="yes" Transparent="yes" />
                <Control Id="DlgTitle2" Type="Text" X="30" Y="22" Width="340" Height="15" Text="Укажите параметры соединения с SQL Server 2005 для создания базы данных $(var.ProductName)." TabSkip="yes" Transparent="yes" />
                <!-- IP-адрес сервера баз данных -->
                <Control Id="SqlServerAddressLabel" Type="Text" Width="137" Height="15" X="38" Y="50" Text="IP-адрес сервера баз данных:" />
                <Control Id="SqlServerAddressEdit" Type="Edit" Width="146" Height="15" X="184" Y="50" Property="SQLSERVER_ADDRESS" />
                <!-- Порт сервера баз данных -->
                <Control Id="SqlServerPortLabel" Type="Text" Width="137" Height="15" X="38" Y="70" Text="Порт сервера баз данных:" />
                <Control Id="SqlServerPortEdit" Type="Edit" Width="146" Height="15" X="184" Y="70" Property="SQLSERVER_PORT" />
                <!-- Название экземпляра сервера БД -->
                <Control Id="SqlServerInstanceNameLabel" Type="Text" X="38" Y="90" Width="137" Height="14" Text="&amp;Название экземпляра сервера БД:" TabSkip="no" />
                <Control Id="SqlServerInstanceNameEdit" Type="Edit" X="184" Y="90" Width="146" Height="15" Property="SQLSERVER_INSTANCENAME" TabSkip="no" />
                <!-- Аутентификация -->
                <Control Id="SqlServerAuthenticationModeLabel" Type="Text" X="38" Y="110" Width="334" Height="14" Text="Аутентификация:" TabSkip="no" NoPrefix="yes" />
                <Control Id="SqlServerAuthenticationModeRadioButtonGroup" Type="RadioButtonGroup" X="38" Y="125" Width="330" Height="34" Property="SQLSERVER_AUTHENTICATIONMODE" TabSkip="no" />
                <!-- Аутентификация. Логин сервера БД -->
                <Control Id="SqlServerAuthLoginIDLabel" Type="Text" X="50" Y="170" Width="78" Height="13" Text="&amp;Логин сервера БД:" TabSkip="no">
                    <Condition Action="disable">SQLSERVER_AUTHENTICATIONMODE=0</Condition>
                    <Condition Action="enable">SQLSERVER_AUTHENTICATIONMODE=1</Condition>
                </Control>
                <Control Id="SqlServerAuthLoginIDEdit" Type="Edit" X="139" Y="170" Width="188" Height="15" Property="SQLSERVER_LOGIN" TabSkip="no">
                    <Condition Action="disable">SQLSERVER_AUTHENTICATIONMODE=0</Condition>
                    <Condition Action="enable">SQLSERVER_AUTHENTICATIONMODE=1</Condition>
                </Control>
                <!-- Аутентификация. Пароль сервера БД -->
                <Control Id="SqlServerAuthPwdLabel" Type="Text" X="50" Y="190" Width="80" Height="13" Text="&amp;Пароль сервера БД:" TabSkip="no">
                    <Condition Action="disable">SQLSERVER_AUTHENTICATIONMODE=0</Condition>
                    <Condition Action="enable">SQLSERVER_AUTHENTICATIONMODE=1</Condition>
                </Control>
                <Control Id="SqlServerAuthPwdEdit" Type="Edit" X="139" Y="190" Width="188" Height="15" Property="SQLSERVER_PASSWORD" TabSkip="no" Password="yes">
                    <Condition Action="disable">SQLSERVER_AUTHENTICATIONMODE=0</Condition>
                    <Condition Action="enable">SQLSERVER_AUTHENTICATIONMODE=1</Condition>
                </Control>
                <Control Id="CheckConnectionPushButton" Type="PushButton" Text="{&amp;MSSWhiteSerif8}Проверить соединение" Width="100" Height="17" X="228" Y="210" />
                <!-- Прочие элементы -->
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" TabSkip="yes" Disabled="yes" />
                <Control Id="Branding1" Type="Text" X="16" Y="229" Width="50" Height="13" Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
                <Control Id="Branding2" Type="Text" X="15" Y="228" Width="50" Height="13" Text="{&amp;Tahoma8}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
                <Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" TabSkip="yes" Disabled="yes" />
                <Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Text="$(var.btnBack)" TabSkip="no" />
                <Control Id="Next" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="$(var.btnNext)" TabSkip="no" Default="yes" />
                <Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="$(var.btnCancel)" TabSkip="no" Cancel="yes" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>