<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="SQLLoginDialog" X="50" Y="50" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)" NoMinimize="yes">
				<Control Id="DlgTitle"			Type="Text"				X="18"	Y="10"	Width="292"	Height="15"	Text="{&amp;MSSansBold8}Выбор экземпляра компонентов SQL Server 2005" TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle2"			Type="Text"				X="30"	Y="22"	Width="340"	Height="15"	Text="Укажите экземпляр компонентов, в котором будет создана база данных $(var.ProductName)." TabSkip="yes" Transparent="yes" />
				<Control Id="lblSQLLoginIntro"	Type="Text"				X="30"	Y="50"	Width="330"	Height="40"	Text="Введите имя для экземпляра. Выберите режим проверки подлинности для использования при установке." TabSkip="no" Transparent="yes" />
				<Control Id="lblServer"			Type="Text"				X="30"	Y="92"	Width="88"	Height="14"	Text="&amp;Имя экземпляра:" TabSkip="no" />
				<Control Id="cboServers"		Type="Edit"				X="30"	Y="106"	Width="218"	Height="16"	Property="SQLINSTANCE" TabSkip="no" />
				<Control Id="lblAuthentication"	Type="Text"				X="30"	Y="129"	Width="334"	Height="14"	Text="Режим проверки подлинности:" TabSkip="no" NoPrefix="yes" />
				<Control Id="RadioButtonGroup1"	Type="RadioButtonGroup"	X="37"	Y="145"	Width="343"	Height="34"	Property="IS_SQLSERVER_AUTHENTICATION" TabSkip="no" />
				<Control Id="lblLoginID"		Type="Text"				X="55"	Y="186"	Width="48"	Height="13"	Text="&amp;Login ID:" TabSkip="no">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="EdtLogin"			Type="Edit"				X="104"	Y="184"	Width="218"	Height="16"	Property="IS_SQLSERVER_USERNAME" TabSkip="no">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="lblPswd"			Type="Text"				X="55"	Y="208"	Width="47"	Height="13"	Text="&amp;Password:" TabSkip="no">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="EdtPswd"			Type="Edit"				X="104"	Y="208"	Width="218"	Height="16"	Property="IS_SQLSERVER_PASSWORD" TabSkip="no" Password="yes">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="BannerLine"		Type="Line"				X="0"	Y="44"	Width="370"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1"			Type="Text"				X="16"	Y="229"	Width="50"	Height="13"	Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
				<Control Id="Branding2"			Type="Text"				X="15"	Y="228"	Width="50"	Height="13"	Text="{&amp;NormalText}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine"			Type="Line"				X="48"	Y="234"	Width="326"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Back"				Type="PushButton"		X="164"	Y="243"	Width="66"	Height="17"	Text="$(var.btnBack)" TabSkip="no" />
				<Control Id="Next"				Type="PushButton"		X="230"	Y="243"	Width="66"	Height="17"	Text="$(var.btnNext)" TabSkip="no" Default="yes" />
				<Control Id="Cancel"			Type="PushButton"		X="301"	Y="243"	Width="66"	Height="17"	Text="$(var.btnCancel)" TabSkip="no" Cancel="yes" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>