<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" >
	
	<Fragment>
		<UI Id="UIDialogs">
			<DialogRef Id="InstallDirDlg"/>
			<DialogRef Id="BrowseDlg"/>
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
			
			<Dialog Id="ShortcutsDlg" Width="374" Height="266" Title="[BrandName] - Программа установки">
				<Control Id="Next" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="&amp;Далее &gt;" TabSkip="no" Default="yes" />
				<Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="&amp;Отмена" TabSkip="no" Cancel="yes" />
				<Control Id="Back" Type="PushButton" X="163" Y="243" Width="66" Height="17" Text="&lt; &amp;Назад" TabSkip="no" />

				<Control Id="ShortcutDesktop" Type="CheckBox" Height="18" Width="295" X="26" Y="58" Text="Создать ярлык на рабочем столе"
								 Property="SHORTCUT_DESKTOP" CheckBoxValue="1" />
				<Control Id="ShortcutProgramMenu" Type="CheckBox" Height="18" Width="295" X="26" Y="79" Text="Создать ярлык в меню Пуск"
								 Property="SHORTCUT_PROGRAMMENU" CheckBoxValue="1" />

				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1" Type="Text" X="4" Y="229" Width="50" Height="13" Text="{&amp;MSSWhiteSerif8}        Firesec" TabSkip="yes" />
				<Control Id="Branding2" Type="Text" X="3" Y="228" Width="50" Height="13" Text="{&amp;Tahoma8}        Firesec" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="Bitmap1" Type="Bitmap" X="0" Y="0" Width="374" Height="44" Text="FiresecBanner" TabSkip="no" Disabled="yes" FixedSize="yes" />
			</Dialog>
			
			<Dialog Id="LicenseAgreement" X="50" Y="50" Width="374" Height="266" Title="[BrandName] - Программа установки" Hidden="yes" NoMinimize="yes">
				<Control Id="Agree" Type="RadioButtonGroup" X="8" Y="190" Width="330" Height="40" Property="AgreeToLicense" TabSkip="no" />
				<Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Text="&lt; &amp;Назад" TabSkip="no" />
				<Control Id="Next" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="&amp;Далее &gt;" TabSkip="no" Default="yes">
					<Condition Action="disable">AgreeToLicense &lt;&gt; "Yes"</Condition>
					<Condition Action="enable">AgreeToLicense = "Yes"</Condition>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="&amp;Отмена" TabSkip="no" Cancel="yes" />
				<Control Id="DlgDesc" Type="Text" X="21" Y="23" Width="292" Height="25" Text="Прочитайте внимательно лицензионное соглашение." TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle" Type="Text" X="10" Y="6" Width="292" Height="25" Text="{&amp;MSSansBold8}Лицензионное соглашение" TabSkip="yes" Transparent="yes" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1" Type="Text" X="4" Y="229" Width="50" Height="13" Text="{&amp;MSSWhiteSerif8}        Firesec" TabSkip="yes" />
				<Control Id="Branding2" Type="Text" X="3" Y="228" Width="50" Height="13" Text="{&amp;Tahoma8}        Firesec" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="LicenseText" Type="ScrollableText" X="8" Y="54" Width="358" Height="130"  Sunken="yes" TabSkip="yes">
					<Text SourceFile="Data\License.rtf" />
				</Control>
			</Dialog>

			<Dialog Id="SQLLogin" X="50" Y="50" Width="374" Height="266" Title="[ProductName] - InstallShield Wizard" NoMinimize="yes">
				<Control Id="cboServers" Type="Edit" X="18" Y="106" Width="218" Height="16" Property="SQLINSTANCE" TabSkip="no"/>
				<Control Id="lblAuthentication" Type="Text" X="18" Y="129" Width="334" Height="14" Text="Режим проверки подлинности:" TabSkip="no" NoPrefix="yes" />
				<Control Id="RadioButtonGroup1" Type="RadioButtonGroup" X="25" Y="145" Width="343" Height="34" Property="IS_SQLSERVER_AUTHENTICATION" TabSkip="no" />
				<Control Id="lblLoginID" Type="Text" X="43" Y="186" Width="48" Height="13" Text="&amp;Login ID:" TabSkip="no">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="EdtLogin" Type="Edit" X="92" Y="184" Width="218" Height="16" Property="IS_SQLSERVER_USERNAME" TabSkip="no">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="lblPswd" Type="Text" X="43" Y="208" Width="47" Height="13" Text="&amp;Password:" TabSkip="no">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="EdtPswd" Type="Edit" X="92" Y="208" Width="218" Height="16" Property="IS_SQLSERVER_PASSWORD" TabSkip="no" Password="yes">
					<Condition Action="disable">IS_SQLSERVER_AUTHENTICATION=0</Condition>
					<Condition Action="enable">IS_SQLSERVER_AUTHENTICATION=1</Condition>
				</Control>
				<Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Text="&lt; &amp;Back" TabSkip="no" />
				<Control Id="Next" Type="PushButton" X="229" Y="243" Width="66" Height="17" Text="&amp;Next &gt;" TabSkip="no" Default="yes" />
				<Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="&amp;Отмена" TabSkip="no" Cancel="yes" />
				<Control Id="lblServer" Type="Text" X="18" Y="92" Width="88" Height="14" Text="&amp;Имя экземпляра:" TabSkip="no" />
				<Control Id="lblSQLLoginIntro" Type="Text" X="17" Y="50" Width="345" Height="40" Text="Введите имя для экземпляра. Выберите режим проверки подлинности для использования при установке." TabSkip="no" Transparent="yes" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1" Type="Text" X="4" Y="229" Width="50" Height="13" Text="{&amp;MSSWhiteSerif8}        Firesec" TabSkip="yes" />
				<Control Id="Branding2" Type="Text" X="3" Y="228" Width="50" Height="13" Text="{&amp;Tahoma8}        Firesec" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="Banner" Type="Bitmap" X="0" Y="0" Width="374" Height="44" Text="FiresecBanner" TabSkip="yes" Disabled="yes" />
			</Dialog>

			<Dialog Id="DestinationFolder" X="50" Y="50" Width="374" Height="266" Title="[BrandName] - Программа установки" NoMinimize="yes" TrackDiskSpace="yes">
				<Control Id="Next" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="&amp;Далее &gt;" TabSkip="no" Default="yes" />
				<Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="&amp;Отмена" TabSkip="no" Cancel="yes" />
				<Control Id="ChangeFolder" Type="PushButton" X="36" Y="243" Width="126" Height="17" Text="Изменить &amp;папку назначения..." TabSkip="no" />
				<Control Id="Back" Type="PushButton" X="163" Y="243" Width="66" Height="17" Text="&lt; &amp;Назад" TabSkip="no" />
				<Control Id="Bitmap1" Type="Bitmap" X="0" Y="0" Width="374" Height="44" Text="FiresecBanner" TabSkip="no" Disabled="yes" FixedSize="yes" />
				<Control Id="DestFolder" Type="Icon" X="18" Y="91" Width="24" Height="25" Text="DestinationFolder.ico" TabSkip="yes" Disabled="yes" IconSize="32" FixedSize="yes" />
				<Control Id="DlgDesc" Type="Text" X="20" Y="62" Width="340" Height="20" Text="Нажмите &quot;Далее&quot;, чтобы установить в данную папку, или &quot;Изменить&quot;, чтобы выбрать другую папку." TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle" Type="Text" X="10" Y="50" Width="292" Height="15" Text="{&amp;MSSansBold8}Папка назначения" TabSkip="yes" Transparent="yes" />
				<Control Id="Copyright" Type="Text" X="20" Y="180" Width="340" Height="25" Text="ПРЕДУПРЕЖДЕНИЕ: Эта программа защищена законом об авторских правах и международными соглашениями." TabSkip="yes" Transparent="yes" />
				<Control Id="Location" Type="Text" X="54" Y="105" Width="300" Height="26" Property="_BrowseProperty" Text="[INSTALLLOCATION]" TabSkip="yes" Transparent="yes" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1" Type="Text" X="4" Y="229" Width="50" Height="13" Text="{&amp;MSSWhiteSerif8}        Firesec" TabSkip="yes" />
				<Control Id="Branding2" Type="Text" X="3" Y="228" Width="50" Height="13" Text="{&amp;Tahoma8}        Firesec" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="LocLabel" Type="Text" X="54" Y="91" Width="290" Height="15" Text="Установить [BrandName] в:" TabSkip="yes" Transparent="yes" />
			</Dialog>

			<Dialog Id="InstallChangeFolderError" X="50" Y="50" Width="358" Height="111" Title="[BrandName] - Программа установки" NoMinimize="yes">
				<Control Id="OkayButton" Type="PushButton" X="142" Y="82" Width="66" Height="17" Text="&amp;ОК" TabSkip="no" Default="yes">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				<Control Id="Text1" Type="Text" X="55" Y="22" Width="298" Height="50" Text="[INSTALLLOCATION]&#xA;&#xA;- неправильно указан путь к каталогу.  Выберите другой целевой каталог." TabSkip="yes" />
				<Control Id="Icon1" Type="Icon" X="20" Y="22" Width="24" Height="24" Text="InstallFolderError.ico" TabSkip="yes" Disabled="yes" IconSize="32" FixedSize="yes" />
			</Dialog>

			<Dialog Id="InstallChangeFolder" X="50" Y="50" Width="374" Height="266" Title="[BrandName] - Программа установки" NoMinimize="yes">
				<Control Id="Tail" Type="PathEdit" X="21" Y="207" Width="332" Height="17" Property="_BrowseProperty" TabSkip="no" Sunken="yes" Indirect="yes" />
				<Control Id="OK" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="&amp;OK" TabSkip="no" Default="yes" />
				<Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="&amp;Отмена" TabSkip="no" Cancel="yes" />
				<Control Id="ComboText" Type="Text" X="21" Y="50" Width="99" Height="14" Text="Об&amp;зор:" TabSkip="no" />
				<Control Id="Combo" Type="DirectoryCombo" X="21" Y="64" Width="277" Height="80" Property="_BrowseProperty" TabSkip="no" Indirect="yes" Removable="yes" Fixed="yes" Remote="yes" CDROM="yes" RAMDisk="yes" Floppy="yes" />
				<Control Id="Up" Type="PushButton" X="310" Y="63" Width="19" Height="19" Text="Up.ico" ToolTip="На один уровень вверх" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes" />
				<Control Id="NewFolder" Type="PushButton" X="335" Y="63" Width="19" Height="19" Text="NewFolder.ico" ToolTip="Создать новую папку" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes" />
				<Control Id="List" Type="DirectoryList" X="21" Y="90" Width="332" Height="97" Property="_BrowseProperty" TabSkip="no" Sunken="yes" Indirect="yes" />
				<Control Id="TailText" Type="Text" X="21" Y="193" Width="99" Height="13" Text="&amp;Папка:" TabSkip="no" />
				<Control Id="DlgDesc" Type="Text" X="21" Y="23" Width="292" Height="25" Text="Выбор папки назначения." TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle" Type="Text" X="10" Y="6" Width="292" Height="25" Text="{&amp;MSSansBold8}Изменить текущую папку назначения" TabSkip="yes" Transparent="yes" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1" Type="Text" X="4" Y="229" Width="50" Height="13" Text="{&amp;MSSWhiteSerif8}        Firesec" TabSkip="yes" />
				<Control Id="Branding2" Type="Text" X="3" Y="228" Width="50" Height="13" Text="{&amp;Tahoma8}        Firesec" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0" TabSkip="yes" Disabled="yes" />
			</Dialog>

			<Dialog Id="SetupType" X="50" Y="50" Width="374" Height="266" Title="[BrandName] - Программа установки" NoMinimize="yes">
				<Control Id="RadioGroup" Type="RadioButtonGroup" X="105" Y="68" Width="268" Height="106" Property="SETUPCHOICE" TabSkip="yes" />
				<Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Text="&lt; &amp;Назад" TabSkip="no" />
				<Control Id="Next" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="&amp;Далее &gt;" TabSkip="no" Default="yes" />
				<Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="&amp;Отмена" TabSkip="no" Cancel="yes" />
				<Control Id="Bitmap1" Type="Bitmap" X="0" Y="46" Width="105" Height="171" Text="InstallChoiceLogo.bmp" TabSkip="yes" Disabled="yes" />
				<Control Id="DlgTitle" Type="Text" X="115" Y="43" Width="244" Height="15" Text="{&amp;MSSansBold8}Выбор компонент" TabSkip="yes" Transparent="yes" />
				<Control Id="DlgText" Type="Text" X="115" Y="60" Width="249" Height="13" Text="Выберите компоненты для установки." TabSkip="yes" />
				<Control Id="Branding1" Type="Text" X="4" Y="229" Width="50" Height="13" Text="{&amp;MSSWhiteSerif8}        Firesec" TabSkip="yes" />
				<Control Id="Branding2" Type="Text" X="3" Y="228" Width="50" Height="13" Text="{&amp;Tahoma8}        Firesec" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="2" TabSkip="yes" Disabled="yes" />
				<Control Id="CompText" Type="Text" X="161" Y="165" Width="202" Height="41" Text="Будут установлены только монитор и администратор." TabSkip="yes" />
				<Control Id="Text1" Type="Text" X="161" Y="101" Width="202" Height="41" Text="Будут установлены сервер, монитор и администратор." TabSkip="yes" Transparent="yes"/>
				<Control Id="CompleteIco" Type="Icon" X="125" Y="165" Width="24" Height="24" Text="InstallClient.ico" TabSkip="yes" Disabled="yes" IconSize="32" FixedSize="yes" />
				<Control Id="Icon1" Type="Icon" X="125" Y="101" Width="24" Height="24" Text="InstallFull.ico" TabSkip="yes" Disabled="yes" IconSize="32" FixedSize="yes"/>
				<Control Id="Bitmap2" Type="Bitmap"  Width="374" Height="44" X="0" Y="0" Text="FiresecBanner" TabSkip="yes" Disabled="yes" FixedSize="yes"/>
				<Control Id="Line2" Type="Line" Width="374" Height="2" X="0" Y="44" Disabled="yes" TabSkip="yes"/>
			</Dialog>
			
		</UI>
	</Fragment>
</Wix>