<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:loc="http://schemas.microsoft.com/wix/2006/localization">
	<Fragment>
		<UI Id="UIDialogs">
			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
		</UI>
	</Fragment>
</Wix>