<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="UIElements">
			<RadioButtonGroup Property="AgreeToLicense">
				<RadioButton Height="15" Text="Я &amp;не принимаю условия лицензионного соглашения " Value="No" Width="295" X="0" Y="15" />
				<RadioButton Height="15" Text="Я &amp;принимаю условия лицензионного соглашения " Value="Yes" Width="295" X="0" Y="0" />
			</RadioButtonGroup>

			<RadioButtonGroup Property="IS_SQLSERVER_AUTHENTICATION">
				<RadioButton Height="14" Text="&amp;Режим проверки подлинности Windows" Value="0" Width="327" X="0" Y="0" />
				<RadioButton Height="19" Text="&amp;Смешанный режим(Режим проверки подлинности Windows и режим проверки подлинности SQL Server)" Value="1" Width="327" X="0" Y="14" />
			</RadioButtonGroup>

			<ComboBox Property="IS_SQLSERVER_SERVER">
				<ListItem Value="SQLInstanceList" />
			</ComboBox>

			<RadioButtonGroup Property="SETUPCHOICE">
				<RadioButton Height="14" Text="{&amp;MSSansBold8}&amp;Установка клиента и сервера" Value="Full" Width="247" X="21" Y="14" />
				<RadioButton Height="14" Text="{&amp;MSSansBold8}&amp;Установка удаленного клиента" Value="Client" Width="247" X="21" Y="75" />
			</RadioButtonGroup>
		</UI>
	</Fragment>
</Wix>