<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UIElements">
      <RadioButtonGroup Property="SQLSERVER_AUTHENTICATIONMODE">
        <RadioButton Height="14" Text="&amp;!(loc.SQLServer_SQLServerAuthenticationWindows)" Value="0" Width="327" X="0" Y="0" />
        <RadioButton Height="19" Text="&amp;!(loc.SQLServer_SQLServerAuthenticationMixed)" Value="1" Width="327" X="0" Y="14" />
      </RadioButtonGroup>
    </UI>
  </Fragment>
</Wix>