<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="WixUI_Wizard">
			<UIRef Id="UITextStyles"/>
			<UIRef Id="UIElements"/>
			<UIRef Id="UIDialogs"/>
			<UIRef Id="WixUI_Common"/>

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="RequirementsDialog">NOT Installed AND NOT PATCH</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

			<Publish Dialog="RequirementsDialog" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="RequirementsDialog" Control="Next" Event="NewDialog" Value="LicenseAgreementDialog">1</Publish>

			<Publish Dialog="LicenseAgreementDialog" Control="Back" Event="NewDialog" Value="RequirementsDialog">1</Publish>
			<Publish Dialog="LicenseAgreementDialog" Control="Next" Event="NewDialog" Value="SetupTypeDialog" Order="2">LicenseAccepted = "1"</Publish>

			<Publish Dialog="SetupTypeDialog" Control="Back" Event="NewDialog" Value="LicenseAgreementDialog">1</Publish>
			<Publish Dialog="SetupTypeDialog" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
			<Publish Dialog="SetupTypeDialog" Control="CompleteButton" Event="NewDialog" Value="ShortcutsDialog">1</Publish>

			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDialog" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
			<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="ShortcutsDialog">1</Publish>

			<Publish Dialog="ShortcutsDialog" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
			<Publish Dialog="ShortcutsDialog" Control="Back" Event="NewDialog" Value="SetupTypeDialog" Order="2">WixUI_InstallMode = "InstallComplete"</Publish>
			<Publish Dialog="ShortcutsDialog" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="ShortcutsDialog" Control="Next" Event="DoAction" Value="ReadAppServerSettings" Order="1"><![CDATA[&Server.Features = 3]]></Publish>
			<Publish Dialog="ShortcutsDialog" Control="Next" Event="NewDialog" Value="SQLServerDialog" Order="2"><![CDATA[&Server.Features = 3]]></Publish>
			<Publish Dialog="ShortcutsDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3"><![CDATA[&Server.Features <> 3]]></Publish>

			<Publish Dialog="SQLServerDialog" Control="CheckConnectionPushButton" Event="DoAction" Value="CheckSqlConnection">1</Publish>
			<Publish Dialog="SQLServerDialog" Control="Back" Event="NewDialog" Value="ShortcutsDialog">1</Publish>
			<Publish Dialog="SQLServerDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ShortcutsDialog" Order="1"><![CDATA[&Server.Features <> 3]]></Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SQLServerDialog" Order="2"><![CDATA[&Server.Features = 3]]></Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="3">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="WriteAppServerSettings"><![CDATA[WixUI_InstallMode <> "Remove" AND &Server.Features = 3]]></Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="WriteAppLocalizationSettings"><![CDATA[WixUI_InstallMode <> "Remove" AND &Server.Features = 3]]></Publish>
		</UI>
	</Fragment>
</Wix>