<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="UIProperties">
			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="Mondo" />
			<Property Id="AgreeToLicense" Value="No" />
			<Property Id="SetupChoice" Value="Full" />
			<Property Id="IS_SQLSERVER_USERNAME" Value="sa" />
			<Property Id="IS_SQLSERVER_AUTHENTICATION" Value="0" />
			<Property Id="SQLINSTANCE" Value="SQLEXPRESS" />
			<Property Id="BrandName" Value="Firesec" />
		</UI>
	</Fragment>
</Wix>