<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="VerifyReadyDialog" X="10" Y="0" Width="374" Height="266" Title="!(loc.VerifyReadyDlg_Title)" TrackDiskSpace="yes">
				<Control Id="TitleRect"			Type="Bitmap"		X="0"	Y="0"	Width="374"	Height="44"	TabSkip="no" Text="TitleRect.bmp" />
				<Control Id="InstallNoShield"	Type="PushButton"	X="230"	Y="243"	Width="66"	Height="17"	ElevationShield="no" Default="yes" Hidden="yes" Disabled="yes" Text="!(loc.VerifyReadyDlgInstall)">
					<Condition Action="show">1</Condition>
					<Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
					<Publish Event="SpawnDialog" Value="OutOfRbDiskDlg">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND (PROMPTROLLBACKCOST="P" OR NOT PROMPTROLLBACKCOST)</Publish>
					<Publish Event="EndDialog" Value="Return">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
					<Publish Event="EnableRollback" Value="False">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
					<Publish Event="SpawnDialog" Value="OutOfDiskDlg">(OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 1) OR (OutOfDiskSpace = 1 AND PROMPTROLLBACKCOST="F")</Publish>
				</Control>
				<Control Id="InstallTitle"		Type="Text"			X="18"	Y="10"	Width="244"	Height="15"	Transparent="yes" NoPrefix="yes" Hidden="yes" Text="{&amp;MSSansBold8}Всё готово к установке">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="InstallTitle2"		Type="Text"			X="30"	Y="22"	Width="340"	Height="15"	Transparent="yes" NoPrefix="yes" Hidden="yes" Text="Программа установки готова начать установку $(var.ProductName) на ваш компьютер.">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="InstallText"		Type="Text"			X="30"	Y="54"	Width="340"	Height="80"	Hidden="yes" Text="!(loc.VerifyReadyDlgInstallText)">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="AttentionText"		Type="Text"			X="30"	Y="100"	Width="340"	Height="80"	Hidden="yes" NoPrefix="yes" Text="Внимание!!! Необходимо завершить все работающие приложения Оперативной задачи, Администратора и сервера, в противном случае они будут завершены автоматически.">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="BannerLine"		Type="Line"			X="0"	Y="44"	Width="370"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1"			Type="Text"			X="16"	Y="229"	Width="50"	Height="13"	Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
				<Control Id="Branding2"			Type="Text"			X="15"	Y="228"	Width="50"	Height="13"	Text="{&amp;NormalText}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine"			Type="Line"			X="48"	Y="234"	Width="326"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Install"			Type="PushButton"	X="230"	Y="243"	Width="66"	Height="17"	Default="yes" Hidden="yes" Disabled="yes" Text="!(loc.VerifyReadyDlgInstall)" ElevationShield="yes">
					<Condition Action="show">1</Condition>
					<Condition Action="enable">1</Condition>
					<Condition Action="default">1</Condition>
					<Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
					<Publish Event="SpawnDialog" Value="OutOfRbDiskDlg">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND (PROMPTROLLBACKCOST="P" OR NOT PROMPTROLLBACKCOST)</Publish>
					<Publish Event="EndDialog" Value="Return">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
					<Publish Event="EnableRollback" Value="False">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
					<Publish Event="SpawnDialog" Value="OutOfDiskDlg">(OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 1) OR (OutOfDiskSpace = 1 AND PROMPTROLLBACKCOST="F")</Publish>
				</Control>
				<Control Id="Back"				Type="PushButton"	X="164"	Y="243"	Width="66"	Height="17"	Text="$(var.btnBack)" />
				<Control Id="Cancel"			Type="PushButton"	X="301"	Y="243"	Width="66"	Height="17"	Cancel="yes"	Text="$(var.btnCancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>