@{
	Layout = null;
}

<div class="modal-body">
	<uib-tabset>
		<uib-tab heading="Дата" ng-show="isArchive" active="dateTabActive">
			<div class="archiveFilterDate">
				<div class="row vertical-align">
					<p class="col-lg-1">C</p>
					<uib-timepicker ng-model="beginDate.date" show-meridian="false" class="col-lg-2"></uib-timepicker>
					<div class="col-lg-9">
						<div class="input-group">
							<input type="text"
								   class="form-control"
								   uib-datepicker-popup="dd-MMMM-yyyy"
								   ng-model="beginDate.date"
								   is-open="beginDate.isOpened"
								   min-date="minDate"
								   max-date="maxDate"
								   close-text="Close" />
							<div class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="beginDate.open()">
									<span class="glyphicon glyphicon-calendar"></span>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row vertical-align">
					<p class="col-lg-1">До</p>
					<uib-timepicker ng-model="endDate.date" show-meridian="false" class="col-lg-2"></uib-timepicker>
					<div class="col-lg-9">
						<div class="input-group">
							<input type="text"
								   class="form-control"
								   uib-datepicker-popup="dd-MMMM-yyyy"
								   ng-model="endDate.date"
								   is-open="endDate.isOpened"
								   min-date="minDate"
								   max-date="maxDate"
								   close-text="Close" />
							<div class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="endDate.open()">
									<span class="glyphicon glyphicon-calendar"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Объект" active="objectsTabActive">
			<div ui-grid="objectsGrid" ui-grid-tree-view ui-grid-selection></div>
		</uib-tab>
		<uib-tab heading="Событие" active="eventsTabActive">
			<div ui-grid="eventsGrid" ui-grid-tree-view ui-grid-selection></div>
		</uib-tab>
	</uib-tabset>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="reset()">Сброс</button>
	<button class="btn btn-primary" type="button" ng-click="ok()">Применить</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Отмена</button>
</div>