@{
	ViewBag.Title = "Archive";
	Layout = null;
}
<style>
	input[type=number]::-webkit-inner-spin-button {
		display: none;
	}
</style>

<div>
	<div ng-controller="archiveCtrl">
		<div class="toolbar">
				<button ng-click="showFilter()" class="icon"><span class="glyphicon glyphicon-filter"></span></button>
				<button ng-click="firstPage()" class="icon"><span class="glyphicon glyphicon-fast-backward"></span></button>
				<button ng-click="previousPage()" class="icon"><span class="glyphicon glyphicon-step-backward"></span></button>
				<input type="number" class="icon" ng-model="filter.Page" min="1" max="{{MaxPage}}" ng-change="pageNumberChanged(filter.Page)" required>
				<button class="icon"><span>/{{MaxPage}}</span></button>
				<button ng-click="nextPage()" class="icon"><span class="glyphicon glyphicon-step-forward"></span></button>
				<button ng-click="lastPage()" class="icon"><span class="glyphicon glyphicon-fast-forward"></span></button>
			<button class="icon" ng-show="isLoading">Загрузка</button>
		</div>
		<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection style="{{gridStyle}}"></div>
		<div class="report_item_info">
			<div>
				<label>Дата в системе</label>
				<label ng-bind="selectedRow.SystemDate"></label>
			</div>
			<div>
				<label>Дата в приборе</label>
				<label ng-bind="selectedRow.DeviceDate"></label>
			</div>
			<div>
				<label>Событие</label>
				<label ng-bind="selectedRow.Name"></label>
			</div>
			<div>
				<label>Уточнение</label>
				<label ng-bind="selectedRow.Desc"></label>
			</div>
			<div>
				<label>Пользователь</label>
				<label ng-bind="selectedRow.User"></label>
			</div>
			<div>
				<label>Подсистема</label>
				<label ng-bind="selectedRow.Subsystem"></label>
			</div>
		</div>
	</div>
</div>
