@{
	ViewBag.Title = "Archive";
	Layout = null;
}
<style>
	input[type=number]::-webkit-inner-spin-button {
		display: none;
	}
</style>

<div>
	<div ng-controller="archiveCtrl">
		<div class="toolbar">
				<button ng-click="showFilter()" class="icon"><span class="glyphicon glyphicon-filter"></span></button>
				<button ng-click="firstPage()" class="icon"><span class="glyphicon glyphicon-fast-backward"></span></button>
				<button ng-click="previousPage()" class="icon"><span class="glyphicon glyphicon-step-backward"></span></button>
				<input type="number" ng-model="filter.Page" min="1" max="{{MaxPage}}" ng-change="pageNumberChanged(filter.Page)" required>
				<span>/{{MaxPage}}</span>
				<button ng-click="nextPage()" class="icon"><span class="glyphicon glyphicon-step-forward"></span></button>
				<button ng-click="lastPage()" class="icon"><span class="glyphicon glyphicon-fast-forward"></span></button>
				<span ng-show="isLoading">Загрузка</span>
		</div>
		<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection style="{{gridStyle}}"></div>
		<div class="report_item_info">
			<div>
				<span class="reportLabel">Дата в системе</span>
				<span class="info" ng-bind="selectedRow.SystemDate"></span>
			</div>
			<div>
				<span class="reportLabel">Дата в приборе</span>
				<span class="info" ng-bind="selectedRow.DeviceDate"></span>
			</div>
			<div>
				<span class="reportLabel">Событие</span>
				<span class="info" ng-bind="selectedRow.Name"></span>
			</div>
			<div>
				<span class="reportLabel">Уточнение</span>
				<span class="info" ng-bind="selectedRow.Desc"></span>
			</div>
			<div>
				<span class="reportLabel">Пользователь</span>
				<span class="info" ng-bind="selectedRow.User"></span>
			</div>
			<div>
				<span class="reportLabel">Подсистема</span>
				<span class="info" ng-bind="selectedRow.Subsystem"></span>
			</div>
		</div>
	</div>
</div>
