@{
	ViewBag.Title = "Journal";
	Layout = null;
}

<div>
	<div ng-controller="archiveCtrl">
		<button ng-click="showFilter()" class="btn btn-default" style="{float:left}">Фильтр</button>
		<button ng-click="firstPage()" class="btn btn-default" style="{float:left}">Начало</button>
		<button ng-click="previousPage()" class="btn btn-default" style="{float:left}">Пред</button>
		<label class="report_item_info">{{filter.Page}}/{{MaxPage}}</label>
		<button ng-click="nextPage()" class="btn btn-default" style="{float:left}">След</button>
		<button ng-click="lastPage()" class="btn btn-default" style="{float:left}">Конец</button>
		<label class="report_item_info" ng-show="isLoading">Загрузка</label>
		<div ui-grid="gridOptions" style="width: 100%; height: 600px" ui-grid-auto-resize ui-grid-selection></div>
		<div class="report_item_info">
			<div>
				<label>Дата в системе</label>
				<label ng-bind="selectedRow.SystemDate"></label>
			</div>
			<div>
				<label>Дата в приборе</label>
				<label ng-bind="selectedRow.DeviceDate"></label>
			</div>
			<div>
				<label>Событие</label>
				<label ng-bind="selectedRow.Name"></label>
			</div>
			<div>
				<label>Уточнение</label>
				<label ng-bind="selectedRow.Desc"></label>
			</div>
			<div>
				<label>Пользователь</label>
				<label ng-bind="selectedRow.User"></label>
			</div>
			<div>
				<label>Подсистема</label>
				<label ng-bind="selectedRow.Subsystem"></label>
			</div>
		</div>
	</div>
</div>
