<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!--<CustomAction Id="PreventDowngrading" Error="Newer version already installed." />-->
    <CustomAction Id="StartFiresecServiceOnExit" Directory="SERVERLOCATION" ExeCommand="[SERVERLOCATION]FiresecService.exe" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
    <CustomAction Id="StartFSAgentOnExit" Directory="FSAGENTLOCATION" ExeCommand="[FSAGENTLOCATION]FSAgentServer.exe" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
    <CustomAction Id="StartOPCServerOnExit" Directory="OPCLOCATION" ExeCommand="[OPCLOCATION]FiresecOPCServer.exe" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
    <CustomAction Id="CloseApplications" BinaryKey="FiresecCADll" DllEntry="CloseApplications" Execute="immediate" Impersonate="yes" Return="check"/>
    <CustomAction Id="InstallHaspDriver" BinaryKey="haspdinst.exe" ExeCommand="-i -kp" Return="ignore" Execute="immediate" />

    <!--<CustomAction Id="RegisterFs_types" Directory="FIRESECLOCATION" ExeCommand='C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\regtlibv12.exe "[FIRESECLOCATION]fs_types.dll"' Return="check" />
    <CustomAction Id="RegisterFs_types2" Directory="FIRESECLOCATION" ExeCommand='regsvr32.exe /s "[FIRESECLOCATION]fs_types.dll"' Return="check" />
    <CustomAction Id="RegisterSockProxy" Directory="FIRESECLOCATION" ExeCommand='regsvr32.exe /s "[FIRESECLOCATION]SockProxy.dll"' Return="check" />
    <CustomAction Id="RegisterServer" Directory="FIRESECLOCATION" ExeCommand="[FIRESECLOCATION]Fs_server.exe -regserver" Execute="immediate" Impersonate="yes" Return="check" />-->
    <CustomAction Id="RegisterFS_Bat" ExeCommand="[FIRESECLOCATION5]RegisterFS.bat" Directory="FIRESECLOCATION5" Execute="deferred" Return="asyncWait" />
    <CustomAction Id="RegisterFS48_Bat" ExeCommand="[FIRESECLOCATION]RegisterFS48.bat" Directory="FIRESECLOCATION" Execute="deferred" Return="asyncWait" />

    <!--<CustomAction Id="RegisterFs_types" Directory="FIRESECLOCATION5_LIB" ExeCommand='C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\regtlibv12.exe "[FIRESECLOCATION5_LIB]fs_types.dll"' Return="check" />
    <CustomAction Id="RegisterSockProxy" Directory="FIRESECLOCATION5_LIB" ExeCommand='regsvr32.exe /s "[FIRESECLOCATION5_LIB]SockProxy.dll"' Return="check" />
    <CustomAction Id="RegisterServer" Directory="FIRESECLOCATION5" ExeCommand="[FIRESECLOCATION5]Fs_server.exe -regserver" Execute="immediate" Impersonate="yes" Return="check" />-->

    <!--<CustomAction Id="UnregisterSockProxy" Directory="FIRESECLOCATION" ExeCommand='regsvr32.exe /s /u "[FIRESECLOCATION]SockProxy.dll"' Return='ignore' />
    <CustomAction Id="UnregisterFs_types" Directory="FIRESECLOCATION" ExeCommand='regsvr32.exe /s /u "[FIRESECLOCATION]fs_types.dll"' Return='ignore' />
    <CustomAction Id="UnRegisterServer" Directory="FIRESECLOCATION" ExeCommand="[FIRESECLOCATION]Fs_server.exe -unregserver" Execute="immediate" Impersonate="yes" Return="ignore" />-->

    <!--<CustomAction Id='RunFiresecNTService' Directory='SERVERLOCATION' ExeCommand='net.exe start Firesec-2_NTServer' Return='ignore' />
    <CustomAction Id='StopFiresecNTService' Directory='SERVERLOCATION' ExeCommand='net.exe stop Firesec-2_NTServer' Return='ignore' />-->
  </Fragment>
</Wix>