<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Compressed="no" DisableModify="button" Version="1.0.0.0" UpgradeCode="de8cbfab-5f76-4ddb-b5fd-e946ea84f1ae"
          Name="FireSec-2" Manufacturer="Рубеж" Copyright="Рубеж" AboutUrl="http://www.rubezh.ru">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="UI\BootstrapperCore.config"/>
      <Payload SourceFile="UI\bin\Release\UI.dll"/>
      <Payload SourceFile="UI\bin\Release\Infrastructure.Common.dll"/>
      <Payload SourceFile="UI\bin\Release\Common.dll"/>
      <Payload SourceFile="UI\bin\Release\Infrastructure.Plans.dll"/>
      <Payload SourceFile="UI\bin\Release\NLog.dll"/>
      <Payload SourceFile="C:\Program Files\WiX Toolset v3.8\bin\Microsoft.Deployment.WindowsInstaller.dll"/>
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id='Netfx4Full' />
      <MsiPackage Id="Firesec2Installer" SourceFile="..\..\..\BuildScripts\bin\GK\Firesec 2.1.4.msi"
             Compressed="no" EnableFeatureSelection="yes" Vital="yes" >
        <MsiProperty Name="ALLUSERS" Value="1" />
        <MsiProperty Name="INSTALL_SKD" Value="[InstallSKD]" />
        <!--
        <MsiProperty Name="INSTALL_OPC" Value="[InstallOPC]" />
        <MsiProperty Name="INSTALL_SDK" Value="[InstallSDK]" />
        <MsiProperty Name="INSTALL_GK" Value="[InstallGK]" />
        <MsiProperty Name="INSTALL_VIDEO" Value="[InstallVideo]" />
        <MsiProperty Name="INSTALL_FIRESEC2 " Value="[InstallFiresec2]" />
        -->
      </MsiPackage>
      <ExePackage Id="SQLServer" InstallCondition='INSTALLSQL' SourceFile="Data\SQLEXPR32_RUS.EXE" />
      <ExePackage Id="SQLServer_64" InstallCondition='INSTALLSQL_64' SourceFile="Data\SQLEXPR64_RUS.EXE" />
    </Chain>
  </Bundle>

  <Fragment>
    <Variable Name='InstallSKD' />
    <!--<Variable Name='InstallSQL' />
    <Variable Name='InstallSQL_64' />
    <Variable Name='InstallOPC' />
    <Variable Name='InstallSDK' />
    <Variable Name='InstallGK' />
    <Variable Name='InstallVideo' />
    <Variable Name='InstallFiresec2' />
    -->
   
    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />

    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Netfx4FullVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Netfx4x64FullVersion" Win64="yes" />

    <PackageGroup Id="Netfx4Full">
      <ExePackage Id="Netfx4Full" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes"
                  SourceFile="C:\Program Files\Microsoft SDKs\Windows\v7.0A\Bootstrapper\Packages\DotNetFX40\dotNetFx40_Full_x86_x64.exe"
                  DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=164193"
                  DetectCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)" />
    </PackageGroup>
  </Fragment>
</Wix>