@{
    Layout = null;
}

<div modal-draggable modaless>
<div class="modal-header">
    <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
    <h3 class="modal-title">{{direction.Name}}</h3>
</div>
<div class="modal-body">
    <div>
        <div>
            <div ng-style="{'background-color': direction.StateColor}" style="width: 50px; height: 50px; border-width: 2px; margin: 5px; float: left"></div>
            <div style="float: left; width: 300px">
                <ul>
                    <li ng-repeat="stateClass in direction.StateClasses">
                    <img style="margin: 2px; vertical-align: middle" ng-src="/Content/Image/Icon/GKStateIcons/{{stateClass.IconData}}.png"/>
                    {{stateClass.Name}}
                    <li>
                </ul>
            </div>
            <div style="float: left">
                <div ng-show="direction.HasOnDelay">
                    <span>Задержка на включение</span> <br/>
                    <span>{{direction.OnDelay}} сек</span>
                </div>
                <div ng-show="direction.HasHoldDelay">
                    <span>Удержание</span> <br/>
                    <span>{{direction.HoldDelay}} сек</span>
                </div>
            </div>
            <div style="clear: left">
            </div>
        </div>
        <uib-tabset>
            <uib-tab heading="Управление">
                <div>
                    <img style="margin: 2px; vertical-align: middle" ng-src="/Content/Image/Icon/GKStateIcons/{{direction.ControlRegimeIcon}}.png"/>
                    <span style="font-weight: bold; font-size: large; margin: 5px">Режим</span>
                    <span style="font-weight: bold; font-size: large; margin: 5px">{{direction.ControlRegimeName}}</span>
                </div>
                <div style="background: #fff">
                    <div style="float: left; width: 50%">
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px; white-space: initial" ng-click="direction.CanSetAutomaticState && SetAutomaticState()" ng-disabled="!direction.CanSetAutomaticState">Автоматика</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px; white-space: initial" ng-click="direction.CanSetManualState && SetManualState()" ng-disabled="!direction.CanSetManualState">Ручное</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px; white-space: initial" ng-click="direction.CanSetIgnoreState && SetIgnoreState()" ng-disabled="!direction.CanSetIgnoreState">Отключение</div>
                    </div>
                    <div style="float: left; width: 50%; background: #fff">
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px; white-space: initial" ng-click="direction.IsControlRegime && TurnOn()" ng-disabled="!direction.IsControlRegime">Пуск</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px; white-space: initial" ng-click="direction.IsControlRegim && TurnOnNow()" ng-disabled="!direction.IsControlRegime">Пуск немедленно</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px; white-space: initial" ng-click="direction.IsControlRegim && ForbidStart()" ng-disabled="!direction.IsControlRegime">Останов пуска</div>
                        <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px; white-space: initial" ng-click="direction.IsControlRegim && TurnOff()" ng-disabled="!direction.IsControlRegime">Выключить немедленно</div>
                    </div>
                    <div style="clear: left">
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Свойства">
                <div style="background: #fff; color: #000; height: 248px">
                    <div>
                        <img style="margin: 2px; vertical-align: middle" height="16" width="16" src="~/Content/Image/Icon/GK/Blue_Direction.png"/>
                        <a href="" ng-click="Show()">{{direction.Name}}</a>
                    </div>
                    <div>
                        <span style="font-weight: bold; width: 110px">Номер в ГК:</span>
                        <span style="margin: 2px; font-weight: bold">{{direction.GKDescriptorNo}}</span>
                    </div>
                    <div>
                        <img style="margin: 2px; vertical-align: middle" height="16" width="16" src="~/Content/Image/Icon/GK/BJournal.png"/>
                        <a href="" ng-click="ShowJournal()" style="margin: 2px; font-weight: bold">Показать связанные события</a>
                    </div>
                    <div>
                        <span>Задержка: </span>
                        <span>{{direction.Delay}}</span>
                    </div>
                    <div>
                        <span>Удержание: </span>
                        <span>{{direction.Hold}}</span>
                    </div>
                    <div>
                        <span>Режим после удержания: </span>
                        <span>{{direction.DelayRegime}}</span>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
</div>