@{
    Layout = null;
}

<div>
    <div ng-controller="directionsCtrl">
        <div ui-grid="gridOptions" style="{{gridStyle}}" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-save-state ui-grid-auto-size-column></div>
    </div>
</div>
    