@{
    Layout = null;
}

<div>
    <div ng-controller="directionsCtrl">
        <div ui-grid="gridOptions" style="width: 100%; height: 600px" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns></div>
    </div>
</div>
    