<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\Variables_FiresecService.wxi?>
  <Fragment>
    <DirectoryRef Id="FiresecServiceIconsFolder">
      <Component Id="cmp28F2CB3051A251FF9EF13A0BDF342F34" Guid="{A40EF2C9-2A2D-4C96-9A1F-0FD9F6572A51}">
        <File Id="filAB48AB919CD1BFCAAE411814939A1F61" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_blackbox.ico" />
      </Component>
      <Component Id="cmp74F5D80A9AA0814FEB52C8A12F076ECB" Guid="{DE2A69C7-DAE3-42A5-9A1E-3F142042A116}">
        <File Id="filF6F1AB219611FB0DEE7C72DC9E2A4C56" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Bus.ico" />
      </Component>
      <Component Id="cmp1FBB923EEEB4188DA06EF4A8C6061224" Guid="{24D21886-243A-49A8-AA49-111077360E0F}">
        <File Id="filA9C190B86979717EA3B53DB1F032E0F1" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Computer.ico" />
      </Component>
      <Component Id="cmp1E360137DA8C69E0824278E67818A318" Guid="{8E9DD49B-508D-4FD7-932E-27AB8492E6FF}">
        <File Id="filDF4DAFC41E37B52F5842246B0A519338" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Connector.ico" />
      </Component>
      <Component Id="cmp5BF6148AEBEF625D4D03D4747958F53E" Guid="{286DDE55-DA0C-430B-9B47-37D8E88EA942}">
        <File Id="fil21D6B47581517581206725B1516A4D06" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Device.ico" />
      </Component>
      <Component Id="cmp5F58FB698B1CA5C5C6D1D1856B01432E" Guid="{028BAE67-8AB4-4964-8158-02FCE130CC80}">
        <File Id="filD3ED32650DA053C9E12DF2159B773E84" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Lamp.ico" />
      </Component>
      <Component Id="cmp47DD94A5D4170E0A76B8B72DEB285F81" Guid="{3456719A-718A-4556-8454-4AB9B0F76F93}">
        <File Id="fil34BB32D54D1CBC892FF7E4024E8F8241" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Mech.ico" />
      </Component>
      <Component Id="cmp50A805ADD6C800D02349B137B68D17C5" Guid="{79243118-0922-4E8D-B4E5-099C964F723F}">
        <File Id="filC66E7725C73440F39C76B02550F6FC4E" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Panel.ico" />
      </Component>
      <Component Id="cmp3268DD198B0A705FF626A55A1A1985D1" Guid="{07D5CBC5-D9CC-431C-9B60-9DEC8F5A33FD}">
        <File Id="fil3FB945AA39537A08F134C1A493BEDEE8" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_R_AL.ico" />
      </Component>
      <Component Id="cmp9625EA595DB35BC3C85A2BDC82DD91C8" Guid="{62443649-17F9-4E2B-AE07-5585473D3675}">
        <File Id="fil8D87680F8004C468FDE271C1632C2667" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_R_ASPT.ico" />
      </Component>
      <Component Id="cmpB1D87C8F374EF93935BAE5B2BF37CD83" Guid="{DC8E3797-B6F9-41BA-8F33-22533F92D7B0}">
        <File Id="filF61AB3D80B4978E9B81B916B367B7595" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_R_Combo.ico" />
      </Component>
      <Component Id="cmp0C642855EEF57AF0C315350B89C8D29D" Guid="{BC69723B-62BD-446D-9342-8A7AA49B4A8E}">
        <File Id="fil7E0E2169813B55D8EE8236B10B6521BE" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_R_Man.ico" />
      </Component>
      <Component Id="cmp6F7A589F652EF01DFB9C2A0C5526313F" Guid="{3B1F5F17-9383-42A1-893D-B49A471F59E9}">
        <File Id="fil0644EF6D0B0F87876B20FE47B48CDEC2" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_R_Smoke.ico" />
      </Component>
      <Component Id="cmp23285826E5670D52FD4E3101D857A274" Guid="{63CE37C8-362F-492A-920E-4EDD543FA41B}">
        <File Id="filA93CCA3FE5E29E0B5FE996D704F85220" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_R_Temp.ico" />
      </Component>
      <Component Id="cmp833B383DF8B31027212D92E51CDEDCC4" Guid="{52133E5C-7C36-465A-9A37-369352CB472E}">
        <File Id="fil409E5CC626808FEB44DD4386FEB10B08" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Speaker.ico" />
      </Component>
      <Component Id="cmpC65A00595DDE8768CBC6E3522E0A49BF" Guid="{EF5047B5-4C25-492B-8580-BF3453E2A51D}">
        <File Id="fil37A1DD8437F710EADBD15C65932D7E8F" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_Switch.ico" />
      </Component>
      <Component Id="cmp7AEA98D62CA2C1158BD0B7F9BA874023" Guid="{9242E9FB-17B4-4687-98B0-C9F47F82D6FC}">
        <File Id="fil2739F2907918D82533AA517B21E35A87" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Device_wireless.ico" />
      </Component>
      <Component Id="cmp2CDF9AD79A1EB53BF8879B78553CD71E" Guid="{8EAB190C-BEE8-4FBC-BE2B-CD2545DC9B18}">
        <File Id="filE6DEF91E1758503A7C8025ED874AC8B9" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_Critical.ico" />
      </Component>
      <Component Id="cmp5399C2C4E9CBC341D7570C394B0EA5E6" Guid="{FA7C7372-7FD7-4B48-B32E-2ADA7668E475}">
        <File Id="fil8DE68E6FD8A7223C8C4DC294DC636FE5" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_Error.ico" />
      </Component>
      <Component Id="cmpAC82B084C04872C1CBBD1A4A02E1EF27" Guid="{9E97B8C2-DD73-42C3-9BD9-56A836E50E31}">
        <File Id="fil276BFD21B7E0BD4CC14B75F3C15365F2" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_Mute.ico" />
      </Component>
      <Component Id="cmp8BE0DB70B9C2ABD37AFDFDF18A49F73E" Guid="{A8DC12D3-FE8F-4D8A-A05E-157BC6A1E2BC}">
        <File Id="fil55BC304EF56B6E70289F06A6F06382F1" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_Normal.ico" />
      </Component>
      <Component Id="cmp8E9A843AF98304C9BCCFB188015DFBCA" Guid="{6C8AC149-7440-4E0C-9A82-897FA71AFE8F}">
        <File Id="filE1E6C093A0490E332FEFBB5DC61C2BAE" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_ServiceRequired.ico" />
      </Component>
      <Component Id="cmpA69D0E35923E1ECDEC72E94F55D99ED9" Guid="{6DA9937F-E6F3-4BC8-9A88-26966C54EFAE}">
        <File Id="filDAE4882C6E60862CF4DB6130550E6EA9" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_ServiceRequired_old.ico" />
      </Component>
      <Component Id="cmp9B82DB829627216DCB501E1A6E33546E" Guid="{FAD684D0-5AA6-4A3D-A8DA-4F77839F1EC0}">
        <File Id="filC3B30B2EB93932D9D4D2196574591F8D" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_Unknown.ico" />
      </Component>
      <Component Id="cmp700FAC8733481651E7C6CA4F47D91420" Guid="{CFF3ADCC-1550-4E7C-A21D-D10E748504AA}">
        <File Id="fil56E6F478801F9B7990C84277D7812701" Source="$(var.FiresecService.TargetDir)Configuration\Icons\DS_Warning.ico" />
      </Component>
      <Component Id="cmp4B2B8F82FD70A8B121F0901736E893F7" Guid="{7B325874-4AFC-4AA3-A015-F3BABBF6F176}">
        <File Id="fil4567FA4ACEFE6E45F0BCB5C2D92B8BAD" Source="$(var.FiresecService.TargetDir)Configuration\Icons\АМ-1О.ico" />
      </Component>
      <Component Id="cmp19A1DC9F391527251DD4EF4851E01136" Guid="{47F1E791-4BAC-4B19-8467-9D8CF7A26D2F}">
        <File Id="filD7460F31EB36681D4A36E49511B3B0AC" Source="$(var.FiresecService.TargetDir)Configuration\Icons\АМ-1П.ico" />
      </Component>
      <Component Id="cmpEA04E9BB6DBD2D8A43F34A21F05DC4CF" Guid="{D4068725-FB3E-45D8-959F-E572EA1DB28F}">
        <File Id="filF3622BB3F1A78A1568A1AF5A11573BA4" Source="$(var.FiresecService.TargetDir)Configuration\Icons\АМ-1Т.ico" />
      </Component>
      <Component Id="cmpFDC97D01E1DDBC19D83277A6D6448512" Guid="{FF141CF4-1B53-4580-A12B-359B5C733DB3}">
        <File Id="fil5F9D7AF0F387E8E8A25657F5A2B70F5A" Source="$(var.FiresecService.TargetDir)Configuration\Icons\АМО-4.ico" />
      </Component>
      <Component Id="cmp49EAE3541E079EAA9E1ABE51FC1DEA12" Guid="{9AB54CA8-4B78-4635-8F00-41B95611A1C1}">
        <File Id="filCF8E078EC28892D0831B2A5B9E9B3CF6" Source="$(var.FiresecService.TargetDir)Configuration\Icons\АМП-4.ico" />
      </Component>
      <Component Id="cmp2007A27F2BC2D0639BCD23CD039F130E" Guid="{9A202B0E-0A10-45FB-B46F-E97C70DFEB85}">
        <File Id="fil16CAC1546D9B43A8B0D601BBDE683C79" Source="$(var.FiresecService.TargetDir)Configuration\Icons\АМП-4Т.ico" />
      </Component>
      <Component Id="cmp7344828A44223FE31F42FB6C1F5E378B" Guid="{811FEBA7-5491-4EA0-8C83-F529C26ADE4B}">
        <File Id="fil38300D299A753CC5AA514484EC3CEFF5" Source="$(var.FiresecService.TargetDir)Configuration\Icons\АСПТ.ico" />
      </Component>
      <Component Id="cmp858B3DAB659F851D9DB214D14E121BAD" Guid="{4D859C0B-8711-4E0A-A003-0E43D23AFBA3}">
        <File Id="filB3FA121EFF0704F9F5FA69712C8F5B53" Source="$(var.FiresecService.TargetDir)Configuration\Icons\БУНС-01-1.ico" />
      </Component>
      <Component Id="cmp68C16DD60D093DA8BDB0C7C9FBB83543" Guid="{74165B24-59C0-41D3-82FC-B383B783EA4F}">
        <File Id="fil3DEA99222AA8F9A190D03FC5B33093D1" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Емкостной.ico" />
      </Component>
      <Component Id="cmp80DC8618C533C17ABEC57FA51F047E7B" Guid="{7815DE1C-BE0D-4079-A09A-7EB33BC2A617}">
        <File Id="filA763BE83AA7B621F75621621D8731397" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Задвижка.ico" />
      </Component>
      <Component Id="cmp0289F69F42AA417AFCA43579C10CDB33" Guid="{AD36EAD2-7384-461E-A4A5-087065EAC4FD}">
        <File Id="filFA4F51A93E9BA55E19B7334DF9D4C45E" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Звуковой.ico" />
      </Component>
      <Component Id="cmp80328252C8ABF5EE922D888FB4D9AB7B" Guid="{7510A9C6-FBD9-4A0B-8C9D-B5BD9B7C6D75}">
        <File Id="filACF2B32F56E0E8D4BC41A9EB11F25D31" Source="$(var.FiresecService.TargetDir)Configuration\Icons\ИП29-64.ico" />
      </Component>
      <Component Id="cmp4F54EA48E79FBBB7DA9C0E6CCCFDC35A" Guid="{95440750-300A-40D9-91E6-D07FAA2E428B}">
        <File Id="filFC50C1FEEA5216636E4E8F646DB75BC3" Source="$(var.FiresecService.TargetDir)Configuration\Icons\ИП29.ico" />
      </Component>
      <Component Id="cmpC339FF3262698126DCD5BDD393738F45" Guid="{FCF11325-1B49-4802-8D54-0E4FC6880813}">
        <File Id="fil798CC5DC151AD373A9017C814E5786C6" Source="$(var.FiresecService.TargetDir)Configuration\Icons\ИП64.ico" />
      </Component>
      <Component Id="cmp5301CAC06EC0EAC8B25E0C89DEC3FDF6" Guid="{F0A395F7-2BFC-49E9-A19B-6325FB7F0136}">
        <File Id="fil8EF149D88297BB9B2FB9E7E7E72C501A" Source="$(var.FiresecService.TargetDir)Configuration\Icons\ИПР.ico" />
      </Component>
      <Component Id="cmp6EC3B0B593D8BBFCA522D148B37A771A" Guid="{D8901A41-4E1C-4BC9-8785-83A2D22D2855}">
        <File Id="fil4EF14AD9FC8E1C88480A200CDCC36A19" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Комбинированный.ico" />
      </Component>
      <Component Id="cmpD07B709906867599F8DDA742D07B3374" Guid="{54E9B9A7-9D08-4FA2-B633-D0603DE23567}">
        <File Id="filE81EFFEFC6010DB9EF259CBDD02A840E" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Магнитоконтактный.ico" />
      </Component>
      <Component Id="cmpE68AC78345DF96EC7C8973577DEC09EE" Guid="{2ECDDA6F-2C3F-4D84-913C-C19BA3875CC3}">
        <File Id="fil7130A834CDA80CDD01750EA8D35BFC1A" Source="$(var.FiresecService.TargetDir)Configuration\Icons\МДУ.ico" />
      </Component>
      <Component Id="cmpD7DF81880390BD8994EEF45152F07B9E" Guid="{FE0AF12F-9754-4BEC-8AD0-ADEF17A07ACB}">
        <File Id="filA281A1539C3E738379AA07AF3EF91326" Source="$(var.FiresecService.TargetDir)Configuration\Icons\МПТ.ico" />
      </Component>
      <Component Id="cmp4A81D930FAFA4E445377E45635863BDC" Guid="{B9C1B983-214B-427D-B2E5-F879ED417931}">
        <File Id="fil08F6E65BE79919A0793D3A1F2F60FFBA" Source="$(var.FiresecService.TargetDir)Configuration\Icons\МРО.ico" />
      </Component>
      <Component Id="cmpB5F77C9053DEDB5EF358801A4C1EABF5" Guid="{C470C572-642F-4F03-88D0-92B138C2461B}">
        <File Id="fil137FBFB9FF576E2CCD30EB81612FC94C" Source="$(var.FiresecService.TargetDir)Configuration\Icons\МС.ico" />
      </Component>
      <Component Id="cmpFC441CC21E67D4AF66B4EB4822DC36C4" Guid="{E8F8CB34-491B-429A-9A87-B32774A4E660}">
        <File Id="fil5A5D7477EBB665487168EE1837D04C8D" Source="$(var.FiresecService.TargetDir)Configuration\Icons\насос.ico" />
      </Component>
      <Component Id="cmp62B4881DF976A15BF9AF085A214A93F0" Guid="{CF926C6C-C076-4694-9C6D-A268CB2813E5}">
        <File Id="filC9CAA59FA341A7C662363650C7E8126A" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Оптико-электронный активный.ico" />
      </Component>
      <Component Id="cmp0965AF8054E9BBDAEFD49F385B81E804" Guid="{BFE29162-CCDE-4230-9C89-41E2DF9C688C}">
        <File Id="fil3ADE9647FE503B212D2E4780D02D69E7" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Оптико-электронный пассивный линейный.ico" />
      </Component>
      <Component Id="cmpC91D0A8721D178564A85BC1963FADAB2" Guid="{5DB30342-23D3-4775-8CFF-A91B36DA3354}">
        <File Id="fil34E9910E0859E8ABB04BEB704F56D9A1" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Оптико-электронный пассивный объемный.ico" />
      </Component>
      <Component Id="cmpA5A48D3A8575CC44D4877983DFE0C3D9" Guid="{3E82DE80-DFE8-4B0C-B33B-B4F93523F8B2}">
        <File Id="fil8D08D3164F7CF04944F919AAA88A2FE6" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Оптико-электронный пассивный поверхностный.ico" />
      </Component>
      <Component Id="cmpD05E1588B45F15998EA3E1FA6EE56B52" Guid="{8EA65269-B6D0-4E39-BADA-2D5FA312371E}">
        <File Id="fil20594E4366D185E48884CD80FEC8B95D" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Пьезоэлектрический.ico" />
      </Component>
      <Component Id="cmp3F94A73AE5279E0315D2341ADFF18322" Guid="{56185686-6550-4302-BE6D-E890A6852A07}">
        <File Id="filA06DFC20E4EE3662387BCB6DB9C65286" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Радиоволновой одноблочный.ico" />
      </Component>
      <Component Id="cmp545F3A2E62DD2E2B9DE795A3346894C8" Guid="{2ED2CCCE-E490-4911-8B3B-EC1EA9BF3FAE}">
        <File Id="filCE545ACC855A14980E899F2433307C7D" Source="$(var.FiresecService.TargetDir)Configuration\Icons\РМ.ico" />
      </Component>
      <Component Id="cmp77A0E045954CC34D8F19D362C083A198" Guid="{9DE3749A-FC49-4E1C-86B0-F6C66DD80D04}">
        <File Id="fil4D608EE81EF227F99C35F97975D79776" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Рубеж-2А.ico" />
      </Component>
      <Component Id="cmpF381EEC9B8E3C29A81C009F81BC9A4F7" Guid="{06D87A75-1B56-470C-B1E6-B766BBB3CA50}">
        <File Id="fil8A598AFBE97DA2FCD126984F973373CE" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Рубеж-2АМ.ico" />
      </Component>
      <Component Id="cmp2A7A4B41D0FCAA48F160894EEBAA40F6" Guid="{6053F2A5-1B18-452F-9072-F3F4607E7BAD}">
        <File Id="fil36F0A7C7450A48F003EE656D43B1F2A6" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Рубеж-2ОП.ico" />
      </Component>
      <Component Id="cmpCFCAEC003201A7D1D9FC1E97A21A0A8F" Guid="{9B84BC63-CF26-4E5F-8376-FDEFC5F7A68A}">
        <File Id="filB2C187C3C6EA3F9CA8D375A2CE4EB279" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Тревожной сигнализации (ножной).ico" />
      </Component>
      <Component Id="cmp21CC33927EFAEC90B829F883C7E28163" Guid="{390EBE58-902E-4126-B849-3871B6978AA7}">
        <File Id="filD76BD382894E6F9F1615D5CCE4DC9A5F" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Тревожной сигнализации (ручной).ico" />
      </Component>
      <Component Id="cmp9FBED7693F96708F77FDCD1CB35C3A11" Guid="{BC5C3223-5B29-49B6-B980-BD3300EC2AE1}">
        <File Id="fil84E0D8544824DADB4F85BB049A028634" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Ударно-контактный.ico" />
      </Component>
      <Component Id="cmp87ABAD6FB33BB2E5CB0DF498F000C0E0" Guid="{9FB47CFB-E2B1-48FD-83AE-4A81465A8DF8}">
        <File Id="fil6F713F555E9E027392FC678FC1FF06FB" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Ультразвуковой.ico" />
      </Component>
      <Component Id="cmpDC4167C9D26EAA92219A1BB4B4C09DDD" Guid="{D2FD9518-2E41-4D50-AE37-C6BD9AB72950}">
        <File Id="fil3C12579D8FDDC2297C6E18B3A418EDB3" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Электроконтактный.ico" />
      </Component>
      <Component Id="Unknown_Device" Guid="{F52B785C-4A2E-4230-A3A8-95848FAF4C9D}">
        <File Id="Unknown_Device" Source="$(var.FiresecService.TargetDir)Configuration\Icons\Unknown_Device.ico" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="FiresecServiceIconsFolder">
      <ComponentRef Id="Unknown_Device" />
      <ComponentRef Id="cmp28F2CB3051A251FF9EF13A0BDF342F34" />
      <ComponentRef Id="cmp74F5D80A9AA0814FEB52C8A12F076ECB" />
      <ComponentRef Id="cmp1FBB923EEEB4188DA06EF4A8C6061224" />
      <ComponentRef Id="cmp1E360137DA8C69E0824278E67818A318" />
      <ComponentRef Id="cmp5BF6148AEBEF625D4D03D4747958F53E" />
      <ComponentRef Id="cmp5F58FB698B1CA5C5C6D1D1856B01432E" />
      <ComponentRef Id="cmp47DD94A5D4170E0A76B8B72DEB285F81" />
      <ComponentRef Id="cmp50A805ADD6C800D02349B137B68D17C5" />
      <ComponentRef Id="cmp3268DD198B0A705FF626A55A1A1985D1" />
      <ComponentRef Id="cmp9625EA595DB35BC3C85A2BDC82DD91C8" />
      <ComponentRef Id="cmpB1D87C8F374EF93935BAE5B2BF37CD83" />
      <ComponentRef Id="cmp0C642855EEF57AF0C315350B89C8D29D" />
      <ComponentRef Id="cmp6F7A589F652EF01DFB9C2A0C5526313F" />
      <ComponentRef Id="cmp23285826E5670D52FD4E3101D857A274" />
      <ComponentRef Id="cmp833B383DF8B31027212D92E51CDEDCC4" />
      <ComponentRef Id="cmpC65A00595DDE8768CBC6E3522E0A49BF" />
      <ComponentRef Id="cmp7AEA98D62CA2C1158BD0B7F9BA874023" />
      <ComponentRef Id="cmp2CDF9AD79A1EB53BF8879B78553CD71E" />
      <ComponentRef Id="cmp5399C2C4E9CBC341D7570C394B0EA5E6" />
      <ComponentRef Id="cmpAC82B084C04872C1CBBD1A4A02E1EF27" />
      <ComponentRef Id="cmp8BE0DB70B9C2ABD37AFDFDF18A49F73E" />
      <ComponentRef Id="cmp8E9A843AF98304C9BCCFB188015DFBCA" />
      <ComponentRef Id="cmpA69D0E35923E1ECDEC72E94F55D99ED9" />
      <ComponentRef Id="cmp9B82DB829627216DCB501E1A6E33546E" />
      <ComponentRef Id="cmp700FAC8733481651E7C6CA4F47D91420" />
      <ComponentRef Id="cmp4B2B8F82FD70A8B121F0901736E893F7" />
      <ComponentRef Id="cmp19A1DC9F391527251DD4EF4851E01136" />
      <ComponentRef Id="cmpEA04E9BB6DBD2D8A43F34A21F05DC4CF" />
      <ComponentRef Id="cmpFDC97D01E1DDBC19D83277A6D6448512" />
      <ComponentRef Id="cmp49EAE3541E079EAA9E1ABE51FC1DEA12" />
      <ComponentRef Id="cmp2007A27F2BC2D0639BCD23CD039F130E" />
      <ComponentRef Id="cmp7344828A44223FE31F42FB6C1F5E378B" />
      <ComponentRef Id="cmp858B3DAB659F851D9DB214D14E121BAD" />
      <ComponentRef Id="cmp68C16DD60D093DA8BDB0C7C9FBB83543" />
      <ComponentRef Id="cmp80DC8618C533C17ABEC57FA51F047E7B" />
      <ComponentRef Id="cmp0289F69F42AA417AFCA43579C10CDB33" />
      <ComponentRef Id="cmp80328252C8ABF5EE922D888FB4D9AB7B" />
      <ComponentRef Id="cmp4F54EA48E79FBBB7DA9C0E6CCCFDC35A" />
      <ComponentRef Id="cmpC339FF3262698126DCD5BDD393738F45" />
      <ComponentRef Id="cmp5301CAC06EC0EAC8B25E0C89DEC3FDF6" />
      <ComponentRef Id="cmp6EC3B0B593D8BBFCA522D148B37A771A" />
      <ComponentRef Id="cmpD07B709906867599F8DDA742D07B3374" />
      <ComponentRef Id="cmpE68AC78345DF96EC7C8973577DEC09EE" />
      <ComponentRef Id="cmpD7DF81880390BD8994EEF45152F07B9E" />
      <ComponentRef Id="cmp4A81D930FAFA4E445377E45635863BDC" />
      <ComponentRef Id="cmpB5F77C9053DEDB5EF358801A4C1EABF5" />
      <ComponentRef Id="cmpFC441CC21E67D4AF66B4EB4822DC36C4" />
      <ComponentRef Id="cmp62B4881DF976A15BF9AF085A214A93F0" />
      <ComponentRef Id="cmp0965AF8054E9BBDAEFD49F385B81E804" />
      <ComponentRef Id="cmpC91D0A8721D178564A85BC1963FADAB2" />
      <ComponentRef Id="cmpA5A48D3A8575CC44D4877983DFE0C3D9" />
      <ComponentRef Id="cmpD05E1588B45F15998EA3E1FA6EE56B52" />
      <ComponentRef Id="cmp3F94A73AE5279E0315D2341ADFF18322" />
      <ComponentRef Id="cmp545F3A2E62DD2E2B9DE795A3346894C8" />
      <ComponentRef Id="cmp77A0E045954CC34D8F19D362C083A198" />
      <ComponentRef Id="cmpF381EEC9B8E3C29A81C009F81BC9A4F7" />
      <ComponentRef Id="cmp2A7A4B41D0FCAA48F160894EEBAA40F6" />
      <ComponentRef Id="cmpCFCAEC003201A7D1D9FC1E97A21A0A8F" />
      <ComponentRef Id="cmp21CC33927EFAEC90B829F883C7E28163" />
      <ComponentRef Id="cmp9FBED7693F96708F77FDCD1CB35C3A11" />
      <ComponentRef Id="cmp87ABAD6FB33BB2E5CB0DF498F000C0E0" />
      <ComponentRef Id="cmpDC4167C9D26EAA92219A1BB4B4C09DDD" />
    </ComponentGroup>
  </Fragment>
</Wix>