<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\Variables_FiresecService.wxi?>
    <Fragment>
        <DirectoryRef Id="FiresecServiceSoundsFolder">
            <Component Id="cmp4DC9792E91235EC4720C90FB4944051E" Guid="*">
                <File Id="fil33C7E7CA3A80169C1D231639A24A2CB7" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound1.wav" />
            </Component>
            <Component Id="cmpB6085DDDF0E536F8018129ECDE15DA58" Guid="*">
                <File Id="fil138982943A5632D93F42362ED014A0DA" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound2.wav" />
            </Component>
            <Component Id="cmp818DB03BD7576D80FD78F1E47EF71603" Guid="*">
                <File Id="fil56500797DB977C18A830ED3778B3DEED" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound3.wav" />
            </Component>
            <Component Id="cmp4FE6DEA1A754CBA2B9472BB2FB917217" Guid="*">
                <File Id="filFE73557BDEC0995B7665AFD47213E339" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound4.wav" />
            </Component>
            <Component Id="cmpE50F5A0A07B7D978F1D5772404E979D7" Guid="*">
                <File Id="fil25E58E9DAD3F3EB05D3F3B2FF864A126" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound5.wav" />
            </Component>
            <Component Id="cmpA4249B2D4FEF37F26B53448FE0FBA769" Guid="*">
                <File Id="fil1F45518A2E3A46ABDD7E4E5EFC9EE277" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound6.wav" />
            </Component>
            <Component Id="cmpB5D015FF1EB082E90773D0F4306579BF" Guid="*">
                <File Id="filB7D0AC99AD09533171B3F7FAA4BC65AC" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound7.wav" />
            </Component>
            <Component Id="cmp0A3FEA899A999D232621FC2AA5A878B5" Guid="*">
                <File Id="filB7B412CFD7E94B4D801D294194EB09E3" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound8.wav" />
            </Component>
            <Component Id="cmp409F481CDB19DC00C543F7D4B600C781" Guid="*">
                <File Id="fil9A95A4E666BD32B03D667DAD627FA365" Source="$(var.FiresecService.TargetDir)Configuration\Sounds\Sound9.wav" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="FiresecServiceSoundsFolder">
            <ComponentRef Id="cmp4DC9792E91235EC4720C90FB4944051E" />
            <ComponentRef Id="cmpB6085DDDF0E536F8018129ECDE15DA58" />
            <ComponentRef Id="cmp818DB03BD7576D80FD78F1E47EF71603" />
            <ComponentRef Id="cmp4FE6DEA1A754CBA2B9472BB2FB917217" />
            <ComponentRef Id="cmpE50F5A0A07B7D978F1D5772404E979D7" />
            <ComponentRef Id="cmpA4249B2D4FEF37F26B53448FE0FBA769" />
            <ComponentRef Id="cmpB5D015FF1EB082E90773D0F4306579BF" />
            <ComponentRef Id="cmp0A3FEA899A999D232621FC2AA5A878B5" />
            <ComponentRef Id="cmp409F481CDB19DC00C543F7D4B600C781" />
        </ComponentGroup>
    </Fragment>
</Wix>