<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="BinariesDir" ComponentGuidGenerationSeed="4092BB85-68CD-4016-8ECB-99418CCE9219">
        <Directory Id="Output.ReportTemplates" />
      </Directory>
      <Directory Id="ContentDir" ComponentGuidGenerationSeed="BF10DF46-D406-4B21-B0A8-CD716F480ADB" Name="NewConfigurationFiles">
        <Directory Id="Output.Sounds" />
      </Directory>
      <Directory Id="Configuration" ComponentGuidGenerationSeed="B6EB12D4-ECD3-45D6-BB59-4F47002C0F2D" Name="Configuration">
        <Directory Id="Output.Icons" Name="Icons" />
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="OutputGroup">
      <ComponentGroupRef Id="Output.ReportTemplates"/>
      <ComponentGroupRef Id="Output.Sounds"/>
      <ComponentGroupRef Id="Output.Icons"/>
    </ComponentGroup>
  </Fragment>
</Wix>