<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Output.ReportTemplates">
            <Component Id="cmp028F14C862340E9295401F5DA8F0FA8C" Guid="{C80021F6-C8DD-4F0C-9D1E-854BD380C25E}">
                <File Id="fil7C96A2D9019129A688A92EB7E0C1941B" Source="..\..\source\Configuration\ReportTemplates\DeviceListCrystalReport.rpt" />
            </Component>
            <Component Id="cmp184646B4208A7EF081D2E715F0D1EC7D" Guid="{B1D3AF92-DB9E-435F-A9BB-22EB33BC26D8}">
                <File Id="fil00318FA41C92751A3B6CB618E2BB2813" Source="..\..\source\Configuration\ReportTemplates\DeviceParamsCrystalReport.rpt" />
            </Component>
            <Component Id="cmpBD737D5957826AE6E46C56BC31E0CE8C" Guid="{8099643C-D7E0-4AED-93E8-1B0C6F2FFADE}">
                <File Id="fil27D90654A9BF67C2B3B5C419311D6ACB" Source="..\..\source\Configuration\ReportTemplates\DriverCounterCrystalReport.rpt" />
            </Component>
            <Component Id="cmp6E5E0DB2BED643C76D13BFFFEB72A0DF" Guid="{51FAD8C4-1554-4E95-A30C-049C02C5250F}">
                <File Id="fil546B9C94BEAA0D614F307AA8CFFDF82B" Source="..\..\source\Configuration\ReportTemplates\IndicationBlockCrystalReport.rpt" />
            </Component>
            <Component Id="cmp56F243B1A7F81AEF57746A22AEF32E73" Guid="{C8276F05-E56E-4D43-8F2E-51BC599AF41A}">
                <File Id="fil56751F9FBD7862A5160EB89EBF094B48" Source="..\..\source\Configuration\ReportTemplates\JournalCrystalReport.rpt" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Output.ReportTemplates">
            <ComponentRef Id="cmp028F14C862340E9295401F5DA8F0FA8C" />
            <ComponentRef Id="cmp184646B4208A7EF081D2E715F0D1EC7D" />
            <ComponentRef Id="cmpBD737D5957826AE6E46C56BC31E0CE8C" />
            <ComponentRef Id="cmp6E5E0DB2BED643C76D13BFFFEB72A0DF" />
            <ComponentRef Id="cmp56F243B1A7F81AEF57746A22AEF32E73" />
        </ComponentGroup>
    </Fragment>
</Wix>