<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FiresecDB.Properties.Settings.FiresecConnectionString"
            connectionString="Data Source=Firesec.sdf;Password=adm" />
    </connectionStrings>
</configuration>