@{
    ViewBag.Title = "Directions";
    Layout = null;
}

<div>
    <div class="area">
        <table id="jqGridDirections"></table>
    </div>
    <br />


    <div id="directionsTable">
        <table border="1">
            <thead>
                <tr><th>Номер</th><th>Наименование</th><th>Состояние</th></tr>
            </thead>
            <tbody>
                <tr class="loading"></tr>
            </tbody>
        </table>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/Scripts/app/controllers/directionsUpdaterHub.js"></script>
    <script src="~/Scripts/angular-signalr-hub.js"></script>
    <script src="~/signalr/hubs"></script>

    </div>
