@{
    ViewBag.Title = "Directions";
    Layout = null;
}


<div>
    <div class="area">
        <table id="jqGridDirections"></table>
    </div>
    <br />
</div>
<style>
    .area {
        background: white;
        height: 500px;
        width: 100%;
    }
</style> 