@{
    ViewBag.Title = "Directions";
    Layout = null;
}

<div>
    <div ng-controller="directionsCtrl">
        <ng-jq-grid config="config" data="data"></ng-jq-grid>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/Scripts/app/controllers/directionsUpdaterHub.js"></script>
    <script src="~/Scripts/angular-signalr-hub.js"></script>
    <script src="~/signalr/hubs"></script>

</div>
