@{
    ViewBag.Title = "FireZones";
    Layout = null;
}


@*@using System.Web.Optimization

    @Scripts.Render("~/bundles/fireZones")*@

<div ng-controller="zonesCtrl">
    <ng-jq-grid config="config" data="data" id="zones"></ng-jq-grid>
</div>
<br/>
<div ng-controller="devicesCtrl">
    <ng-jq-grid config="config" data="data" id="devices"></ng-jq-grid>
</div>