@{
    ViewBag.Title = "FireZones";
    Layout = null;
}


@*@using System.Web.Optimization

    @Scripts.Render("~/bundles/fireZones")*@
<div ng-controller="firezonesCtrl">
    <div class="area">
        Область
    </div>
    <br />
    <ng-jq-grid config="config" data="data"></ng-jq-grid>
</div>

<style>
    .area {
        background: white;
        height: 500px;
        width: 100%;
    }
</style>
