@{
    ViewBag.Title = "Index";
}
@*@using System.Web.Optimization*@

<div ui-view></div>

@*Исправить когда переведём картотеку на ангулар*@
<div data-bind="visible:pages.HR"><div id="HR"></div></div>