
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<div class="modal-header">
    <span>Оперативная задача Глобал</span>
</div>
<div class="modal-body">
    <div>
        <form name="form" role="form">
            <div class="form-group">
                <input class="form-control" ng-model="loginData.userName" autofocus autocomplete="on" placeholder="Логин">
            </div>
            
            <div class="form-group">
                <input class="form-control" ng-model="loginData.password" type="password" placeholder="Пароль">
            </div>

            <div class="form-group">
                <p class="text-center">{{message}}</p>
            </div>
            
        </form>
    </div>
</div>
<div mobile-hover-fix class="modal-footer">
    <button class="btn btn-primary pull-right" ng-click="Enter()">Войти</button>
</div>
