
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<div class="modal-header">
    <a class="close" href="" ng-show="options.validateOnlyPassword"><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
    <h3 class="modal-title">Оперативная задача Глобал</h3>
    <span></span>
</div>
<div class="modal-body">
    <div>
        <form name="form" role="form">
            <div class="form-group">
                <input class="form-control" ng-model="loginData.userName" autofocus autocomplete="on" placeholder="Логин" ng-disabled="options.validateOnlyPassword">
            </div>
            
            <div class="form-group">
                <input class="form-control" ng-model="loginData.password" type="password" placeholder="Пароль">
            </div>

            <div class="form-group">
                <p class="text-center">{{message}}</p>
            </div>
            
        </form>
    </div>
</div>
<div mobile-hover-fix class="modal-footer">
    <button class="btn btn-primary pull-right" ng-click="Enter()">OK</button>
</div>
