<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="StrazhDAL.Properties.Settings.ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=master;Integrated Security=True;Language='English'"
		  providerName="System.Data.SqlClient" />
		<add name="StrazhDAL.Properties.Settings.SKDConnectionString"
		  connectionString="Data Source=.\sqlexpress;Initial Catalog=SKD;Integrated Security=True;Language='English'"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>