<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!--<add name="NWindConnectionString" connectionString="XpoProvider=MSSqlServer;Data Source=e:\Rubezh\Projects\FiresecService\bin\Debug\NWind.mdf;AttachDbFilename=NWind.mdf;Integrated Security=True;User Instance=True;Connect Timeout=120" />-->
		<add name="NWindConnectionString" connectionString="XpoProvider=.\sqlexpress;Data SourceNWind.mdf;AttachDbFilename=NWind.mdf;Integrated Security=True;User Instance=True;Connect Timeout=120" />
	</connectionStrings>
</configuration>