.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 51px;
}
.main-content {
    position: fixed;
    top: 51px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: auto;
}