<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables.wxi?>
	<Fragment>

		<DirectoryRef Id="ADMINISTRATORLOCATION">
			<Component Id="Administrator.Files" Guid="F78F2E80-61E7-4AA3-9605-4AD05EF21975">
				<File Id="Administrator.FireAdministrator.exe"							Name="$(var.Administrator.TargetFileName)"				Source="$(var.Administrator.TargetPath)" KeyPath="yes" />
				<File Id="Administrator.FireAdministrator.exe.config"					Name="FireAdministrator.exe.config"						Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.FireAdministrator.exe.manifest"					Name="FireAdministrator.exe.manifest"					Source="$(var.Administrator.TargetDir)"/>
				<File Id="Administrator.Infrastructure.Common.dll"						Name="Infrastructure.Common.dll"						Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrastructure.Client.dll"						Name="Infrastructure.Client.dll"						Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrustructure.Plans.dll"						Name="Infrustructure.Plans.dll"							Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrastructure.Designer.dll"					Name="Infrastructure.Designer.dll"						Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrastructure.Automation.dll"					Name="Infrastructure.Automation.dll"					Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrastructure.dll"								Name="Infrastructure.dll"								Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Common.dll"										Name="Common.dll"										Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Controls.dll"									Name="Controls.dll"										Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.DeviceControls.dll"								Name="DeviceControls.dll"								Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RubezhAPI.dll"									Name="RubezhAPI.dll"									Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RubezhClient.dll"								Name="RubezhClient.dll"									Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SecurityModule.dll"								Name="SecurityModule.dll"								Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.FiltersModule.dll"								Name="FiltersModule.dll"								Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.AutomationModule.dll"							Name="AutomationModule.dll"								Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.LayoutModule.dll"								Name="LayoutModule.dll"									Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SKDModule.dll"									Name="SKDModule.dll"									Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.GKProcessor.dll"								Name="GKProcessor.dll"									Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RviClient.dll"									Name="RviClient.dll"									Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RubezhLicense.dll"								Name="RubezhLicense.dll"								Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Xceed.Wpf.AvalonDock.dll"						Name="Xceed.Wpf.AvalonDock.dll"							Source="..\..\..\..\..\..\3rdParty\AvalonDock\Bin\Version2.0\Xceed.Wpf.AvalonDock\" />
				<File Id="Administrator.Microsoft.Practices.Prism.dll"					Name="Microsoft.Practices.Prism.dll"					Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Administrator.Microsoft.Practices.Prism.UnityExtensions.dll"	Name="Microsoft.Practices.Prism.UnityExtensions.dll"	Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Administrator.Microsoft.Practices.Unity.dll"					Name="Microsoft.Practices.Unity.dll"					Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Administrator.Microsoft.Practices.ServiceLocation.dll"		Name="Microsoft.Practices.ServiceLocation.dll"			Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Administrator.WPFToolkit.dll"									Name="WPFToolkit.dll"									Source="..\..\..\..\..\..\3rdParty\WPF Toolkit\v3.5.50211.1\" />
				<File Id="Administrator.WPFToolkit.Extended.dll"						Name="WPFToolkit.Extended.dll"							Source="..\..\..\..\..\..\3rdParty\WPF Toolkit\" />
				<File Id="Administrator.System.Windows.Controls.Input.Toolkit.dll"		Name="System.Windows.Controls.Input.Toolkit.dll"		Source="..\..\..\..\..\..\3rdParty\WPF Toolkit\v3.5.50211.1\" />
				<File Id="Administrator.XamlTune.dll"									Name="XamlTune.dll"										Source="..\..\..\..\..\..\3rdParty\SVG2XAML\" />
				<File Id="Administrator.Ionic.Zip.dll"									Name="Ionic.Zip.dll"									Source="..\..\..\..\..\..\3rdParty\DotNetZipLib-DevKit-v1.9\" />
				<File Id="Administrator.Xceed.Wpf.Toolkit.dll"							Name="Xceed.Wpf.Toolkit.dll"							Source="..\..\..\..\..\..\3rdParty\ExtendedWPFToolkit_Binaries\" />

				<File Id="Administrator.log4net.dll"									Name="log4net.dll"										Source="..\..\..\..\..\..\3rdParty\OPC\" />
				<File Id="Administrator.Softing.Opc.Ua.Sdk.Client.dll"					Name="Softing.Opc.Ua.Sdk.Client.dll"					Source="..\..\..\..\..\..\3rdParty\OPC\" />
				<File Id="Administrator.Softing.Opc.Ua.Sdk.Configuration.dll"			Name="Softing.Opc.Ua.Sdk.Configuration.dll"				Source="..\..\..\..\..\..\3rdParty\OPC\" />
				<File Id="Administrator.Softing.Opc.Ua.Sdk.Core.dll"					Name="Softing.Opc.Ua.Sdk.Core.dll"						Source="..\..\..\..\..\..\3rdParty\OPC\" />
				<File Id="Administrator.Softing.Opc.Ua.Toolkit.dll"						Name="Softing.Opc.Ua.Toolkit.dll"						Source="..\..\..\..\..\..\3rdParty\OPC\" />
				
				<File Id="Administrator.NLog.dll"										Name="NLog.dll"											Source="..\..\..\..\..\..\3rdParty\NLog.2.0.1.2\" />

				<File Id="Administrator.Npgsql.dll"										Name="Npgsql.dll"										Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Npgsql.EntityFramework.dll"						Name="Npgsql.EntityFramework.dll"						Source="$(var.Administrator.TargetDir)" />

				<File Id="Administrator.OpcClientSdk40.dll"								Name="OpcClientSdk40.dll"								Source="..\..\..\..\..\..\3rdParty\OPC\" />
			</Component>

			<Component Id="Administrator.PLANS_MODULE" Guid="BD07AEDD-C503-4B25-980D-3409EBE75D1A">
				<File Id="Administrator.PlansModule.dll"								Name="PlansModule.dll"									Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Converters.dll"					Name="SharpVectors.Converters.dll"						Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Administrator.SharpVectors.Core.dll"							Name="SharpVectors.Core.dll"							Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Administrator.SharpVectors.Css.dll"							Name="SharpVectors.Css.dll"								Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Administrator.SharpVectors.Dom.dll"							Name="SharpVectors.Dom.dll"								Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Administrator.SharpVectors.Model.dll"							Name="SharpVectors.Model.dll"							Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Administrator.SharpVectors.Rendering.Wpf.dll"					Name="SharpVectors.Rendering.Wpf.dll"					Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Administrator.SharpVectors.Runtime.dll"						Name="SharpVectors.Runtime.dll"							Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
			</Component>

			<Component Id="Administrator.SOUNDS_MODULE" Guid="DF7DE120-731E-460A-A420-CD5FC0C6FF09">
				<File Id="Administrator.SoundsModule.dll"								Name="SoundsModule.dll"									Source="$(var.Administrator.TargetDir)" />
			</Component>

			<Component Id="Administrator.SETTINGS_MODULE" Guid="440F9915-8EB0-493C-891B-35927D2183F5">
				<File Id="Administrator.SettingsModule.dll"								Name="SettingsModule.dll"								Source="$(var.Administrator.TargetDir)" />
			</Component>

			<Component Id="Administrator.GK_MODULE" Guid="B543D275-4600-49BD-A8A9-5E155E508B04">
				<File Id="Administrator.GKModule.dll"									Name="GKModule.dll"										Source="$(var.Administrator.TargetDir)" KeyPath="yes" />
				<File Id="Administrator.PlansModule.Kursk.dll"							Name="PlansModule.Kursk.dll"							Source="$(var.Administrator.TargetDir)" />
			</Component>

			<Component Id="Administrator.VIDEO_MODULE" Guid="06A0E756-7AFF-4E90-8B9C-52C71F0ADF06">
				<File Id="Administrator.VideoModule.dll"								Name="VideoModule.dll"									Source="$(var.Administrator.TargetDir)" KeyPath="yes" />
				<File Id="Administrator.API.dll"										Name="API.dll"											Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.Entities.dll"									Name="Entities.dll"										Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.GalaSoft.MvvmLight.WPF4.dll"					Name="GalaSoft.MvvmLight.WPF4.dll"						Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.MediaSourcePlayer.dll"							Name="MediaSourcePlayer.dll"							Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.NativePlayerWrap.dll"							Name="NativePlayerWrap.dll"								Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.PlayerPoolService.dll"							Name="PlayerPoolService.dll"							Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.PlayerService.dll"								Name="PlayerService.dll"								Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.PlayerServiceApi.dll"							Name="PlayerServiceApi.dll"								Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.RVI_VSS.Utils.dll"								Name="RVI_VSS.Utils.dll"								Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.RviVssDec.exe"									Name="RviVssDec.exe"									Source="$(var.Administrator.RVIVSS.TargetDir)" />
				<File Id="Administrator.SdkWrapper.dll"									Name="SdkWrapper.dll"									Source="$(var.Administrator.RVIVSS.TargetDir)" />
			</Component>

		</DirectoryRef>

		<DirectoryRef Id="Administrator.Dll">
			<Component Id="Administrator.Files.dll" Guid="30f75385-55ab-404c-870b-3ceb9baef84c">
				<File Id="Administrator.aacdec.dll"										Name="aacdec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" KeyPath="yes"/>
				<File Id="Administrator.AACDecoder.dll"									Name="AACDecoder.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.adpcmdec.dll"									Name="adpcmdec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.amrdec.dll"										Name="amrdec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.AmrDll.dll"										Name="AmrDll.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.atl80.dll"										Name="atl80.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.AudioIntercom.dll"								Name="AudioIntercom.dll" 								Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.AudioRender.dll"								Name="AudioRender.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.avcodec_56.dll"									Name="avcodec-56.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.avdevice_56.dll"								Name="avdevice-56.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.avfilter_5.dll"									Name="avfilter-5.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.avformat_56.dll"								Name="avformat-56.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.avnetsdk.dll"									Name="avnetsdk.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.D3DX9_43.dll"									Name="D3DX9_43.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.avutil_54.dll"									Name="avutil-54.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.dhconfigsdk.dll"								Name="dhconfigsdk.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.DhDecode.dll"									Name="DhDecode.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.dhdvr.dll"										Name="dhdvr.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.dhlog.dll"										Name="dhlog.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.dhnetsdk.dll"									Name="dhnetsdk.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.dhplay.dll"										Name="dhplay.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.DllDeinterlace.dll"								Name="DllDeinterlace.dll"								Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.dllh264.dll"									Name="dllh264.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.dllmpeg4.dll"									Name="dllmpeg4.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.DsSdk.dll"										Name="DsSdk.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.gdiplus.dll"									Name="gdiplus.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.h264dec.dll"									Name="h264dec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.HCNetSDK.dll"									Name="HCNetSDK.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.HWDecode.dll"									Name="HWDecode.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Infra.dll"										Name="Infra.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.IvsDrawer.dll"									Name="IvsDrawer.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.IvsDrawer_64.dll"								Name="IvsDrawer_64.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.jpegdec.dll"									Name="jpegdec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.json.dll"										Name="json.dll"											Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.log4cplus.properties"							Name="log4cplus.properties"								Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.LogMoudle.dll"									Name="LogMoudle.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mfc80.dll"										Name="mfc80.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mfc80u.dll"										Name="mfc80u.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mfcm80.dll"										Name="mfcm80.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mfcm80u.dll"									Name="mfcm80u.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mjpegdec.dll"									Name="mjpegdec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mp2dec.dll"										Name="mp2dec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mp3dec.dll"										Name="mp3dec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.MP3Decoder.dll"									Name="MP3Decoder.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mpeg4dec.dll"									Name="mpeg4dec.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.mpeg4enc.dll"									Name="mpeg4enc.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.MP_Render.dll"									Name="MP_Render.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.MP_VIE.dll"										Name="MP_VIE.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.msvcm80.dll"									Name="msvcm80.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.msvcp80.dll"									Name="msvcp80.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.msvcr80.dll"									Name="msvcr80.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.NativePlayer.dll"								Name="NativePlayer.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.NetFramework.dll"								Name="NetFramework.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.npf.sys"										Name="npf.sys"											Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.npf64.sys"										Name="npf64.sys"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.NvdaiDll.dll"									Name="NvdaiDll.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.NvdalDll.dll"									Name="NvdalDll.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Nvdcdll.dll"									Name="Nvdcdll.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.NvdcPlayerDll.dll"								Name="NvdcPlayerDll.dll"								Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.OpenAL32.dll"									Name="OpenAL32.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.PlayCtrl.dll"									Name="PlayCtrl.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.postproc.dll"									Name="postproc.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.QosControl.dll"									Name="QosControl.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Sadp.dll"										Name="Sadp.dll"											Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.SDL2.dll"										Name="SDL2.dll"											Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.SensorUI.dll"									Name="SensorUI.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Stream.dll"										Name="Stream.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.StreamAnalyzer.dll"								Name="StreamAnalyzer.dll"								Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.StreamSvr.dll"									Name="StreamSvr.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.StreamTransClient.dll"							Name="StreamTransClient.dll"							Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.SuperRender.dll"								Name="SuperRender.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.swresample_1.dll"								Name="swresample-1.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.swscale_3.dll"									Name="swscale-3.dll"									Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.SystemTransform.dll"							Name="SystemTransform.dll"								Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.vcomp.dll"										Name="vcomp.dll"										Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Microsoft.VC80.ATL.manifest"					Name="Microsoft.VC80.ATL.manifest"						Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Microsoft.VC80.CRT.manifest"					Name="Microsoft.VC80.CRT.manifest"						Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Microsoft.VC80.MFC.manifest"					Name="Microsoft.VC80.MFC.manifest"						Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Microsoft.VC80.MFCLOC.manifest"					Name="Microsoft.VC80.MFCLOC.manifest"					Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
				<File Id="Administrator.Microsoft.VC80.OpenMP.manifest"					Name="Microsoft.VC80.OpenMP.manifest"					Source="$(var.Administrator.RVIVSS.Dll.TargetDir)" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="Administrator.XslFolder">
			<Component Id="Administrator.svg2xaml" Guid="393F97E9-1CAB-47BF-BAB2-B0AAB564DBC5">
				<File Id="Administrator.svg2xaml.xsl"									Source="$(var.Administrator.Deploy.TargetDir)XslFiles\svg2xaml.xsl" />
				<File Id="Administrator.xaml2svg.xsl"									Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg.xsl" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="Administrator.Xaml2svgFolder">
			<Component Id="Administrator.xaml2svg" Guid="1B4EF891-5572-4C28-8462-1844FE4F6989">
				<File Id="Administrator.animation.xsl"									Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\animation.xsl" />
				<File Id="Administrator.brushes.xsl"									Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\brushes.xsl" />
				<File Id="Administrator.canvas.xsl"										Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\canvas.xsl" />
				<File Id="Administrator.geometry.xsl"									Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\geometry.xsl" />
				<File Id="Administrator.properties.xsl"									Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\properties.xsl" />
				<File Id="Administrator.propertiesMODIF.xsl"							Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\properties-MODIF.xsl" />
				<File Id="Administrator.shapes.xsl"										Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\shapes.xsl" />
				<File Id="Administrator.transform.xsl"									Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\transform.xsl" />
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>