<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables.wxi?>
	<Fragment>

		<DirectoryRef Id="ADMINISTRATORLOCATION">
			<Component Id="Administrator.Files" Guid="D09AF1B2-3CD6-4061-828C-DEBE913A140D">
				<File Id="Administrator.StrazhAdmin.exe" Name="$(var.Administrator.TargetFileName)" Source="$(var.Administrator.TargetPath)" KeyPath="yes" />
				<File Id="Administrator.StrazhAdmin.exe.config" Name="StrazhAdmin.exe.config" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.StrazhAdmin.exe.manifest" Name="StrazhAdmin.exe.manifest" Source="$(var.Administrator.TargetDir)"/>
				<File Id="Administrator.Infrastructure.Common.dll" Name="Infrastructure.Common.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrastructure.Client.dll" Name="Infrastructure.Client.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrustructure.Plans.dll" Name="Infrustructure.Plans.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrastructure.Designer.dll" Name="Infrastructure.Designer.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Infrastructure.dll" Name="Infrastructure.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Common.dll" Name="Common.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Controls.dll" Name="Controls.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.DeviceControls.dll" Name="DeviceControls.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.FiresecAPI.dll" Name="FiresecAPI.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.FiresecClient.dll" Name="FiresecClient.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SecurityModule.dll" Name="SecurityModule.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.FiltersModule.dll" Name="FiltersModule.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.AutomationModule.dll" Name="AutomationModule.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.LayoutModule.dll" Name="LayoutModule.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SKDModule.dll" Name="SKDModule.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Xceed.Wpf.AvalonDock.dll" Name="Xceed.Wpf.AvalonDock.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Microsoft.Practices.Prism.dll" Name="Microsoft.Practices.Prism.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Microsoft.Practices.Prism.UnityExtensions.dll" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Microsoft.Practices.Unity.dll" Name="Microsoft.Practices.Unity.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.WPFToolkit.dll" Name="WPFToolkit.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.WPFToolkit.Extended.dll" Name="WPFToolkit.Extended.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.System.Windows.Controls.Input.Toolkit.dll" Name="System.Windows.Controls.Input.Toolkit.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.XamlTune.dll" Name="XamlTune.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Ionic.Zip.dll" Name="Ionic.Zip.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.NLog.dll" Name="NLog.dll" Source="..\..\..\..\..\..\3rdParty\NLog.2.0.1.2\" />
				<File Id="Administrator.Loya.Dameer.dll" Name="Loya.Dameer.dll" Source="$(var.Administrator.TargetDir)" />

				<File Id="Administrator.RviClient.dll" Name="RviClient.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RviClient.UI.dll" Name="RviClient.UI.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RviCommonClient.dll" Name="RviCommonClient.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RviIntegratorClient.dll" Name="RviIntegratorClient.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.RviOperatorClient.dll" Name="RviOperatorClient.dll" Source="$(var.Administrator.TargetDir)" />

				<File Id="Administrator.System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.Administrator.TargetDir)" />
			</Component>

			<Component Id="Administrator.DB" Guid="76B6255A-2D45-4909-B52A-C53822E10671">
				<File Id="Administrator.sqlceca35.dll" Name="sqlceca35.dll" Source="$(var.Server.TargetDir)" />
				<File Id="Administrator.sqlcecompact35.dll" Name="sqlcecompact35.dll" Source="$(var.Server.TargetDir)" />
				<File Id="Administrator.sqlceer35EN.dll" Name="sqlceer35EN.dll" Source="$(var.Server.TargetDir)" />
				<File Id="Administrator.sqlceme35.dll" Name="sqlceme35.dll" Source="$(var.Server.TargetDir)" />
				<File Id="Administrator.sqlceoledb35.dll" Name="sqlceoledb35.dll" Source="$(var.Server.TargetDir)" />
				<File Id="Administrator.sqlceqp35.dll" Name="sqlceqp35.dll" Source="$(var.Server.TargetDir)" />
				<File Id="Administrator.sqlcese35.dll" Name="sqlcese35.dll" Source="$(var.Server.TargetDir)" />
				<File Id="Administrator.System.Data.SqlServerCe.dll" Name="System.Data.SqlServerCe.dll" Source="$(var.Server.TargetDir)" />
			</Component>

			<Component Id="Administrator.PLANS_MODULE" Guid="AF449508-EB24-477E-9526-31288D18FB68">
				<File Id="Administrator.PlansModule.dll" Name="PlansModule.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Converters.dll" Name="SharpVectors.Converters.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Core.dll" Name="SharpVectors.Core.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Css.dll" Name="SharpVectors.Css.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Dom.dll" Name="SharpVectors.Dom.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Model.dll" Name="SharpVectors.Model.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Rendering.Wpf.dll" Name="SharpVectors.Rendering.Wpf.dll" Source="$(var.Administrator.TargetDir)" />
				<File Id="Administrator.SharpVectors.Runtime.dll" Name="SharpVectors.Runtime.dll" Source="$(var.Administrator.TargetDir)" />
			</Component>

			<Component Id="Administrator.SOUNDS_MODULE" Guid="09711B10-C7EF-48A0-9D34-25C2ACA537A8">
				<File Id="Administrator.SoundsModule.dll" Name="SoundsModule.dll" Source="$(var.Administrator.TargetDir)" />
			</Component>

			<Component Id="Administrator.SETTINGS_MODULE" Guid="5D794075-F22B-417C-AAF2-0DA8BAE5A77B">
				<File Id="Administrator.SettingsModule.dll" Name="SettingsModule.dll" Source="$(var.Administrator.TargetDir)" />
			</Component>

			<Component Id="Administrator.STRAZH_MODULE" Guid="88B4570A-BB95-43de-9E24-6C31E0B68F78">
				<File Id="Administrator.StrazhModule.dll" Name="StrazhModule.dll" Source="$(var.Administrator.TargetDir)" KeyPath="yes" />
			</Component>

			<Component Id="Administrator.VIDEO_MODULE" Guid="383BE366-8338-46F1-9861-A2A0AE136960">
				<File Id="Administrator.VideoModule.dll" Name="VideoModule.dll" Source="$(var.Administrator.TargetDir)" KeyPath="yes" />
			</Component>

		</DirectoryRef>

		<DirectoryRef Id="Administrator.XslFolder">
			<Component Id="Administrator.svg2xaml" Guid="45C9E7B8-609F-4BCE-B326-9C8386A10016">
				<File Id="Administrator.svg2xaml.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\svg2xaml.xsl" />
				<File Id="Administrator.xaml2svg.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg.xsl" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="Administrator.Xaml2svgFolder">
			<Component Id="Administrator.xaml2svg" Guid="233BA69B-F8BB-4D27-B3DB-4B2DAA7A2E5A">
				<File Id="Administrator.animation.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\animation.xsl" />
				<File Id="Administrator.brushes.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\brushes.xsl" />
				<File Id="Administrator.canvas.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\canvas.xsl" />
				<File Id="Administrator.geometry.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\geometry.xsl" />
				<File Id="Administrator.properties.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\properties.xsl" />
				<File Id="Administrator.propertiesMODIF.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\properties-MODIF.xsl" />
				<File Id="Administrator.shapes.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\shapes.xsl" />
				<File Id="Administrator.transform.xsl" Source="$(var.Administrator.Deploy.TargetDir)XslFiles\xaml2svg\transform.xsl" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ADMINISTRATORLOCATION">
			<Component Id="Administrator.VIDEO_MODULE_DLL" Guid="EAF56630-CCD5-4c21-8DCF-C01CC0361D1B">
				<File Id="Administrator.API.dll" Name="API.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.Entities.dll" Name="Entities.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.GalaSoft.MvvmLight.WPF4.dll" Name="GalaSoft.MvvmLight.WPF4.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.MediaSourcePlayer.dll" Name="MediaSourcePlayer.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.NativePlayerWrap.dll" Name="NativePlayerWrap.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.PlayerPoolService.dll" Name="PlayerPoolService.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.PlayerService.dll" Name="PlayerService.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.PlayerServiceApi.dll" Name="PlayerServiceApi.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.RVI_VSS.Utils.dll" Name="RVI_VSS.Utils.dll" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.RviVssDec.exe" Name="RviVssDec.exe" Source="$(var.VSSDll.TargetDir)" />
				<File Id="Administrator.SdkWrapper.dll" Name="SdkWrapper.dll" Source="$(var.VSSDll.TargetDir)" />
			</Component>
		</DirectoryRef>

		<!-- DLL'ки для работы с видео  -->
		<DirectoryRef Id="Administrator.dll">
			<Component Id="Administrator.Files.dll" Guid="FDE3D680-EBDB-4E8F-9DC5-8CEF357E1474">
				<File Id="Administrator.aacdec.dll" Name="aacdec.dll" Source="$(var.Administrator.TargetDir)dll\" KeyPath="yes"/>
				<File Id="Administrator.AACDecoder.dll" Name="AACDecoder.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.adpcmdec.dll" Name="adpcmdec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.amrdec.dll" Name="amrdec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.AmrDll.dll" Name="AmrDll.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.atl80.dll" Name="atl80.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.AudioIntercom.dll" Name="AudioIntercom.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.AudioRender.dll" Name="AudioRender.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.avcodec_56.dll" Name="avcodec-56.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.avdevice_56.dll" Name="avdevice-56.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.avfilter_5.dll" Name="avfilter-5.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.avformat_56.dll" Name="avformat-56.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.avnetsdk.dll" Name="avnetsdk.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.avutil_54.dll" Name="avutil-54.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.D3DX9_43.dll" Name="D3DX9_43.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.dhconfigsdk.dll" Name="dhconfigsdk.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.DhDecode.dll" Name="DhDecode.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.dhdvr.dll" Name="dhdvr.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.dhlog.dll" Name="dhlog.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.dhnetsdk.dll" Name="dhnetsdk.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.dhplay.dll" Name="dhplay.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.DllDeinterlace.dll" Name="DllDeinterlace.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.dllh264.dll" Name="dllh264.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.dllmpeg4.dll" Name="dllmpeg4.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.DsSdk.dll" Name="DsSdk.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.gdiplus.dll" Name="gdiplus.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.h264dec.dll" Name="h264dec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.HCNetSDK.dll" Name="HCNetSDK.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.HWDecode.dll" Name="HWDecode.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Infra.dll" Name="Infra.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.IvsDrawer.dll" Name="IvsDrawer.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.IvsDrawer_64.dll" Name="IvsDrawer_64.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.jpegdec.dll" Name="jpegdec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.json.dll" Name="json.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.log4cplus.properties" Name="log4cplus.properties" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.LogMoudle.dll" Name="LogMoudle.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mfc80.dll" Name="mfc80.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mfc80u.dll" Name="mfc80u.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mfcm80.dll" Name="mfcm80.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mfcm80u.dll" Name="mfcm80u.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Microsoft.VC80.ATL.manifest" Name="Microsoft.VC80.ATL.manifest" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Microsoft.VC80.CRT.manifest" Name="Microsoft.VC80.CRT.manifest" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Microsoft.VC80.MFC.manifest" Name="Microsoft.VC80.MFC.manifest" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Microsoft.VC80.MFCLOC.manifest" Name="Microsoft.VC80.MFCLOC.manifest" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Microsoft.VC80.OpenMP.manifest" Name="Microsoft.VC80.OpenMP.manifest" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mjpegdec.dll" Name="mjpegdec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.MP_Render.dll" Name="MP_Render.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.MP_VIE.dll" Name="MP_VIE.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mp2dec.dll" Name="mp2dec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mp3dec.dll" Name="mp3dec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.MP3Decoder.dll" Name="MP3Decoder.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mpeg4dec.dll" Name="mpeg4dec.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.mpeg4enc.dll" Name="mpeg4enc.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.msvcm80.dll" Name="msvcm80.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.msvcp80.dll" Name="msvcp80.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.msvcr80.dll" Name="msvcr80.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.NativePlayer.dll" Name="NativePlayer.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.NetFramework.dll" Name="NetFramework.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.npf.sys" Name="npf.sys" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.npf64.sys" Name="npf64.sys" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.NvdaiDll.dll" Name="NvdaiDll.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.NvdalDll.dll" Name="NvdalDll.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Nvdcdll.dll" Name="Nvdcdll.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.NvdcPlayerDll.dll" Name="NvdcPlayerDll.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.OpenAL32.dll" Name="OpenAL32.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.PlayCtrl.dll" Name="PlayCtrl.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.postproc.dll" Name="postproc.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.QosControl.dll" Name="QosControl.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Sadp.dll" Name="Sadp.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.SDL2.dll" Name="SDL2.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.SensorUI.dll" Name="SensorUI.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.Stream.dll" Name="Stream.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.StreamAnalyzer.dll" Name="StreamAnalyzer.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.StreamSvr.dll" Name="StreamSvr.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.StreamTransClient.dll" Name="StreamTransClient.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.SuperRender.dll" Name="SuperRender.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.swresample_1.dll" Name="swresample-1.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.swscale_3.dll" Name="swscale-3.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.SystemTransform.dll" Name="SystemTransform.dll" Source="$(var.Administrator.TargetDir)dll\" />
				<File Id="Administrator.vcomp.dll" Name="vcomp.dll" Source="$(var.Administrator.TargetDir)dll\" />
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>