@{
    ViewBag.Title = "Journal";
    Layout = null;
}

<div>
	<div ng-controller="journalCtrl">
		<div class="toolbar">
			<button ng-click="showFilter()" class="icon filter"></button>
		</div>
		<div ui-grid="gridOptions" style="{{gridStyle}}" ui-grid-auto-resize ui-grid-selection ui-grid-save-state></div>

		<div class="report_item_info">
			<div>
				<span class="reportLabel">Дата в системе</span>
				<span class="info" ng-bind="selectedRow.SystemDate"></span>
			</div>
			<div>
				<span class="reportLabel">Дата в приборе</span>
				<span class="info" ng-bind="selectedRow.DeviceDate"></span>
			</div>
			<div>
				<span class="reportLabel">Событие</span>
				<span class="info" ng-bind="selectedRow.Name"></span>
			</div>
			<div>
				<span class="reportLabel">Уточнение</span>
				<span class="info" ng-bind="selectedRow.Desc"></span>
			</div>
			<div>
				<span class="reportLabel">Пользователь</span>
				<span class="info" ng-bind="selectedRow.User"></span>
			</div>
			<div>
				<span class="reportLabel">Подсистема</span>
				<span class="info" ng-bind="selectedRow.Subsystem"></span>
			</div>
		</div>
	</div>
</div>
