@{
    ViewBag.Title = "Journal";
    Layout = null;
}

<div>
	<div ng-controller="journalCtrl">
		<div class="toolbar">
			<button ng-click="showFilter()" class="icon filter"></button>
		</div>
		<div ui-grid="gridOptions" style="{{gridStyle}}" ui-grid-auto-resize ui-grid-selection ui-grid-save-state></div>

		<div class="report_item_info">
			<div>
				<label>Дата в системе</label>
				<label ng-bind="selectedRow.SystemDate"></label>
			</div>
			<div>
				<label>Дата в приборе</label>
				<label ng-bind="selectedRow.DeviceDate"></label>
			</div>
			<div>
				<label>Событие</label>
				<label ng-bind="selectedRow.Name"></label>
			</div>
			<div>
				<label>Уточнение</label>
				<label ng-bind="selectedRow.Desc"></label>
			</div>
			<div>
				<label>Пользователь</label>
				<label ng-bind="selectedRow.User"></label>
			</div>
			<div>
				<label>Подсистема</label>
				<label ng-bind="selectedRow.Subsystem"></label>
			</div>
		</div>
	</div>
</div>
