@{
	Layout = null;
}

<div class="modal-body">
	<div ui-grid="gridOptions" ui-grid-tree-view ui-grid-selection id="devices"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">Применить</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Отмена</button>
</div>