@{
	Layout = null;
}

<div class="modal-body">
	<uib-tabset>
		<uib-tab heading="Объект">
			<div ui-grid="objectsGrid" ui-grid-tree-view ui-grid-selection></div>
		</uib-tab>
		<uib-tab heading="Событие">
			<div ui-grid="eventsGrid" ui-grid-tree-view ui-grid-selection></div>
		</uib-tab>
	</uib-tabset>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">Применить</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Отмена</button>
</div>