@{
	Layout = null;
}

<div class="modal-body">
	<div ng-controller="journalFilterCtrl">
		<button class="btn btn-success" ng-bind="testStr"></button>
		<div ui-grid="gridOptions"></div>
	</div>
</div>