@*@{
    ViewBag.Title = "MPTs";
    Layout = null;
}
<div ng-controller="mptsCtrl">
    @*<div ui-grid="uiGrid" ui-grid-edit ui-grid-cellnav class="grid" style=" width: 700px;
    height: auto;"></div>*@
</div>*@
