
@{
    ViewBag.Title = "Plan";
    Layout = null;
}

@*@Scripts.Render("~/bundles/shapesApp")*@
@*@Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")*@
@*@Scripts.Render("~/Scripts/app/signalr/plansUpdaterHub.js")*@
@*<script src="~/Scripts/angular-signalr-hub.js"></script>*@
@*<script src="~/signalr/hubs"></script>*@

<div class="plan">
    <div ng-controller="SignalrCtrl">
       <div class="message"></div> 
    </div>
    <div ng-controller="PlanCtrl">
        <h1 class="">Доступные планы:</h1>
        <div ng-repeat="plan in PlansList">
            <div><a href=""
                    ng-click="LoadPlan(plan.Uid)">
                    <h2>[{{$index + 1}}] {{plan.Name}}</h2>
                    <p>{{plan.Description}}</p></a>
            </div>
        </div>
        <div id="modal">
            <div id="content"></div>
            <button id="modalClose"
                    onclick="d3.select('#modal').style('display', 'none');">
                X
            </button>
        </div>
        <d3-plan data="d3Data"></d3-plan>
    </div>
</div>
<style>
	svg
    {
		margin-top: 15px;
	    margin-bottom: 15px;
	    margin-right: 30px;
        font: 10px sans-serif;
        -webkit-shape-rendering: crispEdges;
        -moz-shape-rendering: crispEdges;
        -ms-shape-rendering: crispEdges;
        -o-shape-rendering: crispEdges;
        shape-rendering: crispEdges;
    }

    #modal {
        position: fixed;
        left: 150px;
        top: 200px;
        z-index: 1;
        background: white;
        border: 1px black solid;
        width: 400px;
        -webkit-box-shadow: 10px 10px 5px #888888;
        -ms-box-shadow: 10px 10px 5px #888888;
        box-shadow: 10px 10px 5px #888888;
        display: none;
    }

    #content {
        max-height: 400px;
        overflow: auto;
    }

    #modalClose {
        position: absolute;
        top: -0px;
        right: -0px;
        z-index: 1;
    }

    .context-menu {
        position: absolute;
        display: none;
        background-color: #f2f2f2;
        -ms-border-radius: 4px;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        min-width: 150px;
        border: 1px solid #d4d4d4;
        z-index: 1200;
    }

        .context-menu ul {
            list-style-type: none;
            margin: 4px 0px;
            padding: 0px;
            cursor: default;
        }

            .context-menu ul li {
                padding: 4px 16px;
            }

                .context-menu ul li:hover {
                    background-color: #4677f8;
                    color: #fefefe;
                }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        -ms-border-radius: 2px;
        border-radius: 2px;
    }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
        }
</style>