
@{
    ViewBag.Title = "CardRemovalReason";
    Layout = null;
}

<div id="card-removal-reason-box" class="save-cancel-popup" data-bind="with: HR.Employees.CardRemovalReason">
    <div class="title-bar">
        <span>Удаление пропуска</span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: Close"/></a>
    </div>
    <div>
        <form>
            <div class="data-input">
                <label>
                    <span><input type="radio" name="Remove" value="Remove" data-bind="checked: RemoveType" /> Удалить</span>
                </label>
                <label>
                    <span><input type="radio" name="Deactivate" value="Deactivate" data-bind="checked: RemoveType" /> Деактивировать</span>
                </label>
                <br/>
                <br/>
                <label for="RemovalReason" data-bind="visible: DeactivateIsChecked"><span>Причина деактивации</span><input type="text" name="RemovalReason" data-bind="value: RemovalReason" value=""/></label>
            </div>
            <button class="ok-cancel-button" type="button" data-bind="click: OkClick, enable: CanSave">OK</button>
        </form>
    </div>
</div>