
@{
    ViewBag.Title = "DepartmentSelection";
    Layout = null;
}

<div id="department-selection-box" class="save-cancel-popup" data-bind="with: HR.Employees.DepartmentSelection">
    <div class="title-bar">
        <span data-bind="text: Title"></span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: Close" /></a>
    </div>
    <div>
        <form id="DepartmentSelection" data-bind="submit: OkClick">
            <div>
                <table id="jqGridDepartmentSelection"></table>
            </div>
            <button class="submit ok-cancel-button" style="width: 300px" type="button" data-bind="click: Clear">Открепить от подразделения</button>
            <button class="submit ok-cancel-button" style="width: 300px" type="button" data-bind="click: Add, enable: false">Добавить новое подразделение</button>
            <br/>
            <button class="submit ok-cancel-button" type="submit" data-bind="enable: UID">OK</button>
        </form>
    </div>
</div>


