
@{
    Layout = null;
}

<div id="position-selection-box" class="save-cancel-popup" data-bind="with: HR.Employees.PositionSelection">
    <div class="title-bar">
        <span data-bind="text: Title"></span>
        <a href="#"><img src="Content/Image/Icon/Header/close_pop.png" title="Close Window" alt="Close" data-bind="click: Close" /></a>
    </div>
    <div>
        <form id="PositiontSelection" data-bind="submit: OkClick">
            <div>
                <table id="jqGridPositionSelection"></table>
            </div>
            <button class="submit ok-cancel-button" style="width: 300px" type="button" data-bind="click: Clear">Открепить от должности</button>
            <button class="submit ok-cancel-button" style="width: 300px" type="button" data-bind="click: Add, enable: false">Добавить новую должность</button>
            <br />
            <button class="submit ok-cancel-button" type="submit" data-bind="enable: UID">OK</button>
        </form>
    </div>
</div>


