@{
	Layout = null;
}

<div ng-controller="delaysCtrl">
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-save-state style="{{gridStyle}}"></div>
</div>
