@{
    Layout = null;
}

<div modal-draggable modaless>
    <div class="modal-header">
        <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
        <h3 class="modal-title">{{delay.Number}}.{{delay.Name}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <div ng-style="{'background-color': delay.StateColor}" style="width: 50px; height: 50px; border-width: 2px; margin: 5px; float: left"></div>
                <div style="float: left; width: 200px">
                    <ul>
                        <li ng-repeat="stateClass in delay.StateClasses">
                            <img style="margin: 2px; vertical-align:middle" src="/Content/Image/Icon/GKStateIcons/{{stateClass.IconData}}.png" />
                            {{stateClass.Name}}
                        <li>
                    </ul>
                </div>
                <div style="float: right">
                    <div ng-show="delay.HasOnDelay">
                        <span>Задержка на включение</span> <br />
                        <span>{{delay.OnDelay}}</span>
                    </div>
                    <div ng-show="delay.HasHoldDelay">
                        <span>Удержание</span> <br />
                        <span>{{delay.HoldDelay}}</span>
                    </div>
                </div>
                <div style="clear: both">
                </div>
            </div>
            <uib-tabset>
                <uib-tab heading="Управление">
                    <div>
                        <img style="margin: 2px; vertical-align:middle" src="/Content/Image/Icon/GKStateIcons/{{delay.ControlRegimeIcon}}.png" />
                        <span style="font-weight: bold; font-size: large; margin: 5px">Режим</span>
                        <span style="font-weight: bold; font-size: large; margin: 5px">{{delay.ControlRegimeName}}</span>
                    </div>
                    <div mobile-hover-fix style="background: #fff">
                        <div style="float: left; width: 50%">
                            <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="delay.CanSetAutomaticState && SetAutomaticState()" ng-disabled="!delay.CanSetAutomaticState">Автоматика</div>
                            <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="delay.CanSetManualState && SetManualState()" ng-disabled="!delay.CanSetManualState">Ручное</div>
                            <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="delay.CanSetIgnoreState && SetIgnoreState()" ng-disabled="!delay.CanSetIgnoreState">Отключение</div>
                        </div>
                        <div style="float: left; width: 50%">
                            <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="delay.IsControlRegime && TurnOn()" ng-disabled="!delay.IsControlRegime">Включить</div>
                            <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="delay.IsControlRegime && TurnOnNow()" ng-disabled="!delay.IsControlRegime">Включить немедленно</div>
                            <div class="btn btn-primary" style="height: 50px; display: block; margin: 5px" ng-click="delay.IsControlRegime && TurnOff()" ng-disabled="!delay.IsControlRegime">Выключить</div>
                        </div>
                        <div style="clear: left">
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Свойства">
                    <div class="detailsTab">
                        <div class="properties">
                            <div>
                                <span>Задежка</span>
                                <img style="margin: 2px; vertical-align: middle" height="16" width="16" ng-src="/Content/Image/{{delay.ImageSource}}" />
                                @*<a href="" ng-click="Show()">{{delay.Name}}</a>*@
                                <a ui-sref="delays({uid: delay.UID})" ui-sref-opts="{reload: true}">{{delay.Name}}</a>
                            </div>
                            <div>
                                <span>Номер в ГК:</span>
                                <span>{{delay.GkDescriptorNo}}</span>
                            </div>

                            <div>
                                <span>Задержка: </span>
                                <span>{{delay.DelayTime}}</span>
                            </div>
                            <div>
                                <span>Удержание: </span>
                                <span>{{delay.HoldTime}}</span>
                            </div>
                            <div>
                                <span>Режим после удержания: </span>
                                <span>{{delay.DelayRegimeName}}</span>
                            </div>
                            <div>
                                <img style="margin: 2px; vertical-align: middle" height="16" width="16" src="~/Content/Image/Icon/GK/BJournal.png" />
                                @*<a href="" ng-click="ShowJournal()" style="margin: 2px; font-weight: bold">Показать связанные события</a>*@
                                <a ui-sref="archive({uid: delay.UID})" ui-sref-opts="{reload: true}" style="margin: 2px; font-weight: bold">Показать связанные события</a>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
