@{
	Layout = null;
}

<div>
	<div ng-controller="delaysCtrl">
		<div ui-grid="gridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav class="myGrid"></div>
	</div>
</div>

<style type="text/css">
	.myGrid{
		width:1450px;
		height:300px;
	}
</style>