@{
	Layout = null;
}

<div modal-draggable modaless>
    <div class="modal-header">
        <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
        <h3 class="modal-title">{{delay.Name}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <div ng-style="{'background-color': delay.StateColor}" style="width: 50px; height: 50px; border-width: 2px; margin: 5px; float: left"></div>
                <div style="float: left; width: 200px">
                    <ul>
                        <li ng-repeat="stateClass in delay.StateClasses">
                            <img style="margin: 2px; vertical-align:middle" src="/Content/Image/Icon/GKStateIcons/{{stateClass.IconData}}.png" />
                            {{stateClass.Name}}
                        <li>
                    </ul>
                </div>
                <div style="float: right">
                    <div ng-show="delay.HasOnDelay">
                        <span>Задержка на включение</span> <br />
                        <span>{{delay.OnDelay}}</span>
                    </div>
                    <div ng-show="delay.HasHoldDelay">
                        <span>Удержание</span> <br />
                        <span>{{delay.HoldDelay}}</span>
                    </div>
                </div>
                <div style="clear: both">
                </div>
            </div>
            <uib-tabset>
                <uib-tab heading="Управление">
                    <div>
                        <img style="margin: 2px; vertical-align:middle" src="/Content/Image/Icon/GKStateIcons/{{delay.ControlRegimeIcon}}.png" />
                        <span style="font-weight: bold; margin: 2px">Режим</span>
                        <span style="font-weight: bold; margin: 2px">{{delay.ControlRegimeName}}</span>
                    </div>
                    <div style="float: left; width: 50%">
                        <button style="height: 50px; width: 100%; margin: 2px;" ng-click="SetAutomaticState()" ng-disabled="!delay.CanSetAutomaticState">Автоматика</button>
                        <button style="height: 50px; width: 100%; margin: 2px" ng-click="SetManualState()" ng-disabled="!delay.CanSetManualState">Ручное</button>
                        <button style="height: 50px; width: 100%; margin: 2px" ng-click="SetIgnoreState()" ng-disabled="!delay.CanSetIgnoreState">Отключение</button>
                    </div>
                    <div style="float: left; width: 50%">
                        <button style="height: 50px; width: 100%; margin: 2px" ng-click="TurnOn()" ng-disabled="!delay.IsControlRegime">Включить</button>
                        <button style="height: 50px; width: 100%; margin: 2px" ng-click="TurnOnNow()" ng-disabled="!delay.IsControlRegime">Включить немедленно</button>
                        <button style="height: 50px; width: 100%; margin: 2px" ng-click="TurnOff()" ng-disabled="!delay.IsControlRegime">Выключить</button>
                    </div>
                    <div style="clear: left">
                    </div>
                </uib-tab>
                <uib-tab heading="Свойства">
                    <div>
                        <img style="margin: 2px; vertical-align:middle" height="16" width="16" src="~/Content/Image/Icon/Hr/Delay.png" />
                        @*<a href="" ng-click="Show()">{{delay.Name}}</a>*@
                        <a ui-sref="delays({uid: delay.UID})" ui-sref-opts="{reload: true}">{{delay.Name}}</a>
                    </div>
                    <div>
                        <span style="font-weight: bold; width: 110px">Номер в ГК:</span>
                        <span style="margin: 2px; font-weight: bold">{{delay.GKDescriptorNo}}</span>
                    </div>
                    <div>
                        <img style="margin: 2px; vertical-align: middle" height="16" width="16" src="~/Content/Image/Icon/GK/BJournal.png" />
                        @*<a href="" ng-click="ShowJournal()" style="margin: 2px; font-weight: bold">Показать связанные события</a>*@
                        <a ui-sref="archive({uid: delay.UID})" ui-sref-opts="{reload: true}" style="margin: 2px; font-weight: bold">Показать связанные события</a>
                    </div>
                    <div>
                        <span>Задержка: </span>
                        <span>{{delay.DelayTime}}</span>
                    </div>
                    <div>
                        <span>Удержание: </span>
                        <span>{{delay.HoldTime}}</span>
                    </div>
                    <div>
                        <span>Режим после удержания: </span>
                        <span>{{delay.DelayRegimeName}}</span>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
