<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="modules" type="Infrastructure.Common.Configuration.ModuleSection, Infrastructure.Common" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FireAdministrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Указание культуры по умолчанию-->
      <add key="DefaultCulture" value="ru-Ru" />
    <!--                              -->
  </appSettings>
  <nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <variable name="appTitle" value="StrazhAdministrator" />
    <targets>
      <target name="file"
			  xsi:type="File"
			  layout="[${longdate}] ${threadid} ${level}: ${message} ${onexception:(${stacktrace})${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}}"
			  fileName="${specialfolder:folder=CommonApplicationData}/Strazh/Logs/Administrator/logfile.txt"
			  archiveFileName="${specialfolder:folder=CommonApplicationData}/Strazh/Logs/Administrator/Archive/log.{#}.txt"
			  archiveEvery="Day"
			  archiveNumbering="Rolling"
			  maxArchiveFiles="7"
			  createDirs="True"
			  keepFileOpen="False"
			  concurrentWrites="False" />
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${threadid} ${message}" />
      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <!--<logger name="*" minlevel="Error" writeTo="eventLog" />-->
    </rules>
  </nlog>
  <modules>
    <module assemblyFile="PlansModule.dll" />
    <module assemblyFile="SecurityModule.dll" />
    <module assemblyFile="SoundsModule.dll" />
    <module assemblyFile="SettingsModule.dll" />
    <module assemblyFile="VideoModule.dll" />
    <module assemblyFile="SKDModule.dll" />
    <module assemblyFile="StrazhModule.dll" />
    <module assemblyFile="LayoutModule.dll" />
    <module assemblyFile="AutomationModule.dll" />
    <module assemblyFile="FiltersModule.dll" />
    <module assemblyFile="Integration.OPC.dll" />
  </modules>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <connectionStrings>
    <add name="GkJournalDatabaseEntities" connectionString="metadata=res://*/Journal.GkJournalDatabaseModel.csdl|res://*/Journal.GkJournalDatabaseModel.ssdl|res://*/Journal.GkJournalDatabaseModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Rubezh2\Projects\Deploy\GkJournalDb\GkJournalDatabase.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <FireAdministrator.Properties.Settings>
      <setting name="wer" serializeAs="String">
        <value />
      </setting>
    </FireAdministrator.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IIntegration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8000/Integration" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIntegration" contract="RVIServiceReference.IIntegration" name="NetTcpBinding_IIntegration" />
    </client>
  </system.serviceModel>
</configuration>