<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="modules" type="Infrastructure.Common.Configuration.ModuleSection, Infrastructure.Common" />
	</configSections>
	<appSettings>
	</appSettings>
	<nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
		<variable name="appTitle" value="Firesec Administrator" />
		<targets>
			<target name="file" xsi:type="File"
				layout="[${longdate}] ${threadid} ${level}: ${message} ${onexception:(${stacktrace})${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}}"
				fileName="${specialfolder:folder=CommonApplicationData}/Firesec2/Logs/Administrator/${shortdate}.log"
				archiveFileName="${specialfolder:folder=CommonApplicationData}/Firesec2/Logs/Administrator/${shortdate}.{##}.log"
				archiveAboveSize="1048576"
				archiveEvery="Day"
				archiveNumbering = "Sequence"
						  maxArchiveFiles="100"
						  createDirs="True" keepFileOpen="True" concurrentWrites="False"/>
			<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${threadid} ${message}" />
			<target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}" />
		</targets>
		<rules>
			<!--<logger name="*" minlevel="Trace" writeTo="file" />-->
			<logger name="*" minlevel="Info" writeTo="file" />
			<logger name="*" minlevel="Error" writeTo="eventLog" />
		</rules>
	</nlog>
	<modules>
		<module assemblyFile="GKModule.dll" />
		<module assemblyFile="DevicesModule.dll" />
		<module assemblyFile="PlansModule.dll" />
		<module assemblyFile="PlansModule.Kursk.dll" />
		<module assemblyFile="LibraryModule.dll" />
		<module assemblyFile="SecurityModule.dll" />
		<module assemblyFile="FiltersModule.dll" />
		<module assemblyFile="SoundsModule.dll" />
		<module assemblyFile="InstructionsModule.dll" />
		<module assemblyFile="SettingsModule.dll" />
		<module assemblyFile="OPCModule.dll" />
		<module assemblyFile="DiagnosticsModule.dll" />
		<!--<module assemblyFile="NotificationModule.dll" />-->
		<module assemblyFile="VideoModule.dll" />
		<!--<module assemblyFile="SkudModule.dll"/>-->
	</modules>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true" />
		<settings>
			<servicePointManager expect100Continue="false" />
		</settings>
	</system.net>
	<connectionStrings>
		<add name="GkJournalDatabaseEntities" connectionString="metadata=res://*/Journal.GkJournalDatabaseModel.csdl|res://*/Journal.GkJournalDatabaseModel.ssdl|res://*/Journal.GkJournalDatabaseModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Rubezh2\Projects\Deploy\GkJournalDb\GkJournalDatabase.sdf&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>