<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="ServiceAddress" value="net.tcp://localhost:8000/FiresecService/" />
    <add key="DefaultLogin" value="adm" />
    <add key="DefaultPassword" value="" />
    <add key="AutoConnect" value="True"/>
    <add key="ShowVideo" value="True" />
    <add key="LibVlcDllsPath" value="C:\Program Files\VideoLAN\VLC" /> 
		<add key="ShowGK" value="True" />
    <add key="ShowSKUD" value="True" />
    <add key="IsDebug" value="True" />
  </appSettings>
  <nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <variable name="appTitle" value="Firesec Administrator"/>
    <targets>
      <target name="file" xsi:type="File"
					layout="${longdate} ${threadid:padding=3} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=tostring}"
					fileName="${basedir}/Logs/${shortdate}.log"
					createDirs="True"/>
      <target name="console" xsi:type="ColoredConsole"
				layout="${date:format=HH\:MM\:ss} ${threadid:padding=3} ${logger:padding=-30} ${message}" />
      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="eventLog"/>
    </rules>
  </nlog>
</configuration>