<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi?>
  <Fragment>
    <DirectoryRef Id="SDKLOCATION">
      <Component Id="SDK.Files" Guid="EC4360B0-C071-4C71-A9CD-F29F234251B5">
        <File Id="SDK.ItvIntegration.sln" Name="ItvIntegration.sln" Source="..\..\..\..\..\SDK\" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SDKLOCATION_ItvIntegration">
      <Component Id="SDK.Files.Integration" Guid="{9D04B950-652B-48A1-99C8-33F2E627DB75}">
        <File Id="SDK.App.xaml" Name="App.xaml" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.App.xaml.cs" Name="App.xaml.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.DeviceCommandViewModel.cs" Name="DeviceCommandViewModel.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.DevicesViewModel.cs" Name="DevicesViewModel.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.DeviceViewModel.cs" Name="DeviceViewModel.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.ItvIntegration.csproj" Name="ItvIntegration.csproj" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.JournalsViewModel.cs" Name="JournalsViewModel.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.MainViewModel.cs" Name="MainViewModel.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.MainWindow.xaml" Name="MainWindow.xaml" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.MainWindow.xaml.cs" Name="MainWindow.xaml.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.ZonesViewModel.cs" Name="ZonesViewModel.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
        <File Id="SDK.ZoneViewModel.cs" Name="ZoneViewModel.cs" Source="..\..\..\..\..\SDK\ItvIntegration\" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SDKLOCATION_Properties">
      <Component Id="SDK.Files.Properties" Guid="{978C1A33-7CD6-4A51-94E1-1921373AAAD0}">
        <File Id="SDK.AssemblyInfo.cs" Name="AssemblyInfo.cs" Source="..\..\..\..\..\SDK\ItvIntegration\Properties\" />
        <File Id="SDK.Resources.resx" Name="Resources.resx" Source="..\..\..\..\..\SDK\ItvIntegration\Properties\" />
        <File Id="SDK.Settings.settings" Name="Settings.settings" Source="..\..\..\..\..\SDK\ItvIntegration\Properties\" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SDKLOCATION_Assemblies">
      <Component Id="SDK.Files.Assemblies" Guid="{F9AE0506-BCC5-4DF4-9C26-41F4E665CBE4}">
        <File Id="SDK.Common.dll" Name="Common.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.Controls.dll" Name="Controls.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.Firesec.dll" Name="Firesec.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.FiresecAPI.dll" Name="FiresecAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.FiresecClient.dll" Name="FiresecClient.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.FiresecClient.ITV.dll" Name="FiresecClient.ITV.dll" Source="..\..\..\..\..\SDK\Assemblies\" />
        <File Id="SDK.FSAgentAPI.dll" Name="FSAgentAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.FSAgentClient.dll" Name="FSAgentClient.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.Infrastructure.Common.dll" Name="Infrastructure.Common.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.Infrastructure.Plans.dll" Name="Infrastructure.Plans.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.NLog.dll" Name="NLog.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.Ionic.Zip.dll" Name="Ionic.Zip.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Common.TargetDir)" />
        <File Id="SDK.WPFToolkit.Extended.dll" Name="WPFToolkit.Extended.dll" Source="$(var.Common.TargetDir)" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>