
@{
	Layout = null;
}


<div ng-controller="devicesCtrl">
	
	<div ui-grid="gridOptions" style="width: 100%; height: auto;" ui-grid-tree-view ui-grid-selection id="devicesGrid"></div>

	<div class="device-params" ng-show="selectedDevice" ng-controller="deviceParametersCtrl">
		<div class="device-title block">
			<img class="device-image" ng-src="/Content/Image/{{ selectedDevice.ImageSource }}" height="16" width="16"/>{{ selectedDevice.Name }}
		</div>
		<div class="device-joined block" ng-show="selectedDevice.ParentUID">
			<span>Подключён к</span> {{ this.findDevice(selectedDevice.ParentUID).Name }}
		</div>

		<div class="block" ng-show="selectedDevice.IsZoneOrLogic">
			<span>Зона и логика</span>
			<em ng-show="!selectedDevice.PresentationZone">Зона и логика не указана</em>
			<em ng-show="selectedDevice.PresentationZone">{{selectedDevice.PresentationZone}}</em>
		</div>

		<div class="block" ng-show="selectedDevice.IsFireAndGuard">
			<span>Охранная Зона</span>
			<em ng-show="!selectedDevice.GuardPresentationZone">Охранная зона не указана</em>
			<em ng-show="selectedDevice.GuardPresentationZone">{{selectedDevice.GuardPresentationZone}}</em>
		</div>

		<div class="block" ng-show="stringProperties.length > 0">
			<div>
				<table>
					<tr ng-repeat="property in stringProperties">
						<td>{{property.DriverProperty.Caption}}</td>
						<td><input type="text" value="{{property.StringValue}}" ng-disabled="property.DriverProperty.IsReadOnly"/></td>
						<td ng-show="property.DriverProperty.IsAUParameter"><input type="text" value="{{property.DeviceAUParameterValue}}" disabled/></td>
					</tr>

					<tr ng-repeat="property in shortProperties">
						<td>{{property.DriverProperty.Caption}}</td>
						<td>
							<input type="text" value="{{property.Value}}" ng-disabled="property.DriverProperty.IsReadOnly"/>
						</td>
						<td ng-show="property.DriverProperty.IsAUParameter"><input type="text" value="{{ property.DeviceAUParameterValue }}" disabled/></td>
					</tr>

					<tr ng-repeat="property in boolProperties">
						<td>{{property.DriverProperty.Caption}}</td>
						<td>
							<input type="text" value="{{property.Value}}" ng-disabled="property.DriverProperty.IsReadOnly"/>
						</td>
						<td ng-show="property.DriverProperty.IsAUParameter"><input type="text" value="{{ property.DeviceAUParameterValue }}" disabled/></td>
					</tr>

					<tr ng-repeat="property in enumProperties">
						<td>{{property.DriverProperty.Caption}}</td>
						<td>
							<select>
								<option ng-repeat="parameter in property.DriverProperty.Parameters" value="{{parameter.Value}}" ng-selected="parameter.Value == property.Value">{{parameter.Name}}</option>
							</select>
						</td>
						<td ng-show="property.DriverProperty.IsAUParameter"><input type="text" value="{{ property.DeviceAUParameterValue }}" disabled/></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>
