<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?include Variables_FireMonitor.wxi?>
	
	<Fragment>
		<Feature Id="FireMonitorFeature" Title="$(var.FireMonitorName)" Description="Полная установка" Level="1" Display="expand"
						 ConfigurableDirectory="FIREMONITORLOCATION" AllowAdvertise="yes" Absent="allow" InstallDefault="local">
			<ComponentRef Id="FireMonitorExe" />
			<ComponentRef Id="FireMonitorConfig" />
			<ComponentRef Id="FMCommonComponent" />
			<ComponentRef Id="FMControlsComponent" />
			<ComponentRef Id="FMDeviceControlsComponent" />
			<ComponentRef Id="FMFiresecAPIComponent" />
			<ComponentRef Id="FMFiresecClientComponent" />
			<ComponentRef Id="FMUnityComponent" />
			<ComponentRef Id="FMPrismComponent" />
			<ComponentRef Id="FMPrismUnityExtensionsComponent" />
			<ComponentRef Id="FMWPFToolkitExtendedComponent" />
			<ComponentRef Id="FMServiceLocationComponent" />
			<ComponentRef Id="FMInfrastructure.CommonComponent" />
			<ComponentRef Id="FMInfrastructureComponent" />
			<ComponentRef Id="FMDevicesModuleComponent" />
			<ComponentRef Id="FMPlansModuleComponent" />
			<ComponentRef Id="FMJournalModuleComponent" />
			<ComponentRef Id="FMReportsModuleComponent" />
			<ComponentRef Id="FMCallModuleComponent"/>
			<ComponentRef Id="FMAlarmModuleComponent"/>
			<ComponentRef Id="FMVlcCoreComponent"/>
			<ComponentRef Id="FMVlcFormsComponent"/>
			<ComponentRef Id="FMVlcInteropsComponent"/>
			<ComponentRef Id="FMNLogComponent"/>
      <ComponentRef Id="FMManualComponent"/>
			<ComponentRef Id="FMProgramsMenuShortcut" />
			<ComponentRef Id="FMDesktopShortcut" />
			<ComponentGroupRef Id="FireMonReportTemplatesFolder"/>
		</Feature>
	</Fragment>
</Wix>