<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?include Variables_FireMonitor.wxi?>
	
	<Fragment>
		<Feature Id="Features_FireMonitor" Title="$(var.FireMonitorName)" Description="Полная установка" Level="1" Display="expand"
						 ConfigurableDirectory="FIREMONITORLOCATION" AllowAdvertise="yes" Absent="allow" InstallDefault="local">
			<ComponentRef Id="FireMonitorExe" />
			<ComponentRef Id="FMDevicesModuleComponent" />
      <ComponentRef Id="FMGKModuleComponent" />
      <ComponentRef Id="FMVideoModuleComponent" />
			<ComponentRef Id="FMProgramsMenuShortcut" />
			<ComponentRef Id="FMDesktopShortcut" />
      <ComponentRef Id="FMIntegrateCmd" />
      <ComponentRef Id="FMSystemHASPComponent" />
    </Feature>
	</Fragment>
</Wix>