<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables_FireMonitor.wxi?>
	<Fragment>
		<Icon Id="FireMonitorIcon" SourceFile="Data\Monitor.ico"/>
		<util:CloseApplication Id="FMCloseAction" CloseMessage="no" Target="$(var.FireMonitor.TargetFileName)" RebootPrompt="no" />

		<DirectoryRef Id="FIREMONITORLOCATION">

			<Component Id="FireMonitorExe" Guid="*">
				<File Id="FireMonitorExe" Name="$(var.FireMonitor.TargetFileName)"
							Source="$(var.FireMonitor.TargetPath)" DiskId="1" KeyPath="yes">
				</File>
			</Component>

			<Component Id="FireMonitorConfig" Guid="*">
				<File Id="FireMonitorConfig" Name="FireMonitor.exe.config" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" Checksum="yes"/>
			</Component>

			<Component Id="FMPrismComponent" Guid="*">
				<File Id="FMPrismDll" Name="Microsoft.Practices.Prism.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="FMPrismUnityExtensionsComponent" Guid="*">
				<File Id="FMPrismUnityExtensionsDll" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="FMUnityComponent" Guid="*">
				<File Id="FMUnityDll" Name="Microsoft.Practices.Unity.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="FMServiceLocationComponent" Guid="*">
				<File Id="FMServiceLocationDll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
			<Component Id="FMWPFToolkitExtendedComponent" Guid="*">
				<File Id="FMWPFToolkitExtendedDll" Name="WPFToolkit.Extended.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
			<Component Id="FMCommonComponent" Guid="*">
				<File Id="FMCommonDll" Name="Common.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

      <Component Id="FMCommonGKComponent" Guid="*">
        <File Id="FMCommonGKDll" Name="Common.GK.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
      </Component>
		
      <Component Id="FMControlsComponent" Guid="*">
				<File Id="FMControlsDll" Name="Controls.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
      <Component Id="FMDeviceControlsComponent" Guid="*">
				<File Id="FMDeviceControlsDll" Name="DeviceControls.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
      <Component Id="FMFiresecAPIComponent" Guid="*">
				<File Id="FMFiresecAPIDll" Name="FiresecAPI.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
      <Component Id="FMFiresecClientComponent" Guid="*">
				<File Id="FMFiresecClientDll" Name="FiresecClient.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
      <Component Id="FMInfrastructure.ClientComponent" Guid="*">
				<File Id="FMInfrastructure.ClientDll" Name="Infrastructure.Client.dll"
							Source="$(var.FireMonitor.TargetDir)" DiskId="1" KeyPath="yes" />
			</Component>
      
      <Component Id="FMInfrastructure.CommonComponent" Guid="*">
        <File Id="FMInfrastructure.CommonDll" Name="Infrastructure.Common.dll"
							Source="$(var.FireMonitor.TargetDir)" DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FMInfrastructure.PlansComponent" Guid="*">
        <File Id="FMInfrustructure.PlansDll" Name="Infrustructure.Plans.dll"
              Source="$(var.FireMonitor.TargetDir)" DiskId="1" KeyPath="yes" />
      </Component>
			
      <Component Id="FMInfrastructureComponent" Guid="*">
				<File Id="FMInfrastructureDll" Name="Infrastructure.dll"
							Source="$(var.FireMonitor.TargetDir)" DiskId="1" KeyPath="yes" />
			</Component>
			
      <Component Id="FMPlansModuleComponent" Guid="*">
				<File Id="FMPlansModuleDll" Name="PlansModule.dll"
							Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
      <Component Id="FMDevicesModuleComponent" Guid="*">
				<File Id="FMDevicesModuleDll" Name="DevicesModule.dll"
							Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
      <Component Id="FMReportsModuleComponent" Guid="*">
				<File Id="FMReportsModuleDll" Name="ReportsModule.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

      <Component Id="FMReportsModule2Component" Guid="*">
        <File Id="FMReportsModule2Dll" Name="ReportsModule2.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
      </Component>

			<Component Id="FMJournalModuleComponent" Guid="*">
				<File Id="FMJournalModuleDll" Name="JournalModule.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="FMCallModuleComponent" Guid="*">
				<File Id="FMCallModuleDll" Name="CallModule.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

			<Component Id="FMAlarmModuleComponent" Guid="*">
				<File Id="FMAlarmModuleDll" Name="AlarmModule.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			
			<Component Id="FMNLogComponent" Guid="*">
				<File Id="FMNLogDll" Name="NLog.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			<Component Id="FMManualComponent" Guid="*">
				<File Id="FMManualPDF" Name="Manual.pdf" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>
			<Component Id="FMHASPComponent" Guid="*">
				<File Id="FMHASPDLL" Name="hasp_net_windows.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
			</Component>

      <Component Id="FMMicrosoftReportViewerCommondllComponent" Guid="*">
        <File Id="FMMicrosoftReportViewerCommonDLL" Name="Microsoft.ReportViewer.Common.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
      </Component>

      <Component Id="FMMicrosoftReportViewerWinFormsdllComponent" Guid="*">
        <File Id="FMMicrosoftReportViewerWinFormsDLL" Name="Microsoft.ReportViewer.WinForms.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
      </Component>
		</DirectoryRef>

    <DirectoryRef Id="FIREMONITORLOCATION">
      <Component Id="FMGKModuleComponent" Guid="*">
        <File Id="FMGKModuleDll" Name="GKModule.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
        <Condition>GK_MODULE</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FIREMONITORLOCATION">
      <Component Id="FMVideoModuleComponent" Guid="3407F2CC-0774-4F13-805B-86399F517F9D">
        <File Id="FMVlcCoreDll" Name="Vlc.DotNet.Core.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" KeyPath="yes" />
        <File Id="FMVlcFormsDll" Name="Vlc.DotNet.Forms.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" />
        <File Id="FMVlcInteropsDll" Name="Vlc.DotNet.Core.Interops.dll" Source="$(var.FireMonitor.TargetDir)"
							DiskId="1" />
        <Condition>VIDEO_MODULE</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ShellFolder">
      <Component Id="FMIntegrateCmd" Guid="*">
        <File Id="FMIntegrateCmd" Name="Интегрировать.cmd" Source="Data\Shell\" DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FMDeintegrateCmd" Guid="*">
        <File Id="FMDeintegrateCmd" Name="Деинтегрировать.cmd" Source="Data\Shell\" DiskId="1" KeyPath="yes" />
      </Component>
      
      <Component Id="FMIntegrateReg" Guid="*">
        <File Id="FMIntegrateReg" Name="интегрировать.reg" Source="Data\Shell\" DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FMDeintegrateReg" Guid="*">
        <File Id="FMDeintegrateReg" Name="дизинтегрировать.reg" Source="Data\Shell\" DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FMIntegrateRegx64" Guid="*">
        <File Id="FMIntegrateRegx64" Name="интегрировать x64.reg" Source="Data\Shell\" DiskId="1" KeyPath="yes" />
      </Component>
      <Component Id="FMIntegrateRegx32" Guid="*">
        <File Id="FMIntegrateRegx32" Name="интегрировать x32.reg" Source="Data\Shell\" DiskId="1" KeyPath="yes" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="SystemFolder">
      <Component Id="FMSystemHASPComponent" Guid="*">
        <File Id="FMSystemHASPDLL" Name="hasp_windows_83702.dll" Source="..\..\..\..\..\..\3rdParty\HASP\"
							DiskId="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
		
	</Fragment>
</Wix>