<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables_FireMonitor.wxi?>
	<Fragment>
		<util:CloseApplication Id="FMCloseAction" CloseMessage="no" Target="$(var.FireMonitor.TargetFileName)" RebootPrompt="no" />

		<DirectoryRef Id="FIREMONITORLOCATION">
			<Component Id="FireMonitorExe" Guid="34861B8C-8282-4115-96FD-0E924552A1DD">
				<File Id="FireMonitorExe" Name="$(var.FireMonitor.TargetFileName)" Source="$(var.FireMonitor.TargetPath)" KeyPath="yes" />
        <File Id="FireMonitorConfig" Name="FireMonitor.exe.config" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMPrismDll" Name="Microsoft.Practices.Prism.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMPrismUnityExtensionsDll" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMUnityDll" Name="Microsoft.Practices.Unity.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMServiceLocationDll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMWPFToolkitExtendedDll" Name="WPFToolkit.Extended.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMCommonDll" Name="Common.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMControlsDll" Name="Controls.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMDeviceControlsDll" Name="DeviceControls.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMFiresecAPIDll" Name="FiresecAPI.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMFiresecClientDll" Name="FiresecClient.dll" Source="$(var.FireMonitor.TargetDir)" />
				<File Id="FMInfrastructure.ClientDll" Name="Infrastructure.Client.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMInfrastructure.CommonDll" Name="Infrastructure.Common.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMInfrustructure.PlansDll" Name="Infrustructure.Plans.dll" Source="$(var.FireMonitor.TargetDir)" />
				<File Id="FMInfrastructureDll" Name="Infrastructure.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMNLogDll" Name="NLog.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMManualPDF" Name="Manual.pdf" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMHASPDLL" Name="hasp_net_windows.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMPlansModuleDll" Name="PlansModule.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMAlarmModuleDll" Name="AlarmModule.dll" Source="$(var.FireMonitor.TargetDir)" />
			</Component>
			
      <Component Id="FMDevicesModuleComponent" Guid="B7E2D6B2-C4BF-47E8-A054-2501AC2359C7">
				<File Id="FMDevicesModuleDll" Name="DevicesModule.dll" Source="$(var.FireMonitor.TargetDir)" KeyPath="yes" />
				<File Id="FMJournalModuleDll" Name="JournalModule.dll" Source="$(var.FireMonitor.TargetDir)" />
        <Condition>FS_MODULE</Condition>
			</Component>

      <Component Id="FMGKModuleComponent" Guid="26778DD1-BD5A-4E00-80AE-419B5A9A4706">
        <File Id="FMGKModuleDll" Name="GKModule.dll" Source="$(var.FireMonitor.TargetDir)" KeyPath="yes" />
        <File Id="FMCommonGKDll" Name="Common.GK.dll" Source="$(var.FireMonitor.TargetDir)" />
        <Condition>GK_MODULE</Condition>
      </Component>

      <Component Id="FMVideoModuleComponent" Guid="3407F2CC-0774-4F13-805B-86399F517F9D">
        <File Id="FMVlcCoreDll" Name="Vlc.DotNet.Core.dll" Source="$(var.FireMonitor.TargetDir)" KeyPath="yes" />
        <File Id="FMVlcFormsDll" Name="Vlc.DotNet.Forms.dll" Source="$(var.FireMonitor.TargetDir)" />
        <File Id="FMVlcInteropsDll" Name="Vlc.DotNet.Core.Interops.dll" Source="$(var.FireMonitor.TargetDir)" />
        <Condition>VIDEO_MODULE</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ShellFolder">
      <Component Id="FMIntegrateCmd" Guid="468A1A24-737A-4452-BDCD-4496C994EFDC">
        <File Id="FMIntegrateCmd" Name="Integrate.cmd" Source="Data\Shell\" KeyPath="yes" />
        <File Id="FMDeintegrateCmd" Name="Desintegrate.cmd" Source="Data\Shell\" />
        <File Id="FMIntegrateReg" Name="Integrate.reg" Source="Data\Shell\" />
        <File Id="FMDeintegrateReg" Name="Desintegrate.reg" Source="Data\Shell\" />
        <File Id="FMIntegrateRegx64" Name="Integrate x64.reg" Source="Data\Shell\" />
        <File Id="FMIntegrateRegx32" Name="Integrate x32.reg" Source="Data\Shell\" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SystemFolder">
      <Component Id="FMSystemHASPComponent" Guid="*">
        <File Id="FMSystemHASPDLL" Name="hasp_windows_83702.dll" Source="..\..\..\..\..\..\3rdParty\HASP\" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FireMonReportTemplatesFolder">
      <Component Id="FMDeviceListReportComponent" Guid="AAA25065-8B28-4DCB-9C85-4746CC814614">
        <File Id="FMDeviceListReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\DeviceListRdlc.rdlc" />
        <File Id="FMDeviceParamsReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\DeviceParamsRdlc.rdlc" />
        <File Id="FMDriverCounterReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\DriverCounterRdlc.rdlc" />
        <File Id="FMIndicationBlockReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\IndicationBlockRdlc.rdlc" />
        <File Id="FMJournalReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\JournalRdlc.rdlc" />
      </Component>
    </DirectoryRef>

	</Fragment>
</Wix>