<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables_FireMonitor.wxi?>
  <Fragment>
    <DirectoryRef Id="FireMonReportTemplatesFolder">
      <Component Id="FMDeviceListReportComponent" Guid="*">
        <File Id="FMDeviceListReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\DeviceListRdlc.rdlc" />
      </Component>
      <Component Id="FMDeviceParamsReportComponent" Guid="*">
        <File Id="FMDeviceParamsReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\DeviceParamsRdlc.rdlc" />
      </Component>
      <Component Id="FMDriverCounterReportComponent" Guid="*">
        <File Id="FMDriverCounterReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\DriverCounterRdlc.rdlc" />
      </Component>
      <Component Id="FMIndicationBlockReportComponent" Guid="*">
        <File Id="FMIndicationBlockReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\IndicationBlockRdlc.rdlc" />
      </Component>
      <Component Id="FMJournalReportComponent" Guid="*">
        <File Id="FMJournalReportRdlc" Source="$(var.FireMonitor.TargetDir)Configuration\ReportTemplates\JournalRdlc.rdlc" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="FireMonReportTemplatesFolder">
      <ComponentRef Id="FMDeviceListReportComponent"/>
      <ComponentRef Id="FMDeviceParamsReportComponent"/>
      <ComponentRef Id="FMDriverCounterReportComponent"/>
      <ComponentRef Id="FMIndicationBlockReportComponent"/>
      <ComponentRef Id="FMJournalReportComponent"/>
    </ComponentGroup>
  </Fragment>
</Wix>