<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables_FireMonitor.wxi?>
  <Fragment>
    <Icon Id="MonitorIcon" SourceFile="Data\Monitor.ico"/>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="Monitor.DesktopShortcut" Guid="*">
        <Shortcut Id="Monitor.DesktopShortcut" Name="Оперативная задача ОПС 'FireSec-2'" Target="[MONITORLOCATION]$(var.Monitor.TargetFileName)"
            WorkingDirectory="MONITORLOCATION" Description="Запускает $(var.MonitorName)" Icon="MonitorIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MonitorName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_DESKTOP</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="Monitor.ProgramsMenuShortcut" Guid="*">
        <Shortcut Id="Monitor.ProgramsMenuShortcut" Name="Оперативная задача ОПС 'FireSec-2'" Target="[MONITORLOCATION]$(var.Monitor.TargetFileName)"
            WorkingDirectory="MONITORLOCATION" Description="Запускает $(var.MonitorName)" Icon="MonitorIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MonitorName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_PROGRAMMENU</Condition>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>