<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Icon Id="ManagementConsoleIcon" SourceFile="Data\ManagementConsole.ico"/>

    <!--<DirectoryRef Id="ProgramMenuDir.AdditionalFolder">
      <Component Id="ManagementConsole.ProgramsMenuShortcut" Guid="56266DB1-34DC-45ec-8470-FA0BBEA90CA1">
        <Shortcut Id="ManagementConsole.ProgramsMenuShortcut" Name="$(var.ManagementConsoleName)" Target="[MANAGEMENTCONSOLELOCATION]$(var.ManagementConsole.TargetFileName)"
            WorkingDirectory="MANAGEMENTCONSOLELOCATION" Description="$(var.ManagementConsoleName)" Icon="ManagementConsoleIcon" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.ManagementConsoleName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition>SHORTCUT_PROGRAMMENU</Condition>
      </Component>
    </DirectoryRef>-->
  </Fragment>
</Wix>