<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables_OldFiresecService.wxi?>
	<Fragment>
		<Feature Id="Features_OldFiresecService" Title="$(var.OldFiresecServiceName)" Description="Полная установка" Level="1" Display="expand"
						 ConfigurableDirectory="OLDFIRESECSERVICELOCATION" AllowAdvertise="yes" Absent="allow" InstallDefault="local">
      <ComponentRef Id="RemoveOldFiresecFiles"/>
      <ComponentRef Id="InstallOldFiresecFiles"/>
      <ComponentRef Id="FsFbintlDll" />
      <ComponentRef Id="msvcp60Dll" />
		</Feature>
	</Fragment>
</Wix>