<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables_OldFiresecService.wxi?>
  <Fragment>

    <DirectoryRef Id="OLDFIRESECSERVICELOCATION">
      <Component Id="RemoveOldFiresecFiles" Guid="1412B8B3-43D5-42F4-BEAB-83B671506C91" >
        <RemoveFile Id='RemoveOldFsTypesDll' On='install' Name='fs_types.dll' Directory='OLDFIRESECSERVICELOCATION' />
        <RemoveFile Id='RemoveOldSockProxyDll' On='install' Name='SockProxy.dll' Directory='OLDFIRESECSERVICELOCATION' />
        <RemoveFile Id='Removefs_server.exe' On='install' Name='fs_server.exe' Directory='OLDFIRESECSERVICELOCATION' />
        <RemoveFile Id='Removescktsrvr.exe' On='install' Name='scktsrvr.exe' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='RemoveFs_srvconDll' On='install' Name='fs_srvcon.dll' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removeconfig.cdb' On='install' Name='config.cdb' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removedb.sql' On='install' Name='db.sql' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removerubezh10a.xml' On='install' Name='rubezh10a.xml' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removerubezh2010.xml' On='install' Name='rubezh2010.xml' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removesqlq.xml' On='install' Name='sqlq.xml' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removefrm.dat' On='install' Name='frm.dat' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removefs_server.ini' On='install' Name='fs_server.ini' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removefirebird.msg' On='install' Name='firebird.msg' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removegds32.dll' On='install' Name='gds32.dll' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removezlib1.dll' On='install' Name='zlib1.dll' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removeiconv.dll' On='install' Name='iconv.dll' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removelibxml2.dll' On='install' Name='libxml2.dll' Directory='OLDFIRESECSERVICELOCATION'/>
        <RemoveFile Id='Removefbintl.dll' On='install' Name='fbintl.dll' Directory='INTL'/>
      </Component>
      
      <Component Id="InstallOldFiresecFiles" Guid="AC5EF734-CA4A-4913-94F2-7E36D411CF04" Permanent="yes" >
        <File Id="Fs_serverExeFile" Name="fs_server.exe" Source="$(var.OldFiresecService.TargetDir)" KeyPath="yes" Vital="no" />
        <File Id="FsScktsrvrExeFile" Name="scktsrvr.exe" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="Fs_srvconDllFile" Name="fs_srvcon.dll" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="ConfigCdbFile" Name="config.cdb" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsDbSqlFile" Name="db.sql" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="Rubezh10aXmlFile" Name="rubezh10a.xml" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="Rubezh2010XmlFile" Name="rubezh2010.xml" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="SqlqXmlFile" Name="sqlq.xml" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsFrmDatFile" Name="frm.dat" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="Fs_serverIniFile" Name="fs_server.ini" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsLibxml2DllFile" Name="libxml2.dll" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsIconvDllFile" Name="iconv.dll" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsZlib1DllFile" Name="zlib1.dll" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsGds32Dll" Name="gds32.dll" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsFirebirdMsgDll" Name="firebird.msg" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="fs_typesDllFile" Name="fs_types.dll" Source="$(var.OldFiresecService.TargetDir)" />
        <File Id="FsSockProxyDllFile" Name="SockProxy.dll" Source="$(var.OldFiresecService.TargetDir)" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INTL">
      <Component Id="FsFbintlDll" Guid="*" Permanent="yes">
        <File Id="FsFbintlDllFile" Name="fbintl.dll" Source="$(var.OldFiresecService.TargetDir)" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SystemFolder" >
      <Component Id="msvcp60Dll" Guid="*" Permanent="yes" >
        <File Id="msvcp60DllFile" Name="msvcp60.dll" Source="C:\WINDOWS\system32\" KeyPath="yes" />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>