<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi?>
  <Fragment>
    <DirectoryRef Id="FSAGENTLOCATION">
      <Component Id="FSAgent.AutorunComponent" Guid="9ED06B92-B7DD-4989-A218-FDD744D86237">
        <RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Action="none">
          <RegistryValue KeyPath="yes" Name="FSAgentServer" Type="string" Value="[FSAGENTLOCATION]FSAgentServer.exe" />
        </RegistryKey>
      </Component>

      <Component Id="FSAgent.Files" Guid="158C9E40-CE23-462D-A007-CE634CE4AE1F">
        <File Id="FSAgent.FSAgentServer.exe" Name="FSAgentServer.exe" Source="$(var.FSAgent.TargetDir)" KeyPath="yes" />
        <File Id="FSAgent.FSAgentServer.exe.config" Name="FSAgentServer.exe.config" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.FSAgentServer.exe.manifest" Name="FSAgentServer.exe.manifest" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.FSAgentAPI.dll" Name="FSAgentAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.FiresecAPI.dll" Name="FiresecAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.Infrastructure.Common.Windows.dll" Name="Infrastructure.Common.Windows.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.Common.dll" Name="Common.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.Controls.dll" Name="Controls.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.GKProcessor.dll" Name="GKProcessor.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.Interop.FS_Types.dll" Name="Interop.FS_Types.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.Interop.mscoree.dll" Name="Interop.mscoree.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.NLog.dll" Name="NLog.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Common.TargetDir)" />
        <File Id="FSAgent.WPFToolkit.Extended.dll" Name="WPFToolkit.Extended.dll" Source="$(var.Common.TargetDir)" />
      </Component>

      <Component Id="FSAgent.DB" Guid="5619BD45-25EA-4635-8BBA-4D8E81F06B2F">
        <File Id="FSAgent.sqlceca35.dll" Name="sqlceca35.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.sqlcecompact35.dll" Name="sqlcecompact35.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.sqlceer35EN.dll" Name="sqlceer35EN.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.sqlceme35.dll" Name="sqlceme35.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.sqlceoledb35.dll" Name="sqlceoledb35.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.sqlceqp35.dll" Name="sqlceqp35.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.sqlcese35.dll" Name="sqlcese35.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.System.Data.SqlServerCe.dll" Name="System.Data.SqlServerCe.dll" Source="$(var.FSAgent.TargetDir)" />
        <File Id="FSAgent.FiresecDB.dll" Name="FiresecDB.dll" Source="$(var.FSAgent.TargetDir)" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>