<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<Feature Id="Monitor.Features" Title="Оперативная задача" Description="Установка приложения Оперативная задача" Level="1" Display="hidden"
						 ConfigurableDirectory="MONITORLOCATION" AllowAdvertise="no" Absent="allow" InstallDefault="local">
			<ComponentRef Id="Monitor.Files" />
      <ComponentRef Id="Monitor.DB" />
      <ComponentRef Id="Monitor.Integrate" />
      <ComponentRef Id="Monitor.Hasp" />
			<ComponentRef Id="Monitor.ProgramsMenuShortcut" />
			<ComponentRef Id="Monitor.DesktopShortcut" />
    </Feature>
	</Fragment>
</Wix>