<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables.wxi?>
	<Fragment>
		<DirectoryRef Id="MONITORLOCATION">
			<Component Id="Monitor.Files" Guid="6FE1B80B-3E17-4D02-83F2-20E081B6F49B">
				<File Id="Monitor.FireMonitor.exe"											Name="$(var.Monitor.TargetFileName)"							Source="$(var.Monitor.TargetPath)" KeyPath="yes" />
				<File Id="Monitor.FireMonitor.exe.config"									Name="FireMonitor.exe.config"									Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.FireMonitor.exe.manifest"									Name="FireMonitor.exe.manifest"									Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.Infrastructure.Client.dll"								Name="Infrastructure.Client.dll"								Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.Infrastructure.Common.dll"								Name="Infrastructure.Common.dll"								Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.Infrastructure.Common.Windows.dll"						Name="Infrastructure.Common.Windows.dll"						Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.Infrastructure.Plans.dll"									Name="Infrastructure.Plans.dll"									Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.Infrastructure.Automation.dll"							Name="Infrastructure.Automation.dll"							Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.Infrastructure.dll"										Name="Infrastructure.dll"										Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.Common.dll"												Name="Common.dll"												Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.Controls.dll"												Name="Controls.dll"												Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.DeviceControls.dll"										Name="DeviceControls.dll"										Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.RviClient.dll"											Name="RviClient.dll"											Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.RubezhLicense.dll"										Name="RubezhLicense.dll"										Source="$(var.Monitor.TargetDir)" />

				<File Id="Monitor.FireMonitor.Layout.exe"									Name="FireMonitor.Layout.exe"									Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.FireMonitor.Layout.exe.config"							Name="FireMonitor.Layout.exe.config"							Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.FireMonitor.Layout.exe.manifest"							Name="FireMonitor.Layout.exe.manifest"							Source="$(var.Monitor.TargetDir)" />

				<File Id="Monitor.RubezhAPI.dll"											Name="RubezhAPI.dll"											Source="$(var.Common.TargetDir)" />
				<File Id="Monitor.RubezhClient.dll"											Name="RubezhClient.dll"											Source="$(var.Common.TargetDir)" />

				<File Id="Monitor.JournalModule.dll"										Name="JournalModule.dll"										Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.ReportsModule.dll"										Name="ReportsModule.dll"										Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.AutomationModule.dll"										Name="AutomationModule.dll"										Source="$(var.Monitor.TargetDir)" />
				<File Id="Monitor.DiagnosticsModule.dll"									Name="DiagnosticsModule.dll"									Source="$(var.Monitor.TargetDir)" />

				<File Id="Monitor.SKDModule.dll"											Name="SKDModule.dll"											Source="$(var.Monitor.TargetDir)" />
				
				<File Id="Monitor.GKProcessor.dll"											Name="GKProcessor.dll"											Source="$(var.Common.TargetDir)" />
				
				<File Id="Monitor.WPFMediaKit.dll"											Name="WPFMediaKit.dll"											Source="..\..\..\..\..\..\3rdParty\" />
				<File Id="Monitor.Xceed.Wpf.AvalonDock.dll"									Name="Xceed.Wpf.AvalonDock.dll"									Source="..\..\..\..\..\..\3rdParty\AvalonDock\Bin\Version2.0\Xceed.Wpf.AvalonDock\" />
				<File Id="Monitor.Xceed.Wpf.Toolkit.dll"									Name="Xceed.Wpf.Toolkit.dll"									Source="..\..\..\..\..\..\3rdParty\ExtendedWPFToolkit_Binaries\" />
				<File Id="Monitor.SharpVectors.Converters.dll"								Name="SharpVectors.Converters.dll"								Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Monitor.SharpVectors.Core.dll"									Name="SharpVectors.Core.dll"									Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Monitor.SharpVectors.Css.dll"										Name="SharpVectors.Css.dll"										Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Monitor.SharpVectors.Dom.dll"										Name="SharpVectors.Dom.dll"										Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Monitor.SharpVectors.Model.dll"									Name="SharpVectors.Model.dll"									Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Monitor.SharpVectors.Rendering.Wpf.dll"							Name="SharpVectors.Rendering.Wpf.dll"							Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />
				<File Id="Monitor.SharpVectors.Runtime.dll"									Name="SharpVectors.Runtime.dll"									Source="..\..\..\..\..\..\3rdParty\SharpVectors\" />

				<File Id="Monitor.CodeReason.Reports.dll"									Name="CodeReason.Reports.dll"									Source="..\..\..\..\..\..\3rdParty\codereason_reports_v0.5_alpha\Bin\" />
				<File Id="Monitor.Microsoft.Practices.Prism.dll"							Name="Microsoft.Practices.Prism.dll"							Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Monitor.Microsoft.Practices.Prism.UnityExtensions.dll"			Name="Microsoft.Practices.Prism.UnityExtensions.dll"			Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Monitor.Microsoft.Practices.Unity.dll"							Name="Microsoft.Practices.Unity.dll"							Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Monitor.Microsoft.Practices.ServiceLocation.dll"					Name="Microsoft.Practices.ServiceLocation.dll"					Source="..\..\..\..\..\..\3rdParty\PRISM\Desktop\" />
				<File Id="Monitor.WPFToolkit.Extended.dll"									Name="WPFToolkit.Extended.dll"									Source="..\..\..\..\..\..\3rdParty\WPF Toolkit\" />
				<File Id="Monitor.WPFToolkit.dll"											Name="WPFToolkit.dll"											Source="..\..\..\..\..\..\3rdParty\WPF Toolkit\v3.5.50211.1\" />
				<File Id="Monitor.System.Windows.Controls.Input.Toolkit.dll"				Name="System.Windows.Controls.Input.Toolkit.dll"				Source="..\..\..\..\..\..\3rdParty\WPF Toolkit\v3.5.50211.1\" />
				<File Id="Monitor.Ionic.Zip.dll"											Name="Ionic.Zip.dll"											Source="..\..\..\..\..\..\3rdParty\DotNetZipLib-DevKit-v1.9\" />
				<File Id="Monitor.itextsharp.xtra.dll"										Name="itextsharp.xtra.dll"										Source="..\..\..\..\..\..\3rdParty\iTextSharp\" />
				<File Id="Monitor.itextsharp.pdfa.dll"										Name="itextsharp.pdfa.dll"										Source="..\..\..\..\..\..\3rdParty\iTextSharp\" />
				<File Id="Monitor.itextsharp.dll"											Name="itextsharp.dll"											Source="..\..\..\..\..\..\3rdParty\iTextSharp\" />
				
				<File Id="Monitor.NLog.dll"													Name="NLog.dll"													Source="..\..\..\..\..\..\3rdParty\NLog.2.0.1.2\" />

				<File Id="Monitor.DevExpress.Charts.v15.1.Core.dll"							Name="DevExpress.Charts.v15.1.Core.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Data.v15.1.dll"								Name="DevExpress.Data.v15.1.dll"								Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.DataAccess.v15.1.dll"							Name="DevExpress.DataAccess.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Mvvm.v15.1.dll"								Name="DevExpress.Mvvm.v15.1.dll"								Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Office.v15.1.Core.dll"							Name="DevExpress.Office.v15.1.Core.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.PivotGrid.v15.1.Core.dll"						Name="DevExpress.PivotGrid.v15.1.Core.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Printing.v15.1.Core.dll"						Name="DevExpress.Printing.v15.1.Core.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.RichEdit.v15.1.Core.dll"						Name="DevExpress.RichEdit.v15.1.Core.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Sparkline.v15.1.Core.dll"						Name="DevExpress.Sparkline.v15.1.Core.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Utils.v15.1.dll"								Name="DevExpress.Utils.v15.1.dll"								Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Utils.v15.1.UI.dll"							Name="DevExpress.Utils.v15.1.UI.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.Core.v15.1.dll"							Name="DevExpress.Xpf.Core.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.Docking.v15.1.dll"							Name="DevExpress.Xpf.Docking.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.DocumentViewer.v15.1.Core.dll"				Name="DevExpress.Xpf.DocumentViewer.v15.1.Core.dll"				Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.Layout.v15.1.Core.dll"						Name="DevExpress.Xpf.Layout.v15.1.Core.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.Printing.v15.1.dll"						Name="DevExpress.Xpf.Printing.v15.1.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.Printing.v15.1.Service.dll"				Name="DevExpress.Xpf.Printing.v15.1.Service.dll"				Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.Ribbon.v15.1.dll"							Name="DevExpress.Xpf.Ribbon.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.Xpf.WpfReportDesigner.v15.1.dll"				Name="DevExpress.Xpf.WpfReportDesigner.v15.1.dll"				Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraBars.v15.1.dll"							Name="DevExpress.XtraBars.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraCharts.v15.1.dll"							Name="DevExpress.XtraCharts.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraEditors.v15.1.dll"							Name="DevExpress.XtraEditors.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraGauges.v15.1.Core.dll"						Name="DevExpress.XtraGauges.v15.1.Core.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraPivotGrid.v15.1.dll"						Name="DevExpress.XtraPivotGrid.v15.1.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraPrinting.v15.1.dll"						Name="DevExpress.XtraPrinting.v15.1.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraReports.v15.1.dll"							Name="DevExpress.XtraReports.v15.1.dll"							Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraReports.v15.1.Extensions.dll"				Name="DevExpress.XtraReports.v15.1.Extensions.dll"				Source="$(var.Monitor.DevExpress.TargetDir)" />
				<File Id="Monitor.DevExpress.XtraRichEdit.v15.1.dll"						Name="DevExpress.XtraRichEdit.v15.1.dll"						Source="$(var.Monitor.DevExpress.TargetDir)" />
				
				<File Id="Monitor.OpcClientSdk40.dll"										Name="OpcClientSdk40.dll"										Source="..\..\..\..\..\..\3rdParty\OPC\" />

				<File Id="Monitor.Microsoft.Windows.Shell.dll"								Name="Microsoft.Windows.Shell.dll"								Source="..\..\..\..\..\..\3rdParty\Microsoft.Windows.Shell.dll" />
			</Component>

			<Component Id="Monitor.PLANS_MODULE" Guid="921DBB68-07A3-457B-9D49-AAC3802E7706">
				<File Id="Monitor.PlansModule.dll"											Name="PlansModule.dll"											Source="$(var.Monitor.TargetDir)" />
			</Component>

			<Component Id="Monitor.GK_MODULE" Guid="7C84F6F3-BFE8-4C60-B062-A126AC9748C7">
				<File Id="Monitor.GKModule.dll"												Name="GKModule.dll"												Source="$(var.Monitor.TargetDir)" KeyPath="yes" />
				<File Id="Monitor.DynamicDataDisplay.dll"									Name="DynamicDataDisplay.dll"									Source="..\..\..\..\..\..\3rdParty\Plot\" />
			</Component>

			<Component Id="Monitor.VIDEO_MODULE" Guid="FC8B6B53-86FD-4864-9739-AC6082B90C8B">
				<File Id="Monitor.VideoModule.dll"											Name="VideoModule.dll"											Source="$(var.Monitor.TargetDir)" KeyPath="yes" />
				<File Id="Monitor.API.dll"													Name="API.dll"													Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.Entities.dll"												Name="Entities.dll"												Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.GalaSoft.MvvmLight.WPF4.dll"								Name="GalaSoft.MvvmLight.WPF4.dll"								Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.MediaSourcePlayer.dll"									Name="MediaSourcePlayer.dll"									Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.NativePlayerWrap.dll"										Name="NativePlayerWrap.dll"										Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.PlayerPoolService.dll"									Name="PlayerPoolService.dll"									Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.PlayerService.dll"										Name="PlayerService.dll"										Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.PlayerServiceApi.dll"										Name="PlayerServiceApi.dll"										Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.RVI_VSS.Utils.dll"										Name="RVI_VSS.Utils.dll"										Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.RviVssDec.exe"											Name="RviVssDec.exe"											Source="$(var.Monitor.RVIVSS.TargetDir)" />
				<File Id="Monitor.SdkWrapper.dll"											Name="SdkWrapper.dll"											Source="$(var.Monitor.RVIVSS.TargetDir)" />
			</Component>

			<Component Id="Monitor.Revisor" Guid="B3038497-9AAE-4DBD-86AD-BC7B0174E543">
				<File Id="Monitor.Revisor.exe"												Name="Revisor.exe"												Source="$(var.Monitor.TargetDir)" KeyPath="yes" />
				<File Id="Monitor.Revisor.exe.manifest"										Name="Revisor.exe.manifest"										Source="$(var.Monitor.TargetDir)" />
			</Component>

		</DirectoryRef>
		<DirectoryRef Id="Monitor.Dll">
			<Component Id="Monitor.Files.dll" Guid="8d349a80-1664-4282-905b-f934b8e2ef72">
				<File Id="Monitor.aacdec.dll"												Name="aacdec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" KeyPath="yes"/>
				<File Id="Monitor.AACDecoder.dll"											Name="AACDecoder.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.adpcmdec.dll"												Name="adpcmdec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.amrdec.dll"												Name="amrdec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.AmrDll.dll"												Name="AmrDll.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.atl80.dll"												Name="atl80.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.AudioIntercom.dll"										Name="AudioIntercom.dll"										Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.AudioRender.dll"											Name="AudioRender.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.avcodec_56.dll"											Name="avcodec-56.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.avdevice_56.dll"											Name="avdevice-56.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.avfilter_5.dll"											Name="avfilter-5.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.avformat_56.dll"											Name="avformat-56.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.avnetsdk.dll"												Name="avnetsdk.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.D3DX9_43.dll"												Name="D3DX9_43.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.avutil_54.dll"											Name="avutil-54.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.dhconfigsdk.dll"											Name="dhconfigsdk.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.DhDecode.dll"												Name="DhDecode.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.dhdvr.dll"												Name="dhdvr.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.dhlog.dll"												Name="dhlog.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.dhnetsdk.dll"												Name="dhnetsdk.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.dhplay.dll"												Name="dhplay.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.DllDeinterlace.dll"										Name="DllDeinterlace.dll"										Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.dllh264.dll"												Name="dllh264.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.dllmpeg4.dll"												Name="dllmpeg4.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.DsSdk.dll"												Name="DsSdk.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.gdiplus.dll"												Name="gdiplus.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.h264dec.dll"												Name="h264dec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.HCNetSDK.dll"												Name="HCNetSDK.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.HWDecode.dll"												Name="HWDecode.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Infra.dll"												Name="Infra.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.IvsDrawer.dll"											Name="IvsDrawer.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.IvsDrawer_64.dll"											Name="IvsDrawer_64.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.jpegdec.dll"												Name="jpegdec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.json.dll"													Name="json.dll"													Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.log4cplus.properties"										Name="log4cplus.properties"										Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.LogMoudle.dll"											Name="LogMoudle.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mfc80.dll"												Name="mfc80.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mfc80u.dll"												Name="mfc80u.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mfcm80.dll"												Name="mfcm80.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mfcm80u.dll"												Name="mfcm80u.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mjpegdec.dll"												Name="mjpegdec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mp2dec.dll"												Name="mp2dec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mp3dec.dll"												Name="mp3dec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.MP3Decoder.dll"											Name="MP3Decoder.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mpeg4dec.dll"												Name="mpeg4dec.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.mpeg4enc.dll"												Name="mpeg4enc.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.MP_Render.dll"											Name="MP_Render.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.MP_VIE.dll"												Name="MP_VIE.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.msvcm80.dll"												Name="msvcm80.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.msvcp80.dll"												Name="msvcp80.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.msvcr80.dll"												Name="msvcr80.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.NativePlayer.dll"											Name="NativePlayer.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.NetFramework.dll"											Name="NetFramework.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.npf.sys"													Name="npf.sys"													Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.npf64.sys"												Name="npf64.sys"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.NvdaiDll.dll"												Name="NvdaiDll.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.NvdalDll.dll"												Name="NvdalDll.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Nvdcdll.dll"												Name="Nvdcdll.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.NvdcPlayerDll.dll"										Name="NvdcPlayerDll.dll"										Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.OpenAL32.dll"												Name="OpenAL32.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.PlayCtrl.dll"												Name="PlayCtrl.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.postproc.dll"												Name="postproc.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.QosControl.dll"											Name="QosControl.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Sadp.dll"													Name="Sadp.dll"													Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.SDL2.dll"													Name="SDL2.dll"													Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.SensorUI.dll"												Name="SensorUI.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Stream.dll"												Name="Stream.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.StreamAnalyzer.dll"										Name="StreamAnalyzer.dll"										Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.StreamSvr.dll"											Name="StreamSvr.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.StreamTransClient.dll"									Name="StreamTransClient.dll"									Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.SuperRender.dll"											Name="SuperRender.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.swresample_1.dll"											Name="swresample-1.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.swscale_3.dll"											Name="swscale-3.dll"											Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.SystemTransform.dll"										Name="SystemTransform.dll"										Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.vcomp.dll"												Name="vcomp.dll"												Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Microsoft.VC80.ATL.manifest"								Name="Microsoft.VC80.ATL.manifest"								Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Microsoft.VC80.CRT.manifest"								Name="Microsoft.VC80.CRT.manifest"								Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Microsoft.VC80.MFC.manifest"								Name="Microsoft.VC80.MFC.manifest"								Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Microsoft.VC80.MFCLOC.manifest"							Name="Microsoft.VC80.MFCLOC.manifest"							Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
				<File Id="Monitor.Microsoft.VC80.OpenMP.manifest"							Name="Microsoft.VC80.OpenMP.manifest"							Source="$(var.Monitor.RVIVSS.Dll.TargetDir)" />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="Monitor.ru">
			<Component Id="Monitor.Files.ru" Guid="BCE65B5E-547A-4288-A6E6-88EAC6955F35">
				<File Id="Monitor.DevExpress.Data.v15.1.resources.dll"						Name="DevExpress.Data.v15.1.resources.dll"						Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.DataAccess.v15.1.resources.dll"				Name="DevExpress.DataAccess.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Office.v15.1.Core.resources.dll"				Name="DevExpress.Office.v15.1.Core.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.PivotGrid.v15.1.Core.resources.dll"			Name="DevExpress.PivotGrid.v15.1.Core.resources.dll"			Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Printing.v15.1.Core.resources.dll"				Name="DevExpress.Printing.v15.1.Core.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.RichEdit.v15.1.Core.resources.dll"				Name="DevExpress.RichEdit.v15.1.Core.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Sparkline.v15.1.Core.resources.dll"			Name="DevExpress.Sparkline.v15.1.Core.resources.dll"			Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Utils.v15.1.resources.dll"						Name="DevExpress.Utils.v15.1.resources.dll"						Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Utils.v15.1.UI.resources.dll"					Name="DevExpress.Utils.v15.1.UI.resources.dll"					Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Xpf.Core.v15.1.resources.dll"					Name="DevExpress.Xpf.Core.v15.1.resources.dll"					Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Xpf.Docking.v15.1.resources.dll"				Name="DevExpress.Xpf.Docking.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Xpf.DocumentViewer.v15.1.Core.resources.dll"	Name="DevExpress.Xpf.DocumentViewer.v15.1.Core.resources.dll"	Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Xpf.Printing.v15.1.resources.dll"				Name="DevExpress.Xpf.Printing.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.Xpf.Ribbon.v15.1.resources.dll"				Name="DevExpress.Xpf.Ribbon.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraBars.v15.1.resources.dll"					Name="DevExpress.XtraBars.v15.1.resources.dll"					Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraCharts.v15.1.resources.dll"				Name="DevExpress.XtraCharts.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraEditors.v15.1.resources.dll"				Name="DevExpress.XtraEditors.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraGauges.v15.1.Core.resources.dll"			Name="DevExpress.XtraGauges.v15.1.Core.resources.dll"			Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraPivotGrid.v15.1.resources.dll"				Name="DevExpress.XtraPivotGrid.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraPrinting.v15.1.resources.dll"				Name="DevExpress.XtraPrinting.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraReports.v15.1.resources.dll"				Name="DevExpress.XtraReports.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraReports.v15.1.Extensions.resources.dll"	Name="DevExpress.XtraReports.v15.1.Extensions.resources.dll"	Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
				<File Id="Monitor.DevExpress.XtraRichEdit.v15.1.resources.dll"				Name="DevExpress.XtraRichEdit.v15.1.resources.dll"				Source="$(var.Monitor.DevExpress.TargetDir)ru\" />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="Monitor.ShellFolder">
			<Component Id="Monitor.Integrate" Guid="F4BAD8FB-EEC4-44C4-9C80-849C9F3A9F29">
				<File Id="Monitor.Integrate.cmd"											Name="Integrate.cmd"											Source="Data\Shell\" KeyPath="yes" />
				<File Id="Monitor.Desintegrate.cmd"											Name="Desintegrate.cmd"											Source="Data\Shell\" />
				<File Id="Monitor.Integrate.reg"											Name="Integrate.reg"											Source="Data\Shell\" />
				<File Id="Monitor.Desintegrate.reg"											Name="Desintegrate.reg"											Source="Data\Shell\" />
				<File Id="Monitor.Integrate_x64.reg"										Name="Integrate x64.reg"										Source="Data\Shell\" />
				<File Id="Monitor.Integrate_x32.reg"										Name="Integrate x32.reg"										Source="Data\Shell\" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>