<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables.wxi?>
	<Fragment>
		<DirectoryRef Id="MONITORLOCATION">
			<Component Id="Monitor.Files" Guid="6FE1B80B-3E17-4D02-83F2-20E081B6F49B">
        <File Id="Monitor.FireMonitor.exe" Name="$(var.Monitor.TargetFileName)" Source="$(var.Monitor.TargetPath)" KeyPath="yes" />
        <File Id="Monitor.FireMonitor.exe.config" Name="FireMonitor.exe.config" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.FireMonitor.exe.manifest" Name="FireMonitor.exe.manifest" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.Infrastructure.Client.dll" Name="Infrastructure.Client.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Infrastructure.Common.dll" Name="Infrastructure.Common.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Infrustructure.Plans.dll" Name="Infrustructure.Plans.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Infrastructure.dll" Name="Infrastructure.dll" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.Common.dll" Name="Common.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Controls.dll" Name="Controls.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.DeviceControls.dll" Name="DeviceControls.dll" Source="$(var.Common.TargetDir)" />

        <File Id="Monitor.FiresecAPI.dll" Name="FiresecAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.FiresecClient.dll" Name="FiresecClient.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Firesec.dll" Name="Firesec.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.FSAgentAPI.dll" Name="FSAgentAPI.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.FSAgentClient.dll" Name="FSAgentClient.dll" Source="$(var.Common.TargetDir)" />

        <File Id="Monitor.ReportsModule.dll" Name="ReportsModule.dll" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.GKProcessor.dll" Name="GKProcessor.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.CodeReason.Reports.dll" Name="CodeReason.Reports.dll" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.CodeReason.Loya.Dameer.dll" Name="Loya.Dameer.dll" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.NLog.dll" Name="NLog.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.hasp_net_windows.dll" Name="hasp_net_windows.dll" Source="..\..\..\..\..\..\3rdParty\HASP\" />
        <File Id="Monitor.hasp_windows.dll" Name="hasp_windows.dll" Source="..\..\..\..\..\..\3rdParty\HASP\" />
        <File Id="Monitor.Microsoft.Practices.Prism.dll" Name="Microsoft.Practices.Prism.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Microsoft.Practices.Prism.UnityExtensions.dll" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Microsoft.Practices.Unity.dll" Name="Microsoft.Practices.Unity.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.WPFToolkit.Extended.dll" Name="WPFToolkit.Extended.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Ionic.Zip.dll" Name="Ionic.Zip.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.Common.TargetDir)" />
        <File Id="Monitor.itextsharp.xtra.dll" Name="itextsharp.xtra.dll" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.itextsharp.pdfa.dll" Name="itextsharp.pdfa.dll" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.itextsharp.dll" Name="itextsharp.dll" Source="$(var.Common.TargetDir)" />
      </Component>

      <Component Id="Monitor.PLANS_MODULE" Guid="921DBB68-07A3-457B-9D49-AAC3802E7706">
        <File Id="Monitor.PlansModule.dll" Name="PlansModule.dll" Source="$(var.Monitor.TargetDir)" />
      </Component>

      <Component Id="Monitor.DB" Guid="B7677A70-A867-4A2D-BE8E-59D9198BB8DB">
        <File Id="Monitor.sqlceca35.dll" Name="sqlceca35.dll" Source="$(var.Server.TargetDir)" />
        <File Id="Monitor.sqlcecompact35.dll" Name="sqlcecompact35.dll" Source="$(var.Server.TargetDir)" />
        <File Id="Monitor.sqlceer35EN.dll" Name="sqlceer35EN.dll" Source="$(var.Server.TargetDir)" />
        <File Id="Monitor.sqlceme35.dll" Name="sqlceme35.dll" Source="$(var.Server.TargetDir)" />
        <File Id="Monitor.sqlceoledb35.dll" Name="sqlceoledb35.dll" Source="$(var.Server.TargetDir)" />
        <File Id="Monitor.sqlceqp35.dll" Name="sqlceqp35.dll" Source="$(var.Server.TargetDir)" />
        <File Id="Monitor.sqlcese35.dll" Name="sqlcese35.dll" Source="$(var.Server.TargetDir)" />
        <File Id="Monitor.System.Data.SqlServerCe.dll" Name="System.Data.SqlServerCe.dll" Source="$(var.Server.TargetDir)" />
      </Component>
			
      <Component Id="Monitor.FS_MODULE" Guid="7182915D-56AF-408F-9F8C-4995F4AE5EAA">
				<File Id="Monitor.DevicesModule.dll" Name="DevicesModule.dll" Source="$(var.Monitor.TargetDir)" KeyPath="yes" />
				<File Id="Monitor.JournalModule.dll" Name="JournalModule.dll" Source="$(var.Monitor.TargetDir)" />
        <File Id="Monitor.AlarmModule.dll" Name="AlarmModule.dll" Source="$(var.Monitor.TargetDir)" />
			</Component>

      <Component Id="Monitor.Revisor" Guid="B3038497-9AAE-4DBD-86AD-BC7B0174E543">
        <File Id="Monitor.Revisor.exe" Name="Revisor.exe" Source="$(var.Monitor.TargetDir)" KeyPath="yes" />
        <File Id="Monitor.Revisor.exe.manifest" Name="Revisor.exe.manifest" Source="$(var.Monitor.TargetDir)" />
      </Component>
      
    </DirectoryRef>

    <DirectoryRef Id="Monitor.ShellFolder">
      <Component Id="Monitor.Integrate" Guid="F4BAD8FB-EEC4-44C4-9C80-849C9F3A9F29">
        <File Id="Monitor.Integrate.cmd" Name="Integrate.cmd" Source="Data\Shell\" KeyPath="yes" />
        <File Id="Monitor.Desintegrate.cmd" Name="Desintegrate.cmd" Source="Data\Shell\" />
        <File Id="Monitor.Integrate.reg" Name="Integrate.reg" Source="Data\Shell\" />
        <File Id="Monitor.Desintegrate.reg" Name="Desintegrate.reg" Source="Data\Shell\" />
        <File Id="Monitor.Integrate_x64.reg" Name="Integrate x64.reg" Source="Data\Shell\" />
        <File Id="Monitor.Integrate_x32.reg" Name="Integrate x32.reg" Source="Data\Shell\" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SystemFolder">
      <Component Id="Monitor.Hasp" Guid="*">
        <File Id="Monitor.hasp_windows_83702.dll" Name="hasp_windows_83702.dll" Source="..\..\..\..\..\..\3rdParty\HASP\" KeyPath="yes" />
      </Component>
    </DirectoryRef>

	</Fragment>
</Wix>