<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <!--<DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Monitor.Remove" Guid="56ECF00B-C73E-4E93-BF09-CF295D691DCE">
        <CreateFolder Directory="INSTALLLOCATION" />
        <RemoveFile Id="Monitor.SoundsFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Monitor.SoundsFolder" />
        <RemoveFolder Id="Monitor.SoundsFolder.RemoveFolder" On="uninstall" Directory="Monitor.SoundsFolder" />
        <RemoveFolder Id="Monitor.ConfigFolder.RemoveFolder" On="uninstall" Directory="Monitor.ConfigFolder" />
        <RemoveFile Id="Monitor.ClientSettingsFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Monitor.ClientSettingsFolder" />
        <RemoveFolder Id="Monitor.ClientSettingsFolder.RemoveFolder" On="uninstall" Directory="Monitor.ClientSettingsFolder" />
        <RemoveFile Id="Monitor.LogsFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Monitor.LogsFolder" />
        <RemoveFolder Id="Monitor.LogsFolder.RemoveFolder" On="uninstall" Directory="Monitor.LogsFolder" />
        <RemoveFile Id="Monitor.ShellFolder.RemoveFiles" On="uninstall" Name="*.*" Directory="Monitor.ShellFolder" />
        <RemoveFolder Id="Monitor.ShellFolder.RemoveFolder" On="uninstall" Directory="Monitor.ShellFolder" />
        <RemoveFile Id="Monitor.SoundsFolderFiles" On="uninstall" Name="*.*" Directory="MONITORLOCATION" />
        <RemoveFolder Id="Monitor.SoundsFolderFolder" On="uninstall" Directory="MONITORLOCATION" />
      </Component>
    </DirectoryRef>-->
	</Fragment>
</Wix>