Системные требования 

Минимальная системная конфигурация: 

  - Операционная система: Windows XP SP3, Windows Vista, Windows 7
  - Процессор: Core2Duo 2500MG
  - Оперативная память: 2 Gb (3 Gb для Windows 7)
  - Жесткий диск: 100 Mb дискового пространства

  - Microsoft Windows Installer 3.1
  - Microsoft .NET Framework 4.0
