<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<DirectoryRef Id="ProgramMenuDir.AdditionalFolder">
			<Component Id="Server.ProgramsMenuShortcut" Guid="FA065622-0D8D-4289-95AD-B3146AAA86A0">
				<Shortcut Id="Server.ProgramsMenuShortcut" Name="$(var.ServerName)" Target="[SERVERLOCATION]$(var.Server.TargetFileName)"
						  WorkingDirectory="SERVERLOCATION" Description="$(var.ServerName)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.ServerName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_PROGRAMMENU</Condition>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>