
@{
    Layout = null;
}
<div data-bind="with: HR.Organisations">
    <ul id="OrganisationList" class="SelectableList" data-bind="foreach: Organisations">
        <li>
            <div data-bind="click: function(data,event) { $parent.OrganisationClick(data, event, $data);}">
                <label>
                    <img src="~/Content/Image/Icon/Hr/Organisation.png"/>
                    <span data-bind="text: Name, css: {IsDeleted: IsDeleted}"></span>
                </label>
            </div>
        </li>
    </ul>
    <div id="OrganisationsRightPanel">
        <div id="OrganisationsRightPanelTabs">
            <ul class="tab">
                <li class="active"><a href="" data-bind="click: function(data,event) { OrganisationPageClick(data, event, 'Users'); }"><span>Пользователи</span></a></li>
                <li><a href="" data-bind="click: function(data,event) { OrganisationPageClick(data, event, 'Doors'); }"><span>Точки доступа</span></a></li>
            </ul>
        </div>
        <div data-bind="visible:organisationPages.Users">
            <ul id="OrganisationUsers" class="SelectableList" data-bind="foreach: Users">
                <li>
                    <div data-bind="click: function(data,event) { if($parent.CanSelectUsers()) {$parent.UserClick(data, event, $data); return true;} else return null; }">
                        <img src="~/Content/Image/Icon/Hr/SKDUser.png"/>
                            <input type="checkbox" data-bind="checked: IsChecked, enable: $parent.CanSelectUsers()" value="">
                            <span data-bind="text: User.Name"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div data-bind="visible:organisationPages.Doors">
            <ul id="OrganisationDoors" class="SelectableList" data-bind="foreach: Doors">
                <li>
                    <div data-bind="click: function(data,event) { if($parent.CanSelectDoors()) {$parent.DoorClick(data, event, $data); return true;} else return null;}">
                        <img src="~/Content/Image/Icon/Hr/Door.png"/>
                            <input type="checkbox" data-bind="checked: IsChecked, enable: $parent.CanSelectDoors()" value="">
                            <span data-bind="text: PresentationName"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@Html.Action("OrganisationDetails")
