<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	<Product Id="*" Name="SqlDatabaseCreate" Language="1033" Version="1.0.0.0" Manufacturer="*" UpgradeCode="f5a71ba3-30b8-4d4c-95db-fff136458f69">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Binary Id="FiresecDBSql" SourceFile="FiresecDataBaseStructureSql.sql" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SqlDatabaseCreate" Level="1">
			<ComponentRef Id="SqlComponent" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SqlDatabaseCreate">
					<Component Id="SqlComponent" Guid="79434449-17E2-4599-BB62-13BDA06309B6">
						<CreateFolder Directory="INSTALLFOLDER" />
						<sql:SqlDatabase Id="FiresecSqlDatabase" Database="Firesec" CreateOnInstall="yes"
														 Server="(local)\sqlexpress" DropOnUninstall="yes" ContinueOnError="no">
							<sql:SqlScript Id="DatabaseStructureScript" BinaryKey="FiresecDBSql" ExecuteOnInstall="yes" ContinueOnError="no"/>
						</sql:SqlDatabase>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>