@{
    Layout = null;
}

<div ng-controller="pumpStationsCtrl">
    <div style="width:34%; float:left; margin-right:1%">
        <div ui-grid="uiGrid" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-save-state ui-grid-auto-size-column style="{{gridStyle}}"></div>
    </div>
    <div ng-controller="pumpStationDevicesCtrl" style="width:65%; float: left">
        <div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-save-state style="{{gridStyle}}"></div>
    </div>
    <div style="clear: both">
    </div>
    <div class="deviceWindow">
        <div class="deviceProperties">
            <div>
                <span>Условие для запуска: </span>
                <span ng-bind="selectedRow.startLogic"></span>
            </div>
            <div>
                <span>Условие для останова или запрета пуска: </span>
                <span ng-bind="selectedRow.stopLogic"></span>
            </div>
            <div>
                <span>Условие для отключения автоматики: </span>
                <span ng-bind="selectedRow.automaticOffLogic"></span>
            </div>
        </div>
    </div>
</div>