@{
    Layout = null;
}

<div>
    <div ng-controller="pumpStationsCtrl">
        <div ui-grid="uiGrid" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns style="width: 50%; height: auto;"></div>
        <div class="report_item_info" style="width: 50%;">
            <div>
                <label>Условие для запуска: </label>
                <label ng-bind="selectedRow.startLogic"></label>
            </div>
            <div>
                <label>Условие для останова или запрета пуска: </label>
                <label ng-bind="selectedRow.stopLogic"></label>
            </div>
            <div>
                <label>Условие для отключения автоматики: </label>
                <label ng-bind="selectedRow.automaticOffLogic"></label>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div ng-controller="pumpStationDevicesCtrl">
            <div ui-grid="uiGrid" style="width: 50%; height: auto;"></div>
        </div>
    </div>
</div>