@{
	Layout = null;
}

<div ng-controller="pumpStationsCtrl">
	<div ui-grid="uiGrid" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-save-state ui-grid-auto-size-column style="{{gridStyle}}"></div>
	<div class="report_item_info">
		<div>
			<label>Условие для запуска: </label>
			<label ng-bind="selectedRow.startLogic"></label>
		</div>
		<div>
			<label>Условие для останова или запрета пуска: </label>
			<label ng-bind="selectedRow.stopLogic"></label>
		</div>
		<div>
			<label>Условие для отключения автоматики: </label>
			<label ng-bind="selectedRow.automaticOffLogic"></label>
		</div>
	</div>
</div>
<div ng-controller="pumpStationDevicesCtrl">
	<div ui-grid="uiGrid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-save-state style="{{gridStyle}}"></div>
</div>
