<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="modules" type="Infrastructure.Common.Configuration.ModuleSection, Infrastructure.Common.Windows" />
	</configSections>
	<appSettings>
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.3.5" />
			<add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<legacyCorruptedStateExceptionsPolicy enabled="true|false" />
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
		<variable xmlns="http://www.nlog-project.org/schemas/NLog.xsd" name="appTitle" value="Rubezh Monitor"/>
		<targets xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
			<target name="file" xsi:type="File"
				layout="[${longdate}] ${threadid} ${level}: ${message} ${onexception:(${stacktrace})${newline}${exception:format=tostring:separator=:maxInnerExceptionLevel=10}}"
				fileName="${specialfolder:folder=CommonApplicationData}/Rubezh/Logs/Monitor/${shortdate}.log"
				archiveFileName="${specialfolder:folder=CommonApplicationData}/Rubezh/Logs/Monitor/${shortdate}.{##}.log"
				archiveAboveSize="1048576"
				archiveEvery="Day"
				archiveNumbering="Sequence"
				maxArchiveFiles="100"
				createDirs="True" keepFileOpen="False" concurrentWrites="False" />
			<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${threadid} ${message}" />
			<target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring:separator=:maxInnerExceptionLevel=10}" />
		</targets>
		<rules xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
			<logger name="*" minlevel="Info" writeTo="file" />
			<logger name="*" minlevel="Error" writeTo="eventLog" />
		</rules>
	</nlog>

	<modules>
		<module assemblyFile="PlansModule.dll" />
		<module assemblyFile="PlansModule.Kursk.dll" />
		<module assemblyFile="GKModule.dll" />
		<module assemblyFile="JournalModule.dll" />
		<module assemblyFile="ReportsModule.dll" />
		<module assemblyFile="VideoModule.dll" />
		<module assemblyFile="DiagnosticsModule.dll" />
		<module assemblyFile="SKDModule.dll" />
		<module assemblyFile="AutomationModule.dll" />
	</modules>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>

	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true" />
		<settings>
			<servicePointManager expect100Continue="false" />
		</settings>
	</system.net>
</configuration>