<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Burn Test App" Version="1.0.0.0" Manufacturer="Rubezh" UpgradeCode="b9bed40b-b950-4a82-9c2f-45c8cbecc92e">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
    <WixVariable Id="WixStdbaLogo" Value="FireNationEmblem.png" />

    <!--<WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />-->
    <Chain>
      <PackageGroupRef Id="MyPackage"/>
      <!--<MsiPackage Id="DOTNET40FULL" SourceFile="$(var.FiresecServiceInstaller.TargetPath)">
      </MsiPackage>-->
      <!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
		</Chain>
	</Bundle>
</Wix>