<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="modules" type="Infrastructure.Common.Configuration.ModuleSection, Infrastructure.Common" />
	</configSections>
	<appSettings>
		<add key="ServiceAddress" value="net.pipe://127.0.0.1/FiresecService/" />
		<add key="ServiceAddress2" value="net.tcp://127.0.0.1:8000/FiresecService/" />
		<add key="AutoConnect" value="True"/>
		<add key="LibVlcDllsPath" value="C:\Program Files\VideoLAN\VLC" />
		<add key="ShowOnlyVideo" value="False" />
		<add key="IsDebug" value="True" />
		<add key="CanControl" value="True" />
		<add key="ShowGK" value="False" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
	</startup>

	<nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true">
		<variable name="appTitle" value="Firesec Service" />
		<targets>
			<target name="file" xsi:type="File" layout="[${longdate}] ${threadid} ${level}: ${message}${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}" fileName="${basedir}/Logs/${shortdate}.log" createDirs="True" />
			<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${threadid} ${message}" />
			<target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring:separator=&#xD;&#xA;:maxInnerExceptionLevel=10}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
			<logger name="*" minlevel="Error" writeTo="eventLog" />
		</rules>
	</nlog>
	<modules>
		<module assemblyFile="AlarmModule.dll"/>
		<module assemblyFile="DevicesModule.dll"/>
		<module assemblyFile="JournalModule.dll"/>
		<module assemblyFile="ReportsModule.dll"/>
		<!--<module assemblyFile="GKModule.dll"/>-->
		<module assemblyFile="PlansModule.dll"/>
	</modules>
</configuration>