<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <CustomAction Id="CheckSqlServerCA" BinaryKey="FiresecCustomActions.dll" DllEntry="SQLServerCheking"
                  Execute="immediate" />
    <CustomAction Id="StartAppOnExit" FileKey="FiresecServiceExe" ExeCommand="" 
                  Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
	</Fragment>
</Wix>