<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="ModulesDialog" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)">
				<Control Id="TitleRect"			Type="Bitmap"			X="0"	Y="0"	Width="374"	Height="44"		TabSkip="no" Text="TitleRect.bmp" />
				<Control Id="DlgTitle"			Type="Text"				X="18"	Y="10"	Width="292"	Height="15"		Text="{&amp;MSSansBold8}Выбор компонентов системы" TabSkip="yes" Transparent="yes" />
				<Control Id="DlgTitle2"			Type="Text"				X="30"	Y="22"	Width="244"	Height="15"		Text="Какие компоненты должны быть установлены?" TabSkip="yes" Transparent="yes" />
				<Control Id="Tree"				Type="SelectionTree"	X="25"	Y="60"	Width="175"	Height="150"	Property="_BrowseProperty" Sunken="yes" TabSkip="no" Text="Tree of selections" />
				<Control Id="Box"				Type="GroupBox"			X="210"	Y="60"	Width="140"	Height="150" />
				<Control Id="ItemDescription"	Type="Text"				X="215"	Y="75"	Width="131"	Height="100">
					<Text>Описание выбранного компонента</Text>
					<Subscribe Event="SelectionDescription" Attribute="Text" />
				</Control>
				<Control Id="BannerLine"		Type="Line"				X="0"	Y="44"	Width="370"	Height="0"		TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1"			Type="Text"				X="16"	Y="229"	Width="50"	Height="13"		Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
				<Control Id="Branding2"			Type="Text"				X="15"	Y="228"	Width="50"	Height="13"		Text="{&amp;NormalText}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine"			Type="Line"				X="48"	Y="234"	Width="326"	Height="0"		TabSkip="yes" Disabled="yes" />
				<Control Id="Next"				Type="PushButton"		X="230"	Y="243"	Width="66"	Height="17"		Text="$(var.btnNext)" TabSkip="no" Default="yes" />
				<Control Id="Cancel"			Type="PushButton"		X="301"	Y="243"	Width="66"	Height="17"		Text="$(var.btnCancel)" TabSkip="no" Cancel="yes" />
				<Control Id="Back"				Type="PushButton"		X="164"	Y="243"	Width="66"	Height="17"		Text="$(var.btnBack)" TabSkip="no" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>