<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="SetupProgressDialog" X="50" Y="0" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)" Modeless="yes">
				<Control Id="TitleRect"			Type="Bitmap"		X="0"	Y="0"	Width="374"	Height="44"	TabSkip="no" Text="TitleRect.bmp" />
				<Control Id="DlgTitle"			Type="Text"			X="18"	Y="10"	Width="292"	Height="15"	Text="{&amp;MSSansBold8}Установка  $(var.ProductName)" TabSkip="yes" Hidden="yes" Transparent="yes">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="DlgDesc"			Type="Text"			X="30"	Y="22"	Width="244"	Height="15"	Text="Устанавливаются выбранные компоненты программы." TabSkip="yes" Hidden="yes" Transparent="yes">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="DlgText"			Type="Text"			X="65"	Y="60"	Width="327"	Height="20"	Text="Программа устанавливает $(var.ProductName). Это может занять несколько минут." TabSkip="yes" Hidden="yes" Transparent="yes">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="SetupIcon"			Type="Icon"			X="30"	Y="57"	Width="25"	Height="24"	Text="SetupProgress.ico" TabSkip="yes" Disabled="yes" IconSize="32" />
				<Control Id="LbStatus"			Type="Text"			X="30"	Y="90"	Width="53"	Height="12"	Text="Состояние:" TabSkip="yes" />
				<Control Id="ActionText"		Type="Text"			X="85"	Y="90"	Width="209"	Height="13"	Property="ActionTextLabel" TabSkip="yes">
					<Subscribe Event="ActionText"			Attribute="Text" />
				</Control>
				<Control Id="FilesLabel"		Type="Text"			X="30"	Y="110"	Width="300"	Height="13"	Property="FilesLabel" TabSkip="no" Transparent="yes">
					<Subscribe Event="ActionData"			Attribute="Text" />
				</Control>
				<Control Id="ActionProgress95"	Type="ProgressBar"	X="30"	Y="128"	Width="300"	Height="12"	Text="Выполнено" TabSkip="yes" Disabled="yes" ProgressBlocks="yes">
					<Subscribe Event="InstallFiles"			Attribute="Progress" />
					<Subscribe Event="MoveFiles"			Attribute="Progress" />
					<Subscribe Event="RemoveFiles"			Attribute="Progress" />
					<Subscribe Event="RemoveRegistryValues"	Attribute="Progress" />
					<Subscribe Event="WriteIniValues"		Attribute="Progress" />
					<Subscribe Event="WriteRegistryValues"	Attribute="Progress" />
					<Subscribe Event="UnmoveFiles"			Attribute="Progress" />
					<Subscribe Event="AdminInstallFinalize"	Attribute="Progress" />
					<Subscribe Event="SetProgress"			Attribute="Progress" />
				</Control>
				<Control Id="BannerLine"		Type="Line"			X="0"	Y="44"	Width="370"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Branding1"			Type="Text"			X="16"	Y="229"	Width="50"	Height="13"	Text="{&amp;MSSWhiteSerif8}$(var.BrandName)" TabSkip="yes" />
				<Control Id="Branding2"			Type="Text"			X="15"	Y="228"	Width="50"	Height="13"	Text="{&amp;NormalText}$(var.BrandName)" TabSkip="yes" Disabled="yes" Transparent="yes" />
				<Control Id="DlgLine"			Type="Line"			X="48"	Y="234"	Width="326"	Height="0"	TabSkip="yes" Disabled="yes" />
				<Control Id="Back"				Type="PushButton"	X="164"	Y="243"	Width="66"	Height="17"	Text="$(var.btnBack)" TabSkip="no" Disabled="yes" />
				<Control Id="Next"				Type="PushButton"	X="230"	Y="243"	Width="66"	Height="17"	Text="$(var.btnNext)" TabSkip="no" Disabled="yes" />
				<Control Id="Cancel"			Type="PushButton"	X="301"	Y="243"	Width="66"	Height="17"	Text="$(var.btnCancel)" TabSkip="yes" Default="yes" Cancel="yes" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>