<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="UITextStyles">
			<TextStyle Id="WixUI_Font_Normal"	FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger"	FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title"	FaceName="Tahoma" Size="9" Bold="yes" />
			<TextStyle Id="NormalText"			FaceName="Tahoma" Size="8" Bold="no" />
			<TextStyle Id="MSSansBold8"			FaceName="Tahoma" Size="8" Bold="yes" />
			<TextStyle Id="MSSansBold12"		FaceName="Tahoma" Size="12" Bold="yes" />
			<TextStyle Id="MSSWhiteSerif8"		FaceName="Tahoma" Size="8" Red="255" Green="255" Blue="255" />
		</UI>
	</Fragment>
</Wix>