<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../Variables.wxi?>
	<?include UI_Variables.wxi?>
	<Fragment>
		<UI>
			<Dialog Id="WelcomeDialog" Width="374" Height="266" Title="!(loc.WelcomeDlg_Title)">
				<Control Id="Bitmap"		Type="Bitmap"		X="0"	Y="0"	Width="374"	Height="234"	TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
				<Control Id="BottomLine"	Type="Line"			X="0"	Y="234"	Width="374"	Height="0" />
				<Control Id="Title"			Type="Text"			X="135"	Y="10"	Width="220"	Height="60"		Transparent="yes" NoPrefix="yes" Text="{&amp;MSSansBold12}Вас приветствует мастер установки $(var.ProductName)" />
				<Control Id="Description1"	Type="Text"			X="135"	Y="50"	Width="220"	Height="60"		Transparent="yes" NoPrefix="yes" Text="{&amp;NormalText}Программа установит $(var.ProductName) на ваш компьютер.">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="Description2"	Type="Text"			X="135"	Y="70" Width="220"	Height="60"		Transparent="yes" NoPrefix="yes" Text="{&amp;NormalText}Рекомендуется закрыть все прочие приложения перед тем, как продолжить.">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="Description3"	Type="Text"			X="135"	Y="95" Width="220"	Height="60"		Transparent="yes" NoPrefix="yes" Text="{&amp;NormalText}Нажмите &quot;Далее&quot;, чтобы продолжить, или &quot;Отмена&quot;, чтобы выйти из программы установки.">
					<Condition Action="show">1</Condition>
				</Control>
				<Control Id="Next"			Type="PushButton"	X="230"	Y="243" Width="66"	Height="17"		Text="$(var.btnNext)" Default="yes">
					<Publish Property="WixUI_InstallMode" Value="NOT Installed">1</Publish>
					<Publish Property="INSTALLMODE" Value="NOT Installed">1</Publish>
					<Publish Property="REINSTALLMODE" Value="amus">1</Publish>
				</Control>
				<Control Id="Cancel"		Type="PushButton"	X="301"	Y="243"	Width="66"	Height="17"		Cancel="yes" Text="$(var.btnCancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>