<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <?include ../Variables.wxi?>
  <Fragment>
    <?if $(var.Firesec1Version)=48?>
    <Feature Id="Firesec.Features" Title="Драйвер FireSec" Description="Программа установит драйверы приборов Рубеж-4а, Рубеж-2ОП, БУНС. Выключите данную опцию для обеспечения обратной соместимости с FireSec-1"
           Level="1" Display="expand" ConfigurableDirectory="FIRESECLOCATION" AllowAdvertise="no" Absent='allow' InstallDefault="local">
      <ComponentRef Id="Firesec.Files" />
      <ComponentRef Id="Firesec.fbintl.dll" />
      <ComponentRef Id="Firesec.msvcp60.dll" />
      <ComponentRef Id="Firesec.RegistryFix" />
      <Feature Id="Firesec.HASP" Title="Драйвер HASP" Description="Программа установит компопненты необходимые для работы криптопроцессора HASP"
            Level="1" Display="expand" AllowAdvertise="no" Absent='allow' InstallDefault="local" />
    </Feature>
    <?endif?>
    <?if $(var.Firesec1Version)=50?>
    <Feature Id="Firesec.Features" Title="Драйвер FireSec 5.0" Description="Программа установит драйверы приборов Рубеж-4а, Рубеж-2ОП, БУНС. Выключите данную опцию для обеспечения обратной соместимости с FireSec-1"
           Level="1" Display="expand" ConfigurableDirectory="FIRESECLOCATION" AllowAdvertise="no" Absent='allow' InstallDefault="local">
      <ComponentRef Id="Firesec5.Files1" />
      <ComponentRef Id="Firesec5.Files2" />
      <ComponentRef Id="Firesec5.Files3" />
      <ComponentRef Id="Firesec5.Files4" />
      <ComponentRef Id="Firesec5.fbintl.dll" />
      <ComponentRef Id="Firesec5.msvcp60.dll" />
      <Feature Id="Firesec.HASP" Title="Драйвер HASP" Description="Программа установит компопненты необходимые для работы криптопроцессора HASP"
            Level="1" Display="expand" AllowAdvertise="no" Absent='allow' InstallDefault="local" />
    </Feature>
    <?endif?>
  </Fragment>
</Wix>