<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Firesec.Remove" Guid="5A1DCC77-88DC-48C5-9610-5FA10E4573F4">
        <CreateFolder Directory="INSTALLLOCATION" />
        <RemoveFile Id="Firesec.INTL.RemoveFiles" On="uninstall" Name="*.*" Directory="INTL" />
        <RemoveFolder Id="Firesec.INTL.RemoveFolder" On="uninstall" Directory="INTL" />
        <RemoveFile Id="Firesec.FIRESECLOCATION.Cache.RemoveFiles" On="uninstall" Name="*.*" Directory="FIRESECLOCATION.Cache" />
        <RemoveFolder Id="Firesec.FIRESECLOCATION.Cache.RemoveFolder" On="uninstall" Directory="FIRESECLOCATION.Cache" />
        <RemoveFile Id="Firesec.FIRESECLOCATION.RemoveFiles" On="uninstall" Name="*.*" Directory="FIRESECLOCATION" />
        <RemoveFolder Id="Firesec.FIRESECLOCATION.RemoveFolder" On="uninstall" Directory="FIRESECLOCATION" />
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>