<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Binary Id="DestFolder.ico" SourceFile="Data\DestinationFolder.ico" />
		<Binary Id="Up.ico" SourceFile="Data\Up.ico" />
		<Binary Id="NewFolder.ico" SourceFile="Data\NewFolder.ico" />
		<Binary Id="SetupProgress.ico" SourceFile="Data\SetupProgress.ico" />
		
		<Binary Id="TitleRect.bmp" SourceFile="Data\TitleRect.bmp" />
		
		<Binary Id="FiresecCADll" SourceFile="$(var.CustomAction.TargetDir)$(var.CustomAction.TargetName).CA.dll" />
		
		<Binary Id="PostgreSQL.exe" SourceFile="$..\..\..\..\..\..\3rdParty\Soft\PostgeSQL\PostgreSQL.exe" />
		<Binary Id="PostgreSQL64.exe" SourceFile="$..\..\..\..\..\..\3rdParty\Soft\PostgeSQL\PostgreSQL64.exe" />
	</Fragment>
</Wix>