<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SKDDriver.Properties.Settings.ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=master;Integrated Security=True;Language='English'"
            providerName="System.Data.SqlClient" />
        <add name="SKDDriver.Properties.Settings.SKDConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=SKD;Integrated Security=True;Language='English'"
            providerName="System.Data.SqlClient" />
        <add name="SKDDriver.Properties.Settings.passjournalConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=passjournal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>