<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
  <add name="StrazhDAL.Properties.Settings.SKDConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=SKD;Integrated Security=True;Language='English'"
   providerName="System.Data.SqlClient" />
  <add name="StrazhDAL.Properties.Settings.PassJournal_0ConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=PassJournal_0;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SKDEntities" connectionString="metadata=res://*/Common.SKDDriver.DataAccess.SKDModel.csdl|res://*/Common.SKDDriver.DataAccess.SKDModel.ssdl|res://*/Common.SKDDriver.DataAccess.SKDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=02-KBP-NIO-0524\SQLEXPRESS;initial catalog=SKD;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="SKDEntities1" connectionString="metadata=res://*/EFDataAccess.SKDModel.csdl|res://*/EFDataAccess.SKDModel.ssdl|res://*/EFDataAccess.SKDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=02-KBP-NIO-0524\SQLEXPRESS;initial catalog=SKD;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="StrazhDAL.Properties.Settings.Journal_1ConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=Journal_1;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>