<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpWD9.1k5kyngvbe_QjQiO6ghLd_Q" Guid="*">
                <File Id="filHpvmigk6ojme9DAv3iod16MNiBM" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Caliburn.Micro.dll" />
            </Component>
            <Component Id="cmpO6E307WqGkR9lbvghZRUaUw95Ng" Guid="*">
                <File Id="filBDbiyLoUaLrodhu8D31dsgVYMOQ" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Caliburn.Micro.Platform.Core.dll" />
            </Component>
            
            <Component Id="cmpcSUwJgaQHRbkF_HI0fpI.PsH.hk" Guid="*">
                <File Id="filXAshyyTsfu8FbR10DqVBAVFJcPY" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Caliburn.Micro.Platform.dll" />
            </Component>
            
            <Component Id="cmpO8o_Lt4BV5MdusNvWBBr8qzNlIM" Guid="*">
                <File Id="filiEVkTslcKzbscK9QVRwkUa8Wlh8" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Caliburn.Micro.ReactiveUI.dll" />
            </Component>
            
            <Component Id="cmpxi0lVNN_jBO0wfAh2vQl1BpGJiQ" Guid="*">
                <File Id="filY1cGS5lBko8GDQMviQ5phqNmMDY" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\GenerateKeyApplication.Common.dll" />
            </Component>
            
            <Component Id="cmp9guUC7SOvvQchPhCCb7picaqb5c" Guid="*">
                <File Id="filwqg0xYdveUgwYpSE_Mk7Efq3Mig" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\GenerateKeyApplication.Controls.dll" />
            </Component>
            
            <Component Id="cmpIgYC6ns4DPolbPaW8oFGq1IAJ7c" Guid="*">
                <File Id="fil65m1OIctrEOREcIhg4NMebRhu_M" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\GenerateKeyApplication.exe" />
            </Component>
            
            <Component Id="cmpaaCukfa9HS4TIm1N9FF45SzkPeI" Guid="*">
                <File Id="fil625ndzTzYM55r7Rn0hOtg5MsO9M" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\GenerateKeyApplication.Model.dll" />
            </Component>
            
            
            
            <Component Id="cmpmXpMcsA0z7DZr0WgUCvlnBiJYos" Guid="*">
                <File Id="filehJgb0Eg5awJGT2tR8uRlDJMO1w" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\licence.dll" />
            </Component>
            <Component Id="cmpONu8IX3U_WYDTDNlTuPwipb_2aI" Guid="*">
                <File Id="filaU06tEWqpXY2PzFFqsELc_A2jh4" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Licensing.Generator.dll" />
            </Component>
            
            <Component Id="cmpYH02P_j1mc1Ph0sLCAqIMFoQNgM" Guid="*">
                <File Id="filKmtzu0nDiaM6Ei2E6H3P9OdIiqc" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Licensing.Model.dll" />
            </Component>
            
            <Component Id="cmpwEh2K.BumO41cj._A.qsQ6jWdjs" Guid="*">
                <File Id="filADJURAwsQPPpGEnUyXSGlkpVGd4" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Licensing.Services.dll" />
            </Component>
            
            <Component Id="cmpkMImiKLLAmxVECtnpWn2Gw19yMc" Guid="*">
                <File Id="filO7Q4ITUoUc5zkvUN8bR7CbAHfwg" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\ReactiveUI.dll" />
            </Component>
            
            <Component Id="cmpj5WnvNV6B3yRuypuOVI94ZNKZpY" Guid="*">
                <File Id="filXcKtN3SxW609Z0JWSDDutqX8gZU" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Splat.dll" />
            </Component>
            
            <Component Id="cmprOBtZaAp9Mxt6Tv0ASW3lEQxrMk" Guid="*">
                <File Id="fil99kckSxzhQAKH36pAdF1_gqOmk4" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Reactive.Core.dll" />
            </Component>
            
            <Component Id="cmpuiJIUP9p94Dd6EmHp8CCs.4NSs0" Guid="*">
                <File Id="filQDJJFcQiLZ7UNrC9kiOmEqkdLAc" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Reactive.Interfaces.dll" />
            </Component>
            
            <Component Id="cmpaFBNvhxD6ELDJ_Y3cGAp2Mugc40" Guid="*">
                <File Id="filCJvYr4GfzgC0qWXu9Eez9tbl3gc" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Reactive.Linq.dll" />
            </Component>
            
            <Component Id="cmp5qrmV0dEskhOVN37M8C9Wj5GKM0" Guid="*">
                <File Id="filHwMxrOBQTESmImygnBsWxX3qpW4" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Reactive.PlatformServices.dll" />
            </Component>
            
            <Component Id="cmpbkRdKZGqgkZ86dQoUa4hQlgEyTM" Guid="*">
                <File Id="filo5PvmOPdYvd3HHoYSr2O6PtY8js" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Reactive.Windows.Threading.dll" />
            </Component>
            
            <Component Id="cmpfrYQ6cjLzA4M8XmFCC.e4dG1vec" Guid="*">
                <File Id="filslOgnC5tB9ejWY3Qdbb6RYJ11YY" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Runtime.dll" />
            </Component>
            
            <Component Id="cmpOmC7AjjMpS_WXW4zKr.smm2_JJg" Guid="*">
                <File Id="fildR2gGmddhpDqgQ27ygM.FCjqiB0" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            
            <Component Id="cmpOFG7FIuhcJWd6zQ5Weh.pkAKCMY" Guid="*">
                <File Id="filJZyq9ivi03YDxkwMVm3LKUf5WOQ" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Windows.Controls.Input.Toolkit.dll" />
            </Component>
            <Component Id="cmp2kU2i5Y7geLE0x7k8t8XA1pQUrE" Guid="*">
                <File Id="filLwDUFOiQAyon9k0p9uj_QAuVkgI" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Windows.Controls.Layout.Toolkit.dll" />
            </Component>
            <Component Id="cmpRn.Cuuqc8DGZG7JuyDtX.1NPW3Y" Guid="*">
                <File Id="filgyzOdBveZ3Vz_5JMU4WNnRqZ1W0" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\System.Windows.Interactivity.dll" />
            </Component>
            
            <Component Id="cmpzdnZ_jjZwz5RR.NdvqGJlpWs9tQ" Guid="*">
                <File Id="fil5nwk21XMRXvVFDhh3CpC2p6WNwA" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\WPFToolkit.dll" />
            </Component>
            <Component Id="cmpTuX34rMznqLViNhnKsW5KeLG9Pk" Guid="*">
                <File Id="filAecqYJakk3YIa0DbDBwqGPzZ..o" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Xceed.Wpf.AvalonDock.dll" />
            </Component>
            <Component Id="cmpIgbPil2eW52AQ2mKubhmA3gBor8" Guid="*">
                <File Id="filKr92I8UWe7rrjelNGpoeLBdD5eM" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>
            <Component Id="cmpj9o09p8Ms76QUPHvxSN4FY0QTHw" Guid="*">
                <File Id="filwhBgvUAy18lzY1FKtN2gNMCl78w" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>
            <Component Id="cmpd5rQI7hxhqc1E1ChpnK1xYkIOFY" Guid="*">
                <File Id="filye5U_EgTblJykt0IthVNzJIHUJE" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>
            <Component Id="cmphopdrP7NxZoT5EyAfd2yCMQQ5pM" Guid="*">
                <File Id="fildfDCAjGBjRo.B9e6BkU2bFsl9s0" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Xceed.Wpf.DataGrid.dll" />
            </Component>
            <Component Id="cmp4rWC61nCfg7sn3tSLdpX5DWfMu8" Guid="*">
                <File Id="filreZTvNETXHi298Fpjw7lFWE6gSo" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\Xceed.Wpf.Toolkit.dll" />
            </Component>
            <Directory Id="dirmHtQ1mCDJuK1tEmvItJEqebVLcg" Name="de">
                <Component Id="cmpPRwFcQZPKMLFVqB08OlhRzpuETY" Guid="*">
                    <File Id="fil_i.Ps2gKxDet25B3eyGjM1hEEWQ" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\de\System.Windows.Interactivity.resources.dll" />
                </Component>
                <Component Id="cmpDiyN2aAkLE.UUg5HmDuqTYN3l9Y" Guid="*">
                    <File Id="filT6BK47YKpEE6123oXaCdu2BkSJA" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\de\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirS3y1c1x8M1n1XmxKIdXDPkHjFFs" Name="en">
                <Component Id="cmp5MPL_ESgf6aggoo4h0vtS5Qwnd8" Guid="*">
                    <File Id="filp_eosTah7fRKBSIaYnK9piPCo5k" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\en\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirlDAyk8c5vGLOzs4YbuENey22yPs" Name="es">
                <Component Id="cmpsnQ9KvgJAguFqMiEdPGSbugIvW0" Guid="*">
                    <File Id="filKRxykfp0.m8FzOLPSZukEggnDGw" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\es\System.Windows.Interactivity.resources.dll" />
                </Component>
                <Component Id="cmpqwRa4ERKDNcCTIMfpLtQ1zA2.mQ" Guid="*">
                    <File Id="filCSUcqmzsHGBRdmb_G.AckoJbbWY" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\es\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirPAnV0xFcLIQk6kifYsZSmWtgaRE" Name="fr">
                <Component Id="cmpQv5GsBK3HE3f3nCaC4k9Itbued0" Guid="*">
                    <File Id="filktkL1FEr9QeqIZdg.7n49_ltTo0" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\fr\System.Windows.Interactivity.resources.dll" />
                </Component>
                <Component Id="cmpbH7Vy_cwuRwtLBUrBSOEhutJi4o" Guid="*">
                    <File Id="filGYUe9cXg2Rirgz7McAL6XGr3S.U" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\fr\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirYLg2hS7_ch57uDnv54mGQBVTrKw" Name="hu">
                <Component Id="cmpXmAsJ.VBXUl.PtlZJ9R2oK8dZSE" Guid="*">
                    <File Id="fil_NGImI4GBaOQKyvBaD143j7xQxA" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\hu\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirfl48TX6dxWpDHnccziZJqL4ovxA" Name="it">
                <Component Id="cmp6MzoRb3LDxHPsHLxPlEmjZrjvGQ" Guid="*">
                    <File Id="fils_BhNGs9kt2tFs3FN.X29ddxKmc" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\it\System.Windows.Interactivity.resources.dll" />
                </Component>
                <Component Id="cmp.AnrIMjXHXwoBFCIQZqcyoATS48" Guid="*">
                    <File Id="filyNEf1RSQfe2DKVFmlOxwWqX.8k4" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\it\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir274MdqetOl5HFkqjy2gUIUkJNIk" Name="ja">
                <Component Id="cmpAQzUHM7VgAAj31UkQrDQpPNQdjM" Guid="*">
                    <File Id="fil8SGPMRQcKzWeGR21WgXKHtdc1cU" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\ja\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirH6ri.wgY.V7kX3IHTg2iQy8c90Q" Name="ko">
                <Component Id="cmppxyFV0vfi5K6RN13Q9aJadfWKTI" Guid="*">
                    <File Id="filDw22qDPjXX.b0yqQ4o_p.6GAoDA" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\ko\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirtIrgVfTdxQxDpTtnC4EzH.uMeGo" Name="pt-BR">
                <Component Id="cmpZW0Nn8g2qUOTbNSTbTCYzF82oX8" Guid="*">
                    <File Id="filS8V3HHxv8XIncFIqEez8p3bKpyM" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirGE59a9R1xSfALYeT5n5eFxoq5k4" Name="ro">
                <Component Id="cmplGn4EqGHvDke288AQBFMiPcTj1Q" Guid="*">
                    <File Id="fil_esJ5PwawngjHrulGKpY4gEkqgI" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\ro\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirWQNd1v.yqIQnoRhAebxzKnK2DXo" Name="ru">
                <Component Id="cmpl3Q0eQ_3EyjvCKVCb2uYApJqZaY" Guid="*">
                    <File Id="fild7QcNI421Pf.skitZ2D9tY5LP3o" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\ru\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirPqmHq5LpS4i3ZCaQsYFJpy5DIz8" Name="sv">
                <Component Id="cmpqfwqDCo0huYyb7geT0FjB_gYTFM" Guid="*">
                    <File Id="filg6BfEE97Xihg9vYQnGzDR07RdUA" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\sv\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirq9F3pp_VlOG1BBh5CCoGZ75HfIk" Name="zh-Hans">
                <Component Id="cmpRLtAWm21WWo9V.dV2hNt8d4XuGI" Guid="*">
                    <File Id="fil_Ahm0HhslOxedls3IfYISQT2ols" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\zh-Hans\System.Windows.Interactivity.resources.dll" />
                </Component>
                <Component Id="cmp_GW.Lav8DMHAHpCyxr4PLmLoq6s" Guid="*">
                    <File Id="filXzqlMqWJmyREp7shUlh6hwAQHS4" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirqv9HCr_kEMMqOxk0JcYmGHzf61E" Name="zh-Hant">
                <Component Id="cmpVpmaSmNXo3y9FbsHQzf1Vv35ZWE" Guid="*">
                    <File Id="fil5mLpQoNW1cOzWomk_M9e7Fbt2so" KeyPath="yes" Source="$(var.GenerateKeyApplication.TargetDir)\zh-Hant\System.Windows.Interactivity.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Binaries">
            <ComponentRef Id="cmpWD9.1k5kyngvbe_QjQiO6ghLd_Q" />
            <ComponentRef Id="cmpO6E307WqGkR9lbvghZRUaUw95Ng" />
            
            <ComponentRef Id="cmpcSUwJgaQHRbkF_HI0fpI.PsH.hk" />
            
            <ComponentRef Id="cmpO8o_Lt4BV5MdusNvWBBr8qzNlIM" />
            
            <ComponentRef Id="cmpxi0lVNN_jBO0wfAh2vQl1BpGJiQ" />
            
            <ComponentRef Id="cmp9guUC7SOvvQchPhCCb7picaqb5c" />
            
            <ComponentRef Id="cmpIgYC6ns4DPolbPaW8oFGq1IAJ7c" />
            
            <ComponentRef Id="cmpaaCukfa9HS4TIm1N9FF45SzkPeI" />
            
            
            
            <ComponentRef Id="cmpmXpMcsA0z7DZr0WgUCvlnBiJYos" />
            <ComponentRef Id="cmpONu8IX3U_WYDTDNlTuPwipb_2aI" />
            
            <ComponentRef Id="cmpYH02P_j1mc1Ph0sLCAqIMFoQNgM" />
            
            <ComponentRef Id="cmpwEh2K.BumO41cj._A.qsQ6jWdjs" />
            
            <ComponentRef Id="cmpkMImiKLLAmxVECtnpWn2Gw19yMc" />
            
            <ComponentRef Id="cmpj5WnvNV6B3yRuypuOVI94ZNKZpY" />
            
            <ComponentRef Id="cmprOBtZaAp9Mxt6Tv0ASW3lEQxrMk" />
            
            <ComponentRef Id="cmpuiJIUP9p94Dd6EmHp8CCs.4NSs0" />
            
            <ComponentRef Id="cmpaFBNvhxD6ELDJ_Y3cGAp2Mugc40" />
            
            <ComponentRef Id="cmp5qrmV0dEskhOVN37M8C9Wj5GKM0" />
            
            <ComponentRef Id="cmpbkRdKZGqgkZ86dQoUa4hQlgEyTM" />
            
            <ComponentRef Id="cmpfrYQ6cjLzA4M8XmFCC.e4dG1vec" />
            
            <ComponentRef Id="cmpOmC7AjjMpS_WXW4zKr.smm2_JJg" />
            
            <ComponentRef Id="cmpOFG7FIuhcJWd6zQ5Weh.pkAKCMY" />
            <ComponentRef Id="cmp2kU2i5Y7geLE0x7k8t8XA1pQUrE" />
            <ComponentRef Id="cmpRn.Cuuqc8DGZG7JuyDtX.1NPW3Y" />
            
            <ComponentRef Id="cmpzdnZ_jjZwz5RR.NdvqGJlpWs9tQ" />
            <ComponentRef Id="cmpTuX34rMznqLViNhnKsW5KeLG9Pk" />
            <ComponentRef Id="cmpIgbPil2eW52AQ2mKubhmA3gBor8" />
            <ComponentRef Id="cmpj9o09p8Ms76QUPHvxSN4FY0QTHw" />
            <ComponentRef Id="cmpd5rQI7hxhqc1E1ChpnK1xYkIOFY" />
            <ComponentRef Id="cmphopdrP7NxZoT5EyAfd2yCMQQ5pM" />
            <ComponentRef Id="cmp4rWC61nCfg7sn3tSLdpX5DWfMu8" />
            <ComponentRef Id="cmpPRwFcQZPKMLFVqB08OlhRzpuETY" />
            <ComponentRef Id="cmpDiyN2aAkLE.UUg5HmDuqTYN3l9Y" />
            <ComponentRef Id="cmp5MPL_ESgf6aggoo4h0vtS5Qwnd8" />
            <ComponentRef Id="cmpsnQ9KvgJAguFqMiEdPGSbugIvW0" />
            <ComponentRef Id="cmpqwRa4ERKDNcCTIMfpLtQ1zA2.mQ" />
            <ComponentRef Id="cmpQv5GsBK3HE3f3nCaC4k9Itbued0" />
            <ComponentRef Id="cmpbH7Vy_cwuRwtLBUrBSOEhutJi4o" />
            <ComponentRef Id="cmpXmAsJ.VBXUl.PtlZJ9R2oK8dZSE" />
            <ComponentRef Id="cmp6MzoRb3LDxHPsHLxPlEmjZrjvGQ" />
            <ComponentRef Id="cmp.AnrIMjXHXwoBFCIQZqcyoATS48" />
            <ComponentRef Id="cmpAQzUHM7VgAAj31UkQrDQpPNQdjM" />
            <ComponentRef Id="cmppxyFV0vfi5K6RN13Q9aJadfWKTI" />
            <ComponentRef Id="cmpZW0Nn8g2qUOTbNSTbTCYzF82oX8" />
            <ComponentRef Id="cmplGn4EqGHvDke288AQBFMiPcTj1Q" />
            <ComponentRef Id="cmpl3Q0eQ_3EyjvCKVCb2uYApJqZaY" />
            <ComponentRef Id="cmpqfwqDCo0huYyb7geT0FjB_gYTFM" />
            <ComponentRef Id="cmpRLtAWm21WWo9V.dV2hNt8d4XuGI" />
            <ComponentRef Id="cmp_GW.Lav8DMHAHpCyxr4PLmLoq6s" />
            <ComponentRef Id="cmpVpmaSmNXo3y9FbsHQzf1Vv35ZWE" />
        </ComponentGroup>
    </Fragment>
</Wix>