<?xml version="1.0"?>
<configuration>
  <configSections>
	<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
	<variable xmlns="http://www.nlog-project.org/schemas/NLog.xsd" name="appTitle" value="Firesec Monitor"/>
	<targets xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
	  <target name="file" xsi:type="File"
		  layout="[${longdate}] ${threadid} ${level}: ${message} ${onexception:(${stacktrace})${newline}${exception:format=tostring:separator=:maxInnerExceptionLevel=10}}"
		  fileName="${specialfolder:folder=CommonApplicationData}/Firesec2/Logs/ManagementConsole/${shortdate}.log"
		  archiveFileName="${specialfolder:folder=CommonApplicationData}/Firesec2/Logs/Monitor/${shortdate}.{##}.log"
		  archiveAboveSize="1048576"
		  archiveEvery="Day"
		  archiveNumbering="Sequence"
		  maxArchiveFiles="100"
		  createDirs="True" keepFileOpen="False" concurrentWrites="False"/>
	  <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${threadid} ${message}"/>
	  <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring:separator=:maxInnerExceptionLevel=10}"/>
	</targets>
	<rules xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
	  <logger name="*" minlevel="Info" writeTo="file"/>
	  <logger name="*" minlevel="Error" writeTo="eventLog"/>
	</rules>
  </nlog>
</configuration>