<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variables.wxi?>
	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="Monitor.DesktopShortcut" Guid="892043E1-4386-4963-893E-DB28A51E3DEF">
				<Shortcut Id="Monitor.DesktopShortcut" Name="$(var.MonitorName)" Target="[MONITORLOCATION]$(var.Monitor.TargetFileName)"
						  WorkingDirectory="MONITORLOCATION" Description="$(var.MonitorDescription)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MonitorName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_DESKTOP</Condition>
			</Component>
			<Component Id="Monitor.DesktopLayoutShortcut" Guid="452CB212-2C14-407b-A514-21BD03863B9F">
				<Shortcut Id="Monitor.DesktopLayoutShortcut" Name="$(var.LayoutMonitorName)" Target="[MONITORLOCATION]$(var.LayoutMonitor.TargetFileName)"
						  WorkingDirectory="MONITORLOCATION" Description="$(var.LayoutMonitorDescription)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.LayoutMonitorName)" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_DESKTOP</Condition>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="Monitor.ProgramsMenuShortcut" Guid="70ADCC32-904C-4020-B874-576FE1C898E9">
				<Shortcut Id="Monitor.ProgramsMenuShortcut" Name="$(var.MonitorName)" Target="[MONITORLOCATION]$(var.Monitor.TargetFileName)"
						  WorkingDirectory="MONITORLOCATION" Description="$(var.MonitorDescription)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.MonitorName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_PROGRAMMENU</Condition>
			</Component>
			<Component Id="Monitor.ProgramsMenuLayoutShortcut" Guid="2C10FD61-9566-43ff-B999-860A8A17DEE8">
				<Shortcut Id="Monitor.ProgramsMenuLayoutShortcut" Name="$(var.LayoutMonitorName)" Target="[MONITORLOCATION]$(var.LayoutMonitor.TargetFileName)"
						  WorkingDirectory="MONITORLOCATION" Description="$(var.LayoutMonitorDescription)" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\$(var.LayoutMonitorName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				<Condition>SHORTCUT_PROGRAMMENU</Condition>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>